﻿
@model IQueryable<SubCategoriesModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@using (Html.BeginForm("DeleteSubCategory", "SubCategories", FormMethod.Post, new { @class = "form-horizontal form-simple", @id = "frmDelete" }))
{
    @Html.Hidden("Id")
}

@helper ActionButtons(long Id)
{
    <div class="form-group row">
        <a href="@Url.Action("Edit", "SubCategories",new { @id=Id })" class="btn btn-sm btn-primary btn-blue">
            <i class="icon-edit2"></i> Edit
        </a>
        <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@Id">
            <i class="icon-trash4"></i> Delete
        </a>
    </div>

}

@*@helper  Image(string Imagename)
{
    <img src="@(GlobalConfig.CategoryImageUrl + Imagename )" alt="@Imagename" height="100" width="100" />
}*@

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All SubCategories </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <a href="@Url.Action("Add","SubCategories")">
                                    <i class="icon-plus3"></i>  Add New SubCategory
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(p=>p.CategoryName)
                               .Titled("Category Name")
                               .Sortable(true)
                              .Filterable(true);


                               column.Add(p => p.Name)
                              .Titled("SubCategory Name")
                              .Sortable(true)
                              .Filterable(true);

                               column.Add(p => p.GenderId)
                             .Titled("Gender")
                             .Sortable(true)
                             .Filterable(true);

                               column.Add(p => p.Price)
                              .Titled("Price")
                              .Sortable(true)
                              .Filterable(true);

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.Id));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
                ActiveMenu("SubCategories");
                $(".jsgrid-grid-body").css('overflow-x', 'auto');

                $('.btnDelete').on('click', function () {
                    $('#frmDelete #Id').val($(this).data('id'));
                    swal({
                        title: "Are you sure?",
                        //text: "You will not be able to recover this SubCategory and related data",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DA4453",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel.",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            swal("Delete!", "Selected SubCategory will be deleted, and will not be rollback!!", "success");
                            $('#frmDelete').submit();
                            return true;
                        } else {
                            swal("Cancelled", "It's safe.", "error");
                        }
                    });
                });
    </script>
}




