﻿@model AdminSubCategoryModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = "ManageSubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/wizard")

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@Action Category</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm(Action, "SubCategories", FormMethod.Post, new { @id = "submitForm", @class = "steps-validation wizard-circle" }))
                        {
                            if (Model != null && Model.Id > 0)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }
                            //@Html.HiddenFor(x => x.ImageName)

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            <b>Select Category:</b><span class="red">*</span>
                                        </label>
                                        @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewData["category"] as IEnumerable<AdminCategoryDropdownmodel>, "Id", "Name"), "---Select---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.CategoryId)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            <b>Choose Gender:</b> <span class="red">*</span>
                                            <br />
                                        </label>
                                        <table width="100%" border="1px">
                                            <tr>
                                                <td align="center"><label for=@LandingGender.Woman>@LandingGender.Woman</label></td>
                                                <td align="left" style="width:130px;">
                                                    @Html.RadioButtonFor(x => x.GenderId, LandingGender.Woman, new { @class = "form-control" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <label for=@LandingGender.Male>@LandingGender.Male</label>
                                                </td>
                                                <td  style="width:130px;">
                                                    @Html.RadioButtonFor(x => x.GenderId, LandingGender.Male, new { @class = "form-control" })

                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <label for=@LandingGender.Kids>@LandingGender.Kids</label>
                                                </td>
                                                <td style="width:130px;">
                                                    @Html.RadioButtonFor(x => x.GenderId, LandingGender.Kids, new { @class = "form-control" })

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            <b>Price:</b> <span class="red">*</span>
                                        </label>
                                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @onkeypress = "javascript:return EnsureDecimal(event)" })
                                    </div>
                                </div>
                            </div>
                            for (int i = 0; i < Model.CategoryLanguageModelList.Count; i++)
                            {
                                @Html.HiddenFor(x => x.CategoryLanguageModelList[i].LanguageId)
                                <h6>@Model.CategoryLanguageModelList[i].LanguageName</h6>

                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>
                                                    <b>SubCategory Name :</b>  <span class="red">*</span>
                                                </label>
                                                @Html.TextBoxFor(x => x.CategoryLanguageModelList[i].SubCategoryName, new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(x => x.CategoryLanguageModelList[i].SubCategoryName)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Jquery/GeneralScript.js")"></script>
    @Scripts.Render("~/jQuery/stepWizard")
    @*<script type="text/javascript">
            ActiveMenu('Category')

            $("#fileBaseImage").change(function () {
                $('#uploadedImage').show();
                readURL(this);
            });
        </script>*@

    <script type="text/javascript">
        ActiveMenu("SubCategories");


                    //$('#submitForm').on('submit', function () {
                    //    if (Boolean($('#ImageName').val()) == false && Boolean($(this).get(0).files) == false) {
                    //        toastr.error('Please upload category images.', 'Error !');
                    //        return false;
                    //    }
                    //});
    </script>
}

