﻿@model AdminPaymentMethodModel
@{
    ViewBag.Title = "Add Payment Method";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string action = ViewBag.Action;
}

@Styles.Render("~/css/wizard")

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@action Payment Method</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm("InsertOrUpdatePayment", "PaymentMethod", FormMethod.Post, new { @id = "submitForm", @class = "steps-validation wizard-circle"}))
                        {
                            if (Model != null && Model.Id > 0)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }                           
                                                        
                            for (int i = 0; i < Model.PaymentMethodLanguageList.Count; i++)
                            {
                                @Html.HiddenFor(x => x.PaymentMethodLanguageList[i].LanguageId)
                                <h6>@Model.PaymentMethodLanguageList[i].LanguageName</h6>

                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>
                                                     Name  <span class="red">*</span>
                                                </label>
                                                @Html.TextBoxFor(x => x.PaymentMethodLanguageList[i].PaymentMethodName, new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(x => x.PaymentMethodLanguageList[i].PaymentMethodName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>
                                                    Text  <span class="red">*</span>
                                                </label>
                                                @Html.TextBoxFor(x => x.PaymentMethodLanguageList[i].PaymentMethodText, new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(x => x.PaymentMethodLanguageList[i].PaymentMethodText)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Jquery/GeneralScript.js")"></script>
    @Scripts.Render("~/jQuery/stepWizard")
    <script type="text/javascript">
        ActiveMenu("AddPaymentMethod");
    </script>
}

