﻿@using System.Globalization;
@model HubConnectionModel
@{
    ViewUserDetail userdetail = new ViewUserDetail();
    if (ViewBag.UserProfile != null)
    {
        userdetail = ViewBag.UserProfile as ViewUserDetail;
    }
    string cultureName = "en-US";
    if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
    {
        cultureName = "de-DE";
    }
    CultureInfo culture = new CultureInfo(cultureName);
    string strBlurDisplay = "";
    //string strBlurUserName = "";
    string strDivHide = "";
}
@if (Model.SenderRole != Role.SuperAdmin && Model.SenderRole != Role.Admin && ViewBag.MyRole == Role.Stylist)
{
    if (Model.JobId == null)
    {
        if (!String.IsNullOrWhiteSpace(userdetail.userExpiryDate) && !Model.isFirstTwoUser)
        {
            DateTime dt = Convert.ToDateTime(userdetail.userExpiryDate, culture);
            if (dt.Date <= DateTime.Now.Date)
            {
                strBlurDisplay = "no-text";
                //strBlurUserName = "no-user-display";
                strDivHide = "hide";
            }
        }
        else if ((userdetail.IsUserExpire == true || String.IsNullOrWhiteSpace(userdetail.userExpiryDate)) && !Model.isFirstTwoUser)
        {
            strBlurDisplay = "no-text";
            //strBlurUserName = "no-user-display";
            strDivHide = "hide";
        }
        else if (!Model.IsRequested && ViewBag.MyRole == Role.Stylist)
        {
            strBlurDisplay = "no-text";
            //strBlurUserName = "no-user-display";
            strDivHide = "hide";
        }
    }
}
@if ((userdetail.IsUserExpire == true || String.IsNullOrWhiteSpace(userdetail.userExpiryDate)) && !Model.isFirstTwoUser)
{
    <input type="hidden" id="hdnStylistStatus" value="true" />
}
else
{
    <input type="hidden" id="hdnStylistStatus" value="false" />
}

<div class="ms-tab-full" id="renderChatMobile">
    <div class="ms-chect-box @strBlurDisplay" id="scroll">
        <div class="over-fllow-scroll">
            <div class="mchatscreen messagesList"></div>
        </div>
    </div>

    @if (Model.SenderRole != Role.SuperAdmin && Model.SenderRole != Role.Admin)
    {
        <div class="footer-chet-box">
            <div class="table divImageUpload" style="font-size: 13px; color: rgb(147, 147, 147); display:none;">
                <div class="input-cell">@Resource.ChatImageSelected </div>
                <div class="last-chet-cell">
                    <div class="send-chet">
                        <a href="javascript:;" onclick="Hideselectedimagemsg()">
                            <img src="@Url.Content("~/Content/images/close.svg")" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="table @strDivHide">
                <div class="input-cell">
                    <input class="txtMessage" placeholder="@Resource.typehere">
                </div>
                <div class="last-chet-cell" data-uid="@Model.ReceiverID">
                    <a title="" class="attachment">
                        <img class="sendImageIcon" src="@Url.Content("~/Content/images/attchment.svg")" alt="" />
                        <input type="file" class="chet-img" id="chet-img" accept="image/*">
                    </a>

                    <div class="send-chet"><input type="button" class="btnSendMsg" data-id="@(Model.JobId==null?null:Model.JobId)" value="Send"><img src="@Url.Content("~/Content/images/send.svg")" alt="" /></div>
                </div>
            </div>
            @if (Model.JobId == null)
            {
                if (!String.IsNullOrWhiteSpace(userdetail.userExpiryDate) && !Model.isFirstTwoUser)
                {
                    DateTime dt = Convert.ToDateTime(userdetail.userExpiryDate, culture);
                    if (dt.Date <= DateTime.Now.Date)
                    {
                        <div class="footer-chet-btn">
                            @*<P>Your account is expired, you have access to only two chat activity for free, if you want access to unlimited chat then please upgrade your account</P>*@
                            <p>@Resource.ChatUpgradAccountText</p>
                            <a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "UpdateToPremium" })" class="btn-noty">@Resource.Upgrade</a>
                        </div>
                    }
                }
                else if ((userdetail.IsUserExpire == true || String.IsNullOrWhiteSpace(userdetail.userExpiryDate)) && !Model.isFirstTwoUser && ViewBag.MyRole == Role.Stylist)
                {
                    <div class="footer-chet-btn">
                        @*<P>Your account is expired, you have access to only two chat activity for free, if you want access to unlimited chat then please upgrade your account</P>*@
                        <p>@Resource.ChatUpgradeAccountText2</p>
                        <a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "UpdateToPremium" })" class="btn-noty">@Resource.Upgrade</a>
                    </div>
                }
                else if (!Model.IsRequested && ViewBag.MyRole == Role.Stylist)
                {
                    <div class="footer-chet-btn">
                        <P>@Resource.wouldyouliketochat <b>@Model.ReceiverName</b> @Resource.wouldyouliketochat2</P>
                        <a href="javascript:;" title="Accept" id="accept" data-id="@Model.ReceiverID" class="btn-noty accept">@Resource.Accept</a>
                        <a href="#" title="Decline" class="btn-noty defult decline-btn">@Resource.ApointRequestDecline</a>
                    </div>
                }
                else if (Model.IsRequestAccepted)
                {
                    <div class="footer-chet-btn">
                        <P>@Resource.requestFrom <b>@Model.ReceiverName</b> @Resource.requestAwaiting  </P>
                    </div>
                }
            }

        </div>
    }
    else
    {
        <div class="footer-chet-btn">
            <P>@Resource.MessageSendByStylaaa</P>
        </div>
    }
</div>
