﻿@using System.Globalization;

@model ChatModel
@{
    ViewBag.Title = "ChatJob";
    Layout = "~/Views/Shared/_Profile.cshtml";

    ViewUserDetail userdetail = new ViewUserDetail();
    if (ViewBag.UserProfile != null)
    {
        userdetail = ViewBag.UserProfile as ViewUserDetail;
    }

    string cultureName = "en-US";
    if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
    {
        cultureName = "de-DE";
    }
    CultureInfo culture = new CultureInfo(cultureName);
    string strBlurDisplay = "";
    bool IsRequested = false;
    bool isFirstTwoUser = false;
    Stylaaa.Data.Repository.ChatRepository _chat = new Stylaaa.Data.Repository.ChatRepository();
}
<style>
    .product-new-ctn {
        height: 0px !important;
    }
</style>
@Html.Hidden("ReceiverId")
<div class="middle-right container">
    <div class="titel-top">
        <h3>@Resource.Messages</h3>
        @*<P>You can see all messages here.</P>*@
    </div>
    <div class="middle-right-full">
        <div class="message-tabs">
            <div class="table">

                <div class="mesage-tab-links">
                    <ul class="tab-sec-mesg-job"><li Title="message"><a href="Javascript:;" class="active" id="chatmsgtab">@Resource.message</a></li><li Title="job"><a href="Javascript:;" id="chatjobtab">@Resource.jobRequest</a></li></ul>
                    <ul id="tabmessage">
                        @foreach (var user in Model.ChatMessageModel)
                        {
                            strBlurDisplay = "";
                            IsRequested = _chat.IsUserRequested(userdetail.Id, user.Id);
                            isFirstTwoUser = _chat.isFirstTwoUser(userdetail.Id, user.Id);
                            if (user.role != Role.SuperAdmin && user.role != Role.Admin)
                            {
                                if (!String.IsNullOrWhiteSpace(userdetail.userExpiryDate) && !isFirstTwoUser && ViewBag.MyRole == Role.Stylist)
                                {
                                    DateTime dt = Convert.ToDateTime(userdetail.userExpiryDate, culture);
                                    if (dt.Date <= DateTime.Now.Date)
                                    {
                                        strBlurDisplay = "no-user-display";
                                    }
                                }
                                else if ((userdetail.IsUserExpire == true || String.IsNullOrWhiteSpace(userdetail.userExpiryDate)) && !isFirstTwoUser && ViewBag.MyRole == Role.Stylist)
                                {
                                    strBlurDisplay = "no-user-display";
                                }
                                else if (!IsRequested && ViewBag.MyRole == Role.Stylist)
                                {
                                    strBlurDisplay = "no-user-display";
                                }
                            }
                            <li data-id="@user.Id" data-username="@user.Name" data-img="@user.ProfileImage" class="chatUser userlist @strBlurDisplay" style="padding: 8px;">
                                <div class="product-new-ctn" style="height:0px!important;">
                                    <div class="product-lk">
                                        <div class="more-link">
                                            <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                            <ul class="more-link-bx">
                                                <li><a href="javascript:;" class="condelete" title="Delete">@Resource.delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:;" data-id="@user.Id" title="">
                                    <div class="table">
                                        <div class="ms-cell-img">
                                            @if (user.role == Role.Admin || user.role == Role.SuperAdmin)
                                            {
                                                <img src="@Url.Content("~/Content/images/logo-icon.svg")" alt="" />
                                            }
                                            else
                                            {
                                                <img src="@(GlobalConfig.UserImageUrl + (user.ProfileImage != null ? user.ProfileImage : "DefaultProfile.jpg"))" alt="" />
                                            }
                                        </div>
                                        <div class="ms-cell-content">
                                            <div class="ms-titel spanUserId" id="span@(user.Id)" data-userid="@user.Id">
                                                <div class="table">
                                                    @if (user.role == Role.Admin || user.role == Role.SuperAdmin)
                                                    {
                                                        <h6>Stylaaa</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6>@user.Name</h6>
                                                    }
                                                    @if (user.UnreadCount > 0)
                                                    {
                                                        <span id="unreadcount@(user.Id)"> @user.UnreadCount</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="display:none" id="unreadcount@(user.Id)"> @user.UnreadCount</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="ms-ctn">
                                                @if (user.isImage == false)
                                                {
                                                    if (user.Senderid == User.Identity.GetUserId())
                                                    {
                                                        <P>@user.LastMessage</P>
                                                    }
                                                    else if (!user.isRequestAccepted && user.role == Role.Stylist)
                                                    {
                                                        <P><span>@Resource.chatNewrequest</span></P>
                                                    }
                                                    else
                                                    {
                                                        <P>@user.LastMessage</P>
                                                    }
                                                }
                                                else
                                                {
                                                    <P>@user.senderUserName @Resource.HasSentFile</P>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                    <ul id="tabjob" style="display:none;">
                        @foreach (var itm in Model.JobMessageModel)
                        {
                        <li class="jobchat" data-id="@itm.Id" data-jid="@itm.JobId" data-username="@itm.JobTitle" data-img="@itm.ProfileImage" style="padding: 8px;">
                            <div class="product-new-ctn" style="height:0px!important;">
                                <div class="product-lk">
                                    <div class="more-link">
                                        <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                        <ul class="more-link-bx">
                                            <li><a href="javascript:;" class="jobcondelete" title="Delete">@Resource.delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <a href="#tab7" title="">
                                <div class="table">
                                    <div class="ms-cell-img">
                                        @if (itm.role == Role.Admin || itm.role == Role.SuperAdmin)
                                        {
                                            <img src="@Url.Content("~/Content/images/logo-icon.svg")" alt="" />
                                        }
                                        else
                                        {
                                            <img src="@(GlobalConfig.UserImageUrl + (itm.ProfileImage != null ? itm.ProfileImage : "DefaultProfile.jpg"))" alt="" />
                                        }
                                    </div>
                                    <div class="ms-cell-content">
                                        <div class="ms-titel spanUserId" id="span@(itm.Id)" data-userid="@itm.Id">
                                            <div class="table">
                                                <h6>@itm.JobTitle</h6>
                                                @if (itm.UnreadCount > 0)
                                                {
                                                    <span id="unreadcount@(itm.Id)"> @itm.UnreadCount</span>
                                                }
                                                else
                                                {
                                                    <span style="display:none" id="unreadcount@(itm.Id)"> @itm.UnreadCount</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="ms-ctn">
                                            <P>@itm.senderUserName</P>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        }
                    </ul>
                </div>
                <div class="mesage-tab-list ">
                    <button class="top-go-btn back_to_top" title="Go to top">@Resource.top</button>
                    <button class="top-go-btn back_to_bottom" title="Go to bottom">@Resource.bottom</button>
                    <div id="tab1">
                        <div class="ms-tab-full" id="renderChat">
                            <div class="ms-tiel-row">
                                <div class="table">
                                    <div class="ms-cell-img">
                                        <img src="images/mp1.png" alt="" />
                                    </div>
                                    <div class="ms-cell-content">
                                        <div class="ms-titel">
                                            <div class="table">
                                                <h6>@Resource.WelcomeToChat</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-chect-box no-text">
                                <div class="over-fllow-scroll">
                                    <div class="chet-row recive-message">
                                        <div class="message-chet">

                                        </div>
                                    </div>
                                    <div class="chet-row recive-message">
                                        <div class="message-chet">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-chet-box">
                                <div class="table hide">
                                    <div class="input-cell">
                                        <input id="example3" placeholder="Type Here">
                                    </div>
                                    <div class="last-chet-cell">
                                        <a title="" class="attachment">
                                            <img src="~/Content/images/attchment.svg" alt="" />
                                            <input type="file" id="chet-img">
                                        </a>
                                        <div class="send-chet"><input type="button" value="Send"><img src="~/Content/images/send.svg" alt="" /></div>
                                    </div>
                                </div>
                                @*<div class="footer-chet-btn">
                                        <P>Would you like to chat with Alta Curtis?</P>
                                        <a href="javascript:;" title="Accept" class="btn-noty accept-btn">Accept</a>
                                        <a href="#" title="Decline" class="btn-noty defult decline-btn">Decline</a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section profilelayoutscript{
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript">
        //var chatHub;
        //var RecieverId;

        $(".tab-sec-mesg-job li").click(function () {
            var tval = $(this).attr("Title");
            $(this).children().addClass('active');
            if (tval === 'job') {
                $('#tabmessage').hide();
                $('#tabjob').show();
                $('#chatmsgtab').removeClass('active');
            }
            else if (tval === 'message') {
                $('#tabmessage').show();
                $('#tabjob').hide();
                $('#chatjobtab').removeClass('active');
            }
            else {
                $('#tabmessage').show();
                $('#tabjob').hide();
            }
        });

        $(function () {
            loadChatServer();
        });

        function loadChatServer() {

            registerClientMethods(chatHub);

            $.connection.hub.start().done(function () {
                var listUserIds = [];
                $('.spanUserId').each(function () {
                    if ($(this).data('userid'))
                        listUserIds.push($(this).data('userid'));
                });

                chatHub.server.checkUserOnline(listUserIds);

                var ReceiverID = RecieverId;
                var params = {};
                params.ReceiverID = ReceiverID;
                params.PageIndex = 1;
                chatHub.server.getConversation(params);
            });
        }

        function registerClientMethods(chatHub) {
            chatHub.client.receivedCheckUserOnline = function () {
                chatHub.server.userIsOnline([]);
            }

            chatHub.client.receivedUserIsOnline = function (UserId) {
                $('#span' + UserId).addClass("online-user");
            }

            chatHub.client.checkUserUnreadMessageCount = function () {
                var listUserIds = [];
                $('.spanUserId').each(function () {
                    if ($(this).data('userid'))
                        listUserIds.push($(this).data('userid'));
                });
                chatHub.server.checkUserUnreadMessageCount(listUserIds);
            }

            chatHub.client.receivedUserIsOffline = function (UserId) {
                $('#span' + UserId).removeClass("online-user");
            }

            chatHub.client.receivedCheckUserUnreadMessageCount = function (result) {
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].Count > 0) {
                            //console.log(result[i].UserId);
                            $('#unreadcount' + result[i].UserId).show();
                            $('#unreadcount' + result[i].UserId).text(result[i].Count);
                        }
                    }
                }
            }

            chatHub.client.receivedMessage = function (returnObject, SendeID) {
                if (returnObject.Status = @Html.Raw(Json.Encode(ResponseStatus.Success)))
                {
                    var MessagesList = { items: returnObject.Result };
                    $("#messageTemplate").tmpl(MessagesList).appendTo("#messagesList");

                    ModalScrollDownToBottom();
                }
                else {
                    toastr.error(returnObject.Message, 'Error !');
                }
            }

            chatHub.client.receivedConversation = function (returnObject) {
                if (returnObject.Status == @Html.Raw(Json.Encode(ResponseStatus.Success)))
                {
                    $("#messagesList").html('');
                    var MessagesList = { items: returnObject.Result };
                    $("#messageTemplate").tmpl(MessagesList).appendTo("#messagesList");
                    $("#txtMessage").val('');
                    if (returnObject.Result.length > 0) {
                        var ChatMessageID = returnObject.Result[returnObject.Result.length - 1].ChatMessageID;
                        chatHub.server.readMessage(ChatMessageID);
                        //$("#noMessageAvailable").hide();
                    }
                    else {
                        //$("#noMessageAvailable").show();
                    }
                }
                else {
                    toastr.error(returnObject.Message, 'Error !');
                }
            }
        }

        $(document).on('click', '.decline', function () {
            window.location.reload();
        });

        $(document).on('click', '.accept', function () {
            var user = $(this).data('id');
            $('#ReceiverID').val(user);

            var fileData = new FormData();
            fileData.append("ReceiverID", user);
            var url = '@Url.Action("ApproveRequest", "Chat")';
            $.ajax({
                url: url,
                type: 'POST',
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $(this).parent().parent().parent().find('.ms-chect-box ').removeClass('no-text');
                    $(this).parent().parent().find('.table ').removeClass('hide');
                    $(this).closest('.footer-chet-btn ').hide();
                    $(this).parent().parent().find("#txtMessage").emojioneArea();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });

            $(this).parent().parent().parent().find('.ms-chect-box ').removeClass('no-text');
            $(this).parent().parent().find('.table ').removeClass('hide');
            $(this).closest('.footer-chet-btn ').hide();
            $(this).parent().parent().find("#txtMessage").emojioneArea();
            window.location.reload();
        });

        $(document).on('change','#chet-img', function () {
            // $('#btnSendMsg').click();
            $('#divImageUpload').show();
        });

        $(document).on('click', '.condelete', function () {            
            var ctrl = $(this);
            var rcvr = $(this).parent().parent().parent().parent().parent().parent().data('id');
            var fileData = new FormData();
            fileData.append("receiverId", rcvr);
            var url = '@Url.Action("DeleteChatConversastion", "Chat")';
            $.ajax({
                url: url,
                type: 'POST',
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $(ctrl).parent().parent().parent().parent().parent().parent().hide();
                    window.location.reload();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        });


        $(document).on('click', '.jobcondelete', function () {            
            var ctrl = $(this);
            var rcvr = $(this).parent().parent().parent().parent().parent().parent().data('id');
            var jobid = $(this).parent().parent().parent().parent().parent().parent().data('jid');
            var fileData = new FormData();
            fileData.append("receiverId", rcvr);
            fileData.append("JobId", jobid);
            var url = '@Url.Action("DeleteJobConversation", "Chat")';
            $.ajax({
                url: url,
                type: 'POST',
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $(ctrl).parent().parent().parent().parent().parent().parent().hide();  
                    window.location.reload();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });

        })

        @*$(document).on('click', '.chatmessage', function () {
            var ctrl = $(this);
            var chatid = $(this).data('id');
            var fileData = new FormData();
            fileData.append("ChatId", chatid);
            var url = '@Url.Action("DeleteChatMessage", "Chat")';
            $.ajax({
                url: url,
                type: 'POST',
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $(ctrl).parent().parent().parent().hide();
                    var ptag = $("p");
                    $(ctrl).parent().parent().parent().parent().parent().parent().find(ptag).text('deleted');
                    $(ctrl).parent().parent().parent().parent().parent().parent().find(ptag).css("color", "skyblue");
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        });*@

        function ModalScrollDownToBottom() {
            $(".back_to_bottom").css({ display: 'block' })
            setTimeout(function () {
                $('.over-fllow-scroll').mCustomScrollbar("scrollTo", "bottom");
            }, 2)
        }

        function Hideselectedimagemsg()
        {
            $('#divImageUpload').hide();
        }

        $(document).on("keydown", ".emojionearea-editor", function (e) {
            if (e.keyCode == 13) {
                if ($('.emojionearea-editor').html() != "") {
                    $('.emojionearea-editor').blur();
                    $('#btnSendMsg').click();
                }
            }
        });

        $(document).on('click', '#btnSendMsg', function () {
            var JobId = $(this).data('id');
            var hdnStylistStatus = $("#hdnStylistStatus").val();
            //if (hdnStylistStatus.toLowerCase() == "true") {
            //    ShowToastr('error', 'Please upgrade your acccount', '');
            //}
            //else {
                var imagefile = document.getElementById("chet-img");
                if ($('#chet-img').get(0).files.length == 1) {
                    if (imagefile.files[0]) {
                        var formData = new FormData();
                        var xmlreq = new XMLHttpRequest();
                        formData.append('image', $(imagefile)[0].files[0]);
                        $.ajax({
                            url: '@Url.Action("AddImage", "Chat")',
                            data: formData,
                            type: 'POST',
                            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                            processData: false, // NEEDED, DON'T OMIT THIS
                            success: function (result) {
                                var params = {};
                                params.ReceiverID = RecieverId;
                                params.MessageText = result.path;
                                params.IsImage = true;
                                params.JobId = JobId;
                                chatHub.server.sendMessage(params);
                                $('#chet-img').val('');
                                $(".back_to_top").fadeOut()
                                $('#divImageUpload').hide();
                                //HoldOn.close();
                            },
                            error: function () {
                                toastr.error('@Resource.FaildToSendImage', '');

                            }
                        });
                    }
                    else {
                        toastr.error('@Resource.PleaseUploadImageOnly', '');
                    }
                }

                var msg = $("#txtMessage").val();
                if (msg.length > 0) {
                    if (RecieverId) {
                        $('.emojionearea-editor').text('');
                        var params = {};
                        params.ReceiverID = RecieverId;
                        params.MessageText = msg;
                        params.JobId = JobId;
                        chatHub.server.sendMessage(params);
                        $('.emojionearea-editor').text('');
                        $("#txtMessage").val('');
                    }
                }
            //}
        });

        $('.chatUser').on('click', function () {
           // var cntrl = $(this);
            var user = $(this).data('id');
            RecieverId = user;
            $('#ReceiverID').val(user);
            var user = $(this).data('username');
            $('#ReceiverName').val(user);
            var images = $(this).data('img');
            $('#ReceiverImage').val(images);
            var strurl = '@Url.Action("Index", "Chat")';
            var formdata = new FormData();
            formdata.append("ReceiverID", RecieverId);
            formdata.append("ReceiverName", user);
            formdata.append("ReceiverImage", images);
            $.ajax({
                url: strurl,
                type: "Post",
                data: formdata,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (result) {
                    if (result) {
                        $('#renderChat').html(result);
                        $('#unreadcount' + RecieverId).hide();
                       // $(cntrl).find('.product-new-ctn').hide();
                        var ReceiverID = RecieverId;
                        var params = {};
                        params.ReceiverID = ReceiverID;
                        params.PageIndex = 1;
                        chatHub.server.getConversation(params);
                        $("#txtMessage").emojioneArea();
                        var i = 0;
                        $('.over-fllow-scroll').mCustomScrollbar({
                            theme: "dark",
                            scrollbarPosition: "outside",
                            autoHideScrollbar: true,
                            //mouseWheel: { enable: true },
                            mouseWheel: { preventDefault: true },
                            callbacks: {
                                onScroll: function () {
                                    if (i > 0 && this.mcs.top == 0) {
                                        if (strurl == "") {
                                            $(".back_to_bottom").css({ display: 'block' })
                                        }
                                        setTimeout(function () {
                                            $(".back_to_top").fadeOut()
                                        }, 2500)
                                    }
                                    else {
                                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                                        if (strurl == "") {
                                            $(".back_to_top").css({ display: 'block' });
                                        }
                                        setTimeout(function () {
                                            $(".back_to_bottom").fadeOut();
                                        }, 2500)
                                    }
                                    if (i == 0) {
                                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                                    }
                                    i++;
                                    strurl = "";
                                }
                            }
                        });
                        $('#scroll','.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                    }
                    else {
                        alert('failed to append');
                    }
                },
                error: function (err) {
                    ShowToastr('error', "fail::" + err.statusText, '');
                }
            });
        });



        $('.jobchat').on('click', function () {
            var user = $(this).data('id');
            RecieverId = user;
            $('#ReceiverID').val(user);
            var job = $(this).data('jid');
            $('#JobId').val(job);
            var user = $(this).data('username');
            $('#ReceiverName').val(user);
            var images = $(this).data('img');
            $('#ReceiverImage').val(images);
            var strurl = '@Url.Action("Index", "Chat")';
            var formdata = new FormData();
            formdata.append("ReceiverID", RecieverId);
            formdata.append("ReceiverName", user);
            formdata.append("ReceiverImage", images);
            formdata.append("JobId", job);
            $.ajax({
                url: strurl,
                type: "Post",
                data: formdata,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (result) {
                    if (result) {
                        $('#renderChat').html(result);
                        $('#unreadcount' + RecieverId).hide();
                        var ReceiverID = RecieverId;
                        var params = {};
                        params.ReceiverID = ReceiverID;
                        params.PageIndex = 1;
                        params.JobId = job;
                        chatHub.server.getConversation(params);
                        $("#txtMessage").emojioneArea();
                        var i = 0;
                        $('.over-fllow-scroll').mCustomScrollbar({
                            theme: "dark",
                            scrollbarPosition: "outside",
                            autoHideScrollbar: true,
                            //mouseWheel: { enable: true },
                            mouseWheel: { preventDefault: true },
                            callbacks: {
                                onScroll: function () {
                                    if (i > 0 && this.mcs.top == 0) {
                                        if (strurl == "") {
                                            $(".back_to_bottom").css({ display: 'block' })
                                        }
                                        setTimeout(function () {
                                            $(".back_to_top").fadeOut()
                                        }, 2500)
                                    }
                                    else {
                                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                                        if (strurl == "") {
                                            $(".back_to_top").css({ display: 'block' });
                                        }
                                        setTimeout(function () {
                                            $(".back_to_bottom").fadeOut();
                                        }, 2500)
                                    }
                                    if (i == 0) {
                                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                                    }
                                    i++;
                                    strurl = "";
                                }
                            }
                        });
                        $('#scroll','.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                    }
                    else {
                        alert('failed to append');
                    }
                },
                error: function (err) {
                    ShowToastr('error', "fail::" + err.statusText, '');
                }
            });
        });


    </script>
    <script id="messageTemplate" type="text/x-jQuery-tmpl">
        {{each items}}
        {{if !IsSendByMe}}
        <div class="chet-row recive-message">
            <div class="message-chet">
                {{if IsImage}}
                <a href="${MessageText}" download="IMG"><img src="${MessageText}" style="height:150px;width:150px;" /></a>
                {{else}}
                <P>${MessageText}</P>
                {{/if}}
            </div>
        </div>
        {{else}}
        <div class="chet-row send-message">
            <div class="message-chet">
                {{if IsImage}}
                <img src="${MessageText}" style="height:150px;width:150px;" />
                {{else}}
                <P>${MessageText}</P>               
                {{/if}}
            </div>
        </div>
        {{/if}}
        {{/each}}
    </script>
}
