﻿@using System.Globalization;
@model ChatModel
@{
    ViewBag.Title = "MobileJobChat";
    Layout = "~/Views/Shared/_Profile.cshtml";
    ViewUserDetail userdetail = new ViewUserDetail();
    if (ViewBag.UserProfile != null)
    {
        userdetail = ViewBag.UserProfile as ViewUserDetail;
    }

    string cultureName = "en-US";
    if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
    {
        cultureName = "de-DE";
    }
    CultureInfo culture = new CultureInfo(cultureName);
    string strBlurDisplay = "";
    bool IsRequested = false;
    bool isFirstTwoUser = false;
    Stylaaa.Data.Repository.ChatRepository _chat = new Stylaaa.Data.Repository.ChatRepository();
}
@Html.Hidden("ReceiverId")

<style>
    .product-new-ctn {
        padding-bottom: 7px;
        height: 0px !important;
    }
</style>
<div class="middle-right container">
    <div class="titel-top">
        <h3>@Resource.Messages</h3>
    </div>
    <div class="middle-right-full">
        <div class="message-tabs">
            <div class="mobile-block">
                <div id="accordion" class="mesage-tab-links">
                    <ul class="tab-sec-mesg-job"><li Title="message"><a href="Javascript:;" class="active" id="chatmsgtab">@Resource.message</a></li><li Title="job"><a href="Javascript:;" id="chatjobtab">@Resource.jobRequest</a></li></ul>
                    @if (Model != null)
                    {
                        <ul id="tabmessage">
                            @foreach (var user in Model.ChatMessageModel)
                            {
                                strBlurDisplay = "";
                                IsRequested = _chat.IsUserRequested(userdetail.Id, user.Id);
                                isFirstTwoUser = _chat.isFirstTwoUser(userdetail.Id, user.Id);
                                if (user.role != Role.SuperAdmin && user.role != Role.Admin)
                                {
                                    if (!String.IsNullOrWhiteSpace(userdetail.userExpiryDate) && !isFirstTwoUser && ViewBag.MyRole == Role.Stylist)
                                    {
                                        DateTime dt = Convert.ToDateTime(userdetail.userExpiryDate, culture);
                                        if (dt.Date <= DateTime.Now.Date)
                                        {
                                            strBlurDisplay = "no-user-display";
                                        }
                                    }
                                    else if ((userdetail.IsUserExpire == true || String.IsNullOrWhiteSpace(userdetail.userExpiryDate)) && !isFirstTwoUser && ViewBag.MyRole == Role.Stylist)
                                    {
                                        strBlurDisplay = "no-user-display";
                                    }
                                    else if (!IsRequested && ViewBag.MyRole == Role.Stylist)
                                    {
                                        strBlurDisplay = "no-user-display";
                                    }
                                }
                                <li class="userlist" @*data-id="@user.Id" data-username="@user.Name"*@>
                                    <div class="product-new-ctn" style="height:0px!important;">
                                        <div class="product-lk">
                                            <div class="more-link">
                                                <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                                <ul class="more-link-bx">
                                                    <li><a data-rid="@user.Id" href="javascript:;" class="condelete" title="Delete">@Resource.delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="accordion-heading @strBlurDisplay" href="javascript:;" title="" style="padding:16px;">
                                        <div class="table">
                                            <div class="ms-cell-img">
                                                @if (user.role == Role.Admin || user.role == Role.SuperAdmin)
                                                {
                                                    <img src="@Url.Content("~/Content/images/logo-icon.svg")" alt="" />
                                                }
                                                else
                                                {
                                                    <img src="@(GlobalConfig.UserImageUrl + (user.ProfileImage!= null ? user.ProfileImage : "DefaultProfile.jpg"))" alt="" />
                                                }
                                            </div>
                                            <div class="ms-cell-content">
                                                <div class="ms-titel">
                                                    <div class="table spanUserId" id="span@(user.Id)" data-userid="@user.Id">
                                                        @if (user.role == Role.Admin || user.role == Role.SuperAdmin)
                                                        {
                                                            <h6 class="chatUser" data-id="@user.Id" data-username="@user.Name" data-img="@user.ProfileImage">Stylaaa</h6>
                                                        }
                                                        else
                                                        {
                                                            <h6 class="chatUser" data-id="@user.Id" data-username="@user.Name" data-img="@user.ProfileImage">@user.Name</h6>
                                                        }

                                                        @if (user.UnreadCount > 0)
                                                        {
                                                            <span id="unreadcount@(user.Id)"> @user.UnreadCount</span>
                                                        }
                                                        else
                                                        {
                                                            <span style="display:none" id="unreadcount@(user.Id)"> @user.UnreadCount</span>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="ms-ctn">
                                                    @if (user.isImage == false)
                                                    {
                                                        if (user.ChatCount > 1)
                                                        {
                                                            <P>@user.LastMessage</P>
                                                        }
                                                        else
                                                        {
                                                            <P><span>@Resource.chatNewrequest</span></P>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <P>@user.Name @Resource.HasSentFile</P>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="mesage-tab-list panel">
                                        <button class="top-go-btn back_to_top" title="@Resource.GoToTop">@Resource.top</button>
                                        <button class="top-go-btn back_to_bottom" title="Go to bottom">@Resource.bottom</button>
                                        <div class="ms-tab-full" id="renderChatMobile@(user.Id)">
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>

                        <ul id="tabjob" style="display:none;">
                            @foreach (var objob in Model.JobMessageModel)
                            {
                                <li>
                                    <div class="product-new-ctn" style="height:0px!important;">
                                        <div class="product-lk">
                                            <div class="more-link">
                                                <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                                <ul class="more-link-bx">
                                                    <li><a href="javascript:;" data-recid="@objob.Id" data-jbid="@objob.JobId" class="jobcondelete" title="Delete">@Resource.delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <a title="" class="accordion-heading" href="javascript:;" style="padding:16px;">
                                        <div class="table">
                                            <div class="ms-cell-img">
                                                @if (objob.role == Role.Admin || objob.role == Role.SuperAdmin)
                                                {
                                                    <img src="@Url.Content("~/Content/images/logo-icon.svg")" alt="" />
                                                }
                                                else
                                                {
                                                    <img src="@(GlobalConfig.UserImageUrl + (objob.ProfileImage!= null ? objob.ProfileImage : "DefaultProfile.jpg"))" alt="" />
                                                }
                                            </div>
                                            <div class="ms-cell-content">
                                                <div class="ms-titel">
                                                    <div class="table spanUserId" id="span@(objob.Id)" data-userid="@objob.Id">
                                                        @if (objob.role == Role.Admin || objob.role == Role.SuperAdmin)
                                                        {
                                                            <h6 class="JobUser" data-id="@objob.Id" data-username="@objob.Name" data-img="@objob.ProfileImage">Stylaaa</h6>
                                                        }
                                                        else
                                                        {
                                                            <h6 class="JobUser" data-id="@objob.Id" data-jid="@objob.JobId" data-username="@objob.JobTitle" data-img="@objob.ProfileImage">@objob.JobTitle</h6>
                                                        }

                                                        @if (objob.UnreadCount > 0)
                                                        {
                                                            <span id="unreadcount@(objob.Id)"> @objob.UnreadCount</span>
                                                        }
                                                        else
                                                        {
                                                            <span style="display:none" id="unreadcount@(objob.Id)"> @objob.UnreadCount</span>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="ms-ctn">
                                                    <P>@objob.senderUserName</P> 
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="mesage-tab-list panel">
                                        <button class="top-go-btn back_to_top" title="@Resource.GoToTop">@Resource.top</button>
                                        <button class="top-go-btn back_to_bottom" title="Go to bottom">@Resource.bottom</button>
                                        <div class="ms-tab-full" id="renderJobChatMobile@(objob.JobId)">
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <ul>
                            <li class="userlist">
                                <a class="accordion-heading" href="javascript:;" title="" style="padding:  16px;">
                                    <div class="table">
                                        <div class="ms-cell-img">
                                            <img src="~/Content/images/logo-icon.svg" alt="" />
                                        </div>
                                        <div class="ms-cell-content">
                                            <div class="ms-titel">
                                                <div class="table">
                                                    <h6 class="chatUser">@Resource.WelcomeToChat</h6>
                                                </div>
                                            </div>
                                            <div class="ms-ctn">

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section profilelayoutscript{
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript">

        $(".tab-sec-mesg-job li").click(function () {
            var tval = $(this).attr("Title");
            $(this).children().addClass('active');
            if (tval === 'job') {
                $('#tabmessage').hide();
                $('#tabjob').show();
                $('#chatmsgtab').removeClass('active');
            }
            else if (tval === 'message') {
                $('#tabmessage').show();
                $('#tabjob').hide();
                $('#chatjobtab').removeClass('active');
            }
            else {
                $('#tabmessage').show();
                $('#tabjob').hide();
            }
        });

        $(document).on('click', '.attchment-img', function () {
            var control = $(this);
            $(control).closest('input:file').click();
        });

        $(document).on('click', '.decline', function () {
            window.location.reload();
        });

        $(document).on('click', '.accept', function () {
            var control = $(this);
            var user = $(this).data('id');
            $('#ReceiverID').val(user);
            var fileData = new FormData();
            fileData.append("ReceiverID", user);
            var url = '@Url.Action("ApproveRequest", "Chat")';
            $.ajax({
                url: url,
                type: 'POST',
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $(this).parent().parent().parent().find('.ms-chect-box ').removeClass('no-text');
                    $(this).parent().parent().find('.table ').removeClass('hide');
                    $(this).closest('.footer-chet-btn ').hide();
                    $(control).parent().parent().find(".txtMessage").emojioneArea();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });

            $(this).parent().parent().parent().find('.ms-chect-box ').removeClass('no-text');
            $(this).parent().parent().find('.table ').removeClass('hide');
            $(this).closest('.footer-chet-btn ').hide();
            $(this).parent().parent().find(".txtMessage").emojioneArea();
        });


        $(function () {
            loadChatServer();
        });

        function loadChatServer() {
            registerClientMethods(chatHub);

            $.connection.hub.start().done(function () {
                var listUserIds = [];
                $('.spanUserId').each(function () {
                    if ($(this).data('userid'))
                        listUserIds.push($(this).data('userid'));
                });

                chatHub.server.checkUserOnline(listUserIds);

                var ReceiverID = RecieverId;
                var params = {};
                params.ReceiverID = ReceiverID;
                params.PageIndex = 1;
                chatHub.server.getConversation(params);
            });
        }

        function registerClientMethods(chatHub) {
            chatHub.client.receivedCheckUserOnline = function () {
                chatHub.server.userIsOnline([]);
            }

            chatHub.client.receivedUserIsOnline = function (UserId) {
                $('#span' + UserId).parent().addClass("online-user");
            }

            chatHub.client.checkUserUnreadMessageCount = function () {
                var listUserIds = [];

                $('.spanUserId').each(function () {
                    if ($(this).data('userid'))
                        listUserIds.push($(this).data('userid'));
                });
                chatHub.server.checkUserUnreadMessageCount(listUserIds);
            }

            chatHub.client.receivedUserIsOffline = function (UserId) {
                $('#span' + UserId).removeClass("online-user");
            }

            chatHub.client.receivedCheckUserUnreadMessageCount = function (result) {
                if (result) {
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].Count > 0) {
                            //$('#unreadcount' + result[i].UserId).show();
                            $('#unreadcount' + result[i].UserId).text(result[i].Count);
                        }
                    }
                }
            }

            chatHub.client.receivedMessage = function (returnObject) {
                if (returnObject.Status = @Html.Raw(Json.Encode(ResponseStatus.Success)))
                {
                    if (!returnObject.Result[0].IsSendByMe) {
                        chatHub.server.readMessage(returnObject.Result[0].ChatMessageID);
                    }
                    else {
                        var userid = $('li.userlist').find('a.active').data('id');
                        if (userid) {
                            chatHub.server.readMessage(returnObject.Result[0].ChatMessageID);
                        }
                        else {
                            var listUserIds = [];
                            $('.spanUserId').each(function () {
                                if ($(this).data('userid'))
                                    listUserIds.push($(this).data('userid'));
                            });
                            chatHub.server.checkUserUnreadMessageCount(listUserIds);
                            chatHub.client.receivedCheckUserUnreadMessageCount = function (result) {
                                if (result) {
                                    alert(result[i].Count)
                                    for (var i = 0; i < result.length; i++) {
                                        $('#unreadcount' + result[i].UserId).text(result[i].Count);
                                    }
                                }
                            }
                        }
                    }
                    var MessagesList = { items: returnObject.Result };
                    $("#messageTemplate").tmpl(MessagesList).appendTo(".messagesList");

                    ModalScrollDownToBottom();
                }
                else {
                    toastr.error(returnObject.Message, 'Error !');
                }
            }

            chatHub.client.receivedConversation = function (returnObject) {
                if (returnObject.Status == @Html.Raw(Json.Encode(ResponseStatus.Success)))
                {
                    $(".messagesList").html('');
                    var MessagesList = { items: returnObject.Result };
                    $("#messageTemplate").tmpl(MessagesList).appendTo(".messagesList");
                    $(".txtMessage").val('');
                    if (returnObject.Result.length > 0) {
                        var ChatMessageID = returnObject.Result[returnObject.Result.length - 1].ChatMessageID;
                        chatHub.server.readMessage(ChatMessageID);
                        //$("#noMessageAvailable").hide();
                    }
                    else {
                        //$("#noMessageAvailable").show();
                    }
                }
                else {
                    toastr.error(returnObject.Message, 'Error !');
                }
            }
        }

        $(document).on('click', '.sendImageIcon', function () {
            $(".chet-img").click();
        });

        $(document).on('change', '.chet-img', function () {
            $('.divImageUpload').show();

        });

        function Hideselectedimagemsg() {
            $('.divImageUpload').hide();
        }

        function ModalScrollDownToBottom() {
            $(".back_to_bottom").css({ display: 'block' })
            setTimeout(function () {
                $('.over-fllow-scroll').mCustomScrollbar("scrollTo", "bottom");
            }, 2)
        }

        $(document).on("keydown", ".emojionearea-editor", function (e) {
            if (e.keyCode == 13) {
                if ($('.emojionearea-editor').html() != "") {
                    $('.emojionearea-editor').blur();
                    $('#btnSendMsg').click();
                }
            }
        });

        $(document).on('click', '.btnSendMsg', function () {
            var JobId = $(this).data('id');
            var hdnStylistStatus = $("#hdnStylistStatus").val();
            //if (hdnStylistStatus.toLowerCase() == "true") {
            //    ShowToastr('error', 'Please upgrade your acccount', '');
            //}
            //else {

            var control = $(this);
            //var imagefile = $(this).parent().closest("input[type='file']");
            var imagefile = document.getElementById("chet-img");
            if (imagefile.files.length > 0) {
                if (imagefile.files[0]) {
                    var formData = new FormData();
                    var xmlreq = new XMLHttpRequest();
                    formData.append('image', $(imagefile)[0].files[0]);
                    $.ajax({
                        url: '@Url.Action("AddImage", "Chat")',
                        data: formData,
                        type: 'POST',
                        contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                        processData: false, // NEEDED, DON'T OMIT THIS
                        success: function (result) {
                            var params = {};
                            params.ReceiverID = RecieverId;
                            params.MessageText = result.path;
                            params.IsImage = true;
                            chatHub.server.sendMessage(params);
                            $('#chet-img').val('');
                            $(".back_to_top").fadeOut()
                            $('.divImageUpload').hide();
                        },
                        error: function () {
                            toastr.error('@Resource.FaildToSendImage', '');

                        }
                    });
                }
                else {
                    toastr.error('@Resource.PleaseUploadImageOnly', '');
                }
            }

            var msg = $(control).parent().parent().parent().find(".txtMessage").val();
            if (msg.length > 0) {
                if (RecieverId) {
                    $(control).parent().parent().parent().find('.emojionearea-editor').text('');
                    var params = {};
                    params.ReceiverID = RecieverId;
                    params.MessageText = msg;
                    params.JobId = JobId;
                    chatHub.server.sendMessage(params);
                    //$(control).find('.emojionearea-editor').text('');
                    $(control).parent().parent().parent().find(".txtMessage").val('');
                }
            }
            //}
        });

        $('.chatUser').on('click', function () {
            var control = $(this);
            var user = $(control).data('id');
            RecieverId = user;
            $('#ReceiverID').val(user);
            var username = $(control).data('username');
            $('#ReceiverName').val(username);
            var images = $(this).data('img');
            $('#ReceiverImage').val(images);
            var strurl = '@Url.Action("RenderMobileChatScreen", "Chat")';
            var formdata = new FormData();
            formdata.append("ReceiverID", RecieverId);
            formdata.append("ReceiverName", username);
            formdata.append("ReceiverImage", images);
            $.ajax({
                url: strurl,
                type: "Post",
                data: formdata,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (result) {
                    if (result) {
                        $(control).parent().parent().parent().parent().parent().parent().find('#renderChatMobile' + RecieverId).html(result);
                        $(control).parent().find('#unreadcount' + RecieverId).hide();
                        $(control).parent().parent().parent().parent().parent().parent().find(".txtMessage").emojioneArea();
                        var ReceiverID = RecieverId;
                        var params = {};
                        params.ReceiverID = ReceiverID;
                        params.PageIndex = 1;
                        chatHub.server.getConversation(params);
                        var i = 0;
                        $('.over-fllow-scroll').mCustomScrollbar({
                            theme: "dark",
                            scrollbarPosition: "outside",
                            autoHideScrollbar: true,
                            //mouseWheel: { enable: true },
                            mouseWheel: { preventDefault: true },
                            callbacks: {
                                onScroll: function () {
                                    if (i > 0 && this.mcs.top == 0) {
                                        if (strurl == "") {
                                            $(".back_to_bottom").css({ display: 'block' })
                                        }
                                        setTimeout(function () {
                                            $(".back_to_top").fadeOut()
                                        }, 2500)
                                    } else {
                                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                                        if (strurl == "") {
                                            $(".back_to_top").css({ display: 'block' });
                                        }
                                        setTimeout(function () {
                                            $(".back_to_bottom").fadeOut();
                                        }, 2500)
                                    }
                                    if (i == 0) {
                                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                                    }
                                    i++;
                                    strurl = "";
                                }
                            }
                        });

                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                    }
                    else {
                        alert('failed to append');
                    }
                },
                error: function (err) {
                    ShowToastr('error', "fail::" + err.statusText, '');
                }
            });
        });

        $('.JobUser').on('click', function () {
            var control = $(this);
            var user = $(control).data('id');
            RecieverId = user;
            $('#ReceiverID').val(user);
            var job = $(this).data('jid');
            $('#JobId').val(job);
            var username = $(control).data('username');
            $('#ReceiverName').val(username);
            var images = $(this).data('img');
            $('#ReceiverImage').val(images);
            var strurl = '@Url.Action("RenderMobileChatScreen", "Chat")';
            var formdata = new FormData();
            formdata.append("ReceiverID", RecieverId);
            formdata.append("ReceiverName", username);
            formdata.append("ReceiverImage", images);
            formdata.append("JobId", job);
            $.ajax({
                url: strurl,
                type: "Post",
                data: formdata,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (result) {
                    if (result) {
                        $(control).parent().parent().parent().parent().parent().parent().find('#renderJobChatMobile' + job).html(result);
                        $(control).parent().find('#unreadcount' + RecieverId).hide();
                        $(control).parent().parent().parent().parent().parent().parent().find(".txtMessage").emojioneArea();
                        //$(control).parent().parent().parent().parent().parent().parent().find('.panel').show();
                        var ReceiverID = RecieverId;
                        var params = {};
                        params.ReceiverID = ReceiverID;
                        params.PageIndex = 1;
                        params.JobId = job;
                        chatHub.server.getConversation(params);
                        var i = 0;
                        $('.over-fllow-scroll').mCustomScrollbar({
                            theme: "dark",
                            scrollbarPosition: "outside",
                            autoHideScrollbar: true,
                            //mouseWheel: { enable: true },
                            mouseWheel: { preventDefault: true },
                            callbacks: {
                                onScroll: function () {
                                    if (i > 0 && this.mcs.top == 0) {
                                        if (strurl == "") {
                                            $(".back_to_bottom").css({ display: 'block' })
                                        }
                                        setTimeout(function () {
                                            $(".back_to_top").fadeOut()
                                        }, 2500)
                                    } else {
                                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                                        if (strurl == "") {
                                            $(".back_to_top").css({ display: 'block' });
                                        }
                                        setTimeout(function () {
                                            $(".back_to_bottom").fadeOut();
                                        }, 2500)
                                    }
                                    if (i == 0) {
                                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                                    }
                                    i++;
                                    strurl = "";
                                }
                            }
                        });

                        $('#scroll', '.over-fllow-scroll').mCustomScrollbar('scrollTo', 'bottom');
                    }
                    else {
                        alert('failed to append');
                    }
                },
                error: function (err) {
                    ShowToastr('error', "fail::" + err.statusText, '');
                }
            });
        });

         $(document).on('click', '.condelete', function () {
            var ctrl = $(this);
             var rcvr = $(ctrl).data('rid');
            var fileData = new FormData();
            fileData.append("receiverId", rcvr);
            var url = '@Url.Action("DeleteChatConversastion", "Chat")';
            $.ajax({
                url: url,
                type: 'POST',
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $(ctrl).parent().parent().parent().parent().parent().parent().hide();
                    window.location.reload();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        });

        $(document).on('click', '.jobcondelete', function () {
            var ctrl = $(this);
            var rcvr = $(this).data('recid');
            var jobid = $(this).data('jbid');
            var fileData = new FormData();
            fileData.append("receiverId", rcvr);
            fileData.append("JobId", jobid);
            var url = '@Url.Action("DeleteJobConversation", "Chat")';
            $.ajax({
                url: url,
                type: 'POST',
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $(ctrl).parent().parent().parent().parent().parent().parent().hide();
                    window.location.reload();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });

        })

        $(document).on('click', '.condelete', function () {
            var ctrl = $(this);
            var rcvr = $(this).parent().parent().parent().parent().parent().parent().data('id');
            var fileData = new FormData();
            fileData.append("receiverId", rcvr);
            var url = '@Url.Action("DeleteChatConversastion", "Chat")';
            $.ajax({
                url: url,
                type: 'POST',
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $(ctrl).parent().parent().parent().parent().parent().parent().hide();
                    window.location.reload();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        });

    </script>
    <script id="messageTemplate" type="text/x-jQuery-tmpl">
        {{each items}}
        {{if !IsSendByMe}}
        <div class="chet-row recive-message">
            <div class="message-chet">
                {{if IsImage}}
                <a href="${MessageText}" download="IMG" target="_blank"><img src="${MessageText}" style="height:150px;width:150px;" /></a>
                {{else}}
                <P>${MessageText}</P>
                {{/if}}
            </div>
        </div>
        {{else}}
        <div class="chet-row send-message">
            <div class="message-chet">
                {{if IsImage}}
                <img src="${MessageText}" style="height:150px;width:150px;" />
                {{else}}                
                <P>${MessageText}</P>            
                {{/if}}
            </div>
        </div>
        {{/if}}
        {{/each}}
    </script>
}

