﻿.pd-img {
    height: 304.75px;
}

/*.product-img {
    min-height: 306px;
    max-height: 306px;
}*/

.text-danger {
    color: red;
}

.ui-progressbar {
    height: 5px !important;
}

.up-progress:before {
    content: "";
    background: #dcdcdc;
    height: 0px !important;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 3px;
}

.cookieinfo {
    font-family: inherit !important;
}


.ui-widget-content {
    border: 0px solid #ffcd35 !important;
}

.ui-widget-header {
    background: #ffcd35 !important;
    border: 1px solid #ffcd35 !important;
    color: #333333;
    font-weight: bold;
}

.progress-label {
    position: absolute;
    left: 4%;
    top: 6px;
}

.ui-widget {
    font-size: 14px !important;
}

.red {
    color: red;
}

.sweet-alert {
    background-color: #efefef;
    z-index: 99993 !important;
    /*border: 2px #ffcd35 solid;*/
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.12);
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.cancel {
    color: #545454 !important;
    background: #f2f2f2 !important;
    border: #f2f2f2 !important;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-danger {
    color: #fff;
    background-color: #ffcd35;
    border-color: #ffcd35;
}

.sweet-alert .sa-icon.sa-warning {
    border-color: #ffcd35;
}

.product-img {
    /*background: none !important;*/
}

#loading, .rotate-loader {
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    -o-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/*div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 13%;
    margin-top: 20%;
    color: #b3b3b3;
    font-size: 40px;
}*/

.popup-middle {
    min-height: 300px !important;
    cursor: auto;
}

.data-div-placeholder-content {
    float: left;
    margin-left: 15%;
    margin-top: 20%;
    color: #b3b3b3;
    font-size: 35px;
}

@media only screen and (max-width: 768px) {
    .data-div-placeholder-content {
        font-size: 20px;
    }

    .popup-middle {
        min-height: 180px;
        cursor: auto;
    }
}

.logo-icon:before {
    width: 50px !important;
    left: -4px !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    font-family: 'Poppins', sans-serif;
}

/*.profile-pic .profile-content h4 {
    color: #fff !important;
}*/

.profile-content .pf-link {
    color: #fff;
}

.search-content .search-post-scroll {
    max-height: 300px;
}

/*.search-content .search-post-scroll #posts, .search-content .search-post-scroll #stylist, .search-content .search-post-scroll #hashtag {
        max-height: 380px;
    }*/

.search-post-scroll {
    float: left;
    width: 100%;
}

    .search-post-scroll #posts, .search-post-scroll #stylist, .search-post-scroll #hashtag {
        float: left;
        width: 100%;
    }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.showhidepassword {
    /*position: absolute;*/
    margin-left: -96px;
    margin-top: 13px;
    width: 82px;
    border: 0px;
}

.addpost-image-container {
    height: 304px;
    width: 304px;
    margin: auto;
    display: none;
}

@media only screen and (max-width: 768px) {
    .addpost-image-container {
        height: 204px;
        width: 204px;
        margin: auto;
        display: none;
    }
}

#profile-pic-pp #image-container, #profile-pic-pp #profile-canvas {
    height: 356px;
    width: 356px;
    margin: auto;
}

@media handheld, only screen and (max-width: 600px) {
    #profile-pic-pp #image-container, #profile-pic-pp #profile-canvas {
        height: 240px;
        width: 240px;
        margin: auto;
    }

    .popup-box-hidescroll {
        overflow: hidden;
    }

    .popup-box-scroll {
        overflow: auto;
    }
}

.check-box a {
    display: inline-block;
    color: #1e5fd6;
    font-weight: 600;
}

span.at-label {
    display: none;
}

.at-svc-twitter {
    background-color: #fff !important;
}

.at-svc-twitter .at-icon-wrapper svg {
fill: #03A9F4 !important;
width: 50px !important;
height: 50px !important;
}

.at-svc-twitter .at-icon-wrapper {
line-height: 50px !important;
width: 50px !important;
height: 50px !important;
}

.at-svc-google_plusone_share, .at-svc-pinterest_share, .at-svc-facebook {
background-color: #fff !important;
}

.at-svc-facebook .at-icon-wrapper {
background-color: #475993 !important;
border-radius: 5px !important;
}

.at-svc-facebook .at-icon-wrapper svg {
    width: 36px !important;
    height: 39px !important;
}

.at-svc-google_plusone_share .at-icon-wrapper {
background-color: rgb(220, 78, 65);
border-radius: 50%;
height: 35px !important;
width: 35px !important;
}

.at-svc-google_plusone_share .at-icon-wrapper svg {
    margin-top: 2px;
}

.at-svc-pinterest_share .at-icon-wrapper {
background-color: rgb(203, 32, 39);
border-radius: 50%;
}

.at-svc-pinterest_share .at-icon-wrapper svg {
    margin-top: 2px;
    height: 28px !important;
    width: 28px !important;
}

.at-svc-facebook {
padding: 1px !important;
}

.at-resp-share-element .at-share-btn {
border: 1px solid #f2f2f2 !important;
padding-top: 32px !important;
margin: 0 10px 5px !important;
width: 104px;
height: 104px;
}

.at-share-btn-elements .at-svc-twitter {
padding: 27px !important;
}

.at-resp-share-element .at-share-btn:focus, .at-resp-share-element .at-share-btn:hover {
transform: translateY(0px) !important;
border: 1px solid #ffcd35 !important;
}

.at-resp-share-element .at-share-btn .at-icon-wrapper {
float: inherit !important;
}
.chckt-form-label__text {
    padding-bottom: 20px !important;
    padding-top: 10px !important;
}
.chckt-pm__radio-button {
    margin-top: -1px !important;
}
.chckt-more-pm-button__icon {
    line-height: 0.4em !important;
}
.chckt-button {
    background-color: #ffcd35 !important;
}
.chckt-button:hover {
    background-color: #ffcd35 !important;   
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.video {
    width: 100%;
    object-fit: fill;
}

.wrapper {
    display: -webkit-inline-box;
    width: auto;
    position: relative;
}

.playpause {
    background-image: url(../images/media-play-pause-resume.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

.product-bx video {
    max-width: -webkit-fill-available;
}

@media handheld, only screen and (max-width: 767px) {
    .product-bx video {
        max-width: -webkit-fill-available;
    }
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: fill;
}

#topUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    /*background-color: #ffcd35;*/
    color: white;
    cursor: pointer;
    padding: 24px;
    border-radius: 4px;
    background: url('../images/arrow-up.svg');
}

#topSearchUpBtn {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    /*background-color: #ffcd35;*/
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    background: url('../images/arrow-up.svg');
}

/*.noSelect{}*/
a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.emojionearea .emojionearea-button {
    right: -4px !important;
}
.cookieinfo {
    font-family: inherit !important;
}
.no-user-display {
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(5px);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select2-dropdown {
    display: none;
}

.bootstrap-tagsinput .tag {
    border-radius: 4px !important;
    margin: 11px 10px 0 0 !important;
    padding: 3px 8px !important;
    font-size: 13px !important;
}
    .bootstrap-tagsinput .tag [data-role="remove"] {
        margin-left: 4px !important;
    }

    .bootstrap-tagsinput .tag [data-role="remove"] {
        padding: 0px 3px !important;
    }

.bootstrap-tagsinput input {
    width: auto !important;
    margin: 11px 0px !important;
    height: 30px !important;
}

/*.gaugeMeter {
    Color: red;
}*/
.fancybox-slide {
    /*height: 150% !important;*/
    margin: 0;
}
.fancybox-container {
    height: 100%;
}

@media handheld, only screen and (max-width: 767px) {
    .privacypolicy-title {
        font-size: 26px;
    }
}

.fancybox-is-open .fancybox-bg {
    height: 100%;
}

.checkout-footer-section {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: url(../images/footer.jpg) no-repeat left top;
    background-size: cover;
}