﻿@model AddBotModel
@{
    ViewBag.Title = "AddBot";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string action = ViewBag.Action;
}
@Styles.Render("~/css/select2")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(action, "Bots", FormMethod.Post))
            {
                if (action == "Edit")
                {
                    @Html.HiddenFor(x => x.BotId)
                }
                @Html.ValidationSummary(true)
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header">

                        @if (action == "Edit")
                        {
                            <h4 class="card-title">
                                Edit Bot
                            </h4>
                        }
                        else
                        {
                            <h4 class="card-title">
                                Add Bot
                            </h4>
                        }
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="@Url.Action("Index","")">
                                        View Bots
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Bot Title <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Title)
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            UserType <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6 radio">
                                            @Html.RadioButtonFor(x => x.UserType, RoleForBot.Stylist.ToString(), new { @checked = true })
                                            <label for=@Role.Stylist>@Resource.stylist</label>
                                            @Html.RadioButtonFor(x => x.UserType, RoleForBot.Users.ToString())
                                            <label for=@Role.User>@Resource.user</label>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            Maximum Follow <span class="red">*</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.MaxFollow, new { @class = "form-control", @onkeypress = "javascript:return EnsureDecimal(event)" })
                                            @Html.ValidationMessageFor(x => x.MaxFollow)
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            Maximum Comment <span class="red">*</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.maxComment, new { @class = "form-control", @onkeypress = "javascript:return EnsureDecimal(event)" })
                                            @Html.ValidationMessageFor(x => x.maxComment)
                                        </div>
                                    </div>


                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            Timing Hour <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(x => x.Timing, new
                                           List<SelectListItem>
                                        {
                                           new SelectListItem{ Text="2 hour", Value = "2" },
                                           new SelectListItem{ Text="3 hour", Value = "3" },
                                           new SelectListItem{ Text="4 hour", Value = "4" },
                                           new SelectListItem{ Text="5 hour", Value = "5" },
                                           new SelectListItem{ Text="6 hour", Value = "6" }
                                       }, new { @class = "select2", multiple = "multiple" })
                                            @Html.ValidationMessageFor(x => x.Timing)
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            Boat Function <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(x => x.Functions, new
                                           List<SelectListItem>
                                        {
                                           new SelectListItem{ Text=BotFunctionEnum.Like.ToString(), Value = "1" },
                                           new SelectListItem{ Text=BotFunctionEnum.Follow.ToString(), Value = "2" },
                                           new SelectListItem{ Text=BotFunctionEnum.Comment.ToString(), Value = "3" },
                                           new SelectListItem{ Text=BotFunctionEnum.Message.ToString(), Value = "4" },
                                       }, new { @class = "select2", multiple = "multiple" })
                                            @Html.ValidationMessageFor(x => x.Functions) 
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            Select DummyUsers <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @if (ViewData["dummyuserlist"] != null)
                                            {
                                                @Html.DropDownListFor(x => x.DummyUser, new SelectList(ViewData["dummyuserlist"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Group", new { @multiple = "true" })
                                            }
                                            @Html.ValidationMessageFor(x => x.DummyUser)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-md btn-primary" value="@action" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/select2")
    <script src="@Url.Content("~/Content/Jquery/GeneralScript.js")"></script>
    <script type="text/javascript">
        ActiveMenu('Bots')
        $(".select2").select2();

        function format(state) {
            if (!state.id) return state.text; // optgroup
            return "<img class='flag' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/4579/NASA_meatball.png'/>" + state.text;
        }


        $("#DummyUser").select2({
            placeholder: "Select a state",
            allowClear: true,
           // formatResult: format,
            //formatSelection: format
        });

        $("#DummyUser").select2().on("change", function (e) {
            if (e.added) {
                var icon = ""
                $('.select2-search-choice DIV').filter(function () {
                    icon = '<img src="images/' + e.added.css + '.png"/>&nbsp;';
                    return $(this).text() == e.added.id;
                }).prepend(icon);
            }
        })
    </script>
}

