﻿@model AddDummyUserModel
@{
    ViewBag.Title = "AddDummyUser";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string action = ViewBag.Action;
}
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(action, "Bots", FormMethod.Post,new { @enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header">
                        <h4 class="card-title">
                            Add Dummy User
                        </h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="@Url.Action("Index","Bots")">
                                        View Dummy users
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Name <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x=>x.Name,new {@class="form-control" })
                                            @Html.ValidationMessageFor(x=>x.Name)
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            Email <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Email)
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            Zipcode <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.ZipCode)
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-md-3">
                                            Profile Image <span class="red"></span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.fileBaseImage, new { @class = "form-control", @type = "file", @accept = "image/*" })
                                            @Html.ValidationMessageFor(x => x.ImageName)
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-md btn-primary" value="@action" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Jquery/GeneralScript.js")"></script>
    <script type="text/javascript">
        ActiveMenu('AddDummyUser')

        $('#fileBaseImage').on('change', function () {
            
            //readURL(this);
            if ($(this).get(0).files[0].type.indexOf('image') >= 0) {

                if ($(this).get(0).files.length == 0) {
                    $('#ImageName').val('');
                }
                else {
                    $('#ImageName').val($(this).get(0).files[0].name);
                }
            }
            else {
                toastr.error('Please upload images only.', 'Error !');
                $('#fileBaseImage').val('');
                return false;
            }
        });
    </script>
}

