﻿@model ManageBoatModel
@{
    ViewBag.Title = "BotManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>login</title>
</head>
<body>
    <div class="card">

        <div class="card-block">
            <div class="row">

                <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                    <div class="float-xs-left pl-2">

                        <span class="font-large-2 line-height-1 text-bold-200">Follow Schedular</span>
                        @if (Model.IsFollow)
                        {
                            <button type="button" style="margin-top:10px;" data-id="1" class="btn btn-danger btn-min-width mr-1 mb-1 btnfollow"><i class="icon-pause22"></i> Stop</button>
                        }
                        else
                        {
                            <button type="button" style="margin-top:10px;" data-id="1" class="btn btn-success btn-min-width mr-1 mb-1 btnfollow"><i class="icon-play"></i> Start</button>
                        }
                    </div>


                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                    <div class="float-xs-left pl-2">

                        <span class="font-large-2 line-height-1 text-bold-200">Like Schedular</span>

                        @if (Model.IsLike)
                        {
                            <button type="button" style="margin-top:10px;" data-id="2" class="btn btn-danger btn-min-width mr-1 mb-1 btnfollow"><i class="icon-pause22"></i> Stop</button>
                        }
                        else
                        {
                            <button type="button" style="margin-top:10px;" data-id="2" class="btn btn-success btn-min-width mr-1 mb-1 btnfollow"><i class="icon-play"></i> Start</button>
                        }

                    </div>

                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                    <div class="float-xs-left pl-2">

                        <span class="font-large-2 line-height-1 text-bold-200">Comment Schedular</span>

                        @if (Model.IsComment)
                        {
                            <button type="button" style="margin-top:10px;" data-id="3" class="btn btn-danger btn-min-width mr-1 mb-1 btnfollow"><i class="icon-pause22"></i> Stop</button>
                        }
                        else
                        {
                            <button type="button" style="margin-top:10px;" data-id="3" class="btn btn-success btn-min-width mr-1 mb-1 btnfollow"><i class="icon-play"></i> Start</button>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("BotManage");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');

          $(function () {
              $('.btnfollow').on('click', function () {
                var control = $(this);
                var Url = '@Url.Action("ActiveFollowBot", "Bots")';
                //$('#frmDelete #id').val($(this).data('id'));
                swal({
                    title: "Are you sure?",
                    //text: "You will not be able to recover user related data",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No, cancel.",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {                                
                                $(control).text('Stop');
                                $(control).removeClass('btn-success');
                                $(control).addClass('btn-danger');
                                control.children().removeClass('icon-play');
                                control.children().addClass('icon-pause22');
                                swal("Activated!", response.Message, "success");

                            }                            
                            else {  
                                $(control).text('Start');
                                $(control).removeClass('btn-danger');
                                $(control).addClass('btn-success');
                                control.children().removeClass('icon-pause22');
                                control.children().addClass('icon-play');
                                swal("Deactivated", response.Message, "success");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-stop-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                });
            });
        });

    </script>
}

