﻿@model IQueryable<ViewBots>
@using GridMvc.Html
@{
    ViewBag.Title = "Bots";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@using (Html.BeginForm("DeleteBot", "Bots", FormMethod.Post, new { @class = "form-horizontal form-simple", @id = "frmDelete" }))
{
    @Html.Hidden("Id")
}


@helper ActionButtons(long Id,bool IsActive)
{
    <div class="form-group row">
        
        <a href="javascript:;" class="btn btn-sm btn-primary btn-danger deactivate" data-id="@Id" style="display:@(IsActive?"inline-block;":"none;")">
            <i class="icon-ban"></i> Deactivate
        </a>

        <a href="javascript:;" class="btn btn-sm btn-primary btn-green activate" data-id="@Id" style="display:@(!IsActive?"inline-block;":"none;")">
            <i class="icon-check"></i> Activate
        </a>

        <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@Id">
            <i class="icon-trash4"></i> Delete
        </a>
    </div>
}

@helper Functions(ViewBots Functions)
{
    <ul>
        @foreach (var tag in Functions.Functions)
        {
            <li>@tag.ToString()</li>
        }
    </ul>
}

@*@helper GetActiveStatus(bool IsActive)
{
    if (IsActive)
    {
            <span class="text-success">Active</span>
    }
    else
    {
            <span class="text-danger">Deactive</span>
    }
}*@
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Bot List </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        @*<ul class="list-inline mb-0">
                            <li>
                                <a href="@Url.Action("CreateBot","Bots")">
                                    <i class="icon-plus3"></i>  Add New Bot
                                </a>
                            </li>
                        </ul>*@
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(p => p.BotTitle)
                              .Titled("Title")
                              .Sortable(true)
                              .Filterable(true);

                               column.Add(p => p.MaxFollowCunt)
                              .Titled("MaxFollow")
                              .Sortable(true)
                              .Filterable(true);

                               column.Add(p => p.MaxCommentCount)
                            .Titled("MaxComment")
                            .Sortable(true)
                            .Filterable(true);

                               column.Add()
                           .Titled("Functions")
                           .Sortable(true)
                           .Filterable(true)
                           .Encoded(false)
                            .Sanitized(false)
                            .RenderValueAs(x => Functions(x));


                               //   column.Add()
                               // .Filterable(true)
                               // .Sortable(true)
                               //.Encoded(false)
                               //.Sanitized(false)
                               //.Titled("Status")
                               //.RenderValueAs(x => GetActiveStatus(x.IsActive)).SetWidth(50);

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.BotId,x.IsActive));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu('Bots');
        $(".jsgrid-grid-body").css('overflow-x', 'auto');

        $(".activate").click(function () {
            var control = $(this);
            var Url = '@Url.Action("BotActiveToggle")';

                swal({
                    title: "Are you sure to activate this user?",
                    //text: "You will not be able to recover this date!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, activated it!",
                    cancelButtonText: "No, cancel pls!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    control.parent().find(".deactivate").show()
                                    control.hide()
                                }, 300);

                                swal("Activated!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                });
        });

        $(".deactivate").click(function () {
                var control = $(this);
                var Url = '@Url.Action("BotActiveToggle")';

                swal({
                    title: "Are you sure to deactivate this user?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, deactivated it!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    control.parent().find(".activate").show()
                                    control.hide()
                                }, 300);
                                swal("Deactivated!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                });
            });





        $('.btnDelete').on('click', function () {
            $('#frmDelete #Id').val($(this).data('id'));
            swal({
                title: "Are you sure?",
                //text: "You will not be able to recover this Bot and related data",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DA4453",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel.",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("Delete!", "Selected bot will be deleted, and will not be rollback!!", "success");
                    $('#frmDelete').submit();
                    return true;
                } else {
                    swal("Cancelled", "It's safe.", "error");
                }
            });
        });
    </script>
}

