﻿@model List<ViewDummyUserList>
@using GridMvc.Html
@{
    ViewBag.Title = "ViewDummyUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@using (Ajax.BeginForm("DeleteUser", "User", null, new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    //UpdateTargetId = "Forgotpassword",
    //OnBegin = "loadLoader",
    //OnComplete = "frmforgotpassword"
}, new { @id = "frmDelete", @class = "form-horizontal form-simple", @autocomplete = "off" }))
{
    @Html.Hidden("id")
}

@helper LoadImage(string ImageName)
{
    if (!String.IsNullOrWhiteSpace(ImageName))
    {
        <img src="@(GlobalConfig.UserImageUrl + ImageName )" alt="@ImageName" height="100" width="100" />
    }
    else
    {
        <img src="@Url.Content("~/Files/DefaultImages/profile-placeholder.png")" alt="Default-Image" height="100" width="100" />
    }
}

@helper ActionButtons(string Id)
{
    <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@Id">
        <i class="icon-trash4"></i> Delete
    </a>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Dummy users</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <a href="@Url.Action("BotManage", "Bots")">
                                        <i class="icon-plus3"></i>  <b>Bots</b>
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                             .Titled("profile")
                             .Sanitized(false).Encoded(false)
                             .RenderValueAs(x => LoadImage(x.ProfileImage));

                               column.Add(p => p.Name)
                              .Titled("Name")
                              .Sortable(true)
                              .Filterable(true);

                               column.Add(p => p.Email)
                              .Titled("Email")
                              .Sortable(true)
                              .Filterable(true);


                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.DummyId));

                           }).Selectable(false).WithPaging(20)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    @Scripts.Render("~/jQuery/validate")   
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        //ActiveMenu("SubscribedCredits");
        ActiveMenu("ViewDummyUsers");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
        
         $('.btnDelete').on('click', function () {
                var control = $(this);
                 var Url = '@Url.Action("DeleteUser","User")';
                $('#frmDelete #id').val($(this).data('id'));
                swal({
                    title: "Are you sure?",
                    //text: "You will not be able to recover user related data",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel.",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    //control.parent().find(".activate").show()
                                    control.parent().parent().hide();
                                }, 300);
                                swal("Deleted!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                    //if (isConfirm) {
                    //    swal("Delete!", "Selected User will be deleted, and will not be rollback!!", "success");
                    //    $('#frmDelete').submit();
                    //    return true;
                    //} else {
                    //    swal("Cancelled", "It's safe.", "error");
                    //}
                });
            });
        
    </script>
}
