﻿@model PaymentResponseData
@{
    ViewBag.Title = "Checkout Payment";
}


<div id="your-payment-div" style="width: 80%;margin: auto;"></div>
@if (ViewBag.status == ResponseStatus.Success)
{
    <h1 class="success-message" style="margin-top:100px;text-align:center;color: green;font-size: 40px;font-weight: 300;">@Resource.paymentSuceessMsg</h1>

}
else if (ViewBag.status == ResponseStatus.Failed)
{
    <h1 class="success-message" style="margin-top:100px;text-align:center;color: #ff0000;font-size: 40px;font-weight: 300;">@Resource.paymentFailedMessage</h1>
}
<h3 class="success-message" style="margin-top:75px;text-align:center;color: #7c7c7c;">@Html.Raw(ViewBag.successmessage)</h3>


