﻿@model IQueryable<getAllPostlist>
@using GridMvc.Html
@{
    ViewBag.Title = "AllPost";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/css/gridMvc")
@helper LoadImage(getAllPostlist item)
{
    if (item.PostPic != null)
    {
            <img src="@(GlobalConfig.PostImageUrl + item.PostPic )" @*alt="@item.Name"*@ height="100" width="100" />
}
else
{
        <img src="~/Files/DefaultImages/video.png" @*alt="@item.Name"*@ height="100" width="100" />
}
}

@helper ActionButtons(long PostId)
{
    <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@PostId">
        <i class="icon-trash4"></i> Delete
    </a>
    @*<a href="@Url.Action("DeletePostByAdmin", "Post", new { @Id = PostId })" class="btn btn-sm btn-danger btnDelete" data-id="@PostId">
            <i class="icon-trash4"></i> Delete
        </a>*@

    <a href="@Url.Action("Postdetail", "Post", new { @Id = PostId })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-box"></i> Detail
    </a>
}


@helper HashTags(List<PostHashTaglistModel> tagList)
{
    <ul>
        @foreach (var tag in tagList)
        {
            <li>@tag.hashtag</li>
        }
    </ul>
}

@helper LoadPostBy(getAllPostlist item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.StylishId})">@item.Name</a>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Post </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                              .Titled("File")
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadImage(x));

                               column.Add(p => p.Name)
                               .Titled("Name")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => LoadPostBy(x));

                               column.Add(p => p.HasTag)
                              .Titled("Hashtag")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => HashTags(x.HasTag));

                               column.Add(p => p.CreatedDate)
                             .Titled("Created Date")
                             .Sortable(true)
                             .Filterable(true)
                             .RenderValueAs(p => p.CreatedDate.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture));

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.PostId));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("Post");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');

        $(function () {
            $('.btnDelete').on('click', function () {
                var control = $(this);
                var Url = '@Url.Action("DeletePostByAdmin", "Post")';
                //$('#frmDelete #id').val($(this).data('id'));
                swal({
                    title: "Are you sure?",
                    //text: "You will not be able to recover user related data",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel.",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    //control.parent().find(".activate").show()
                                    control.parent().parent().hide();
                                }, 300);
                                swal("Deleted!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                    //if (isConfirm) {
                    //    swal("Delete!", "Selected User will be deleted, and will not be rollback!!", "success");
                    //    $('#frmDelete').submit();
                    //    return true;
                    //} else {
                    //    swal("Cancelled", "It's safe.", "error");
                    //}
                });
            });
        });

    </script>


}
