﻿@model PostDetailModel
@{
    ViewBag.Title = "Postdetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int j = 0;
}

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Post By : @Model.Name</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <div class="form-group row">
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <div class="col-md-10">
                                        @if (!string.IsNullOrEmpty(Model.ProfileImageNAme))
                                        {
                                            <img src="@(GlobalConfig.UserImageUrl+Model.ProfileImageNAme)" height="125" width="125" />
                                        }
                                        else
                                        {
                                            <img src="@(GlobalConfig.UserImageUrl+GlobalConfig.DefaultProfileImage)" height="200" width="200" />
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3"><b>Post Files:</b></label>
                                    <div class="col-md-1">:</div>

                                    @if (Model.PostFiles.Count > 0 && Model.PostFiles != null)
                                    {
                                        foreach (var i in Model.PostFiles)
                                        {
                                            if (i.IsVideo == true)
                                            {
                                                <div class="col-md-4">
                                                    @*<div class="carousel-item @(j == 0 ? "active" : "")">*@
                                                    <video width="600"  controls style="max-width:100%; height:200px;"> <source src="@(GlobalConfig.PostImageUrl + i.FileName)" type="video/mp4"> Your browser does not support HTML5 video.</video>
                                                    <br />
                                                </div>
                                                @*</div>*@
                                            }
                                            else
                                            {
                                                <div class="col-md-4">
                                                    @*<div class="carousel-item @(j == 0 ? "active" : "")">*@
                                                    <img width="100%" height="250px" class="d-block img-fluid" src="@(GlobalConfig.PostImageUrl + i.FileName)" alt="First slide">
                                                    <br />
                                                </div>
                                            }
                                            j++;
                                        }
                                    }

                                </div>
                                <br />

                                <div class="form-group row">
                                    <label class="col-md-4"><b>NickName</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.NickName)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Created date</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.CreatedDate.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture))
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Time Ago</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.Timeago)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Description</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.Description)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Hashtag</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @if (Model.HashTags != null)
                                        {
                                            <ul>
                                                @foreach (var tag in Model.HashTags)
                                                {
                                                    <li>@tag.hashtag</li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Likes</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @Model.PostLikes
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Comments</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.Comments.Count())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
