﻿@model IQueryable<ReportedPostList>
@using GridMvc.Html
@{
    ViewBag.Title = "ReportedPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@helper LoadImage(string item)
{
    if (!String.IsNullOrWhiteSpace(item))
    {
            <img src="@(GlobalConfig.UserImageUrl + item )" alt="@item" height="100" width="100" />
    }
    else
    {
            <img src="@Url.Content("~/Files/DefaultImages/profile-placeholder.png")" alt="Default-Image" height="100" width="100" />
    }
}

@helper ActionButtons(long PostId)
{
    <a href="@Url.Action("DeleteRepoetedPost", "Post", new { @Id = PostId })" class="btn btn-sm btn-danger btnDelete" data-id="@PostId">
        <i class="icon-trash4"></i> Delete Post
    </a>

    <a href="@Url.Action("Postdetail", "Post", new { @Id = PostId })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-box"></i> View Post
    </a>
}

@helper LoadReviewBy(ReportedPostList item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.reportedbyUserId})">@item.reporedbyName</a>
}

@helper LoadPostBy(ReportedPostList item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.StylishId})">@item.Name</a>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Reported Post </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                              .Titled("ReportBy")
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadImage(x.ProfileImageNAme));

                               column.Add(p => p.reporedbyName)
                               .Titled("Report By")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => LoadReviewBy(x));

                               column.Add(p => p.Name)
                               .Titled("Post By")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => LoadPostBy(x));

                               column.Add(p => p.Reason)
                              .Titled("Reason")
                              .Sortable(true)
                              .Filterable(true);

                               column.Add(p => p.CreatedDate)
                             .Titled("Created Date")
                             .Sortable(true)
                             .Filterable(true)
                             .RenderValueAs(p => p.CreatedDate.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture));

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.PostId));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("Report");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
    </script>
}




