﻿@model IQueryable<SpamCommentsListModel>
@using GridMvc.Html
@{
    ViewBag.Title = "SpamComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@helper LoadComentedByName(SpamCommentsListModel item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.CommentedById })">@item.CommentedByName</a>
}

@helper LoadPostByName(SpamCommentsListModel item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.CommentedById })">@item.PostByName</a>
}

@helper ActionButtons(long CommentID)
{
    <a href="@Url.Action("DeleteSpamComments", "Post", new { @Id = CommentID })" class="btn btn-sm btn-danger btnDelete" data-id="@CommentID">
        <i class="icon-trash4"></i> Delete
    </a>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Spam Comments </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                              .Titled("PostBy")
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadPostByName(x));

                               column.Add()
                             .Titled("CommentBy")
                             .Sanitized(false).Encoded(false)
                             .RenderValueAs(x => LoadComentedByName(x));

                               column.Add(p => p.Commenttext)
                               .Titled("CommentText")
                               .Sortable(true)
                               .Filterable(true);

                               column.Add()
                              .Titled("Delete")
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => ActionButtons(x.CoomentId));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("SpamComments");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
    </script>
}




