﻿@using Microsoft.AspNet.Identity
@{
                /**/

                AlertModel alertModel = TempData["alertModel"] as AlertModel;
                int status = -1;
                string message = null;
                if (alertModel != null)
                {
                    status = (int)alertModel.alertStatus;
                    message = alertModel.alertMessage;
                }
                Role MyRole = ViewBag.MyRole;
}
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>@ViewBag.Title - Stylaaa</title>

    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152.png")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Files/DefaultImages/favicon/favicon.ico")">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32.png")">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    @Styles.Render("~/css/bundles")
    @Styles.Render("~/css/menu")
    @Scripts.Render("~/jQuery/bundles")
    <link href="~/Content/Plugins/zoom/zoom.css" rel="stylesheet" />
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar" id="body">
    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs">
                            <i class="icon-menu5 font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Home")" class="navbar-brand nav-link">
                            <img src="@Url.Content("/Files/DefaultImages/logo.png")" class="brand-logo"
                                 data-expand="@Url.Content("~/Files/DefaultImages/logo.png")"
                                 data-collapse="@Url.Content("~/Files/DefaultImages/logo-small.png")">
                        </a>
                    </li>
                    <li class="nav-item hidden-md-up float-xs-right">
                        <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                            <i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content container-fluid">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a>
                        </li>
                        <li class="nav-item hidden-sm-down"><a href="javascript:;" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-xs-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                <span class="avatar avatar-online">
                                    <img src="@Url.Content("~/Files/DefaultImages/admin_avtar.png")" alt="avatar"><i></i>
                                </span>
                                <span class="user-name">@ViewBag.FullName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="@Url.Action("ChangePassword", "Account")" class="dropdown-item"><i class="icon-head"></i> Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("Logout", "Account")" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- main menu-->
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
        <div class="main-menu-content">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item" id="liCategory">
                    <br />
                </li>

                <li class="nav-item" id="liDashboard">
                    <a href="@Url.Action("Index","Home")">
                        <i class="icon-home3"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Dashboard</span>
                    </a>
                </li>

                <li class="nav-item" id="liSoldPackages">
                    <a href="@Url.Action("SoldPackages","Premium")">
                        <i class="icon-credit-card2"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Sales</span>
                    </a>
                </li>

                <li class="nav-item" id="liBookings">
                    <a href="@Url.Action("Bookings","Home")">
                        <i class="icon-credit-card2"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Booking Requests</span>
                    </a>
                </li>

                <li class="nav-item has-sub" id="liPremiumPackage">
                    <a href="javascript:;">
                        <i class="icon-star-empty"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Premium Package</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liPremiumPackages">
                            <a href="@Url.Action("Index", "Premium")">
                                <i class="icon-star-empty"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Premium Packages</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liSubscribedStylist">
                            <a href="@Url.Action("SubscribedStylist", "Premium")">
                                <i class="icon-user-tie"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Subscribed Stylist</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-sub" id="liCreditPackage">
                    <a href="javascript:;">
                        <i class="icon-star-empty"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Credit Package</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liCredit">
                            <a href="@Url.Action("Credit", "Premium")">
                                <i class="icon-star-empty"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Credits</span>
                            </a>
                        </li>
                        @*<li class="nav-item" id="liSubscribedCreditStylist">
                                <a href="@Url.Action("SubscribedCreditStylist", "Premium")">
                                    <i class="icon-star-empty"></i>
                                    <span data-i18n="nav.templates.main" class="menu-title">Subscribed Credits</span>
                                </a>
                            </li>*@
                    </ul>
                </li>

                <li class="nav-item" id="liPaymentMethod">
                    <a href="@Url.Action("Index", "PaymentMethod")">
                        <i class="icon-credit-card"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Payment Methods</span>
                    </a>
                </li>

                <li class="nav-item" id="liCategories">
                    <a href="@Url.Action("Index", "Category")">
                        <i class="icon-menu"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Categories</span>
                    </a>
                </li>

                <li class="nav-item" id="liSubCategories">
                    <a href="@Url.Action("Index", "SubCategories")">
                        <i class="icon-menu"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">SubCategories</span>
                    </a>
                </li>

                <li class="nav-item" id="liCountries">
                    <a href="@Url.Action("Index", "Country")">
                        <i class="icon-earth2"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Countries</span>
                    </a>
                </li>

                <li class="nav-item has-sub" id="liBots">
                    <a href="javascript:;">
                        <i class="icon-inbox"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Dummy User</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liCreateUser">
                            <a href="@Url.Action("BotManage", "Bots")">
                                <i class="icon-user-tie"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">View</span>
                            </a>
                        </li>

                        @*<li class="nav-item" id="liViewDummyUsers">
                            <a href="@Url.Action("ViewDummyUsers", "Bots")">
                                <i class="icon-user"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">View </span>
                            </a>
                        </li>*@

                        <li class="nav-item" id="liAddDummyUser">
                            <a href="@Url.Action("AddDummyUser", "Bots")">
                                <i class="icon-user"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Create Dummy User</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-sub" id="liSendMessages">
                    <a href="javascript:;">
                        <i class="icon-inbox"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Send Messages</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liStylist">
                            <a href="@Url.Action("SendToStylist", "Home")">
                                <i class="icon-user-tie"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Stylist</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liUsers">
                            <a href="@Url.Action("SendToUser", "Home")">
                                <i class="icon-user"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">User</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liCertifiedStylish">
                            <a href="@Url.Action("AllUsers", "Home")">
                                <i class="icon-user-plus"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">All</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-sub">
                    <a href="javascript:;">
                        <i class="icon-images2"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Messages from Admin</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liAdminMessages">
                            <a href="@Url.Action("AdminMessages", "Home", new { role = Role.Stylist })" )">
                                <i class="icon-images2"></i>
                                <span data-i18n="nav.templates.main" class="menu-title"> Stylist</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liAdminUser">
                            <a href="@Url.Action("AdminMessages", "Home", new { role = Role.User })">
                                <i class="icon-user"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">User</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-sub" id="liUsers">
                    <a href="javascript:;">
                        <i class="icon-users2"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Users</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liAllUsers">
                            <a href="@Url.Action("AllUsers", "User")">
                                <i class="icon-user-tie"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">User</span>
                            </a>
                        </li>
                        @if (MyRole == Role.SuperAdmin)
                        {
                            <li class="nav-item" id="liCertifiedStylish">
                                <a href="@Url.Action("ViewAdminUser", "Account")">
                                    <i class="icon-profile"></i>
                                    <span data-i18n="nav.templates.main" class="menu-title">Admin User</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>

                <li class="nav-item has-sub">
                    <a href="javascript:;">
                        <i class="icon-user-tie"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Stylist</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liStylish">
                            <a href="@Url.Action("AllStylish", "User")">
                                <i class="icon-user-tie"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">View Stylist</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liSubscribedCredits">
                            <a href="@Url.Action("SubscribedCreditStylist", "Premium")">
                                <i class="icon-star-empty"></i>
                                <span data-i18n="nav.templates.main" class="menu-title">Subscribed Credits</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-sub">
                    <a href="javascript:;">
                        <i class="icon-images2"></i>
                        <span data-i18n="nav.menu_levels.main" class="menu-title">Post</span>
                    </a>
                    <ul class="menu-content" style="">
                        <li class="nav-item" id="liPost">
                            <a href="@Url.Action("AllPost", "Post")">
                                <i class="icon-images2"></i>
                                <span data-i18n="nav.templates.main" class="menu-title"> View Post</span>
                            </a>
                        </li>
                        <li class="nav-item" id="liReport">
                            <a href="@Url.Action("ReportedPost", "Post")">
                                <i class="icon-images2"></i>
                                <span data-i18n="nav.templates.main" class="menu-title"> Report </span>
                            </a>
                        </li>
                        <li class="nav-item" id="liSpamComments">
                            <a href="@Url.Action("SpamComments", "Post")">
                                <i class="icon-comments"></i>
                                <span data-i18n="nav.templates.main" class="menu-title"> Spam Comments </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" id="liAllJob">
                    <a href="@Url.Action("AllJob", "Job")">
                        <i class="icon-file-text"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Jobs</span>
                    </a>
                </li>

                <li class="nav-item" id="liSpamReview">
                    <a href="@Url.Action("SpamReview", "Home")">
                        <i class="icon-file-text"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Spam Review</span>
                    </a>
                </li>

                <li class="nav-item" id="liContactUs">
                    <a href="@Url.Action("ContactUs", "Home")">
                        <i class="icon-mail4"></i>
                        <span data-i18n="nav.templates.main" class="menu-title">Contact Us</span>
                    </a>
                </li>

                @if (MyRole == Role.SuperAdmin)
                {
                    <li class="nav-item" id="liPrivacy">
                        <a href="@Url.Action("PrivacyPolicy", "Home")">
                            <i class="icon-security"></i>
                            <span data-i18n="nav.templates.main" class="menu-title">Privacy & Policy</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liImprint">
                        <a href="@Url.Action("Imprints", "Home")">
                            <i class="icon-question"></i>
                            <span data-i18n="nav.templates.main" class="menu-title">Imprint</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liImprint">
                        <a href="@Url.Action("Terms", "Home")">
                            <i class="icon-point-right"></i>
                            <span data-i18n="nav.templates.main" class="menu-title">Terms & Condition</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liAboutUs">
                        <a href="@Url.Action("AboutUs", "Home")">
                            <i class="icon-info"></i>
                            <span data-i18n="nav.templates.main" class="menu-title">About Us</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liWhatIsStylaaa">
                        <a href="@Url.Action("WhatIsStylaaa", "Home")">
                            <i class="icon-question"></i>
                            <span data-i18n="nav.templates.main" class="menu-title">What Is Stylaaa?</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liWhatIsStylaaaForUser">
                        <a href="@Url.Action("WhatIsStylaaaForUser", "Home")">
                            <i class="icon-question"></i>
                            <span data-i18n="nav.templates.main" class="menu-title">What is Stylaaa for User?</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liWhatIsStylaaaForStylist">
                        <a href="@Url.Action("WhatIsStylaaaForStylist", "Home")">
                            <i class="icon-question"></i>
                            <span data-i18n="nav.templates.main" class="menu-title">What Is Stylaaa For Stylist?</span>
                        </a>
                    </li>
                }
                <li class="nav-item" id="liContactUs">
                    <a href="javascript:;" )">
                        <i></i>
                        <span data-i18n="nav.templates.main" class="menu-title"></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- / main menu-->

    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix text-muted text-sm-center mb-0 px-2">
            <span class="float-md-left d-xs-block d-md-inline-block">
                Copyright  &copy; @DateTime.Now.Year
                <a href="javascript:;" target="_blank" class="text-bold-800 grey darken-2">Stylaaa </a>, All rights reserved.
            </span>
        </p>
    </footer>

    @Scripts.Render("~/jQuery/core")
    @Scripts.Render("~/jQuery/ui")
    <script src="~/Content/Plugins/zoom/zoom.js"></script>
    <script type="text/javascript">

        $(function () {
            $('img').attr('data-action', 'zoom');
        });

    $(function(){
        var status =@status;
        if(status==0){
            toastr.error('@message', '');
        }
        else if (status == 1) {
            toastr.success('@message', '');
        }
        else if(status==2){
            toastr.info('@message', '');
        }
        else if(status==3){
            toastr.warning('@message', '');
        }
        else if(status==4){
            toastr.info('@message', '');
        }
    });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>