﻿@model AddJobModel
@{
                /**/

                /**/

                Layout = null;
}
<style>
    .pac-container {
        z-index: 100000 !important;
    }
</style>
<div class="popup-box">
    <div id="add-job" class="popup-max">
        <div class="" align="center">
            <a href="Javascript:;" title=""><img id="jobloader-post" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
        </div>
        <input type="hidden" id="hdnDeleteJobMediaUrl" value="@Url.Action("DeleteMedia", "Job")" />
        @using (Ajax.BeginForm("AddEditJob", "Job",
                    new AjaxOptions
                    {
                        OnSuccess = "OnSuccessJob",
                        OnFailure = "OnFailure",
                        LoadingElementId = "progress",
                        OnBegin = "return FormJobValidation();"
                    }, new { id = "frm-add-job" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.LocationLatitude)
            @Html.HiddenFor(x => x.LocationLongitude)
            @Html.HiddenFor(x => x.Country)
            @Html.HiddenFor(x => x.HiddenJobFilePath)

            <div class="popup-had">
                @if (Model.Id > 0)
                {
                    <h4>Update Job</h4>
                }
                else
                {
                    <h4>@Resource.AddJobPopup</h4>
                }
                <a href="#" title="" class="cancel-pp" onclick="return confirmSaveJobData();"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
            </div>
            <div class="popup-tabs">
                <ul>
                    <li><a href="#jobupload" title="@Resource.Upload" class="uploadsec">@Resource.Upload</a></li>
                    <li><a href="javascript:void(0)" title="@Resource.Crop" class="checkjobFileUpload">@Resource.Crop</a></li>
                    <li><a href="#jobdescription" title=@Resource.addPostDescription>@Resource.addPostDescription</a></li>
                </ul>
            </div>
            <div class="tabs-full-popup">
                <div id="jobupload">
                    <div class="popup-middle">
                        <div class="crop-box data-div-placeholder-content">
                            <div class="crop-image-section">
                                <div class="img-upload-max"></div>
                                <div><p>@Resource.editProProfileSizeValid</p></div>
                            </div>
                        </div>
                    </div>

                    <div class="upload-button">
                        <p style="color:black; padding-bottom: 10px;">@Resource.AddJobUploadDescription</p>
                    </div>
                    <div class="upload-button">
                        <a href="#" title=@Resource.Upload @Resource.Coverphoto class="btn-yellow">
                            + @Resource.AddJobAddImage
                            <input id="jobnewFile" name="jobnewFile" class="file-input" type="file" multiple onchange="fnUploadNewJobFile('@Url.Action("AddJobMedia", "job")')">
                        </a>
                    </div>

                    <div class="next-button">
                        @*<a href="#" title="Next" class="add-new-file checkjobFileUpload">Skip</a>*@
                        <a href="#" title="Next" class="add-new-file" id="skip">@Resource.skip</a>
                    </div>
                </div>
                <div id="jobcrop" style="display:none;">
                    <div class="crop-box">
                        <div class="pagination-image">
                            <div class="mrg-pg" id="job-crop-image-array">
                            </div>
                            @Html.HiddenFor(x => x.HiddenJobFileName, new { @class = "checkvalue" })
                        </div>
                        <div class="crop-image-section">
                            <canvas id="jobcanvas" class="img-upload-max "></canvas>
                            <div id="jobimage-container" class="addpost-image-container">
                                <img id="jobimage" src="" alt="Picture" class="cropper-hidden">
                            </div>
                            <div class="ps-upload hide">
                                <input type="hidden" id="jobexistFileName" name="existFileName" />
                                <input type="hidden" id="jobexistFileUrl" name="existFileUrl" />
                                <div class="bt-crop">
                                    <input type="button" id="btnLeftRotate" value="@Resource.Crop" title="rotate left" onclick="rotateLeft()" />
                                    <img id="btnCrop" src="@Url.Content("~/Content/images/rotate-left.svg")" title="rotate left" alt="rotate left" style="width: 40px;height: 40px;" />
                                </div>
                                <div class="bt-crop">
                                    <input type="button" id="btnRightRotate" value="@Resource.Crop" title="rotate right" onclick="rotateRight()" />
                                    <img id="btnCrop" src="@Url.Content("~/Content/images/rotate-right.svg")" title="rotate right" alt="rotate right" style="width: 40px;height: 40px;" />
                                </div>
                                <div class="bt-crop">
                                    <input type="button" id="btnCrop" value="@Resource.Crop" title="crop" onclick="fnCropFileforJob('@Url.Action("AddJobImage", "Job")')" />
                                    <img id="btnCrop" src="@Url.Content("~/Content/images/crop-right.svg")" alt="" />
                                </div>
                                <div class="bt-crop-rs">
                                    <input type="button" id="btnRestore" value="@Resource.Restore" title="reset" onclick="fnCropClear()" class="btnsave" />
                                    <img src="@Url.Content("~/Content/images/crop-cancel.svg")" alt="" />
                                </div>
                            </div>
                            <div class="upload-button hide">
                                <a href="#" title="Upload Photo/Video" class="btn-yellow">
                                    @Resource.UploadPhotoVideo
                                    <input class="fileInput" id="JobfileInput" type="file">
                                </a>
                            </div>

                            <div class="loading-label hide" style="padding-top:10px;">
                                <label class="btn-yellow">@Resource.UploadingFile..........</label>
                            </div>
                        </div>
                    </div>
                    <div class="next-button">
                        <a href="#" id="nextcrop" title=@Resource.Next class="btn-yellow">@Resource.Next</a>
                    </div>
                </div>
                <div id="jobdescription" style="display:none;">
                    <div class="popup-middle">
                        <div class="field-rs">
                            <label>@Resource.jobTitle</label>
                            @Html.TextBoxFor(x => x.Title, new { placeholder = Resource.JobTitlePlaceholder })
                        </div>

                        <div class="field-rs">
                            <label>@Resource.Budget</label>
                            @Html.TextBoxFor(x => x.Price, new { placeholder = Resource.BudgetPlaceholder, @onkeypress = "javascript:return EnsureDecimal(event)" })
                        </div>

                        <div class="field-rs">
                            <label>@Resource.AddJobZipcode</label>
                            @Html.TextBoxFor(x => x.ZipCode, new { @placeholder = Resource.zipcode, @class = "googleaddress", @autocomplete = "off" })
                        </div>

                        <div class="field-rs">
                            <label>@Resource.SelectService</label>
                            <div class="check-box">
                                @{
                                    if (Model != null && Model.JobCategoryList != null)
                                    {
                                        for (int i = 0; i < Model.JobCategoryList.Count; i++)
                                        {
                                            @Html.HiddenFor(x => Model.JobCategoryList[i].Id)
                                            <div class="chek-bx">
                                                @Html.CheckBoxFor(x => Model.JobCategoryList[i].Selected, new { id = "PostCategoryList_" + Model.JobCategoryList[i].Id + "___Id", name = Model.JobCategoryList[i].Id })
                                                @Html.LabelFor(x => Model.JobCategoryList[i].Id, Model.JobCategoryList[i].CategoryName, new { @for = "PostCategoryList_" + Model.JobCategoryList[i].Id + "___Id", @class = "check-label" })
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="popup-footer">
                        <input type="submit" class="button share-button" value="@Resource.AddJobSubmitBtn" />
                        <a href="#" title="Cancel" class="button" style="margin-left: 0;" onclick="return confirmSaveJobData();">@Resource.forgotpasswordCancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
