﻿@model List<ViewJobListModel>
@if (Model != null && Model.Any())
{
    foreach (var job in Model)
    {
        <div class="profile-box">
            <div class="profile-bx" style="border: 1px solid #f2f2f2; border-spacing: 3px; border-radius: 5px;">
                <div class="front-bx">
                    <div class="product-img">
                        @if (job.JobFilesList.Count() > 0)
                        {
                            <img style="max-height: 295px; min-height: 295px;" class="pd-img" src="@(GlobalConfig.JobImageUrl + (job.JobFilesList.FirstOrDefault().FileName != null ? job.JobFilesList.FirstOrDefault().FileName : "DefaultJob.jpg"))" alt="" />
                        }
                        else
                        {
                            <img style="max-height: 295px;" class="pd-img" src="@(GlobalConfig.JobImageUrl + "DefaultJob.jpg")" alt="" />
                        }
                    </div>
                    <div class="profile-content">
                        <h5>@job.Title</h5>
                        <h6>@job.Price €</h6>
                    </div>
                    <div class="location-job">
                        <span class="location-icon">@job.Country, @job.Zipcode</span>
                    </div>
                    <div class="profile-btn job-tags">
                        <div class="table">
                            <div class="table-cell">
                                @if (job.JobCategoryList != null)
                                {
                                    foreach (var category in job.JobCategoryList)
                                    {
                                        <a href="#">@category.CategoryName</a>
                                    }
                                }

                            </div>
                            @if (ViewBag.MyRole == Role.Stylist)
                            {
                                <div class="table-cell">
                                    @if (Convert.ToInt32(ViewBag.Credit) > 0)
                                    {
                                        <a href="javascript:;" title="" class="pf-chet"></a>
                                    }
                                    else
                                    {
                                        <a href="#purchas-popup" title="" class="pf-chet"></a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="profile-ps-box">
                    <a href="javascript:;" title="" class="close-profile-message"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>

                    <div class="profile-field">
                        <label>@Resource.message</label>
                        <textarea placeholder="@Resource.typehere"></textarea>
                    </div>
                    @if (job.IsAbleToSend)
                    {
                        <a href="javascript:;" title="Send" data-id="@job.UserId" data-jid="@job.JobId" class="btn-follow sendjobmesssage">@Resource.send</a>
                    }
                    else
                    {
                        if (Convert.ToInt32(ViewBag.Credit) > 0)
                        {
                            <a href="javascript:;" title="Send" data-id="@job.UserId" data-jid="@job.JobId" class="btn-follow sendcredit">@Resource.send</a>
                        }
                        else
                        {
                            <a href="#purchas-popup" title="Send" data-id="@job.UserId" data-jid="@job.JobId" class="btn-follow fancybox">@Resource.send</a>
                        }
                    }
                </div>
            </div>
        </div>
    }

}

