﻿@model GetUserJobs

@if (Model.UserJobList != null)
{

    for (int i = 0; i < Model.UserJobList.Count; i++)
    {
        string notactivediv = "";
        if (Model.UserJobList[i].Status == JobStatus.Deactivate)
        {
            notactivediv = "nt-active-div";
        }
        else if (Model.UserJobList[i].Status == JobStatus.Completed)
        {
            notactivediv = "nt-active-div";
        }
        else
        {
            notactivediv = "";
        }

        <div class="job-bx @notactivediv">
            <div class="product-img">
                @if (Model.UserJobList[i].JobFilesList.Count() > 0)
                {
                    <img class="pd-img" style="max-height: 295px;" src="@(GlobalConfig.JobImageUrl+Model.UserJobList[i].JobFilesList.FirstOrDefault().FileName)" alt="" />
                }
                else
                {
                    <img class="pd-img" style="max-height: 295px;" src="@(GlobalConfig.JobImageUrl + "DefaultJob.jpg")" alt="" />
                }
                
                @if (Model.UserJobList[i].Status == JobStatus.Deactivate)
                {
                    <a href="#" class="job-status job-not-active">@Resource.jobNotActive</a>
                }
                else if (Model.UserJobList[i].Status == JobStatus.Completed)
                {
                    <a href="#" class="job-status job-completed">@Resource.JobCompleted</a>
                }
                else
                {

                }
            </div>
            <div class="profile-content">
                <h5>@Model.UserJobList[i].Title</h5>
                <h6>@Model.UserJobList[i].Price €</h6>
            </div>
            <div class="location-job">
                <span class="location-icon">@Model.UserJobList[i].Country, @Model.UserJobList[i].Zipcode</span>
            </div>
            <div class="profile-btn job-tags">
                <div class="table">
                    <div class="table-cell">
                        @foreach (var job in Model.UserJobList[i].JobCategoryList)
                        {
                            <a href="javascript:;">@job.CategoryName</a>
                        }
                    </div>
                    <div class="table-cell">
                        <div class="product-new-ctn">
                            <div class="product-lk">
                                <div class="more-link">
                                    <img src="~/Content/images/more.svg" alt="" />
                                    <ul class="more-link-bx">
                                        <li><a href="javascript:;" title="Edit" onclick="editJob('@Url.Action("EditJob", "Job", new { id = Model.UserJobList[i].JobId })')">@Resource.edit</a></li>
                                        @if (Model.UserJobList[i].Status == JobStatus.Activated)
                                        {
                                            <li><a href="javascript:;" title="Deactivate" onclick="ActiveTogglejs('@Url.Action("jobActiveToggle", "Job", new { id = Model.UserJobList[i].JobId })')">@Resource.deactivate</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="javascript:;" title="Deactivate" onclick="ActiveTogglejs('@Url.Action("jobActiveToggle", "Job", new { id = Model.UserJobList[i].JobId })')">@Resource.Activate</a></li>
                                        }

                                        <li><a href="javascript:;" title="Delete" onclick="deleteProfileJob('@Url.Action("DeleteJob", "Job", new { id = Model.UserJobList[i].JobId })')">@Resource.delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


