﻿@model UserAboutModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<style>
   
    .select2-dropdown {
        display: block !important;
    }
</style>

<div class="middle-right container">
    @if (Model.Id == User.Identity.GetUserId())
    {
        <div class="titel-top">
            <h3>@Resource.AboutYou</h3>
        </div>
    }
    <div class="middle-right-full">
        <div class="middle-right-max">
            <div class="pf-about-titel">
                <div class="table">
                    <h5>@Resource.Profiledetail</h5>
                    @if (Model.Id == User.Identity.GetUserId())
                    {
                        <a href="#edit-profile" id="edit" title="" class="edit-popup fancybox"><img src="@Url.Content("~/Content/images/edit.svg")" alt="" /></a>
                    }
                </div>
            </div>
            <div class="pf-about-discription" id="userabout">
                <div class="table-rs">
                    <div class="cell-row">
                        <p>@Resource.Name</p>
                    </div>
                    <div class="cell-row">
                        <P>@Model.Name</P>
                    </div>
                </div>
                <div class="table-rs">
                    <div class="cell-row">
                        <P>@Resource.username</P>
                    </div>
                    <div class="cell-row">
                        <P>@Model.UserName</P>
                    </div>
                </div>
                <div class="table-rs">
                    <div class="cell-row">
                        <P>@Resource.gender</P>
                    </div>
                    <div class="cell-row">
                        <P>@(Model.GenderId == Gender.Female ? Resource.female : Resource.male)</P>
                    </div>
                </div>
                <div class="table-rs">
                    <div class="cell-row">
                        <P>@Resource.locationsmall</P>
                    </div>
                    <div class="cell-row">
                        <P>@Model.CountryName, @Model.Zipcode</P>
                    </div>
                </div>
                <div class="table-rs mb-full">
                    <div class="cell-row">
                        <P>@Resource.about</P>
                    </div>
                    <div class="cell-row">
                        <P>@Model.About</P>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- edit profile popup -->
<div class="popup-box">
    <div id="edit-profile" class="popup-max">
        <div class="popup-had">
            <h4>@Resource.userProfileEditPopupHeading</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>

        @using (Html.BeginRouteForm("User", new { username = User.Identity.GetUserName(), action = "About" }, FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.LocationLatitude)
            @Html.HiddenFor(x => x.LocationLongitude)
            <div class="popup-middle">
                <div class="mrg-popup">
                    <div class="popup-half">
                        <div class="field-rs">
                            <label>@Resource.Name</label>
                            @Html.TextBoxFor(x => x.Name, new { @placeholder = Resource.Name })
                        </div>
                    </div>
                    <div class="popup-half">
                        <div class="field-rs">
                            <label>@Resource.username</label>
                            @Html.TextBoxFor(x => x.UserName, new { @placeholder = Resource.username, @class = "user_username" })
                        </div>
                    </div>
                    <div class="popup-half">
                        <div class="field-rs">
                            <label>@Resource.Country</label>
                            @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewData["country"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Group", new { @class = "select2 country-select" })

                        </div>
                    </div>
                    <div class="popup-half">
                        <div class="field-rs">
                            <label>@Resource.zipcode</label>
                            @Html.TextBoxFor(x => x.Zipcode, new { @placeholder = Resource.zipcode, @class = "googleaddress", @autocomplete = "off" })
                        </div>
                    </div>

                    <div class="popup-half">
                        <div class="field-rs">
                            <label>@Resource.gender</label>
                            <div class="defult-select">
                                <div class="defult-sl">
                                    @Html.DropDownListFor(x => x.GenderId, new List<SelectListItem>
                                            {
                                                new SelectListItem{ Text=Resource.male, Value = "1" },
                                                new SelectListItem{ Text=Resource.female, Value = "0" }
                                            }, new { @class = "select2 country-select" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="popup-half full-pp">
                        <div class="field-rs">
                            <label>@Resource.about</label>
                            @Html.TextBoxFor(x => x.About, new { @placeholder = Resource.about })
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <button type="Submit" style="float:left;" class="button share-button">@Resource.contactUsSubmit</button>
                <a href="#" title="@Resource.cancel" data-fancybox-close="true" style="float:left;" class="button cancel-button">@Resource.cancel</a>
            </div>
        }
    </div>
</div>
<style>
    .pac-container {
        z-index: 100000 !important;
    }
</style>
@section profilelayoutscript{
    @Scripts.Render("~/bundles/GoogleMap")
    <script type="text/javascript">

        $(document).ready(function () {
            BindAddressSearch();
        });

        @*function frmforgotpassword(data) {
            if (data) {
                var url = '@Url.RouteUrl("User", new { username = User.Identity.GetUserName(), action = "About" })';
                var strUserName = $("#UserName").val();
                var arrayurl = url.split("/");
                url = url.replace(arrayurl[arrayurl.length - 1], strUserName);
                ShowToastr('success', '@Resource.profilecompleted', '');
                location.href = url;
            }
            else {
                ShowToastr('success', '@Resource.profileCompletedfailed', '');
            }
        };*@

        $(document).ready(function () {
            $('.country-select').select2({
                placeholder: '@Resource.Country',
                allowClear: true
            });
        });


        function loadLoader(data) {
            displayWhiteOverlay();
        };


    </script>

}

