﻿@model GetUserJobs
@{
    ViewBag.Title = "Job";
    Layout = "~/Views/Shared/_Profile.cshtml";
}
@Html.HiddenFor(x => x.RecentJobPageCount)
@Html.HiddenFor(x => x.RecentJobPageIndex)
<div class="middle-right container">
    <div class="titel-top">
        <h3>@Resource.jobs</h3>
        @*<P>You can see all Posted Jobs by.</P>*@
    </div>
    <div class="tabs-listing">
        <div class="full-box">
            <div class="mrg-box my-job" id="profile-job">
                @Html.Partial("~/Views/Job/_ProfileJob.cshtml", Model)
            </div>
            <div class="view-all">
                <a href="#" title="View All" class="btn-noty">View All</a>
                <a href="#purchas-popup" title="Share Profile" class="share-profile fancybox">popup test</a>
            </div>
        </div>
    </div>
</div>
<div id="partial_addEditJob">
    @Html.Partial("~/Views/Job/_AddEditJob.cshtml", new AddJobModel() { JobCategoryList = Model.jobCategoryList })
</div>
<!-- share profile popup -->
<div class="popup-box">
    <div id="purchas-popup" class="popup-max credits-popup">
        <div class="popup-had">

            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="~/Content/images/close.svg" alt="" /></a>
        </div>
        <form>
            <div class="popup-middle">
                <div class="field-rs">
                    <img src="~/Content/images/job-credit-img.png" alt="" />
                    <h4>@Resource.CreditPopupNoCredit</h4>
                    <P>@Resource.CreditPopupSorrymsg</P>
                </div>
            </div>
            <div class="popup-footer">
                <button class="button share-button">@Resource.PurchaseCredit</button>
            </div>
        </form>
    </div>
</div>
@section profilelayoutscript{
    <script src="~/Content/vendor/jquery/GeneralScript.js"></script>
    @Scripts.Render("~/bundles/GoogleMap")
    @Scripts.Render("~/scripts/addditjob")
    @Scripts.Render("~/scripts/jobactivity")
}
