﻿@model GetPostListByUser
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Profile.cshtml";
}

@Html.HiddenFor(x => x.RecentPostPageIndex)
@Html.HiddenFor(x => x.RecentPostPageCount)

<input type="hidden" id="hdnLikePageIndex" name="hdnLikePageIndex" value="1" />
<input type="hidden" id="hdnLikePageSize" name="hdnLikePageSize" value="1" />

<div class="middle-right container">
    <div class="titel-top">
        <h3>@ViewBag.action</h3>
    </div>
    <div class="tabs-listing">
        <div class="full-box">
            <div class="mrg-box" id="profile-post">
                <input type="hidden" id="hdnSharePostId" />
                @Html.Partial("~/Views/Post/_ProfilePost.cshtml", Model)
            </div>
            @if (Model.RecentPostPageIndex < Model.RecentPostPageCount)
            {
                <div class="view-all">
                    <a href="javascript:void(0)" title="@Resource.ViewMore" class="btn-noty" onclick="loadMorePost()">@Resource.ViewMore</a>
                </div>
            }
            </div>
    </div>
</div>

<div id="partial_addEditPost">
    @Html.Partial("~/Views/Post/_addEditPost.cshtml", new AddPostModel() { PostCategoryList = Model.CategoryList })
</div>

<div class="popup-box">
    <div id="like-activity" class="popup-max like-activity">
        <div class="popup-had" style="width: 91% !important;margin: 0px 20px;padding-bottom: 20px; border-bottom:1px solid #f2f2f2;">
            <input type="hidden" id="hdnLikePostId" />
            <h4>@Resource.LikesActivity (<span class="like-count"></span>)</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true">
            <img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="over-scroll like-activity-over-scroll">
            <div class="like-activity-pd">
                <div class="popup-middle border-bb">
                    <div id="partial_likes_activity" class="">
                        @Html.Partial("~/Views/Post/_likesActivity.cshtml", new List<ViewLikeModel>())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="partial_postdetail">
    @Html.Partial("~/Views/Post/_PostDetailAndComments.cshtml", new PostViewDetailModel())
</div>

<div id="div-share-post">
    @Html.Partial("~/Views/Post/_SharePost.cshtml")
</div>
@section profilelayoutscript{
    @Scripts.Render("~/scripts/addditpost")
    @Scripts.Render("~/scripts/postactivity")
}



