﻿@model AddAdminUserModel
@{
    ViewBag.Title = "AddAdminUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("AddAdminUser", "Account", FormMethod.Post))
            {            
                @Html.ValidationSummary(true)
                <div class="card box-shadow-0">
                    <div class="card-header ">
                        <h4 class="card-title">Add Admin User</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>                        
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                             Name <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Name)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Email  <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @if (Model != null)
                                            {
                                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control required", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(x => x.Email)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(x => x.Email)
                                            }
                                        </div>
                                    </div>                                   
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Gender <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(x => x.GenderId, new List<SelectListItem>
                                            {
                                                new SelectListItem{ Text=Resource.male, Value = "1" },
                                                new SelectListItem{ Text=Resource.female, Value = "0" },
                                                new SelectListItem{ Text="Other", Value = "2" },
                                            }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.GenderId)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Password <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control required",@type="password" })
                                            @Html.ValidationMessageFor(x => x.Password)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Confirm Password <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control required", @type = "password" })
                                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")    
    @Scripts.Render("~/bundles/DateTimePicker")
    <script>
        ActiveMenu("AddAdminUser")
    </script>

}
