﻿@model AdminConfirmOtpModel
@{
    Layout = null;
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
    var EmailedOtp = TempData["OtpNumber"];
}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>OTP Confirm Page - Stylaaa</title>
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152.png")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Files/DefaultImages/favicon/favicon.ico")">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32.png")">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    @Styles.Render("~/css/bundles")
    @Styles.Render("~/css/icheck")
    @Styles.Render("~/css/login-register")
</head>
<body data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column  blank-page blank-page">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0" style="background-color: #ffcd37;">
                            <div class="card-header no-border" style="background-color: #ffcd37;">
                                <div class="card-title text-xs-center">
                                    <div class="p-1"><img src="@Url.Content("~/Files/DefaultImages/Appicon.png")" alt="branding logo"></div>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Confirm One time password</span></h6>
                            </div>
                            <div class="card-body collapse in">
                                <div class="col-lg-12"></div>
                                <div class="clearfix"></div>
                                <div class="card-block">
                                    @using (Html.BeginForm("ConfirmOTP", "Account", FormMethod.Post, new { @class = "form-horizontal form-simple", @id = "formOtpConfirm" }))
                                    {
                                        @Html.Hidden("hdnOtp", EmailedOtp)
                                        <fieldset class="form-group position-relative has-icon-left">
                                            @Html.TextBoxFor(X => X.ConfirmOtp, new { @class = "form-control form-control-lg input-lg", @placeholder = "Enter OTP" })
                                            <div class="form-control-position">
                                                <i class="icon-key3"></i>
                                            </div>
                                        </fieldset>
                                        <button type="button" id="otpmatch" class="btn btn-primary btn-lg btn-block"><i class="icon-unlock2"></i> Login</button>
                                        @Html.ValidationSummary(true);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        @Scripts.Render("~/jQuery/bundles")
        @Scripts.Render("~/jQuery/validate")
        @Scripts.Render("~/jQuery/iCheck")
        @Scripts.Render("~/jQuery/login-register")
        @Scripts.Render("~/jQuery/ui")
        <script type="text/javascript">

             $(function(){
                var status =@status;
                if(status==0){
                    toastr.error('@message', '');
                }
                else if (status == 1) {
                    toastr.success('@message', '');
                }
                else if(status==2){
                    toastr.info('@message', '');
                }
                else if(status==3){
                    toastr.warning('@message', '');
                }
                else if(status==4){
                    toastr.info('@message', '');
                }
            });


            $('#otpmatch').on('click', function () {
                var otp1 = $('#hdnOtp').val();
                var otp2 = $('#ConfirmOtp').val();
                if (otp2 != null) {
                    if (otp1 == otp2) {                        
                        $('#formOtpConfirm').submit();
                    }
                    else {
                        toastr.error('OTP not match', '');                        
                    }
                }
                else {                   
                    toastr.error('Please enter OTP', '');
                }
            });


        </script>
    </div>
</body>
</html>
