﻿@model UpgradeCreditModel
@{
    ViewBag.Title = "AddCreditPackage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string action = ViewBag.Action;
    
}

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(action, "Premium", FormMethod.Post))
            {
                if (action == "EditCredit")
                {
                    @Html.HiddenFor(x => x.UpgradeCreditId)
                }
                @Html.ValidationSummary(true)
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header">

                        @if (action == "EditCredit")
                        {
                            <h4 class="card-title">
                                Edit Credit Package
                            </h4>
                        }
                        else
                        {
                            <h4 class="card-title">
                                Add Credit Package
                            </h4>
                        }
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="@Url.Action("Credit","Premium")">
                                        View Credit Packages
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Credit <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Credit, new { @class = "form-control", @onkeypress = "javascript:return EnsureDecimal(event)" })
                                            @Html.ValidationMessageFor(x => x.Credit)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Price <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", @onkeypress = "javascript:return EnsureDecimal(event)" })
                                            @Html.ValidationMessageFor(x => x.Amount)
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-md btn-primary" value="@action" />
                                <a href="@Url.Action("Credit","Premium")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Jquery/GeneralScript.js")"></script>
    <script type="text/javascript">
        ActiveMenu("CreditPackage");
    </script>
}
