﻿@model  PagedList.IPagedList<StylistTransactionHistory>
@using PagedList.Mvc
@{
    ViewBag.Title = "SoldPackages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/icheck")

@using (Html.BeginForm("DeleteTransaction", "Premium", FormMethod.Post, new { @class = "form-horizontal form-simple", @id = "frmDelete" }))
{
    @Html.Hidden("Id")
    @Html.Hidden("Credit")
}

@using (Html.BeginForm("MarkAsSent", "Premium", FormMethod.Post, new { @class = "form-horizontal form-simple", @id = "FrmMarkDelete" }))
{
    @Html.Hidden("Id")
    @Html.Hidden("Credit")
}

<style>
    .table td {
        padding: -0.25rem 1rem;
    }

    .table th {
        padding: -0.25rem 1rem;
    }

    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sold Packages</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block card-dashboard">
                    <p></p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Checked</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Package</th>
                                <th>Credit</th>
                                <th>amount</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Created Date</th>
                                <th>Upload</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    @if (Model[i].IsSended)
                                    {
                                        <td><input type="checkbox" style="width: 18px;" checked class="chkGroup ischecked icheckbox_square-blue" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" style="width: 18px;" class="chkGroup ischecked icheckbox_square-blue" /></td>
                                    }

                                    <th><a href="@Url.Action("Detail", "User", new { @id = Model[i].StylistId })">@Model[i].StylistName</a></th>
                                    <td>@Model[i].Email</td>
                                    <td>@Model[i].PackageName</td>
                                    @if (Model[i].Credit > 0)
                                    {
                                        <td>@Model[i].Credit</td>
                                    }
                                    else
                                    {
                                        <td>- -</td>
                                    }

                                    <td>@Model[i].Amount</td>
                                    <td>@(@Model[i].IsPremiume ? Model[i].SubscriptionStart.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "- -")</td>
                                    <td>@(Model[i].IsPremiume ? Model[i].EndDate.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) : "- -")</td>
                                    <td>@Model[i].CreatedDate</td>
                                    <td>
                                        <input type="file" data-id="@Model[i].StylistId" onchange="fnUploadFile(this);" class="form-control-file fileReceipt" id="exampleInputFile">
                                        <a href="javascript:;" data-tid="@Model[i].Id" data-cid="@Model[i].Credit" class="uploadfile btn btn-sm btn-primary btn-green activate" data-id="Id" style="display:none">
                                            <i class="icon-check"></i> upload
                                        </a>
                                    </td>

                                    <td>
                                        <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-isp="@(Model[i].Credit)" data-id="@(Model[i].Id)">
                                            <i class="icon-trash4"></i> Delete
                                        </a>
                                        @if (Model[i].IsSended == false)
                                        {
                                            <a href="javascript:;" class="btn btn-sm btn-primary btn-green activate btnMark" data-id="@(Model[i].Id)" data-crid="@(Model[i].Credit)">
                                                <i class="icon-check"></i> Mark As Send
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" class="btn btn-sm btn-primary btn-red activate btnMark" data-id="@(Model[i].Id)" data-crid="@(Model[i].Credit)">
                                                <i class="icon-check"></i> Remove from Mark
                                            </a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div id="container" style="margin-left: 20px">
                    <p></p>
                    <p></p>
                    <div class="pagination" style="margin-left: 400px">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("SoldPackages", "Premium", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/jQuery/iCheck")
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        //ActiveMenu("SubscribedCredits");
        ActiveMenu("SoldPackages");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');

        $('.btnDelete').on('click', function () {
            $('#frmDelete #Id').val($(this).data('id'));
            $('#frmDelete #Credit').val($(this).data('isp'));
            swal({
                title: "Are you sure?",
                //text: "You will not be able to recover this Transaction and related data",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DA4453",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel.",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("Delete!", "Selected Category will be deleted, and will not be rollback!!", "success");
                    $('#frmDelete').submit();
                    return true;
                } else {
                    swal("Cancelled", "It's safe.", "error");
                }
            });
        });

        $('.btnMark').on('click', function () {
            $('#FrmMarkDelete #Id').val($(this).data('id'));
            $('#FrmMarkDelete #Credit').val($(this).data('crid'));
            swal({
                title: "Are you sure ?",
                //text: "You will not be able to recover this Transaction and related data",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DA4453",
                confirmButtonText: "Yes!",
                cancelButtonText: "No, cancel.",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("Success!", "", "success");
                    $('#FrmMarkDelete').submit();
                    return true;
                } else {
                    swal("Cancelled", "It's safe.", "error");
                }
            });
        });

        function fnUploadFile(data) {
            var control = $(this);
            $(data).parent().find('a').show();
        }

        $(document).on('click', '.uploadfile', function ()
        {
            var control = $(this);
            var Id = $(this).data('tid');
            var Credit = $(this).data('cid');
            var imagefile = $(this).parent().find('input[type=file]').val();
            var ext = imagefile.substring(imagefile.lastIndexOf('.') + 1).toLowerCase();
            console.log(ext);
            if (ext == "pdf") {
                var file = $(this).parent().find('input[type=file]');//.files[0];
                console.log($(this).parent().find('input[type=file]').get(0).files.length);

                if ($(file).get(0).files.length) {
                    var formData = new FormData();
                    var xmlreq = new XMLHttpRequest();
                    formData.append('image', $(file).get(0).files[0]);
                    formData.append('Id', Id);
                    formData.append('Credit', Credit);
                    $.ajax({
                        url: '@Url.Action("AddImage", "Premium")',
                        data: formData,
                        type: 'POST',
                        contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                        processData: false, // NEEDED, DON'T OMIT THIS
                        success: function (result) {
                            console.log('success');
                            $(control).hide();
                            $(control).parent().find('input[type=file]').val('');
                            toastr.success('File Uploaded for this Record', '');
                        },
                        error: function () {
                            toastr.error('Failed to upload file', '');

                        }
                    });
                }
            }
            else
            {
                toastr.error('Please Upload only pdf file', '');
            }
        });

    </script>
}

