﻿@model List<SubscribedCreditStylist>
@using GridMvc.Html
@{
    ViewBag.Title = "SubscribedCreditStylist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/gridMvc")

@helper LoadLink(SubscribedCreditStylist item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.StylistId })">@item.StylistName</a>
}

@helper LoadLiveLink(SubscribedCreditStylist item)
{
    <a href="@(GlobalConfig.baseUrl+"Stylist/"+item.StylistUsername)"> View Profile</a>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Credit Subscribed Stylist </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                               .Titled("Stylist")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => LoadLink(x));

                               column.Add(p => p.Email)
                               .Titled("Email")                               
                               .Filterable(true)
                               .Sanitized(false).Encoded(false);


                               column.Add(p => p.Credit)
                               .Titled("Credit")
                               .Sortable(true)
                               .Filterable(true);

                               column.Add(p => p.Price)
                               .Titled("Amount(€)")
                               .Sortable(true)
                               .Filterable(true);

                               column.Add(p => p.CurrentCredit)
                               .Titled("CurrentCredit")
                               .Sortable(true)
                               .Filterable(true);

                               column.Add(p => p.CreatedDate)
                               .Titled("Created Date")
                               .Sortable(true)
                               .Filterable(true)
                                .RenderValueAs(p => p.CreatedDate.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture));

                               column.Add()
                              .Titled("View Profile")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadLiveLink(x));


                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        //ActiveMenu("SubscribedCredits");
        ActiveMenu("CreditPackage");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');

    </script>
}
