﻿@model IQueryable<GetAllJobList>
@using GridMvc.Html
@{
    ViewBag.Title = "AllJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@helper LoadImage(GetAllJobList item)
{
    if (item.ProfileImageNAme != null)
    {
        <img src="@(GlobalConfig.UserImageUrl + item.ProfileImageNAme )" @*alt="@item.Name"*@ height="100" width="100" />
    }
    else
    {
        <img src="~/Files/DefaultImages/video.png" @*alt="@item.Name"*@ height="100" width="100" />
    }
}

@helper ActionButtons(long JobId)
{
    <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@JobId">
        <i class="icon-trash4"></i> Delete
    </a>
      
}

@helper LoadJobBy(GetAllJobList item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.UserId})">@item.Name</a>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Jobs </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                              .Titled("User")
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadImage(x));

                               column.Add(p => p.Name)
                               .Titled("Name")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => LoadJobBy(x));

                               column.Add(p => p.Title)
                               .Titled("Title")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false);

                               column.Add(p => p.Amount)
                               .Titled("Amount")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false);


                               column.Add(p => p.Zipcode)
                              .Titled("Zipcode")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false);

                               column.Add(p => p.JobStatus)
                              .Titled("Status")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false);

                               column.Add(p => p.CreatedDate)
                             .Titled("Created Date")
                             .Sortable(true)
                             .Filterable(true)
                             .RenderValueAs(p => p.CreatedDate.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture));

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.JobId));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("AllJob");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
        $(function () {
            $('.btnDelete').on('click', function () {
                var control = $(this);
                var Url = '@Url.Action("DeletejobByAdmin", "Job")';               
                swal({
                    title: "Are you sure?",
                    //text: "You will not be able to recover user related data",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel.",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {                                    
                                    control.parent().parent().hide();
                                }, 300);
                                swal("Deleted!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }                    
                });
            });
        });

    </script>
}
