﻿@model IQueryable<SendMessagesFromAdmin>
@using GridMvc.Html
@{
    ViewBag.Title = "AdminMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/gridMvc")

@helper ActionButtons(long MessageId)
{
    <a href="@Url.Action("DeleteMessage", "Home", new { @Id = MessageId })" class="btn btn-sm btn-danger btnDelete" data-id="@MessageId">
        <i class="icon-trash4"></i> Delete
    </a>
}

@helper LoadImage(SendMessagesFromAdmin item)
{
    <img src="@(GlobalConfig.UserImageUrl + item.ProfileImage )" alt="@item.Name" height="100" width="100" />
}

@helper LoadName(SendMessagesFromAdmin item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.UserId })">@item.Name</a>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Messages to @ViewBag.action</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                @*<a href="Url.Action("Add","Category")">
                                        <i class="icon-plus3"></i>  Add New Category
                                    </a>*@
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                             .Titled("UserProfile")
                             .Sanitized(false).Encoded(false)
                             .RenderValueAs(x => LoadImage(x));

                               column.Add(p => p.Name)
                             .Titled("User")
                             .Sortable(true)
                             .Filterable(true)
                             .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadName(x));

                               column.Add(p => p.MessageText)
                             .Titled("Message")
                             .Sortable(true)
                             .Filterable(true);

                               column.Add(p => p.Date)
                             .Titled("Date")
                             .Sortable(true)
                             .Filterable(true);

                               column.Add()
                              .Titled("Action")
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => ActionButtons(x.MessageId));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">

        ActiveMenu("MessagesfromAdmin");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');

        //var SelectedOffers = [];

        //    $('#checkAll').on('click', function () {
        //        SelectedOffers.length = 0;
        //        if ($(this).val() == 'Check All') {
        //            $(".selectuser").prop('checked', true);
        //            $(this).val('Uncheck All');
        //        } else {
        //            $(".selectuser").prop('checked', false);
        //            $(this).val('Check All');
        //        }
        //    });


        //function CheckAllList() {
        //    SelectedOffers.length = 0;
        //    $(".selectuser").prop('checked', true);
        //}

        //var SelectedUsers = [];
        //function DeleteSelectedUser() {
        //    SelectedUsers = [];
        //    $('.table .selectuser').each(function () {
        //        if ($(this).prop('checked'))
        //        {
        //            SelectedUsers.push($(this).data('uid'));
        //        }
        //    });
        //    console.log(msg);
        //    console.log(SelectedUsers);
        //    if (SelectedUsers.length)
        //    {
        //        var msg = $('#TextMessage').val();
        //        $('#MessageText').val(msg);
        //        if (msg)
        //        {
        //            $('#SelectedUserId').val(SelectedUsers.join(','));
        //            var Ids = $('#SelectedUserId').val();
        //            $('#SelectedUserId').val(Ids);
        //            $('#frmSendMsg').submit();
        //        }
        //        else {
        //            toastr.warning('Please Write message', 'Warning !');
        //            return false;
        //        }
        //    }
        //    else {
        //        toastr.warning('Please select atleast one User', 'Warning !');
        //        return false;
        //    }
        //}


    </script>
}

