﻿@model IQueryable<AdminViewBookingModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@helper ActionButtons(long JobId)
{
    <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@JobId">
        <i class="icon-trash4"></i> Delete
    </a>

}

@helper Catlist(List<AdminCategoryLIst> tagList)
{
    <ul>
        @foreach (var tag in tagList)
        {
            <li>@tag.CategoryName</li>
        }
    </ul>
}

@helper SubCatlist(List<AdminSubcategoryList> tagList)
{
    <ul>
        @foreach (var tag in tagList)
        {
            <li>@tag.SubCategoryName</li>
        }
    </ul>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Bookings</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {

                               column.Add(p => p.Name)
                               .Titled("Name")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false);

                               column.Add(p => p.Email)
                               .Titled("Email")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false);

                               column.Add(p => p.PhoneNumber)
                               .Titled("PhoneNumber")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false);

                               column.Add(p => p.Address)
                               .Titled("Address")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false);
                                

                               column.Add(p => p.CategoryName)
                              .Titled("CategoryName")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => Catlist(x.CategoryList));

                               column.Add(p => p.SubCategoryName)
                              .Titled("SubCategoryName")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => SubCatlist(x.SubCategoryList));

                               column.Add(p => p.DateTime)
                             .Titled("DateTime")
                             .Sortable(true)
                             .Filterable(true)
                             .RenderValueAs(p => p.DateTime.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture));

                               column.Add(p => p.Gender)
                              .Titled("Gender")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false);

                               column.Add(p => p.Notice)
                              .Titled("Notice")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false);

                               column.Add(p => p.PaymentType)
                              .Titled("PaymentType")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false);

                               column.Add(p => p.Price)
                              .Titled("Price(€)")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false);

                               column.Add(p => p.RoadAccessCost)
                              .Titled("Road access cost(€)")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false);

                               column.Add(p => p.Total)
                              .Titled("Total(€)")
                              .Sortable(true)
                              .Filterable(true)
                              .Sanitized(false).Encoded(false);

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.Id));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("Bookings");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
        $(function () {
            $('.btnDelete').on('click', function () {
                var control = $(this);
                var Url = '@Url.Action("DeleteBooking", "Home")';
                swal({
                    title: "Are you sure?",
                    //text: "You will not be able to recover user related data",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel.",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    control.parent().parent().hide();
                                }, 300);
                                swal("Deleted!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                });
            });
        });

    </script>
}


