﻿@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>login</title>
</head>
<body>
    <div class="card">


        <div class="card-block">
            <div class="row">
                
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">Stylist</span>
                                @if (ViewBag.stylish != null)
                                {
                                    <span class="font-large-3 line-height-1 text-bold-300">@ViewBag.stylish</span>
                                }
                                else
                                {
                                    <span class="font-large-3 line-height-1 text-bold-300">00</span>
                                }

                            </div>

                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">Users</span>
                                @if (ViewBag.user != null)
                                {
                                    <span class="font-large-3 line-height-1 text-bold-300">@ViewBag.user</span>
                                }
                                else
                                {
                                    <span class="font-large-3 line-height-1 text-bold-300">00</span>
                                }
                            </div>

                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 border-right-grey border-right-lighten-3 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">Request From User</span>
                                @if (ViewBag.request != null)
                                {
                                    <span class="font-large-3 line-height-1 text-bold-300">@ViewBag.request</span>
                                }
                                else
                                {
                                    <span class="font-large-3 line-height-1 text-bold-300">00</span>
                                }
                            </div>

                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12 clearfix">
                            <div class="float-xs-left pl-2">
                                <span class="grey darken-1 block">Post</span>
                                @if (ViewBag.post != null)
                                {
                                    <span class="font-large-3 line-height-1 text-bold-300">@ViewBag.post</span>
                                }
                                else
                                {
                                    <span class="font-large-3 line-height-1 text-bold-300">00</span>
                                }
                            </div>

                        </div>            
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("Dashboard");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
    </script>
}


