﻿@model IQueryable<UserDetailModel>
@using GridMvc.Html
@{
    ViewBag.Title = "SendToStylist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")
@Styles.Render("~/css/icheck")


@using (Html.BeginForm("SendToAll", "Home", FormMethod.Post, new { @id = "frmSendMsg" }))
{
    @Html.Hidden("SelectedUserId");
    @Html.Hidden("MessageText");
}

@helper LoadName(UserDetailModel item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.UserId })">@item.Name</a>
}


@helper GetCheckBox(string Userid)
{
    <input type="checkbox" data-uid="@Userid" class="selectuser chkGroup ischecked icheckbox_square-blue" />
}

@helper LoadImage(string ImageName)
{
if (!String.IsNullOrWhiteSpace(ImageName))
{
        <img src="@(GlobalConfig.UserImageUrl + ImageName )" alt="@ImageName" height="100" width="100" />
}
else
{
        <img src="@Url.Content("~/Files/DefaultImages/profile-placeholder.png")" alt="Default-Image" height="100" width="100" />
}
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Message</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>               
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <textarea placeholder="Write here" id="TextMessage" style="width:100%;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All @ViewBag.active</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div id="toolbar">
                    <a href="javascript:;" onclick="DeleteSelectedUser()" class="btn btn-success btn-rounded IsAdd" ID="lnkbtnAdd">
                        <i class="fa fa-plus"></i>&nbsp;Send
                    </a>
                    <a href="javascript:;" @*onclick="CheckAllList()"*@ id="checkAll" value="Check All" class="btn btn-success btn-rounded IsAdd" ID="lnkbtnAdd">
                        <i class="fa fa-plus"></i>&nbsp;Select All
                    </a>
                </div>               
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body checkedUser">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                               .Titled("Select")
                             .Encoded(false)
                             .Sanitized(false)
                               .RenderValueAs(x => GetCheckBox(x.UserId));

                               column.Add()
                              .Titled("profile")
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadImage(x.ProfileImage));

                               column.Add(p => p.Name)
                               .Titled("Full Name")
                               .Filterable(true)
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => LoadName(x));

                               column.Add(p => p.Email)
                               .Titled("Email")
                               .Filterable(true);

                               column.Add(p => p.Gender)
                              .Titled("Gender")
                              .Filterable(true);


                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    @Scripts.Render("~/jQuery/iCheck")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript"> 
        ActiveMenu("SendMessages");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
        
        var SelectedOffers = [];

            $('#checkAll').on('click', function () {
                SelectedOffers.length = 0;
                if ($(this).val() == 'Check All') {
                    $(".selectuser").prop('checked', true);
                    $(this).val('Uncheck All');
                } else {
                    $(".selectuser").prop('checked', false);
                    $(this).val('Check All');
                }
            });


        //function CheckAllList() {
        //    SelectedOffers.length = 0;
        //    $(".selectuser").prop('checked', true);
        //}

        var SelectedUsers = [];
        function DeleteSelectedUser() {
            SelectedUsers = [];
            $('.table .selectuser').each(function () {
                if ($(this).prop('checked'))
                {
                    SelectedUsers.push($(this).data('uid'));
                }
            });           
            console.log(msg);
            console.log(SelectedUsers);
            if (SelectedUsers.length)
            {
                var msg = $('#TextMessage').val();
                $('#MessageText').val(msg);
                if (msg)
                {
                    $('#SelectedUserId').val(SelectedUsers.join(','));
                    var Ids = $('#SelectedUserId').val();
                    $('#SelectedUserId').val(Ids);
                    $('#frmSendMsg').submit();
                }
                else {
                    toastr.warning('Please Write message', 'Warning !');
                    return false;
                }                
            }
            else {
                toastr.warning('Please select atleast one User', 'Warning !');
                return false;
            }
        }


    </script>
}



