﻿@model IQueryable<SpamReviewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "SpamReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@helper LoadSpamByName(SpamReviewModel item)
{
if (item.SpamByName == null)
{
        <a href="@Url.Action("Detail", "User", new { @id = item.SpamById })">Not Available</a>
}
else
{
        <a href="@Url.Action("Detail", "User", new { @id = item.SpamById })">@item.SpamByName</a>
}

}

@helper LoadSpamOnName(SpamReviewModel item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.SpamOnId })">@item.SpamOnName</a>
}

@helper LoadReviewByName(SpamReviewModel item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.ReviewById })">@item.ReviewBy</a>
}

@helper ActionButtons(long ReviewId)
{
    <a href="@Url.Action("DeleteSpamREview", "Home", new { @Id = ReviewId })" class="btn btn-sm btn-danger btnDelete" data-id="@ReviewId">
        <i class="icon-trash4"></i> Delete
    </a>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Spam Review </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                @*<a href="Url.Action("Add","Category")">
                                        <i class="icon-plus3"></i>  Add New Category
                                    </a>*@
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(p => p.SpamOnName)
                             .Titled("Stylist")
                             .Sortable(true)
                             .Filterable(true)
                             .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadSpamOnName(x));

                               column.Add()
                             .Titled("ReviewBy")
                             .Sortable(true)
                             .Filterable(true)
                             .Sanitized(false).Encoded(false)
                             .RenderValueAs(x => LoadReviewByName(x));

                               column.Add(p => p.ReviewText)
                             .Titled("Review")
                             .Sortable(true)
                             .Filterable(true);

                               column.Add()
                               .Titled("SpamByUser")
                               .Sortable(true)
                               .Filterable(true)
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => LoadSpamByName(x));

                               column.Add(p => p.ReasonText)
                               .Titled("Reason")
                               .Sortable(true)
                               .Filterable(true);

                               column.Add()
                             .Titled("Delete")
                             .Sanitized(false).Encoded(false)
                             .RenderValueAs(x => ActionButtons(x.ReviewId));

                           }).Selectable(false).WithPaging(30)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("SpamReview");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');

        //$('.btnDelete').on('click', function () {
        //    $('#frmDeleteContactUs #Id').val($(this).data('id'));
        //    swal({
        //        title: "Are you sure?",
        //        //text: "You will not be able to recover this Contact and related data",
        //        type: "warning",
        //        showCancelButton: true,
        //        confirmButtonColor: "#DA4453",
        //        confirmButtonText: "Yes, delete it!",
        //        cancelButtonText: "No, cancel.",
        //        closeOnConfirm: false,
        //        closeOnCancel: false
        //    }, function (isConfirm) {
        //        if (isConfirm) {
        //            swal("Delete!", "Selected Contact will be deleted, and will not be rollback!!", "success");
        //            $('#frmDeleteContactUs').submit();
        //            return true;
        //        } else {
        //            swal("Cancelled", "It's safe.", "error");
        //        }
        //    });
        //});
    </script>
}








