﻿@model TermsModel
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/wizard")
@Styles.Render("~/css/summernote")

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Terms & Condition</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm("UpdateTerms", "Home", FormMethod.Post, new { @id = "frmterms", @class = "steps-validation wizard-circle" }))
                        {
                            if (Model != null && Model.Id > 0)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }
                            for (int i = 0; i < Model.TermsLanguageModelList.Count; i++)
                            {
                                @Html.HiddenFor(x => x.TermsLanguageModelList[i].LanguageId)
                                <h6>@Model.TermsLanguageModelList[i].LanguageName</h6>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-11">
                                                @Html.TextAreaFor(x => x.TermsLanguageModelList[i].Content)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                            @*<div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">

                                            <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                </div>*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/summernote")
    <script src="@Url.Content("~/Content/Jquery/GeneralScript.js")"></script>
    @Scripts.Render("~/jQuery/stepWizard")
    <script type="text/javascript">
        ActiveMenu("Terms")
        //$(function () {
        //    $('#TermsConditions').summernote({
        //        height: 200,                 // set editor height
        //        minHeight: null,             // set minimum height of editor
        //        maxHeight: null,             // set maximum height of editor
        //        focus: false,
        //        toolbar: [
        //            ['style', ['bold', 'italic', 'underline', 'clear']],
        //            ['fontsize', ['fontsize']],
        //            ['color', ['color']],
        //            ['para', ['ul', 'ol', 'paragraph']],
        //            ['height', ['height']],
        //        ],
        //    });
        //});

        $(function () {
            $('textarea[name^="TermsLanguageModelList"]').summernote({
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false
                //,
                //toolbar: [
                //    ['style', ['bold', 'italic', 'underline', 'clear']],
                //    ['fontsize', ['fontsize']],
                //    ['color', ['color']],
                //    ['para', ['ul', 'ol', 'paragraph']],
                //    ['height', ['height']],
                //],
            });
        });

        $('a[href="#finish"]').on('click', function () {
            $('#frmterms').submit();
        });
    </script>
}





