﻿@model WhatIsStylaaaForStylistModel
@{
    ViewBag.Title = Resource.WhatIsStylaaaForStylist + "?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/summernote")
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@Resource.WhatIsStylaaaForStylist?</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></l i>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm("WhatIsStylaaaForStylist", "Home", FormMethod.Post, new { @id = "frmWhatIsStylaaaForStylist", @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-11">
                                        @Html.TextAreaFor(x => x.WhatIsStylaaaForStylistText)
                                        @Html.ValidationMessageFor(x => x.WhatIsStylaaaForStylistText)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="submit" class="btn btn-md btn-primary" value="Save" />
                                        <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/summernote")
    <script type="text/javascript">
        ActiveMenu("WhatIsStylaaaForStylist")
        $(function () {
            $('#WhatIsStylaaaForStylistText').summernote({
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false
                //,
                //toolbar: [
                //    ['style', ['bold', 'italic', 'underline', 'clear']],
                //    ['fontsize', ['fontsize']],
                //    ['color', ['color']],
                //    ['para', ['ul', 'ol', 'paragraph']],
                //    ['height', ['height']],
                //],
            });
        });
    </script>
}