﻿@model CountryModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = "ManageCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(Action, "Country", FormMethod.Post, new { @id = "frmAddEdit" }))
            {
                if (Model != null && Model.CountryId > 0)
                {
                    @Html.HiddenFor(x => x.CountryId)
                }

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@Action Country</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            @Html.ValidationSummary(true)
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-5"> Enter Country Name <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Please enter category name"></span></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.Name)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-md btn-primary" value="Save" />
                                            <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Jquery/GeneralScript.js")"></script>
    <script type="text/javascript">
        ActiveMenu('Country')
    </script>
}


