<!DOCTYPE html>
<html lang="en-GB" style="box-sizing: border-box;outline: none !important;">
   <head style="box-sizing: border-box;outline: none !important;">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;outline: none !important;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="box-sizing: border-box;outline: none !important;">
   
      <!-- <title style="box-sizing: border-box;outline: none !important;">Stylaaa - Neues Angebot für Dich!</title> -->
      
	  <style style="box-sizing: border-box;outline: none !important;">
        @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700&subset=devanagari,latin-ext');
        
    </style>
   </head>
   <body class="email-bg" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;width: 100%;font-family: 'Poppins', sans-serif;-webkit-text-size-adjust: none;font-weight: 400;font-size: 16px;line-height: 22px;background: #fff;outline: none !important;">  
 
	  <header class="hader-email container" style="box-sizing: border-box;line-height: 1px;display: block;padding-left: 40px;padding-right: 40px;float: left;width: 100%;height: 255px; background: url('https://www.stylaaa.com/Files/EmailTemplate/RegisterImages/had-bg.jpg') no-repeat 0 0; no-repeat 0 0;text-align: center;background-size: cover;outline: none !important;">
        <div class="row" style="box-sizing: border-box;border: 0;padding: 0;width: 100%;max-width: 1360px;position: relative;height: 100%;outline: none !important;">            
            <table style="margin: -200px 0 0 0;width: 100%;box-sizing: border-box;border: 0;margin: 0;padding: 0;outline: none !important;"  background="https://www.stylaaa.com/Files/EmailTemplate/RegisterImages/had-bg.jpg">

                <tr class="table-cell" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;display: table-cell;vertical-align: middle;outline: none !important;">
				<br/>
                    <td style="width: 10%;margin-top: 0;float: left;box-sizing: border-box;border: 0;margin: 0;padding: 0;outline: none !important;">
                      <a href="#" title="Stylaaa" style="box-sizing: border-box;border: 0;margin: 0;padding-left: 8px;text-decoration: none;outline: none !important;"><img class="logo-stylaaa" src="https://www.stylaaa.com/Files/EmailTemplate/RegisterImages/logo.png" alt="" style="box-sizing: border-box;border: 0;margin: 0;padding-left: 8px;padding-top:8px;width: 120px;outline: none !important;"></a>
                    </td>
                    <td class="email-title-row" style="float: left;width: 80%;margin-top: 22px;box-sizing: border-box;border: 0;margin: 0;padding: 20px;outline: none !important;">
					<center>
					<br/>
                        <img src="https://www.stylaaa.com/Files/EmailTemplate/RegisterImages/whitebag.png" alt="" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;display: inline-block;outline: none !important;">
                        <span style="box-sizing: border-box;border: 0;margin: 0;padding: 0;display: block;color: #fff;font-size: 36px;line-height: 38px;font-weight: 400;margin-top: 10px;outline: none !important;">Neues </span>
                     <h1 style="box-sizing: border-box;border: 0;margin: 0;padding: 0;font-weight: 400;font-size: 40px;line-height: 50px;color: #fff;outline: none !important;">Angebot</h1>
					 </center>
					 <br/>
                    </td>
                </tr>
            </table>
        </div>
    </header>
	   <section class="container email-section" style="box-sizing: border-box;line-height: 1px;display: block;padding-left: 40px;padding-right: 40px;float: left;width: 100%;background: #fff;text-align: center;padding-bottom: 70px;outline: none !important;">
        <div class="row" style="font-family: 'Poppins', sans-serif !important;box-sizing: border-box;border: 0;margin: 0 auto;padding: 0;width: 100%;max-width: 440px;outline: none !important;">

            <center><h2 style="box-sizing: border-box;border: 0;margin: 0;padding: 0;font-weight: 200;font-size: 36px;line-height: 40px;color: #7e7e7e;outline: none !important;"><br/>Hi {{name}},</h2> </center>
            <p style="box-sizing: border-box;border: 0;margin: 0;padding: 0;font-weight: 200;font-size: 20px;line-height: 33px;color: #9d9d9d;display: block;margin-top: 20px;outline: none !important;">
               Du hast ein neues Angebot von einem Stylisten erhalten. Schau mal in deine Nachrichtenbox rein.
            </p>
			<br/>
			<center><a href="{{link}}" class="button button-green" style="margin-top: 15px;display: block;font-family: 'Poppins', sans-serif;box-sizing: border-box;border: 0;margin: 0;padding: 20px;text-decoration: none;border-radius: 4px;color: #fff;background: #ffcd35;outline: none !important;" target="_blank"> Ansehen <a/></center>
        </div>
		</section>
       <footer class="footer-email container" style="font-family: 'Poppins', sans-serif !important;box-sizing: border-box;line-height: 1px;display: block;padding-left: 40px;padding-right: 40px;float: left;width: 100%;background: #fff;text-align: center;padding-bottom: 20px;outline: none !important;">
        <div class="row" style="font-family: 'Poppins', sans-serif !important;box-sizing: border-box;border: 0;margin: 0 auto;padding: 0;width: 100%;max-width: 1360px;outline: none !important;">
            <div class="footer-social" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;float: left;width: 100%;margin-top: 30px;outline: none !important;">
               <center> <ul style="box-sizing: border-box;border: 0;margin: 0;padding: 0;font-weight: normal;outline: none !important;">
                    <li style="box-sizing: border-box;border: 0;margin: 0 7px;padding: 0;display: inline-block;vertical-align: middle;outline: none !important;"><a href="#" title="instagram" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;text-decoration: none;display: inline-block;outline: none !important;"><img width="28" src="https://www.stylaaa.com/Files/EmailTemplate/RegisterImages/instagram.png" alt="" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;outline: none !important;"></a></li>
                    <li style="box-sizing: border-box;border: 0;margin: 0 7px;padding: 0;display: inline-block;vertical-align: middle;outline: none !important;"><a href="#" title="youtube" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;text-decoration: none;display: inline-block;outline: none !important;"><img width="34" src="https://www.stylaaa.com/Files/EmailTemplate/RegisterImages/youtube.png" alt="" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;outline: none !important;"></a></li>
                    <li style="box-sizing: border-box;border: 0;margin: 0 7px;padding: 0;display: inline-block;vertical-align: middle;outline: none !important;"><a href="#" title="facebook" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;text-decoration: none;display: inline-block;outline: none !important;"><img width="28" src="https://www.stylaaa.com/Files/EmailTemplate/RegisterImages/facebook.png" alt="" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;outline: none !important;"></a></li>					
					<li style="box-sizing: border-box;border: 0;margin: 0 7px;padding: 0;display: inline-block;vertical-align: middle;outline: none !important;"><a href="#" title="linkedin" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;text-decoration: none;display: inline-block;outline: none !important;"><img width="28" src="https://www.stylaaa.com/Files/EmailTemplate/RegisterImages/linkedin.png" alt="" style="box-sizing: border-box;border: 0;margin: 0;padding: 0;outline: none !important;"></a></li>					
                </ul>
				</center>
            </div>
           <center> <p style="font-family: 'Poppins', sans-serif !important;box-sizing: border-box;border: 0;margin: 0;padding: 0;font-weight: 200;font-size: 16px;line-height: 22px;color: #000;display: block;margin-top: 15px;float: left;width: 100%;outline: none !important;">			
                Dein Stylaaa Team<br style="box-sizing: border-box;outline: none !important;">              
            </p>			
			 </center> 
        </div>		
		<div>
		<p><a href="www.stylaaa.com">www.stylaaa.com</a></p>
		</div>
    </footer>     
   </body>
</html>