﻿@model UpgradeCreditModel
<link href="~/Content/Payment/Style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="~/Content/Payment/jquery.min.js"></script>
<script src="~/Content/Payment/easyResponsiveTabs.js" type="text/javascript"></script>
<style type="text/css">
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });

</script>
<div class="sap_tabs">
    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
        <div class="pay-tabs" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0);">
            <ul class="resp-tabs-list ">
                <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span><label class="pic1"></label>@Resource.CreditCard</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span><label class="pic2"></label>@Resource.sofort</span></li>
                <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span><label class="pic3"></label>EPS</span></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="resp-tabs-container">
            <div class="tab-1 resp-tab-content stripeLoader" aria-labelledby="tab_item-0">
                @using (Html.BeginForm("UpgradeCredit", "Stripe", FormMethod.Post))
                {
                    @Html.Hidden("UpgradeCreditId", Model.UpgradeCreditId)
                    //@Html.Hidden("strInvoiceNo", Model.InvoiceNo)
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="@GlobalConfig.StripePublishableKey"
                            data-amount="@(Model.Amount*100)"
                            data-name="Stylaaa"
                            data-label="@Resource.Buy"
                            data-email="@Model.UserEmail"
                            data-description="Total amount wil be @(Model.Amount) € For @(Model.Credit) Credit"
                            data-image="https://www.stylaaa.com/Files/DefaultImages/Newstylaaa.jpg"
                            data-locale="auto"
                            data-zip-code="false"
                            data-fancybox-close="true"
                            data-currency="@GlobalConfig.StripeCurrency">
                    </script>
                }
            </div>
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                <a href="javascript:void(0)" onclick="fnUpdateToCheckoutForCredit('@Model.UpgradeCreditId','@StripeType.sofort.ToString()','@Model.InvoiceNo')" title=@Resource.Buy class="btn-noty">@Resource.Buy</a>
            </div>
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                <a href="javascript:void(0)" onclick="fnUpdateToCheckoutForCredit('@Model.UpgradeCreditId','@StripeType.eps.ToString()','@Model.InvoiceNo')" title=@Resource.Buy class="btn-noty">@Resource.Buy</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.stripeLoader button').on('click', function () {
        displayWhiteOverlay();
    });
</script>

