﻿@model List<StylistCreditPaymentHistory>


@if (Model != null)
{
    foreach (var modelData in Model)
    {
        <tr>
            <td>
                <P><b>@modelData.JobName</b></P>
                @{
                    string strEndDate = modelData.Date.ToString("dd MMMM yyyy");
                    if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
                    {
                        strEndDate = strEndDate.Replace("January", Resource.January);
                        strEndDate = strEndDate.Replace("February", Resource.February);
                        strEndDate = strEndDate.Replace("March", Resource.March);
                        strEndDate = strEndDate.Replace("April", Resource.April);
                        strEndDate = strEndDate.Replace("May", Resource.May);
                        strEndDate = strEndDate.Replace("June", Resource.June);
                        strEndDate = strEndDate.Replace("July", Resource.July);
                        strEndDate = strEndDate.Replace("August", Resource.August);
                        strEndDate = strEndDate.Replace("September", Resource.September);
                        strEndDate = strEndDate.Replace("October", Resource.October);
                        strEndDate = strEndDate.Replace("November", Resource.November);
                        strEndDate = strEndDate.Replace("December", Resource.December);
                    }
                    <P class="mobile-block">@strEndDate</P>
                }
            </td>
            <td class="mobile-none">
                @{
                    string strEndDate2 = modelData.Date.ToString("dd MMMM yyyy");
                    if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
                    {
                        strEndDate = strEndDate.Replace("January", Resource.January);
                        strEndDate = strEndDate.Replace("February", Resource.February);
                        strEndDate = strEndDate.Replace("March", Resource.March);
                        strEndDate = strEndDate.Replace("April", Resource.April);
                        strEndDate = strEndDate.Replace("May", Resource.May);
                        strEndDate = strEndDate.Replace("June", Resource.June);
                        strEndDate = strEndDate.Replace("July", Resource.July);
                        strEndDate = strEndDate.Replace("August", Resource.August);
                        strEndDate = strEndDate.Replace("September", Resource.September);
                        strEndDate = strEndDate.Replace("October", Resource.October);
                        strEndDate = strEndDate.Replace("November", Resource.November);
                        strEndDate = strEndDate.Replace("December", Resource.December);
                    }
                    <P>@strEndDate2</P>
                }
            </td>
            <td class="mobile-none">
                <P>@modelData.Country, @modelData.Zipcode</P>
            </td>
            <td class="mobile-none">
                <span>1 Credit</span>
            </td>
            <td class="sm-align-right">
                <p class="price-paid">@modelData.Budget €</p>
                <a href="#" title="@Resource.viewJob" class="invoice-link mobile-block">@Resource.viewJob</a>
            </td>
            <td class="mobile-none">
                <a href="@Url.Action("Index","Home")" id="viewJob" title="@Resource.viewJob" class="invoice-link">@Resource.viewJob</a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td>@Resource.noReviewFound </td>
    </tr>
}







