﻿@model List<StylistPaymentHistoryModel>

@{int i = 0;}
@foreach (var modelData in Model)
{
    <tr>
        <td>
            <P><b>@modelData.Package</b></P>
            @{
                string strEndDate = modelData.EndDate.ToString("dd MMMM yyyy");
                if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
                {
                    strEndDate = strEndDate.Replace("January", Resource.January);
                    strEndDate = strEndDate.Replace("February", Resource.February);
                    strEndDate = strEndDate.Replace("March", Resource.March);
                    strEndDate = strEndDate.Replace("April", Resource.April);
                    strEndDate = strEndDate.Replace("May", Resource.May);
                    strEndDate = strEndDate.Replace("June", Resource.June);
                    strEndDate = strEndDate.Replace("July", Resource.July);
                    strEndDate = strEndDate.Replace("August", Resource.August);
                    strEndDate = strEndDate.Replace("September", Resource.September);
                    strEndDate = strEndDate.Replace("October", Resource.October);
                    strEndDate = strEndDate.Replace("November", Resource.November);
                    strEndDate = strEndDate.Replace("December", Resource.December);
                }
                <P class="mobile-block">@strEndDate</P>
            }

            @if (modelData.isExpire && i == 0)
            {
                string strRemainingDay = (modelData.EndDate - DateTime.UtcNow).Days.ToString();
                <a href="@Url.RouteUrl("Stylist", new { username = User.Identity.GetUserName(), action = "UpdateToPremium" })" title="Upgrade now" class="upgrid-link mobile-block">
                    <span>@Resource.Upgradenowtext</span>
                    <div class="max-tool">
                        <div class="tool-tip">
                            <P>@Resource.SubscriptionExpiretext @strRemainingDay @Resource.Days</P>
                        </div>
                    </div>
                </a>
            }
        </td>
        <td class="mobile-none">

            @{
                string strStartDate = modelData.StartDate.ToString("dd MMMM yyyy");
                if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
                {
                    strStartDate = strStartDate.Replace("January", Resource.January);
                    strStartDate = strStartDate.Replace("February", Resource.February);
                    strStartDate = strStartDate.Replace("March", Resource.March);
                    strStartDate = strStartDate.Replace("April", Resource.April);
                    strStartDate = strStartDate.Replace("May", Resource.May);
                    strStartDate = strStartDate.Replace("June", Resource.June);
                    strStartDate = strStartDate.Replace("July", Resource.July);
                    strStartDate = strStartDate.Replace("August", Resource.August);
                    strStartDate = strStartDate.Replace("September", Resource.September);
                    strStartDate = strStartDate.Replace("October", Resource.October);
                    strStartDate = strStartDate.Replace("November", Resource.November);
                    strStartDate = strStartDate.Replace("December", Resource.December);
                }
                <P>@strStartDate</P>
            }
        </td>
        <td class="mobile-none">
            @{
                strEndDate = modelData.EndDate.ToString("dd MMMM yyyy");
                if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
                {
                    strEndDate = strEndDate.Replace("January", Resource.January);
                    strEndDate = strEndDate.Replace("February", Resource.February);
                    strEndDate = strEndDate.Replace("March", Resource.March);
                    strEndDate = strEndDate.Replace("April", Resource.April);
                    strEndDate = strEndDate.Replace("May", Resource.May);
                    strEndDate = strEndDate.Replace("June", Resource.June);
                    strEndDate = strEndDate.Replace("July", Resource.July);
                    strEndDate = strEndDate.Replace("August", Resource.August);
                    strEndDate = strEndDate.Replace("September", Resource.September);
                    strEndDate = strEndDate.Replace("October", Resource.October);
                    strEndDate = strEndDate.Replace("November", Resource.November);
                    strEndDate = strEndDate.Replace("December", Resource.December);
                }
                <P>@strEndDate</P>
            }
            @if (modelData.isExpire && i == 0)
            {
                string strRemainingDay = (modelData.EndDate - DateTime.UtcNow).Days.ToString();
                <a href="@Url.RouteUrl("Stylist", new { username = User.Identity.GetUserName(), action = "UpdateToPremium" })" title="Upgrade now" class="upgrid-link">
                    <span>@Resource.Upgradenowtext</span>
                    <div class="max-tool">
                        <div class="tool-tip">
                            <P>@Resource.SubscriptionExpiretext @strRemainingDay @Resource.Days</P>
                        </div>
                    </div>
                </a>
            }
        </td>
        <td>
            <span class="tag-td">@modelData.PaymentMothod</span>
        </td>
        <td>
            <p class="price-paid">@modelData.AmountPaid</p>
        </td>
        <td class="sm-align-right">
            <span class="tag-td">@(modelData.PaymentStatus == ChargeStatus.pending ? ChargeStatus.succeeded : modelData.PaymentStatus)</span>
            <a href="@modelData.InvoiceLink" target="_blank" title="@Resource.ViewInvoiceText" class="invoice-link mobile-block">@Resource.ViewInvoiceText</a>
        </td>
        <td class="mobile-none">
            <a href="@modelData.InvoiceLink" target="_blank" title="@Resource.ViewInvoiceText" class="invoice-link">@Resource.ViewInvoiceText</a>
        </td>
    </tr>
    i++;
}