﻿@model List<UpgradeAccountModel>
<style>
    .stripe-button-el span, .Checkout.is-desktop .Button {
        border-radius: 6px !important;
        background: #ffcd35 !important;
        display: inline-block !important;
        color: #fff !important;
        width: 100% !important;
        max-width: 144px !important;
        height: 44px !important;
        text-align: center !important;
        font-size: 14px !important;
        line-height: 44px !important;
        font-weight: 600 !important;
        float: none !important;
        padding: 0px 0px !important;
        background-image: none !important;
        text-shadow: none !important;
    }

    .stripe-button-el {
        background-image: none;
        box-shadow: none !important;
        max-width: 144px !important;
        width: 144px !important;
        padding: 0px;
    }
</style>
<!-- Premium Package popup -->
<div class="popup-box">
    <div id="premium-account" class="popup-max premium-account-pp">
        <div id="closepop">
            <a href="#" style="height:25px; right: 6px;top: 7px;" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>        
        <div class="popup-had">
            @*<P>Please upgrade to a</P>*@
            <h4>@Resource.premiumpackage</h4>
        </div>
        <div class="popup-middle" style="min-height:auto !important">
            @*<div class="row" style="text-align: left;">
                    <label class="container">
                        <input type="radio" checked="checked" name="chkPayInFull" value="chkPayInFull">
                        <span class="checkmark"></span>
                        @Resource.PayInFull
                    </label>
                    <label class="container" style="padding-top: 10px;padding-bottom: 10px;">
                        <input type="radio" name="chkPayInFull" value="chkPayInInstallment">
                        <span class="checkmark"></span>
                        @Resource.PayInMonthlyInstallment
                    </label>
                </div>*@
            <div class="mrg-pre-ac">
                @foreach (UpgradeAccountModel accmodel in Model)
                {
                    <div class="pre-ac-bx pay-in-full">
                        <div class="ac-pre">
                            @{ if (accmodel.Month > 1)
                                {
                                    <h6>@accmodel.Month @Resource.months</h6>
                                }
                                else
                                {
                                    <h6>@accmodel.Month @Resource.month</h6>
                                }
                            }
                            <span class="price-pp">
                                @Math.Round(accmodel.Amount) €
                                @*<span>/mo</span>*@
                            </span>
                            <br />
                            @if (accmodel.Credit > 1)
                            {
                                <h6>@accmodel.Credit Credits</h6>
                            }
                            else
                            {
                                <h6>@accmodel.Credit Credit</h6>
                            }
                            <a href="javascript:void(0)" onclick="fnUpdateToPremium('@Url.Action("RenderCheckout", "Stripe", new { @month = accmodel.Month, @UpgradeAccountId = accmodel.UpgradeAccountId,@Amount = accmodel.Amount,@UserEmail=ViewBag.UserEmail})')" title=@Resource.Buy class="btn-noty buy-@accmodel.Month">@Resource.Buy</a>
                            @*<a href="javascript:void(0)" onclick="fnUpdateToPremium('@Url.RouteUrl("StylistUpgardeAccount", new { username = User.Identity.GetUserName(), month = accmodel.Month })')" title=@Resource.Buy class="btn-noty buy-@accmodel.Month">@Resource.Buy</a>*@
                            @*@using (Html.BeginForm("UpgradePlan", "Stripe", FormMethod.Post))
        {
            @Html.Hidden("UpgradeAccountId", accmodel.UpgradeAccountId)
            <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="@GlobalConfig.StripePublishableKey"
                    data-amount="@(accmodel.Amount * accmodel.Month * 100)"
                    data-name="Stylaaa"
                    data-label="@Resource.Buy"
                    data-email="@ViewBag.UserEmail"
                    data-description="Total amount wil be @(accmodel.Amount * accmodel.Month) € For @(accmodel.Month) Month"
                    data-image="https://www.stylaaa.com/Files/DefaultImages/logo-small.png"
                    data-locale="auto"
                    data-zip-code="false"
                    data-fancybox-close="true"
                    data-currency="@GlobalConfig.StripeCurrency">
            </script>
        }*@
                        </div>
                    </div>

                    <div class="pre-ac-bx pay-in-installment" style="display:none;">
                        <div class="ac-pre">
                            @{ if (accmodel.Month > 1)
                                {
                                    <h6>@accmodel.Month @Resource.months</h6>
                                }
                                else
                                {
                                    <h6>@accmodel.Month @Resource.month</h6>
                                }
                            }
                            <span class="price-pp">
                                @Math.Round(accmodel.Amount / accmodel.Month) €
                                @{ if (accmodel.Month > 1)
                                    {
                                        <span>/mo</span>
                                    }
                                }
                            </span>
                            @*<a href="javascript:void(0)" onclick="fnUpdateToPremium('@Url.RouteUrl("StylistUpgardeAccount", new { username = User.Identity.GetUserName(), month = accmodel.Month })')" title=@Resource.Buy class="btn-noty buy-@accmodel.Month">@Resource.Buy</a>*@
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
