﻿@model AddUserReviewModel
<!-- my review popup -->
<div class="popup-box">
    <div id="my-review" class="popup-max">
        <div class="popup-had">
            <h4>@Resource.ratingGiverating</h4>
            <P>@Resource.ratingpageContent</P>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        @using (Ajax.BeginForm("RateStylist", "Stylist", null, new AjaxOptions
        {
            HttpMethod = "Post",
            OnComplete = "CloseReviewPopup"
        }, new { @id = "frmReview", @class = "form-inline" }))
        {
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.StylishId)
            @Html.HiddenFor(x => x.Rating)

            @Html.HiddenFor(x => x.Id)

            <div class="popup-had" style="margin-bottom:10px;">
                <div class="field-range">
                    <input type="range" value="0">
                    <div class="range-review">
                        <span>@Resource.verybad</span>
                        <span>@Resource.veryood</span>
                    </div>
                </div>
                <div class="field-rs">
                    <label>@Resource.review</label>
                    @Html.TextAreaFor(x => x.Comment, new { @placeholder = Resource.Writereviewforstylist })
                </div>
            </div>
            <br />
            <div class="popup-footer">
                <input type="button" class="button share-button" style="cursor:pointer; width:45%;" onclick="getRating()" value=@Resource.contactUsSubmit />
                <a href="javascript:;" title=@Resource.cancel data-fancybox-close="true" style="cursor:pointer; width:45%;" class="button cancel-button">@Resource.cancel</a>
            </div>
        }
    </div>
</div>
