﻿@model UserReviewModel

@if (Model.Reviews != null && Model.Reviews.Any())
{
    foreach (var review in Model.Reviews)
    {
        <div class="review-row">
            <div class="table">
                <div class="table-cell-img">
                    <img src="@(GlobalConfig.UserImageUrl+(review.ProfileImageName!=null?review.ProfileImageName:GlobalConfig.DefaultProfileImage))" alt="" />
                </div>
                <div class="table-cell-content">
                    <div class="table">
                        <div class="review-had">
                            <h6>
                                @review.Name
                            </h6>
                            <div class="more-link">
                                <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                <ul class="more-link-bx-comment" style="left: 24px !important;">
                                    @if (review.StylishId == User.Identity.GetUserId())
                                    {
                                        <li><a href="#reply-review" data-id="@review.Id" id="ReviewId" title="@Resource.reply" class="fancybox review">@Resource.reply</a></li>
                                    }

                                    @if (review.UserId == User.Identity.GetUserId())
                                    {
                                        if (review.UserRole == Role.Stylist)
                                        {
                                            <li><a href="javascript:void(0);" title="@Resource.edit" onclick="fnOpenRating('@Url.RouteUrl("Stylist", new { @username = review.UserName, action = "EditRateStylist" })', @review.Id, @review.Rating)">@Resource.edit</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="javascript:void(0);" title="@Resource.edit" onclick="fnOpenRating('@Url.RouteUrl("User", new { @username = review.UserName, action = "EditRateStylist" })', @review.Id, @review.Rating)">@Resource.edit</a></li>
                                        }

                                        <li><a href="javascript:;" data-id="@review.Id" id="DeleteId" title="@Resource.delete" onclick="FundeleteMyReview()">@Resource.delete</a></li>
                                    }

                                    <li><a href="javascript:;" data-id="@review.Id" id="SpamReviewId" onclick="fnOpenSpamPopup()" title="Spam">@Resource.Report</a></li>
                                </ul>
                            </div>
                            <a href="@Url.RouteUrl("Stylist", new { username = review.UserName, action = "About" })" target="_blank"><span>@review.UserName</span></a>
                        </div>
                        <div class="review-rate">
                            @if (review.UserId == User.Identity.GetUserId())
                            {
                                if (review.UserRole == Role.Stylist)
                                {
                                    <a href="#my-review" style="margin-right: 10px;" onclick="fnOpenRating('@Url.RouteUrl("Stylist", new { @username = review.UserName, action = "EditRateStylist" })', @review.Id, @review.Rating)">@review.Rating%</a>
                                }
                                else

                                {
                                    <a href="#my-review" style="margin-right: 10px;" onclick="fnOpenRating('@Url.RouteUrl("User", new { @username = review.UserName, action = "EditRateStylist" })', @review.Id, @review.Rating)">@review.Rating%</a>
                                }
                            }
                            else
                            {
                                <span style="margin-right: 10px;">@review.Rating%</span>
                            }

                        </div>
                    </div>
                    <div class="discription-review">
                        <p>@review.Comment</p>
                    </div>
                    @if (review.IsReply)
                    {
                        foreach (var rply in review.ReplyList)
                        {
                            <div class="inner-reivew">
                                <div class="table">
                                    <div class="table-cell-img">
                                        <img src="@(GlobalConfig.UserImageUrl+rply.ProfileImageName)" alt="" />
                                    </div>
                                    <div class="table-cell-content">
                                        <div class="table">
                                            <div class="review-had">
                                                <a href="@Url.RouteUrl("Stylist", new { username = rply.UserName, action = "About" })" target="_blank">
                                                    <h6>@rply.Name</h6>
                                                </a>
                                                    <div class="more-link">
                                                        <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                                        <ul class="more-link-bx-comment" style="left: 24px !important;">
                                                            <li><a href="javascript:void(0);" onclick="DeleteReplyReview(@rply.id)" title="@Resource.delete">@Resource.delete</a></li>
                                                        </ul>
                                                    </div>
                                                    <span>@rply.UserName</span>
                                                
                                            </div>
                                        </div>
                                        <div class="discription-review">
                                            <p>@rply.ReplyText</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    if (Model.Stylish.Id == User.Identity.GetUserId())
    {
        <div class="">
            <h5> @Resource.ReviewlistEmptymsg</h5>
        </div>
    }
}
