﻿@model StylistAboutModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Profile.cshtml";


    var IsProCompleted = ViewBag.isProfileCompleted;
    //int[] months = Enumerable.Range(0, 12).ToArray();
    //int curMonth = DateTime.Today.Month;

}
@*@section metatags
    {
        @if (User.Identity.IsAuthenticated)
        {
            <title>@Resource.metaAboutTitle</title>
            <meta name="description" content="@Resource.metaAboutname">
            <meta name="Keywords" content="@Resource.metaAboutKeyWord">
            <meta property="og:url" content="@Resource.metaAbouturl" />
        }
    }*@

<div class="middle-right container">
    @if (Model.Id == User.Identity.GetUserId())
    {
        <div class="titel-top">
            <h3>@Resource.AboutYou</h3>
        </div>
    }
    <div class="middle-right-full">
        <div class="middle-right-max">
            <div class="pf-about-titel">
                <div class="table">
                    <h5>@Resource.Profiledetail</h5>
                    @if (Model.Id == User.Identity.GetUserId())
                    {
                        <a href="#edit-profile" id="edit" title="" class="edit-popup fancybox">
                            <img src="@Url.Content("~/Content/images/edit.svg")" alt="" />
                        </a>
                    }
                </div>
            </div>
            <div class="pf-about-discription" id="stylistabout">
                <div class="table-rs">
                    <div class="cell-row">
                        <p>@Resource.Name</p>
                    </div>
                    <div class="cell-row">
                        <P>@Model.Name</P>
                    </div>
                </div>
                <div class="table-rs">
                    <div class="cell-row">
                        <P>@Resource.username</P>
                    </div>
                    <div class="cell-row">
                        <P>@Model.UserName</P>
                    </div>
                </div>
                <div class="table-rs">
                    <div class="cell-row">
                        <P>@Resource.gender</P>
                    </div>
                    <div class="cell-row">
                        <P>@(Model.GenderId == Gender.Female ? Resource.female : Resource.male)</P>
                    </div>
                </div>
                <div class="table-rs">
                    <div class="cell-row">
                        <P>@Resource.locationsmall</P>
                    </div>
                    <div class="cell-row">
                        <P>@Model.CountryName, @Model.Zipcode</P>
                    </div>
                </div>
                <div class="table-rs">
                    <div class="cell-row">
                        <P>@Resource.experiance</P>
                    </div>
                    <div class="cell-row">
                        <P>@Model.year @Resource.years</P>
                    </div>
                </div>
                <div class="table-rs mb-full">
                    <div class="cell-row">
                        <P>@Resource.about</P>
                    </div>
                    <div class="cell-row">
                        <P>@Model.About</P>
                    </div>
                </div>
                <div class="table-rs mb-full">
                    <div class="cell-row">
                        <P>@Resource.Services</P>
                    </div>
                    <div class="cell-row">
                        <div class="border-imges">
                            <div class="mrg-border">
                                @if (Model.categorylist != null)
                                {
                                    for (int i = 0; i < Model.categorylist.Count; i++)
                                    {
                                        if (Model.categorylist[i].Selected)
                                        {
                                            string strimage = "~/Content/images/" + Model.categorylist[i].CategoryName + ".svg";
                                            <a href="javascript:;" title="" class="chk-group">
                                                <div class="border-box">
                                                    <div class="table-cell"><img src="@(GlobalConfig.CategoryImageUrl + Model.categorylist[i].CategoryImageName)" alt="" /></div>
                                                </div>
                                                <span for="check1">@Model.categorylist[i].CategoryName</span>
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- edit profile popup -->
<div id="stylist-edit">
    <div class="popup-box">
        <div id="edit-profile" class="popup-max">
            <div class="popup-had">
                <h4>@Resource.EditAboutheaderText</h4>
                <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
            </div>
            @using (Html.BeginRouteForm("Stylist", new { username = User.Identity.GetUserName(), action = "About" }, FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.SelectedCategory)
                @Html.HiddenFor(x => x.LocationLatitude)
                @Html.HiddenFor(x => x.LocationLongitude)
                <div class="popup-middle">
                    <div class="mrg-popup">
                        <div class="popup-half">
                            <div class="field-rs">
                                <label>@Resource.Name</label>
                                @Html.TextBoxFor(x => x.Name, new { @placeholder = Resource.Name })
                            </div>
                        </div>
                        <div class="popup-half">
                            <div class="field-rs">
                                <label>@Resource.username</label>
                                @Html.TextBoxFor(x => x.UserName, new { @placeholder = Resource.username, @class = "stylist_username" })
                            </div>
                        </div>
                        <div class="popup-half">
                            <div class="field-rs">
                                <label>@Resource.Country</label>
                                <div class="defult-select">
                                    <div class="defult-sl">
                                        @Html.DropDownListFor(x => x.CountryID, new SelectList(ViewData["country"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Group", new { @class = "defult-sl" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popup-half">
                            <div class="field-rs">
                                <label>@Resource.zipcode</label>
                                @Html.TextBoxFor(x => x.Zipcode, new { @placeholder = Resource.zipcode, @class = "googleaddress", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="popup-half">
                            <div class="field-rs">
                                <label>@Resource.gender</label>
                                <div class="defult-select">
                                    <div class="defult-sl">
                                        @Html.DropDownListFor(x => x.GenderId, new List<SelectListItem>
                                            {
                                                new SelectListItem{ Text=Resource.male, Value = "1" },
                                                new SelectListItem{ Text=Resource.female, Value = "0" }
                                            }, new { @class = "select2 country-select" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popup-half mb-full">
                            <div class="field-rs">
                                <label>@Resource.experiance</label>
                                <div class="mrg-popup">
                                    <div class="half-pp">
                                        @Html.TextBoxFor(x => x.year, new { @placeholder = Resource.years })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popup-half full-pp">
                            <div class="field-rs">
                                <label>@Resource.about</label>
                                @Html.TextAreaFor(x => x.About, new { @placeholder = Resource.EnterAboutPlaceholder })
                            </div>
                        </div>
                        <div class="popup-half full-pp">
                            <div class="field-rs">
                                <label>@Resource.Choose</label>
                                <div class="border-imges">
                                    <div class="mrg-border">
                                        @if (Model.categorylist != null)
                                        {
                                            for (int i = 0; i < Model.categorylist.Count; i++)
                                            {
                                                string strimage = "~/Content/images/" + Model.categorylist[i].CategoryName + ".svg";
                                                <a href="javascript:;" title="" class="chk-group">

                                                    @Html.HiddenFor(x => Model.categorylist[i].Id)
                                                    @Html.CheckBoxFor(x => Model.categorylist[i].Selected, new { id = Model.categorylist[i].Id, name = Model.categorylist[i].Id })
                                                    <div class="border-box">
                                                        <div class="table-cell"><img src="@(GlobalConfig.CategoryImageUrl+Model.categorylist[i].CategoryImageName)" alt="" /></div>
                                                    </div>
                                                    <span for="check1">@Model.categorylist[i].CategoryName</span>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <button type="Submit" style="float: left;" class="button share-button">@Resource.EditAboutSubmitBtn</button>
                    <a href="#" title=@Resource.cancel data-fancybox-close="true" style="float: left;" class="button cancel-button">@Resource.forgotpasswordCancel</a>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .pac-container {
        z-index: 100000 !important;
    }
</style>
@section profilelayoutscript{
    @Scripts.Render("~/bundles/GoogleMap")
    <script type="text/javascript">

        function loadLoader(data) {
            displayWhiteOverlay();
        };

        $(document).ready(function () {
            BindAddressSearch();
        });

    </script>
}

