﻿@model UserFollowTransactionModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Profile.cshtml";
    string action = ViewBag.action;
}

<div class="middle-right container">
    <div class="titel-top">
        <h3>@action</h3>
    </div>
    <div class="tabs-listing">
        <div class="full-box">
            <div class="mrg-half">
                @if (Model.FollowModel.Count > 0)
                {
                    foreach (var following in Model.FollowModel)
                    {
                        <div class="profile-box">
                            <div class="profile-bx">
                                <div class="front-bx">
                                    <div class="pf-year">
                                        @if (following.Role == Role.Stylist)
                                        {
                                            <span>+@following.Year @Resource.years</span>
                                        }
                                        else
                                        {
                                            <span style="background-color:transparent!important">&nbsp;</span>
                                        }

                                        @if (following.IsPremiumUser)
                                        {
                                            string strGerman = "";
                                            if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
                                            {
                                                strGerman = "premium-user-german";
                                            }
                                            <a href="#" title="" class="premium-user @strGerman"><img src="@Url.Content("~/content/images/premium-user.svg")" alt="" /></a>
                                        }

                                    </div>
                                    <div class="profile-img-bx">
                                        <div class="GaugeMeter" id="PreviewGaugeMeter_1"
                                             data-percent="@following.Ratings"
                                             data-size="250"
                                             data-theme="yellow"
                                             data-back="#f2f2f2"
                                             data-color="#ffcd35"
                                             data-width="4">
                                        </div>
                                        <div class="ps-img-profile">
                                            <img src="@(GlobalConfig.UserImageUrl+(following.ProfileImageName!=null?following.ProfileImageName:"DefaultProfile.jpg"))" alt="" />
                                        </div>
                                        @if (following.Ratings > 0)
                                        {
                                            <span class="ps-rating"><span>@(Math.Round(following.Ratings.Value))</span></span>
                                        }
                                        else
                                        {
                                            <span class="ps-rating"><span>0</span></span>
                                        }
                                    </div>
                                    <div class="profile-content">
                                        @if (following.Role == Role.User)
                                        {
                                            <a href="@Url.RouteUrl("User", new { username = following.UserName,@controller="User", action = "About" })"><h4>@following.Name</h4></a>
                                            <a class="pf-link" href="@Url.RouteUrl("User", new { username = following.UserName,@controller="User", action = "About" })" title="@following.UserName">@("@" + following.UserName)</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.RouteUrl("Stylist", new { username = following.UserName,@controller="Stylist", action = "About" })"><h4>@following.Name</h4></a>
                                            <a class="pf-link" href="@Url.RouteUrl("Stylist", new { username = following.UserName,@controller="Stylist", action = "About" })" title="@following.UserName">@("@" + following.UserName)</a>
                                        }

                                    </div>
                                    <div class="profile-btn">
                                        <div class="table">

                                            @if (following.Id != User.Identity.GetUserId())
                                            {
                                                if (following.Isfollow == false)
                                                {
                                                    <div class="table-cell">
                                                        <a href="javascript:;" data-id="@following.Id" title=@Resource.follow class="btn-follow btnfollow">@Resource.follow</a>
                                                    </div>
                                                    <div class="table-cell">
                                                        <a href="javascript:;" title="" class="pf-chet"></a>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <div class="table-cell">
                                                        <a href="javascript:;" data-id="@following.Id" title=@Resource.following class="btn-following  btnfollow">@Resource.following</a>
                                                    </div>
                                                    <div class="table-cell">
                                                        <a href="javascript:;" title="" class="pf-chet"></a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-ps-box">
                                    <a href="javascript:;" title="" class="close-profile-message"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
                                    <div class="profile-content">
                                        <h4>@following.Name</h4>
                                        <a class="pf-link" href="#" title="@following.Name">@("@" + following.UserName)</a>
                                    </div>
                                    <div class="profile-field">
                                        <label>@Resource.message</label>
                                        <textarea class="textMsg" placeholder=@Resource.typeMsgHere></textarea>
                                    </div>
                                    <a href="javascript:;" title=@Resource.send data-sid="@following.Id" class="btn-follow sendmsg">@Resource.send</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                @*else
                {
                    <br />
                    <h5 style="padding-top:100px; padding-left:50px;">@Resource.useNotFound</h5>
                }*@

            </div>
            @if (Model.FollowModel.Count >= 6)
            {
                <div class="" style="float: left;width: 100%;text-align: center;margin-top: 40px;">
                    @if (action == Resource.following)
                    {
                        <a href="@Url.Action("ViewAllFollowings","Home",new { @id = ViewBag.UserID })" title=@Resource.ViewAll class="btn-noty">@Resource.ViewAll</a>
                    }
                    else
                    {
                        <a href="@Url.Action("ViewAllFollowers","Home",new { @id = ViewBag.UserID })" title=@Resource.ViewAll class="btn-noty">@Resource.ViewAll</a>
                    }

                </div>
            }

        </div>
    </div>
</div>

@section profilelayoutscript{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/jQuery/validate")
    <script type="text/javascript">

        $('#lifollowings').addClass('active');

        $(".btnfollow").on('click', function () {           
            var sid = $(this).data('id')
            var control = $(this);
            $.post('@Url.Action("FollowTransaction", "Home")', { StylishId: sid })
                .done(function (result) {
                    if (result) {
                        if (result == "Follow" || result == "Folgen") {
                            window.location.reload();
                            $(control).text(result);
                            $(control).addClass("btn-follow");
                            $(control).removeClass("btn-following");
                        }
                        else if (result == "Following" || result == "Abonniert") {
                            $(control).text(result);
                            $(control).removeClass("btn-follow");
                            $(control).addClass("btn-following");
                        }
                        else {
                            toastr.error(result.Message, '@Resource.loginMust');
                        }
                    }
                    else
                        toastr.error(result.Message,'@Resource.loginMust');
                }).fail(function (error) {
            });
        });

        $(document).on("keypress", ".textMsg", function (e) {
            var code = e.which ? e.which : e.keyCode;

            if (13 == code) {
                if ($('#txtMessage').val() != "") {
                    $("#btnSendMsg").click();
                }
            }
        });

        $(".sendmsg").on('click', function () {
            var control = $(this);
            var recieverId = $(control).data('sid')
            var message = $(control).parent().find('textarea').val();
            if (message)
            {
                $.post('@Url.Action("SendMessage", "Chat")', { ReceiverID: recieverId, MessageText: message })
                .done(function (result) {
                    if (result) {
                        $(control).parent().find('textarea').val('');
                        toastr.success('@Resource.SendMessageSuccess');

                        $('.profile-bx .close-profile-message').click();
                    }
                    else
                        toastr.error('@Resource.SendmsgFailed');
                }).fail(function (error) {
            });
            }
            else {
                toastr.error('@Resource.SendmsgEnterText');
            }
        });
    </script>
}
