﻿@model GetStylistCreditHistoryList
@{
    ViewBag.Title = "JobCredit";
    Layout = "~/Views/Shared/_Profile.cshtml";
}

@using (Html.BeginForm("CheckoutPaymentCredit", "Stripe", FormMethod.Post, new { id = "checkoutpayment" }))
{
    @Html.Hidden("UpgradeCreditId")
    @Html.Hidden("stripetype")
    //@Html.Hidden("InvoiceNo")
}
<div class="middle-right container">
    <div class="titel-top jobcredits-right">
        <h3>Job Credits</h3>
        <P>@Resource.JobCreditHeading</P>
    </div>
    <div id="premium-design">
        <div class="job-purchase-section table">
            <div class="pur-img table-cell">
                <img src="~/Content/images/job-credit-img.png">
            </div>
            <div class="put-text table-cell">
                <div class="cr-text">
                    @if (Model.RemainingCredit > 0)
                    {
                        <h6>@Model.RemainingCredit</h6>
                    }
                    else
                    {
                        <h6>0</h6>
                    }
                    <div>@Resource.CreditRemaining</div>
                </div>               
                <a class="btn-noty fancybox" href="#premium-credit">@Resource.PurchaseCredit</a>

                <p>@Resource.JobCreditClickAbove</p>
                @*<p>on above button</p>*@
            </div>
        </div>
        <div class="middle-right-full">
            <div class="payment-table">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <th>
                        <P>@Resource.JobName</P>
                    </th>
                    <th class="mobile-none">
                        <P>@Resource.date</P>
                    </th>
                    <th class="mobile-none">
                        <P>@Resource.jobcreditlocation</P>
                    </th>
                    <th class="mobile-none">
                        <P>@Resource.JobcreditUsed</P>
                    </th>

                    <th class="sm-align-right">
                        <P>@Resource.Budget</P>
                    </th>
                    <th class="mobile-none">
                        <P>&nbsp;</P>
                    </th>
                    </thead>
                    <tbody>
                        @if (Model.CreditHistoryList != null)
                        {
                            @Html.Partial("_CreditHistory", Model.CreditHistoryList)
                        }
                        else
                        {
                            <tr>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="middle-right-full" id="payment-option">
        @Html.Partial("~/Views/Payment/_CheckoutPayment.cshtml", new PaymentResponseData())
    </div>
</div>
<div id="divPremiumAccountpopup">
    @Html.Partial("_PremiumCreditPopup", Model.CreditMasterDetail)
</div>
@section profilelayoutscript{
    <script src="@Url.Content("~/Scripts/custom/checkoutSDK.1.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Payment/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/Payment/easyResponsiveTabs.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $('#viewJob').on('click', function () {
            $.cookie('selectedTab', null);
            var job = 'jobs';
            $.cookie('selectedTab', job);
        });
       

    var strmonth = '@ViewBag.Credit';
        $(document).ready(function () {
            var strmonth = '@ViewBag.Credit';
            //var invoiceNo = GetParameterValues('invoiceNo');
            //$('#InvoiceNo').val(invoiceNo);
            if (strmonth != null && strmonth != undefined) {
                $(".buy-" + strmonth).click();
            }
            //function GetParameterValues(param) {
            //    var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            //    for (var i = 0; i < url.length; i++) {
            //        var urlparam = url[i].split('=');
            //        if (urlparam[0] == param) {
            //            return urlparam[1];
            //        }
            //    }
            //}
        });

        function fnUpdateToCheckoutForCredit(UpgradeAccountId, stripetype, InvoiceNo) {
            displayWhiteOverlay();
            $('#UpgradeCreditId').val(UpgradeAccountId);
            $('#stripetype').val(stripetype);
            //$('#InvoiceNo').val(InvoiceNo);
            $('#checkoutpayment').submit();
        }


    function fnUpdateToCredit(url) {
            $.fancybox.close();
            displayWhiteOverlay();
            @*var strInvoiceNo = '@ViewBag.invoiceNo';
            if (strInvoiceNo.includes("INV")) {
                url = url + "&InvoiceNo=" + strInvoiceNo;
            }*@
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    $("#premium-design").hide();
                    $("#payment-option").html(result);
                    initializeChekout();
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', err, '');
                }
            });
    }


    function initializeChekout() {
        var successMessage = $(".success-message").html();
        if (successMessage != '' && successMessage != undefined && successMessage != null) {
            $("#your-payment-div").hide();
        }
    }

    //function fnCheckout(url) {
    //    displayWhiteOverlay();
    //    var paymentterm = $("#hdnPaymentType").val();

    //    var frmData = new FormData();
    //    frmData.append("hdnPSPReference", $("#hdnPSPReference").val());
    //    frmData.append("hdnInvoiceNo", $("#hdnInvoiceNo").val());
    //    frmData.append("hdnPaymentTerm", $("#hdnPaymentType").val());

    //    $.ajax({
    //        url: url,
    //        type: 'POST',
    //        data: frmData,
    //        cache: false,
    //        contentType: false,
    //        processData: false,
    //        success: function (result) {
    //            removeWhiteOverlay();
    //            $(".success-message").html(result.Message);
    //            if (result.Message != '' && result.Message != undefined && result.Message != null) {
    //                $("#your-payment-div").hide();
    //            }
    //        },
    //        error: function (err) {
    //            removeWhiteOverlay();
    //            ShowToastr('error', err, '');
    //        }
    //    });
    //}

    </script>
}

