﻿@model UserReviewModel
@{
    ViewBag.Title = "MyReview";
    Layout = "~/Views/Shared/_Profile.cshtml";

    var perc = Math.Round(Model.Avarage, 0);
}

@Html.Hidden("id")
<div class="middle-right container">
    <div class="titel-top">
        <h3>@ViewBag.action</h3>
    </div>
    <div class="middle-right-full">
        <div class="review-section">
            <div class="review-cell mobile-block">
                <div class="review-ration">
                    <div class="GaugeMeter" id="PreviewGaugeMeter_1"
                         data-percent="@perc"
                         data-size="250"
                         data-theme="yellow"
                         data-back="#f2f2f2"
                         data-color="#ffcd35"
                         data-width="4">
                    </div>
                    <div class="ps-review-rating">
                        <div class="table">
                            <div class="table-cell">
                                <h2>@perc%</h2>
                                <span>@Resource.rating</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="review-cell">
                    @if (Model.isShowRateHere && Model.Stylish.Id != User.Identity.GetUserId())
                    {
                        <div class="" style="padding-bottom:50px;" align="center">
                            <a href="javascript:;" title="View All" onclick="fnOpenReviewPopup()" class="btn-noty">@Resource.rateHereBtn</a>
                        </div>
                    }

                    <div class="over-scroll" id="ReviewRenderId">
                        @Html.Partial("_ReviewList", Model)
                    </div>
                </div>
                <div class="review-cell mobile-none">
                    <div class="review-ration">
                        <div class="GaugeMeter" id="PreviewGaugeMeter_1"
                             data-percent="@Model.Avarage"
                             data-size="250"
                             data-theme="yellow"
                             data-back="#f2f2f2"
                             data-color="#ffcd35"
                             data-width="4">
                        </div>
                        <div class="ps-review-rating">
                            <div class="table">
                                <div class="table-cell">
                                    <h2>@perc%</h2>
                                    <span>@Resource.rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DivReviewPopup">
    @Html.Partial("_ReviewPopupChanges", Model.StylistPopupModel)
</div>

<!-- Reply popup -->
<div class="popup-box">
    <div id="reply-review" class="popup-max">      
        <div class="popup-had">
            <h4>@Resource.ReplytoReview</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="popup-had" style="margin-bottom:10px;">
            <div class="field-rs">
                @*<label>@Resource.Writehere</label>*@
                <textarea type="text" name="ReviewText" id="ReviewText" placeholder="@Resource.EnterReply"></textarea>
            </div>
        </div>
        <div class="popup-footer">
            <button type=@Resource.send class="button share-button" onclick="SendReply()">@Resource.send</button>
            @*<a href="#" title=@Resource.cancel data-fancybox-close="true" class="button cancel-button">@Resource.cancel</a>*@
        </div>        
    </div>
</div>

<!-- Spam popup -->
<div class="popup-box">
    <div id="spam-review" class="popup-max">
        <div class="popup-had">
            <h4>@Resource.Report</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="popup-had" style="margin-bottom:10px;">
            <div class="field-rs">
                @*<label>@Resource.Writehere</label>*@
                <textarea type="text" name="SpamReasonTxt" id="SpamReasonTxt" placeholder="@Resource.postRepostReason"></textarea>
            </div>
        </div>
       
        <div class="popup-footer">
            <button type=@Resource.send class="button share-button" onclick="funSpamFormSubmit()">@Resource.send</button>
            @*<a href="#" title=@Resource.cancel data-fancybox-close="true" class="button cancel-button">@Resource.cancel</a>*@
        </div>
    </div>
</div>

@section profilelayoutscript{
    <script>
        function fnOpenReviewPopup() {
            $.fancybox.open({
                src: "#my-review",
                type: 'inline',
                modal: true,
                helpers: {
                    overlay: { closeClick: false }
                }
            });
        }

        function DeleteReplyReview(replyid) {
            //displayOverlay();
            var url = '@Url.Action("DeleteReplyReview", "Stylist")';
            var formData = new FormData();
            formData.append('replyid', replyid);
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    if (result.Status == "1") {
                        ShowToastr("success", '@Resource.replydeleted', '');
                    }
                    window.location.reload();
                    //$(".GaugeMeter").gaugeMeter();
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', err, '');
                }
            });
        }

        function SendReply() {
            //displayOverlay();
            var ReviewId = $('#ReviewId').data('id');
            var ReviewText = $("#ReviewText").val();
            //$('#id').val(ReviewId);

            var url = '@Url.Action("ReplyToReviw", "Stylist")';
            var formData = new FormData();
            formData.append('ReviewId', ReviewId);
            formData.append('ReviewText', ReviewText);
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    ShowToastr("success", '@Resource.replySuccess', '');

                    $.fancybox.close();
                    window.location.reload();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        }


        function fnCompleteReply(data) {
            if (data.responseJSON.Status == '1') {
                $.fancybox.close();
                ShowToastr('success', data.responseJSON.Message, '');
                window.location.reload();
            }
            else {
                ShowToastr('Error', data.responseJSON.Message, '');;
            }
        }

        //for Add Spam
        function fnOpenSpamPopup() {
            $.fancybox.open({
                src: "#spam-review",
                type: 'inline',
                modal: true,
                helpers: {
                    overlay: { closeClick: false }
                }
            });
        }


        function funSpamFormSubmit() {
            var ReviewId = $('#SpamReviewId').data('id');
            var spamtext = $("#SpamReasonTxt").val();

            var url = '@Url.Action("AddToSpam", "Stylist")';
            var formData = new FormData();
            formData.append('ReviewId', ReviewId);
            formData.append('SpamReasonTxt', spamtext);
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    ShowToastr("success", result.Message, '');
                    $.fancybox.close();
                    $("#SpamReasonTxt").val('');
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        }

        function funSpamComplete(data) {
            if (data.responseJSON.Status == '1') {
                ShowToastr('success', data.responseJSON.Message, '');
            }
            else {

                //$('#ReviewRenderId').html(data.Result);
                ShowToastr('Error', data.responseJSON.Message, '');;
            }
        }


        function FundeleteMyReview() {
            var spamreviewid = $('#DeleteId').data('id');
            $('#id').val(spamreviewid);
            var url = '@Url.Action("DeleteReview", "Stylist")';
            var formData = new FormData();
            formData.append('id', spamreviewid);
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    ShowToastr("success", result.Message, '');
                    window.location.reload();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        }

        
        
        function getRating() {
            var rating = parseInt($('.rangeable-tooltip').text());
            $('#Rating').val(rating);
            $('#frmReview').submit();
        }

        function CloseReviewPopup(data) {
            removeOverlay();
            $.fancybox.close();
            if (data.responseJSON.Status == '1') {
                //$('#ReviewRenderId').html(data.Result);
                window.location.reload();
                IntializeJsforFancy();
                ShowToastr('success', data.responseJSON.Message, '');
            }
            else {
                //$('#ReviewRenderId').html(data.Result);
                ShowToastr('Error', data.responseJSON.Message, '');;
            }
        }

        function fnOpenRating(url, ReviewId, Rating) {
            var frmData = new FormData();
            frmData.append("ReviewId", ReviewId);
            
            $.ajax({
                url: url,
                type: 'Post',
                data: frmData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $("#DivReviewPopup").html(result);
                    $.fancybox.open({
                        src: "#my-review",
                        type: 'inline',
                        modal: true,
                        helpers: {
                            overlay: { closeClick: false }
                        }
                    });

                    const slider = new Rangeable(".field-range input", {
                        step: 1,
                        value: Rating,
                    });

                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        }
    </script>
}