﻿@model GetStylistPaymenList
@{
    ViewBag.Title = "Payment History";
    Layout = "~/Views/Shared/_Profile.cshtml";
}

<div class="middle-right container">
    <div class="titel-top">
        @{
            string strExpire = "";
            if (Model.StylistHistoryList.Count > 0)
            {
                var data = Model.StylistHistoryList.First();
                if (data.EndDate.Date <= DateTime.Now.Date)
                {
                    strExpire = "(Expired)";
                }
            }
            else
            {
                //strExpire = "(Expired)";
            }
        }
        <h3>@Resource.paymenthistory 
            <span style="color:red;">@strExpire</span>
        </h3>
        @*<P>You can see all your payment status here.</P>*@
    </div>
    <div class="middle-right-full">
        <div class="payment-table">
            <input type="hidden" id="hdnPaymentHistoryIndex" value="@Model.StylistHistoryPageIndex" />
            <input type="hidden" id="hdnPaymentHistorySize" value="@Model.StylistHistoryPageCount" />
            <div id="tblPaymentHistory" style="height: 710px;">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <th>
                        <P>@Resource.Package</P>
                    </th>
                    <th class="mobile-none">
                        <P>@Resource.start</P>
                    </th>
                    <th class="mobile-none">
                        <P>@Resource.end</P>
                    </th>
                    <th class="mobile-none">
                        <P>@Resource.Paymentmode</P>
                    </th>
                    <th class="mobile-block">
                        <P>&nbsp;</P>
                    </th>
                    <th class="sm-align-right">
                        <P>@Resource.AmountPaid</P>
                    </th>
                    <th class="mobile-none">
                        <P>Status</P>
                    </th>
                    <th class="sm-align-right">
                        <P>&nbsp;</P>
                    </th>
                    </thead>
                    <tbody id="tbody">
                        @Html.Partial("_PaymentHistory", Model.StylistHistoryList)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="divPremiumAccountpopup">
    @Html.Partial("_PremiumAccountpopup", new List<UpgradeAccountModel>())
</div>
