﻿@model List<UpgradeAccountModel>
@{
    ViewBag.Title = "Update to Premium";
    Layout = "~/Views/Shared/_Profile.cshtml";
    ViewUserDetail userdetail = new ViewUserDetail();
    if (ViewBag.UserProfile != null)
    {
        userdetail = ViewBag.UserProfile as ViewUserDetail;
    }
}
@using (Html.BeginForm("CheckoutPayment", "Stripe", FormMethod.Post, new { id = "checkoutpayment" }))
{
    @Html.Hidden("UpgradeAccountId")
    @Html.Hidden("stripetype")
    //@Html.Hidden("InvoiceNo")
}

<div class="middle-right container">
    <div class="titel-top">
        <h3>
            @Resource.upgradeToPremiumContent
            @{
                if (userdetail.IsUserExpire == true)
                {
                    <div class="upgrid-link" style="display: inline-block;font-size: inherit;">
                        <span style="color:red;">(@Resource.upgradetoPremiumExpired)</span>
                        <div class="max-tool">
                            <div class="tool-tip">
                                <P>@Resource.ExpireAccountText</P>
                            </div>
                        </div>
                    </div>
                }
                else if (!String.IsNullOrWhiteSpace(userdetail.userExpiryDate))
                {
                    <span style="color:green">(@Resource.upgradetoPremiumExpiredon @userdetail.userExpiryDate)</span>
                }
            }
        </h3>
    </div>
    @if (String.IsNullOrWhiteSpace(ViewBag.successmessage))
    {
        <div class="middle-right-full" id="premium-design">
            <div class="premium-box">
                <div class="pre-max">
                    <div class="mrg-pre">
                        <div class="pre-bx">
                            <div class="pre-i">
                                <div class="table">
                                    <div class="table-cell">
                                        <img src="@Url.Content("~/Content/images/infinite.svg")" alt="" />
                                    </div>
                                </div>
                            </div>
                            <P>@Resource.unlimited<br>@Resource.request</P>
                        </div>
                        <div class="pre-bx">
                            <div class="pre-i">
                                <div class="table">
                                    <div class="table-cell">
                                        <img src="@Url.Content("~/Content/images/message.png")" alt="" />
                                    </div>
                                </div>
                            </div>
                            <P>@Resource.updatePremiumMessageIcon1 <br />@Resource.updatePremiumMessageIcon2</P>
                        </div>
                        <div class="pre-bx">
                            <div class="pre-i">
                                <div class="table">
                                    <div class="table-cell">
                                        <img src="@Url.Content("~/Content/images/premium.svg")" alt="" />
                                    </div>
                                </div>
                            </div>
                            <P>@Resource.betterlisted <br> @Resource.upgradetoPremiumInStylist </P>
                        </div>
                        <div class="pre-bx">
                            <div class="pre-i">
                                <div class="table">
                                    <div class="table-cell">
                                        <img src="@Url.Content("~/Content/images/credit.png")" alt="" />
                                    </div>
                                </div>
                            </div>
                            <P>Job <br />Credits</P>
                        </div>
                    </div>
                </div>

                <div class="blue-btn">
                    <a href="#premium-account" title="@Resource.upgradeToPremiumBtn" class="btn-noty fancybox">@Resource.upgradeToPremiumBtn</a>
                </div>

                @*@if (ViewBag.IsAbleToBuy == true)
                    {
                        <div class="blue-btn">
                            <a href="#premium-account" title="@Resource.upgradeToPremiumBtn" class="btn-noty fancybox">@Resource.upgradeToPremiumBtn</a>
                        </div>
                    }
                    else
                    {
                        <div class="blue-btn">
                            <p>Your Previous Transaction is on pending..</p>
                        </div>

                    }*@
            </div>
        </div>
    }
    <input type="hidden" id="hdnPaymentType" name="hdnPaymentType" value="chkPayInFull" />
    <div class="middle-right-full" id="payment-option">
        @Html.Partial("~/Views/Payment/_CheckoutPayment.cshtml", new PaymentResponseData())
    </div>
</div>
@Html.Partial("_PremiumAccountpopup", Model)



@section profilelayoutscript{
    <script src="@Url.Content("~/Scripts/custom/checkoutSDK.1.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Payment/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/Payment/easyResponsiveTabs.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/custom/setupCall.js")"></script>*@
    <script>
        var strmonth = '@ViewBag.Month';
        $(document).ready(function () {
            var strmonth = '@ViewBag.Month';
            //var invoiceNo = GetParameterValues('invoiceNo');
            //$('#InvoiceNo').val(invoiceNo);
            if (strmonth != null && strmonth != undefined) {
                $(".buy-" + strmonth).click();
            }
            //function GetParameterValues(param) {
            //    var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            //    for (var i = 0; i < url.length; i++) {
            //        var urlparam = url[i].split('=');
            //        if (urlparam[0] == param) {
            //            return urlparam[1];
            //        }
            //    }
            //}
        });

        function fnUpdateToCheckout(UpgradeAccountId, stripetype) {
            displayWhiteOverlay();
            $('#UpgradeAccountId').val(UpgradeAccountId);
            $('#stripetype').val(stripetype);
            //$('#InvoiceNo').val(InvoiceNo);
            $('#checkoutpayment').submit();
        }
        function fnUpdateToPremium(url) {
            $.fancybox.close();
            displayWhiteOverlay();
            @*var strInvoiceNo = '@ViewBag.invoiceNo';
            if (strInvoiceNo.includes("INV")) {
                url = url + "&InvoiceNo=" + strInvoiceNo;
            }*@
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    $("#premium-design").hide();
                    $("#payment-option").html(result);
                    initializeChekout();
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', err, '');
                }
            });
        }

        function initializeChekout() {
            var successMessage = $(".success-message").html();
            if (successMessage != '' && successMessage != undefined && successMessage != null) {
                $("#your-payment-div").hide();
            }
        }

        //function fnCheckout(url) {
        //    alert('fun checkout');
        //    displayWhiteOverlay();
        //    var paymentterm = $("#hdnPaymentType").val();

        //    var frmData = new FormData();
        //    frmData.append("hdnPSPReference", $("#hdnPSPReference").val());
        //    frmData.append("hdnInvoiceNo", $("#hdnInvoiceNo").val());
        //    frmData.append("hdnPaymentTerm", $("#hdnPaymentType").val());

        //    $.ajax({
        //        url: url,
        //        type: 'POST',
        //        data: frmData,
        //        cache: false,
        //        contentType: false,
        //        processData: false,
        //        success: function (result) {
        //            removeWhiteOverlay();
        //            $(".success-message").html(result.Message);
        //            if (result.Message != '' && result.Message != undefined && result.Message != null) {
        //                $("#your-payment-div").hide();
        //            }
        //        },
        //        error: function (err) {
        //            removeWhiteOverlay();
        //            ShowToastr('error', err, '');
        //        }
        //    });
        //}

       
    </script>
}
