﻿@model List<UpgradeCreditModel>
@{
    ViewBag.Title = "UpdateToCredit";
    Layout = "~/Views/Shared/_Profile.cshtml";
    ViewUserDetail userdetail = new ViewUserDetail();
    if (ViewBag.UserProfile != null)
    {
        userdetail = ViewBag.UserProfile as ViewUserDetail;
    }
}

@using (Html.BeginForm("CheckoutPayment", "Stripe", FormMethod.Post, new { id = "checkoutpayment" }))
{
    @Html.Hidden("UpgradeCreditId")
    @Html.Hidden("stripetype")
    @Html.Hidden("InvoiceNo")
}

<div class="middle-right container">
    <div class="titel-top">
        <h3>
            Update Credit
            @*@{
                    if (userdetail.IsUserExpire == true)
                    {
                        <div class="upgrid-link" style="display: inline-block;font-size: inherit;">
                            <span style="color:red;">(@Resource.upgradetoPremiumExpired)</span>
                            <div class="max-tool">
                                <div class="tool-tip">
                                    <P>@Resource.ExpireAccountText</P>
                                </div>
                            </div>
                        </div>
                    }
                    else if (!String.IsNullOrWhiteSpace(userdetail.userExpiryDate))
                    {
                        <span style="color:green">(@Resource.upgradetoPremiumExpiredon @userdetail.userExpiryDate)</span>
                    }
                }*@
        </h3>
    </div>
    @if (String.IsNullOrWhiteSpace(ViewBag.successmessage))
    {
        <div class="middle-right-full" id="premium-design">
            <div class="premium-box">
                <div class="pre-max">
                    <div class="mrg-pre">
                        <div class="pre-bx">
                            <div class="pre-i">
                                <div class="table">
                                    <div class="table-cell">
                                        <img src="@Url.Content("~/Content/images/infinite.svg")" alt="" />
                                    </div>
                                </div>
                            </div>
                            <P>@Resource.unlimited<br>@Resource.request</P>
                        </div>
                        <div class="pre-bx">
                            <div class="pre-i">
                                <div class="table">
                                    <div class="table-cell">
                                        <img src="@Url.Content("~/Content/images/message2.svg")" alt="" />
                                    </div>
                                </div>
                            </div>
                            <P>Premium <br />Stylist</P>
                        </div>
                        <div class="pre-bx">
                            <div class="pre-i">
                                <div class="table">
                                    <div class="table-cell">
                                        <img src="@Url.Content("~/Content/images/premium.svg")" alt="" />
                                    </div>
                                </div>
                            </div>
                            <P>@Resource.betterlisted <br> @Resource.upgradetoPremiumInStylist </P>
                        </div>
                        <div class="pre-bx">
                            <div class="pre-i">
                                <div class="table">
                                    <div class="table-cell">
                                        <img src="@Url.Content("~/Content/images/credit.png")" alt="" />
                                    </div>
                                </div>
                            </div>
                            <P>Job request <br />Credits</P>
                        </div>
                    </div>
                </div>
                <div class="blue-btn">
                    <a href="#premium-credit" title="@Resource.upgradeToPremiumBtn" class="btn-noty fancybox">@Resource.upgradeToPremiumBtn</a>
                </div>
                @*@if (ViewBag.IsAbleToBuy == true)
                    {

                    }
                    else
                    {
                        <div class="blue-btn">
                            <p>Your Previous Transaction is on pending..</p>
                        </div>

                    }*@
            </div>
        </div>
    }
    <input type="hidden" id="hdnPaymentType" name="hdnPaymentType" value="chkPayInFull" />
    <div class="middle-right-full" id="payment-option">
        @Html.Partial("~/Views/Payment/_CheckoutPayment.cshtml", new PaymentResponseData())
    </div>
</div>

@Html.Partial("_PremiumCreditPopup", Model)

@section profilelayoutscript{
    <script src="@Url.Content("~/Scripts/custom/checkoutSDK.1.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Payment/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/Payment/easyResponsiveTabs.js")" type="text/javascript"></script>   
    <script>
        var strmonth = '@ViewBag.Credit';
        $(document).ready(function () {
            var strmonth = '@ViewBag.Credit';
            var invoiceNo = GetParameterValues('invoiceNo');
            $('#InvoiceNo').val(invoiceNo);
            if (strmonth != null && strmonth != undefined) {
                $(".buy-" + strmonth).click();
            }
            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            }
        });

        function fnUpdateToCheckoutForCredit(UpgradeAccountId, stripetype, InvoiceNo) {
            displayWhiteOverlay();
            $('#UpgradeCreditId').val(UpgradeAccountId);
            $('#stripetype').val(stripetype);
            $('#InvoiceNo').val(InvoiceNo);
            $('#checkoutpayment').submit();
        }
        function fnUpdateToCredit(url) {
            $.fancybox.close();
            displayWhiteOverlay();
            var strInvoiceNo = '@ViewBag.invoiceNo';
            if (strInvoiceNo.includes("INV")) {
                url = url + "&InvoiceNo=" + strInvoiceNo;
            }
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    $("#premium-design").hide();
                    $("#payment-option").html(result);
                    initializeChekout();
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', err, '');
                }
            });
        }

        function initializeChekout() {
            var successMessage = $(".success-message").html();
            if (successMessage != '' && successMessage != undefined && successMessage != null) {
                $("#your-payment-div").hide();
            }
        }

        function fnCheckout(url) {
            displayWhiteOverlay();
            var paymentterm = $("#hdnPaymentType").val();

            var frmData = new FormData();
            frmData.append("hdnPSPReference", $("#hdnPSPReference").val());
            frmData.append("hdnInvoiceNo", $("#hdnInvoiceNo").val());
            frmData.append("hdnPaymentTerm", $("#hdnPaymentType").val());

            $.ajax({
                url: url,
                type: 'POST',
                data: frmData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    $(".success-message").html(result.Message);
                    if (result.Message != '' && result.Message != undefined && result.Message != null) {
                        $("#your-payment-div").hide();
                    }
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', err, '');
                }
            });
        }

        //$('input[type=radio][name=chkPayInFull]').change(function () {
        //    if (this.value == 'chkPayInFull') {
        //        $(".pay-in-installment").hide();
        //        $(".pay-in-full").show();
        //    }
        //    else if (this.value == 'chkPayInInstallment') {
        //        $(".pay-in-installment").show();
        //        $(".pay-in-full").hide();
        //    }
        //    $("#hdnPaymentType").val(this.value);
        //});
    </script>
}


