﻿@model AddPostModel
@{
    Layout = null;
}
<!-- add-post popup -->
<div class="popup-box">
    <div id="add-post" class="popup-max">
        <div class="" align="center">
            <a href="Javascript:;" title=""><img id="loader-post" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
        </div>
        <input type="hidden" id="hdnDeleteMediaUrl" value="@Url.Action("DeleteMedia", "Post")" />
        @using (Ajax.BeginForm("AddEditPost", "Post",
    new AjaxOptions
    {
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure",
        LoadingElementId = "progress",
        OnBegin = "return FormPostValidation();"
    }, new { id = "frm-add-post" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.HiddenPostFilePath)

            <div class="popup-had">
                <h4>
                    @if (Model.Id > 0)
                    {@Resource.addpostbtnUpdateBtn }
                else
                {@Resource.addPostbtn}
                </h4>
                <a href="javascript:;" title="" class="cancel-pp" onclick="return confirmSaveData();"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
            </div>
            <div class="popup-tabs">
                <ul>
                    <li><a href="#upload" title="@Resource.Upload">@Resource.Upload</a></li>
                    <li><a href="javascript:void(0)" title="@Resource.Crop" class="checkFileUpload">@Resource.Crop</a></li>
                    <li><a href="javascript:void(0)" title=@Resource.addPostDescription class="checkFileUpload">@Resource.addPostDescription</a></li>
                </ul>
            </div>
            <div class="tabs-full-popup">
                <div id="upload">
                    <div class="popup-middle">
                        <div class="crop-box data-div-placeholder-content">
                            <div class="crop-image-section">
                                <div class="img-upload-max"></div>
                                <div><p>@Resource.editProProfileSizeValid</p></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="#" title="@Resource.editProProfileSizeValid" class="add-new-file">+ @Resource.AddNewFile <input id="newFile" name="newFile" onchange="fnUploadNewFile('@Url.Action("AddPostMedia", "Post")')" type="file" multiple /></a>
                    </div>
                    <div class="next-button">
                        <a href="#" title="Next" class="btn-yellow checkFileUpload">@Resource.Next</a>
                    </div>
                </div>
                <div id="crop" style="display:none;">
                    <div class="crop-box">
                        <div class="pagination-image">
                            <div class="mrg-pg" id="crop-image-array">
                            </div>
                            @Html.HiddenFor(x => x.HiddenPostFileName, new { @class = "checkvalue" })
                        </div>
                        <div class="crop-image-section">
                            <canvas id="canvas" class="img-upload-max "></canvas>
                            <div id="image-container" class="addpost-image-container">
                                <img id="image" src="" alt="Picture" class="cropper-hidden">
                            </div>
                            <div class="ps-upload hide">
                                <input type="hidden" id="existFileName" name="existFileName" />
                                <input type="hidden" id="existFileUrl" name="existFileUrl" />
                                <div class="bt-crop">
                                    <input type="button" id="btnLeftRotate" value="@Resource.Crop" title="rotate left" onclick="rotateLeft()" />
                                    <img id="btnCrop" src="@Url.Content("~/Content/images/rotate-left.svg")" title="rotate left" alt="rotate left" style="width: 40px;height: 40px;" />
                                </div>
                                <div class="bt-crop">
                                    <input type="button" id="btnRightRotate" value="@Resource.Crop" title="rotate right" onclick="rotateRight()" />
                                    <img id="btnCrop" src="@Url.Content("~/Content/images/rotate-right.svg")" title="rotate right" alt="rotate right" style="width: 40px;height: 40px;"/>
                                </div>
                                <div class="bt-crop">
                                    <input type="button" id="btnCrop" value="@Resource.Crop" title="crop" onclick="fnCropFile('@Url.Action("AddPostImage", "Post")')" />
                                    <img id="btnCrop" src="@Url.Content("~/Content/images/crop-right.svg")" alt="" />
                                </div>
                                <div class="bt-crop-rs">
                                    <input type="button" id="btnRestore" value="@Resource.Restore" title="reset" onclick="fnCropClear()" class="btnsave" />
                                    <img src="@Url.Content("~/Content/images/crop-cancel.svg")" alt="" />
                                </div>
                            </div>
                            <div class="upload-button hide">
                                <a href="#" title="Upload Photo/Video" class="btn-yellow">
                                    @Resource.UploadPhotoVideo
                                    <input class="fileInput" id="fileInput" type="file">
                                </a>
                            </div>
                            
                            <div class="loading-label hide" style="padding-top:10px;">
                                <label class="btn-yellow">@Resource.UploadingFile..........</label>
                            </div>
                        </div>
                    </div>
                    <div class="next-button">
                        <a href="#" title=@Resource.Next class="btn-yellow">@Resource.Next</a>
                    </div>
                </div>
                <div id="description" style="display:none;">
                    <div class="popup-middle">
                        <div class="field-rs">
                            <label>@Resource.addPostDescription</label>
                            @Html.TextAreaFor(x => x.Description, new { placeholder = Resource.Writeforposthere })
                        </div>
                        <div class="field-rs">
                            <label>@Resource.Hashtags</label>
                            <div class="hash-tag-wrapper-2">
                                @Html.TextBoxFor(x => x.HashtagsArray, new { @class = "tm-input-select checkvalue", placeholder = Resource.Typehashtagshere, style = "box-shadow: 0 0 0px rgba(0,0,0,0) !important; width:auto !important;" })
                                @*onkeypress = "if(this.value.length > 19){ this.style.width = ((this.value.length + 1) * 8) + 'px'; }"*@
                                @Html.HiddenFor(x => x.HiddenHashtags, new { @data_role = "tagsinput" })
                            </div>
                        </div>
                        <div class="field-rs">
                            <label>@Resource.SelectService</label>
                            <div class="check-box">
                                @{
                                    if (Model != null && Model.PostCategoryList != null)
                                    {
                                        for (int i = 0; i < Model.PostCategoryList.Count; i++)
                                        {
                                            @Html.HiddenFor(x => Model.PostCategoryList[i].Id)
                                            <div class="chek-bx">
                                                @Html.CheckBoxFor(x => Model.PostCategoryList[i].Selected, new { id = "PostCategoryList_" + Model.PostCategoryList[i].Id + "___Id", name = Model.PostCategoryList[i].Id })
                                                @Html.LabelFor(x => Model.PostCategoryList[i].Id, Model.PostCategoryList[i].CategoryName, new { @for = "PostCategoryList_" + Model.PostCategoryList[i].Id + "___Id", @class = "check-label" })
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="popup-footer">
                        <input type="submit" class="button share-button" value="@Resource.SubmitpostBtn" />
                        <a href="#" title="Cancel" class="button cancel-button" data-fancybox-close="true">@Resource.forgotpasswordCancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

