﻿@model List<ViewLikeModel>


@foreach (ViewLikeModel likeModel in Model)
{
    <div class="popup-row">
        <div class="table">
            <div class="table-cell">
                <div class="table">
                    <div class="noty-img">
                        @if (likeModel.UserImage != null)
                        {
                            <img src="@GlobalConfig.UserImageUrl@likeModel.UserImage" style="border-radius: 50%;" alt="">
                        }
                        else
                        {
                            <img src="@(GlobalConfig.UserImageUrl+"DefaultProfile.jpg")" style="border-radius: 50%;" alt="">
                        }

                    </div>
                    <div class="noty-content">
                        <h6>@likeModel.Name</h6>
                        <span>@likeModel.UserName</span>
                    </div>
                </div>
            </div>
            <div class="table-cell">

                    @{
                        string strBtnStyle = "";
                        string strflwText = Resource.follow;
                        if (likeModel.isFollow)
                        {
                            strBtnStyle = "defult";
                            strflwText = Resource.following;
                        }
                        if (User.Identity.GetUserId() != likeModel.UserId)
                        {
                            <a href="javascript:void(0);" title="@strflwText" class="btn-noty @strBtnStyle" onclick="followUser(this, '@Url.Action("FollowTransaction", "Home", new { StylishId = likeModel.UserId })')">@strflwText</a>
                        }
                    }
                   
            </div>
        </div>
    </div>
}
