﻿@model GetPostViewListModel

@for (int i = 0; i < Model.PopularPost.Count; i++)
{
    string strFilePath = "";
    string strDescription = "";
    if (Model.PopularPost[i].IsVideo)
    {
        //strFilePath = @GlobalConfig.PostImageUrl + "DefaultVideoIcon.jpg";
        strFilePath = GlobalConfig.PostImageUrl + Model.PopularPost[i].FileName;
    }
    else
    {
        if (Model.PopularPost[i].FileName == null)
        {
            strFilePath = GlobalConfig.PostImageUrl + "Default-Image.jpg";
        }
        else
        {
            strFilePath = GlobalConfig.PostImageUrl + Model.PopularPost[i].FileName;
        }
    }
    <div class="product-bx product-bx-@Model.PopularPost[i].PostId">
        <div class="product-img" onclick="showPostDetail(this, @Model.PopularPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" style="cursor:pointer;min-height: 306px;background-image:url('@(Model.PopularPost[i].IsVideo?strFilePath+".jpg":strFilePath)');background-size: cover;">
            @if (Model.PopularPost[i].IsVideo)
            {
                <div class="video-container">
                    <video>
                        <source src="@strFilePath" type="video/mp4">
                    </video>
                </div>
            }
            @if (Model.PopularPost[i].PostByRole == Role.Stylist)
            {
                <a href="#" title="" class="logo-icon"><img src="~/content/images/logo-icon.svg" alt=""></a>
            }

            @if (Model.PopularPost[i].IsVideo)
            {
                <a href="javascript:void(0);" onclick="showPostDetail(this, @Model.PopularPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" title="" class="ps-pd-img"><img src="~/content/images/video.svg" alt=""></a>
            }
            else if (Model.PopularPost[i].FileCount > 1)
            {
                <a href="javascript:void(0);" onclick="showPostDetail(this, @Model.PopularPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" title="" class="ps-pd-img"><img src="~/content/images/image.svg" alt=""></a>
            }
        </div>
        <div class="product-new-ctn">
            <div class="product-lk">
                <input type="hidden" id="hdnPostBoxId_@Model.PopularPost[i].PostId" name="hdnPostBoxId_@Model.PopularPost[i].PostId" value="@Model.PopularPost[i].PostId" />
                @{
                    string strlikeclass = "pd-linke-unlike";
                    if (Model.PopularPost[i].isUserLike)
                    {
                        strlikeclass = "pd-linke-like";
                    }

                    <a href="javascript:void(0);" title="" class="pd-linke @strlikeclass noselect" onclick="likePostbyUser(this, @Model.PopularPost[i].PostId, '@Url.Action("AddRemoveLikePost", "Post")')"></a>
                    <a href="#like-activity" title="" class="count-like" style="width:4%;" onclick="showLikeActivity(this, @Model.PopularPost[i].PostId, '@Url.Action("ViewLikeActivityPageSize", "Post")', '@Url.Action("ViewLikeActivity", "Post")', @Model.PopularPost[i].TotalLikes);">@Model.PopularPost[i].TotalLikes</a>
                    <a href="javascript:void(0);" onclick="showPostDetail(this, @Model.PopularPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" class="pd-chet">@Model.PopularPost[i].TotalComments</a>

                    if (Model.PopularPost[i].PostCountShare > 1)
                    {
                        <a href="javascript:void(0);" onclick="fnShareData('@Url.Action("Index", "Home")?postid=@Model.PopularPost[i].PostId', '@strFilePath')" class="pd-share">
                            @Model.PopularPost[i].PostCountShare
                            @Resource.PostShare
                        </a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" onclick="fnShareData('@Url.Action("Index", "Home")?postid=@Model.PopularPost[i].PostId', '@strFilePath')" class="pd-share">
                            @Model.PopularPost[i].PostCountShare
                            @Resource.PostShare
                        </a>
                    }
                }
                <div class="more-link">
                    <img src="~/content/images/more.svg" alt="" />
                    <ul class="more-link-bx">
                        @if (User.Identity.GetUserId() == Model.PopularPost[i].UserId)
                        {
                            string hashtag = Request.QueryString["hashtag"];
                            string postid = Request.QueryString["postid"];
                            if (String.IsNullOrEmpty(postid))
                            {
                                postid = "0";
                            }
                            <li><a href="javascript:void(0);" title=@Resource.edit onclick="editPost('@Url.Action("EditPost", "Post", new { id = Model.PopularPost[i].PostId })')">@Resource.edit</a></li>
                            <li><a href="javascript:void(0);" title=@Resource.delete onclick="deletePost('@Url.Action("DeletePost", "Post", new { id = Model.PopularPost[i].PostId })', '@Url.Action("GetAllPostData", "Post", new { id = 1, @hashtag = hashtag, @postid =postid })')">@Resource.delete</a></li>
                        }
                        else
                        {
                            <li><a href="#report-post" title=@Resource.Report class="" onclick="fnPopupReport(this, @Model.PopularPost[i].PostId)">@Resource.Report</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="product-discription">
                @{
                    if (Model.PopularPost[i].PostByRole == Role.Stylist)
                    {
                        <h5>@Resource.by <a href="@Url.RouteUrl("Stylist", new { username = Model.PopularPost[i].NickName, action = "About" })" title="@Model.PopularPost[i].UserName">@Model.PopularPost[i].UserName</a></h5>
                    }
                    else
                    {
                        <h5>@Resource.by <a href="@Url.RouteUrl("User", new { username = Model.PopularPost[i].NickName, action = "About" })" title="@Model.PopularPost[i].UserName">@Model.PopularPost[i].UserName</a></h5>
                    }
                }
                <p>
                    @{
                        if (Model.PopularPost[i].Description != null)
                        {
                            if (Model.PopularPost[i].Description.Length > 60)
                            {
                                strDescription = Model.PopularPost[i].Description.Substring(0, 60);
                            }
                            else
                            {
                                strDescription = Model.PopularPost[i].Description;
                            }

                            @strDescription

                            if (Model.PopularPost[i].Description.Length > 60)
                            {
                                <span>...<a href="javascript:void(0)" onclick="showPostDetail(this, @Model.PopularPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" title="@Resource.ViewMore">@Resource.ViewMore</a></span>
                            }
                        }
                    }
                </p>
            </div>
        </div>
    </div>
}
