﻿@model PostViewDetailModel

@if (Model.UserId != null)
{
    string strFilePath = "";
    string userUrl = "";
    if (Model.UserRole == Role.Stylist)
    {
        userUrl = Url.RouteUrl("Stylist", new { username = Model.UserName.Replace("@", ""), action = "About" });
    }
    else
    {
        userUrl = Url.RouteUrl("User", new { username = Model.UserName.Replace("@", ""), action = "About" });
    }
    <!-- comment  popup-->
    <div class="popup-box">
        <div id="comment-popup" class="popup-max comment-popup">
            <div class="popup-box-hidescroll">
                <div class="table popup-box-scroll">
                    <div class="comment-slider">
                        <div class="comment-slide ">
                            <div class="owl-carousel owl-theme">
                                @foreach (PostFilesModel mediafile in Model.PostFiles)
                                {
                                    if (String.IsNullOrWhiteSpace(strFilePath))
                                    {
                                        strFilePath = GlobalConfig.PostImageUrl + mediafile.FileName;
                                    }
                                    <div class="item">
                                        <div class="full-video" style="text-align: center;">
                                            @if (mediafile.IsVideo)
                                            {                                               
                                                <video id="my_video" controls defaultMuted paused preload="none" style="background:black">
                                                    <source src="@GlobalConfig.PostImageUrl@mediafile.FileName" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' autostart>
                                                </video>

                                                @*<video id="my_video" controls defaultMuted paused>
                <source src="@GlobalConfig.PostImageUrl@mediafile.FileName" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' preload="auto" autostart="true">
            </video>*@
                                            }
                                            else
                                            {
                                                <img src="@GlobalConfig.PostImageUrl@mediafile.FileName" alt="" style="width: auto;height: 520px;float: initial;display:inline-block;">
                                            }

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="comment-cell product-bx-@Model.PostId">
                        <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
                        <div class="comment-first">
                            <div class="stylist-row">
                                <div class="table">
                                    <div class="style-image">
                                        @if (!String.IsNullOrWhiteSpace(Model.ProfileImageName))
                                        {
                                            <img src="@GlobalConfig.UserImageUrl@Model.ProfileImageName" alt="" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/Content/images/profile-placeholder.png")" alt="" />
                                        }
                                    </div>
                                    <div class="style-ctn">
                                        <h6><a href="@userUrl" target="_blank" title="@Model.Name">@Model.Name</a></h6>
                                        <a class="pf-link" href="@userUrl" target="_blank" title="@Html.Display("@")@Model.UserName">@Html.Display("@")@Model.UserName</a>
                                    </div>
                                </div>
                                <div class="discription-review">
                                    <p>
                                        @Model.Description
                                        @foreach (PostHashtagsModel hashtagModel in Model.PostHashtag)
                                        {
                                            <a title="" href="@Url.Action("Index", "Home", new { id = 0, hashtag = @hashtagModel.Hashtag })" target="_blank">#@hashtagModel.Hashtag</a>
                                        }
                                    </p>
                                </div>
                                <div class="product-lk">
                                    @{string strlikeclass = "pd-linke-unlike";
                                        if (Model.IsLike)
                                        {
                                            strlikeclass = "pd-linke-like";
                                        }
                                        <a href="javascript:void(0);" title="" class="pd-linke @strlikeclass" onclick="likePostbyUser(this, @Model.PostId, '@Url.Action("AddRemoveLikePost", "Post")')"></a>
                                    }
                                    <a href="#like-activity" title="" class="count-like" style="width:4%;" onclick="showLikeActivity(this, @Model.PostId, '@Url.Action("ViewLikeActivityPageSize", "Post")', '@Url.Action("ViewLikeActivity", "Post")', @Model.PostCountLikes);">@Model.PostCountLikes</a>

                                    <a href="javascript:void(0);" title="@Model.PostCountComments" class="pd-chet">@Model.PostCountComments</a>
                                    @{
                                        if (Model.PostCountShare > 1)
                                        {
                                            <a href="javascript:;" onclick="fnShareData('@Url.Action("Index", "Home")?postid=@Model.PostId', '@strFilePath')" class="pd-share">
                                                @Model.PostCountShare
                                                @Resource.PostShare
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" onclick="fnShareData('@Url.Action("Index", "Home")?postid=@Model.PostId', '@strFilePath')" class="pd-share">
                                                @Model.PostCountShare
                                                @Resource.PostShare
                                            </a>
                                        }
                                    }
                                    @if (Model.UserId == User.Identity.GetUserId())
                                    {
                                        string hashtag = Request.QueryString["hashtag"];
                                        string postid = Request.QueryString["postid"];
                                        if (String.IsNullOrEmpty(postid))
                                        {
                                            postid = "0";
                                        }
                                        <div class="more-link">
                                            <img src="~/content/images/more.svg" alt="" />

                                            <ul class="more-link-bx">
                                                <li><a href="javascript:void(0);" title=@Resource.edit onclick="editPost('@Url.Action("EditPost", "Post", new { id = Model.PostId })')">@Resource.edit</a></li>
                                                <li><a href="javascript:void(0);" title=@Resource.delete onclick="deletePost('@Url.Action("DeletePost", "Post", new { id = Model.PostId })', '@Url.Action("GetAllPostData", "Post", new { id = 1, @hashtag = hashtag, @postid = postid })')">@Resource.delete</a></li>
                                            </ul>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="comment-second">
                            <div class="comment-tt">
                                <h6>@Resource.comments</h6>
                            </div>
                            <div class="comment-send">
                                <div id="divCommentList" class="over-scroll">
                                    @{
                                        if (Model.Comments.Count > 0)
                                        {
                                            for (int IComment = 0; IComment < Model.Comments.Count; IComment++)
                                            {
                                                string strDisplay = "none";
                                                if (IComment < 2)
                                                {
                                                    strDisplay = "block";
                                                }
                                                string strBottomPadding = "0px";
                                                if (Model.ReplyComments.Where(x => x.CommentId == Model.Comments[IComment].CommentId).Count() <= 0 && IComment == (Model.Comments.Count + 1))
                                                {
                                                    strBottomPadding = "50px";
                                                }
                                                <div class="review-row" id="@Model.Comments[IComment].CommentId" style="display:@strDisplay; padding-bottom:@strBottomPadding;">
                                                    <div class="table">
                                                        <div class="table-cell-img">
                                                            @if (!String.IsNullOrWhiteSpace(Model.Comments[IComment].ProfileImage))
                                                            {
                                                                <img src="@GlobalConfig.UserImageUrl@Model.Comments[IComment].ProfileImage" alt="" />
                                                            }
                                                            else
                                                            {
                                                                <img src="@Url.Content("~/Content/images/profile-placeholder.png")" alt="" />
                                                            }
                                                        </div>
                                                        <div class="table-cell-content">
                                                            <div class="table">
                                                                <div class="review-had">
                                                                    <h6>
                                                                        @if (Model.Comments[IComment].UserRole == Role.Stylist)
                                                                        {
                                                                            <a href="@Url.RouteUrl("Stylist", new { username = Model.Comments[IComment].UserName, action = "About" })" target="_blank">@Model.Comments[IComment].Name</a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="@Url.RouteUrl("User", new { username = Model.Comments[IComment].UserName, action = "About" })" target="_blank">@Model.Comments[IComment].Name</a>
                                                                        }
                                                                        @if (Model.Comments[IComment].UserName != User.Identity.GetUserName())
                                                                        {
                                                                            <div class="more-link">
                                                                                <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                                                                <ul class="more-link-bx-comment">
                                                                                    <li><a href="javascript:void(0)" title="@Resource.reply" onclick="fnReplyComment(this, @Model.Comments[IComment].CommentId, '@Model.Comments[IComment].Name')">@Resource.reply</a></li>
                                                                                    <li><a href="#" title="Spam" onclick="fnSpamComment(this, @Model.Comments[IComment].CommentId)">Spam</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="more-link">
                                                                                <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                                                                <ul class="more-link-bx-comment">
                                                                                    <li><a href="#" title="@Resource.delete" onclick="fnDeleteComment(this, @Model.Comments[IComment].CommentId, 0)">@Resource.delete</a></li>
                                                                                </ul>
                                                                            </div>
                                                                        }
                                                                    </h6>
                                                                    <span>@Model.Comments[IComment].CommentedTimeSpan</span>
                                                                </div>
                                                            </div>
                                                            <div class="discription-review">
                                                                <p>@Model.Comments[IComment].Message</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                if (Model.ReplyComments.Count > 0)
                                                {
                                                    for (int IRComment = 0; IRComment < Model.ReplyComments.Count; IRComment++)
                                                    {
                                                        if (Model.ReplyComments[IRComment].CommentId == Model.Comments[IComment].CommentId)
                                                        {
                                                            strDisplay = "none";
                                                            if (IComment < 2)
                                                            {
                                                                strDisplay = "inline-block";
                                                            }
                                                            strBottomPadding = "0px";
                                                            if (IComment == (Model.Comments.Count + 1))
                                                            {
                                                                strBottomPadding = "30px";
                                                            }
                                                            <div class="review-row-reply" style="display:@strDisplay;padding-bottom:@strBottomPadding; padding-left: 76px;padding-right: 32px;margin-top: 8px;">
                                                                <div class="table">
                                                                    <div class="table-cell-img">
                                                                        @if (!String.IsNullOrWhiteSpace(Model.ReplyComments[IRComment].ProfileImage))
                                                                        {
                                                                            <img src="@GlobalConfig.UserImageUrl@Model.ReplyComments[IRComment].ProfileImage" alt="" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <img src="@Url.Content("~/Content/images/profile-placeholder.png")" alt="" />
                                                                        }
                                                                    </div>
                                                                    <div class="table-cell-content">
                                                                        <div class="table">
                                                                            <div class="review-had">
                                                                                <h6>
                                                                                    @if (Model.ReplyComments[IRComment].UserRole == Role.Stylist)
                                                                                    {
                                                                                        <a href="@Url.RouteUrl("Stylist", new { username = Model.ReplyComments[IRComment].UserName, action = "About" })" target="_blank">@Model.ReplyComments[IRComment].Name </a>
                                                                                        if (Model.Comments[IComment].UserRole == Role.Stylist)
                                                                                        {
                                                                                            <a href="@Url.RouteUrl("Stylist", new { username = Model.Comments[IComment].UserName, action = "About" })" target="_blank">@@@Model.Comments[IComment].Name</a>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <a href="@Url.RouteUrl("User", new { username = Model.Comments[IComment].UserName, action = "About" })" target="_blank">@@@Model.Comments[IComment].Name</a>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <a href="@Url.RouteUrl("User", new { username = Model.ReplyComments[IRComment].UserName, action = "About" })" target="_blank">@Model.ReplyComments[IRComment].Name </a>
                                                                                        if (Model.Comments[IComment].UserRole == Role.Stylist)
                                                                                        {
                                                                                            <a href="@Url.RouteUrl("Stylist", new { username = Model.Comments[IComment].UserName, action = "About" })" target="_blank">@@@Model.Comments[IComment].Name</a>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <a href="@Url.RouteUrl("User", new { username = Model.Comments[IComment].UserName, action = "About" })" target="_blank">@@@Model.Comments[IComment].Name</a>
                                                                                        }
                                                                                    }
                                                                                    @if (Model.ReplyComments[IRComment].UserName == User.Identity.GetUserName())
                                                                                    {
                                                                                        <div class="more-link">
                                                                                            <img src="@Url.Content("~/Content/images/more-horizontal.svg")" alt="" />
                                                                                            <ul class="more-link-bx-comment">
                                                                                                <li><a href="#" title="@Resource.delete" onclick="fnDeleteComment(this, @Model.Comments[IComment].CommentId, @Model.ReplyComments[IRComment].ReplyId)">@Resource.delete</a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    }
                                                                                </h6>
                                                                                <span>@Model.ReplyComments[IRComment].CommentedTimeSpan</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="discription-review">
                                                                            <p>@Model.ReplyComments[IRComment].Message</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            }
                                            if (Model.Comments.Count > 2)
                                            {
                                                <div id="link-morecomment" style="display:table-cell;border-top: 1px solid #f2f2f2; float: left;width: 100%; margin-top: 15px;padding-top: 15px;padding-left: 32px;padding-right: 32px;">
                                                    <a class="view-all-comment" title="@Resource.ViewAllComments" href="#" onclick="showAllComment()">@Resource.ViewAllComments</a>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="footer-chet-box">
                            <div class="table" style="font-size: 13px;color:#939393;display:none;" id="divReplyingLabel">
                                <div class="input-cell">@Resource.replingto <span id="spnCommentByName"></span> </div>
                                <div class="last-chet-cell">
                                    <div class="send-chet">
                                        <a href="#" onclick="hideReplyingLabel()">
                                            <img src="@Url.Content("~/Content/images/close.svg")" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table">
                                <div class="input-cell">
                                    <input type="hidden" id="hdnCommentID" />
                                    <input type="hidden" id="hdnCommentByName" />
                                    <input type="text" id="txtComment" placeholder="@Resource.postdetailCommentPlace">
                                </div>
                                <div class="last-chet-cell">
                                    <div class="send-chet">
                                        @if (Model.CurrentUserRole == Role.Stylist)
                                        {
                                            userUrl = Url.RouteUrl("Stylist", new { username = User.Identity.GetUserName(), action = "About" });
                                        }
                                        else
                                        {
                                            userUrl = Url.RouteUrl("User", new { username = User.Identity.GetUserName(), action = "About" });
                                        }
                                        <input type="send" id="sendComment" onclick="fnSendComment(@Model.PostId, '@Url.Action("AddPostCommentByUser", "Post")', '@Url.Content("~/Content/images/more-horizontal.svg")', '@userUrl')">
                                        <img src="@Url.Content("~/Content/images/send.svg")" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>

    function fnDeleteComment(thisData, commentid, replyid, postid) {

        var fileData = new FormData();
        fileData.append('commentid', commentid);
        fileData.append('replyid', replyid);

        var url = '@Url.Action("DeleteComment", "Post")';
        $.ajax({
            url: url,
            type: 'POST',
            data: fileData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                if (parseInt(replyid) > 0) {
                    $(thisData).closest(".review-row-reply").remove();
                }
                else {
                    $(thisData).closest(".review-row").remove();
                }
                $(".product-bx-" + postid + " .pd-chet").html(parseInt($('#divCommentList .review-row').length) + parseInt($('#divCommentList .review-row-reply').length));
            },
            error: function (err) {
                removeWhiteOverlay();
                ShowToastr('error', err, '');
            }
        });
    }

      function fnSpamComment(thisData, commentid) {

        var fileData = new FormData();
        fileData.append('commentid', commentid);
          var url = '@Url.Action("SpamComment", "Post")';
        $.ajax({
            url: url,
            type: 'POST',
            data: fileData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                ShowToastr('success', '@Resource.CommentInSpamSuccessfully', '');
            },
            error: function (err) {
                ShowToastr('error', err, '');
            }
        });
    }
</script>