﻿@model GetPostViewListModel


@Html.HiddenFor(x => x.RecentPostPageIndex)
@Html.HiddenFor(x => x.RecentPostPageCount)

@Html.HiddenFor(x => x.PopularPostPageIndex)
@Html.HiddenFor(x => x.PopularPostPageCount)

<input type="hidden" id="hdnLikePageIndex" name="hdnLikePageIndex" value="1" />
<input type="hidden" id="hdnLikePageSize" name="hdnLikePageSize" value="1" />

<div class="full-box">
    <div id="new-post">
        <div class="mrg-box" id="RecentPostList">
            @Html.Partial("~/Views/Post/_RecentPostList.cshtml", Model)
        </div>
    </div>
    <div id="popular-post" style="display: none;">
        <div class="mrg-box">
            @Html.Partial("~/Views/Post/_PopularPostList.cshtml", Model)
        </div>
    </div>
</div>
<input type="hidden" id="hdnSharePostId" />

<div id="partial_addEditPost">
    @Html.Partial("~/Views/Post/_addEditPost.cshtml", new AddPostModel() { PostCategoryList = Model.CategoryList })
</div>

<!-- likes activity popup -->
<div class="popup-box">    
    <div id="like-activity" class="popup-max like-activity">
        <div class="popup-had" style="width: 91% !important;margin: 0px 20px;padding-bottom: 20px; border-bottom:1px solid #f2f2f2;">
            <input type="hidden" id="hdnLikePostId" />
            <h4>@Resource.LikesActivity (<span class="like-count"></span>)</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="over-scroll like-activity-over-scroll">
            <div class="like-activity-pd">
                <div class="popup-middle border-bb">
                    <div id="partial_likes_activity" class="">
                        @Html.Partial("~/Views/Post/_likesActivity.cshtml", new List<ViewLikeModel>())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="partial_postdetail">
    @Html.Partial("~/Views/Post/_PostDetailAndComments.cshtml", new PostViewDetailModel())
</div>

<!-- report popup -->
<div class="popup-box">
    <input type="hidden" id="hdnReportPostID" name="hdnReportPostID" />
    <div id="report-post" class="popup-max">
        <div class="popup-had">
            <h4>@Resource.ReportPost</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="popup-middle" style="min-height: 100px !important;">
            <div class="field-rs">
                <label>@Resource.postRepostReason</label>
                <textarea id="ReportPostReasonText" name="ReportPostReasonText" placeholder="@Resource.writeReasonPostPlace"></textarea>
            </div>
        </div>
        <div class="popup-footer single-btn">
            <a href="#" title=@Resource.send class="button share-button" onclick="reportpostbyuser('@Url.Action("AddPostReportByUser", "Post")');">@Resource.send</a>
        </div>
    </div>
</div>

<div id="div-share-post">
    @Html.Partial("~/Views/Post/_SharePost.cshtml")
</div>

