﻿@model GetPostViewListModel

@for (int i = 0; i < Model.RecentPost.Count; i++)
{
    string strFilePath = "";
    string strDescription = "";
    if (Model.RecentPost[i].Isvideo)
    {
        //strFilePath = GlobalConfig.PostImageUrl + "DefaultVideoIcon.jpg";
        strFilePath = GlobalConfig.PostImageUrl + Model.RecentPost[i].FileName;
    }
    else
    {
        if (Model.RecentPost[i].FileName == null)
        {
            strFilePath = GlobalConfig.PostImageUrl + "Default-Image.jpg";
        }
        else
        {
            strFilePath = GlobalConfig.PostImageUrl + Model.RecentPost[i].FileName;
        }
    }

    <div class="product-bx product-bx-@Model.RecentPost[i].PostId">
        <div class="product-img" onclick="showPostDetail(this, @Model.RecentPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" style="cursor:pointer; min-height: 306px;background-image:url('@(Model.RecentPost[i].Isvideo?strFilePath+".jpg":strFilePath)');background-size: cover;">
            @if (Model.RecentPost[i].Isvideo)
            {
                <div class="video-container">
                    <video>
                        <source src="@strFilePath#t=6" type="video/mp4">
                    </video>
                </div>
            }
            @if (Model.RecentPost[i].PostByRole == Role.Stylist)
            {
                <a href="#" title="" class="logo-icon"><img src="~/content/images/logo-icon.svg" alt=""></a>
            }
            @if (Model.RecentPost[i].Isvideo)
            {
                <a href="javascript:void(0);" onclick="showPostDetail(this, @Model.RecentPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" title="" class="ps-pd-img"><img src="~/content/images/video.svg" alt=""></a>
            }
            else if (Model.RecentPost[i].FileCount > 1)
            {
                <a href="javascript:void(0);" onclick="showPostDetail(this, @Model.RecentPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" title="" class="ps-pd-img"><img src="~/content/images/image.svg" alt=""></a>
            }
        </div>
        <div class="product-new-ctn">
            <div class="product-lk">
                <input type="hidden" id="hdnPostBoxId_@Model.RecentPost[i].PostId" name="hdnPostBoxId_@Model.RecentPost[i].PostId" value="@Model.RecentPost[i].PostId" />
                @{
                    string strlikeclass = "pd-linke-unlike";
                    if (Model.RecentPost[i].isUserLike)
                    {
                        strlikeclass = "pd-linke-like";
                    }
                    if (User.Identity.IsAuthenticated)
                    {
                        <a href="javascript:void(0);" title="" class="pd-linke @strlikeclass noselect" onclick="likePostbyUser(this, @Model.RecentPost[i].PostId, '@Url.Action("AddRemoveLikePost", "Post")')"></a>
                        <a href="#like-activity" title="" class="count-like" style="width:4%;" onclick="showLikeActivity(this, @Model.RecentPost[i].PostId, '@Url.Action("ViewLikeActivityPageSize", "Post")', '@Url.Action("ViewLikeActivity", "Post")', @Model.RecentPost[i].TotalLikes);">@Model.RecentPost[i].TotalLikes</a>
                        <a href="javascript:void(0);" onclick="showPostDetail(this, @Model.RecentPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" class="pd-chet">@Model.RecentPost[i].TotalComment</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" title="" class="pd-linke @strlikeclass noselect"></a>
                        <a href="javascript:void(0);" title="" class="count-like" style="width:4%;">@Model.RecentPost[i].TotalLikes</a>
                        <a href="javascript:void(0);" class="pd-chet">@Model.RecentPost[i].TotalComment</a>
                    }
                    if (Model.RecentPost[i].PostCountShare > 1)
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            <a href="javascript:;" onclick="fnShareData('@Url.Action("Index", "Home")?postid=@Model.RecentPost[i].PostId', '@strFilePath')" class="pd-share">
                                @Model.RecentPost[i].PostCountShare
                                @Resource.PostShare
                            </a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="pd-share">
                                @Model.RecentPost[i].PostCountShare
                                @Resource.PostShare
                            </a>
                        }
                    }
                    else
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            <a href="javascript:void(0);" onclick="fnShareData('@Url.Action("Index", "Home")?postid=@Model.RecentPost[i].PostId', '@strFilePath')" class="pd-share">
                                @Model.RecentPost[i].PostCountShare
                                @Resource.PostShare
                            </a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="pd-share">
                                @Model.RecentPost[i].PostCountShare
                                @Resource.PostShare
                            </a>
                        }
                    }
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="more-link">
                        <img src="~/content/images/more.svg" alt="" />
                        <ul class="more-link-bx">
                            @if (User.Identity.GetUserId() == Model.RecentPost[i].UserId)
                            {
                                string hashtag = Request.QueryString["hashtag"];
                                string postid = Request.QueryString["postid"];
                                if (String.IsNullOrEmpty(postid))
                                {
                                    postid = "0";
                                }
                                <li><a href="javascript:void(0);" title="Edit" onclick="editPost('@Url.Action("EditPost", "Post", new { id = Model.RecentPost[i].PostId })')">@Resource.edit</a></li>
                                <li><a href="javascript:void(0);" title="Delete" onclick="deletePost('@Url.Action("DeletePost", "Post", new { id = Model.RecentPost[i].PostId })', '@Url.Action("GetAllPostData", "Post", new { id = 1, @hashtag = hashtag, @postid = postid })')">@Resource.delete</a></li>
                            }
                            else
                            {
                                <li><a href="#report-post" title=@Resource.Report class="" onclick="fnPopupReport(this, @Model.RecentPost[i].PostId)">@Resource.Report</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="product-discription">
                @if (Model.RecentPost[i].PostByRole == Role.Stylist)
                {
                    <h5>@Resource.by <a href="@Url.RouteUrl("Stylist", new { username = Model.RecentPost[i].NickName, action = "About" })" title="@Model.RecentPost[i].UserName">@Model.RecentPost[i].UserName</a></h5>
                }
                else
                {
                    <h5>@Resource.by <a href="@Url.RouteUrl("User", new { username = Model.RecentPost[i].NickName, action = "About" })" title="@Model.RecentPost[i].UserName">@Model.RecentPost[i].UserName</a></h5>
                }
                <P>
                    @{
                        if (Model.RecentPost[i].Description != null)
                        {
                            if (Model.RecentPost[i].Description.Length > 60)
                            {
                                strDescription = Model.RecentPost[i].Description.Substring(0, 60);
                            }
                            else
                            {
                                strDescription = Model.RecentPost[i].Description;
                            }

                            @strDescription
                            if (Model.RecentPost[i].Description.Length > 60)
                            {
                                <span>...<a href="javascript:void(0)" onclick="showPostDetail(this, @Model.RecentPost[i].PostId, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" title=@Resource.ViewMore>@Resource.ViewMore</a></span>
                            }
                        }
                    }
                </P>
            </div>
        </div>
    </div>
}
