﻿<!-- share-post popup-->
<div class="popup-box">
    <div id="share-post" class="popup-max">
        <div class="popup-had">
            <h4>@Resource.sharePostpopup</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="~/Content/images/close.svg" alt="" /></a>
        </div>
        <div class="popup-middle" style="min-height: auto !important;">
            <div class="share-mrg">
                <div class="addthis_toolbox addthis_inline_share_toolbox" addthis:url="THE URL" addthis:title="THE TITLE" addthis:description="THE DESCRIPTION" addthis:media="THE IMAGE"></div>
            </div>
        </div>        
    </div>
</div>
