﻿<footer class="footer-section container">
    <div class="row">
        <div class="footer-links">
            <ul>
                <li><a href="@Url.Action("WhatIsStylaaa","Home")" title=@Resource.whatIsStylaa>@Resource.whatIsStylaa</a></li>
                <li><a href="@Url.Action("ContactUs","Home")" title=@Resource.contactUs>@Resource.contactUs</a></li>
                <li><a href="@Url.Action("AboutUs","Home")" title=@Resource.aboutUs>@Resource.aboutUs</a></li>
                <li><a href="@Url.Action("TermsConditions","Home")" title=@Resource.privacy>@Resource.termAndCondition</a></li>
                <li><a href="@Url.Action("PrivacyPolicy","Home")" title=@Resource.privacy>@Resource.privacy</a></li>
                <li><a href="@Url.Action("Imprint","Home")" title=@Resource.imprint>@Resource.ImprintTxt</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul>
                <li><a href="https://www.facebook.com/stylaaa" title="facebook"><img src="~/Content/images/facebook.svg" alt=""></a></li>
                <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><img src="~/Content/images/instagram.svg" alt=""></a></li>
                <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><img src="~/Content/images/youtube.svg" alt=""></a></li>
                <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin"><img src="~/Content/images/linkedin.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
