﻿@using Stylaaa.Services
@{
    Layout = null;
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
    string strBodyClass = "";
    if (ViewBag.UserProfile != null)
    {
        strBodyClass = "bg-white";
    }

    GeneralServices _general = new GeneralServices();
    GetNotificationViewListModel model = new GetNotificationViewListModel();
    decimal totalnotificationCount = 0;
    decimal totalUnReadNotificationCount = 0;
    string totalnotificationPageCount = "";
    string UserId = "";
    if (User.Identity.IsAuthenticated)
    {

        UserId = User.Identity.GetUserId();
        model.NotificationPageIndex = 1;

        //model.NotificationList = _general.GetNotificationList(new PaginationModel { PageIndex = 1, UserId = UserId });

        List<NotificationListModel> totalnotificationlist = _general.GetNotificationList(new PaginationModel { PageIndex = 0, UserId = UserId });

        List<NotificationListModel> unreadnotificationlist = _general.GetNotificationList(new PaginationModel { PageIndex = 0, UserId = UserId }, true);

        totalnotificationCount = totalnotificationlist.Count;
        model.NotificationPageCount = Math.Ceiling((decimal)(totalnotificationCount > 0 ? (totalnotificationCount / 20) : 0)).ToString();
        totalnotificationPageCount = model.NotificationPageCount;

        model.UnReadNotificationCount = unreadnotificationlist.Count();
        totalUnReadNotificationCount = model.UnReadNotificationCount;
    }
}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#F8C539">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#F8C539">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#F8C539">

    @RenderSection("metatags", false)

    @RenderSection("css", false)

    @RenderSection("profilemetatag", required: false)

    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")">
    <title>Stylaaa</title>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/jQuery/validate")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114283008-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114283008-1');

        $.ajaxPrefilter(function (options, original_Options, jqXHR) {
            options.async = true;
        });
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b114c00933d509b"></script>
    <style>
        body.notification-open {
            overflow: hidden !important;
        }
    </style>
</head>
<body class="@strBodyClass">
    <header class="header-section container">
        <div class="row">
            <div class="table">
                <div class="logo">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Index", "Home")" id="homepage" title="stylaaa"><img src="~/Content/images/logo.svg" alt="" /></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" id="homepage" title="stylaaa"><img src="~/Content/images/logo.svg" alt="" /></a>
                    }
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="top-search">
                        <a href="javascript:void(0);" title="" class="main-search"><img src="~/Content/images/search.svg" alt="" /></a>
                        <div class="search-box">
                            <div class="table">
                                <div class="table-cell">
                                    <a href="javascript:void(0);" title="" class="close-search"><img src="~/Content/images/search.svg" alt="" /></a>
                                </div>
                                <div class="table-cell">
                                    <div class="search-field">
                                        <input type="search" id="searchpost" name="searchpost" placeholder="@Resource.searchHere">
                                    </div>
                                    <a href="javascript:void(0);" title="" class="close-search-dropdown"><img src="~/Content/images/close-white.svg"></a>
                                </div>
                            </div>
                            @Html.Partial("_SearchPostMenu")
                        </div>
                    </div>

                    <div class="top-menu">
                        <div class="languages mobile-none">
                            <ul>
                                @{
                                    foreach (var i in LanguageManager.AvailableLanguages)
                                    {
                                        if (i.LanguageFullName == "En")
                                        {
                                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("EN") ? "active" : "")">
                                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="En">En</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE") ? "active" : "")">
                                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="De">De</a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                        <input type="hidden" id="hdnNotificationPageIndex" value="1" />
                        <input type="hidden" id="hdnNotificationPageSize" value="@totalnotificationPageCount" />
                        <div class="top-notification">
                            <a href="javascript:void(0);" title="" class="open-noty" onclick="fnReadNotification()">
                                <img src="~/Content/images/notification.svg" alt="" />
                                @if (totalUnReadNotificationCount > 0)
                                {
                                    <div class="noty-count"><span>@totalnotificationCount</span></div>
                                }
                            </a>
                            <div class="notification-dropdown" style="padding-bottom: 10px;">
                                @{string strHieght = "50px;"; }
                                @if (totalnotificationCount > 0)
                                {
                                    strHieght = "350px;";
                                }
                                <div class="notification-over-scroll" style="max-height: @strHieght">
                                    <div class="notification-pd">
                                        <div class="full-noty">
                                            <div id="divNotificationList">
                                                @if (totalnotificationCount > 0)
                                                {
                                                    @*@Html.Partial("_NotificationList", model)*@
                                                    <span style="display: block;height: 10px;margin-top: 10px;">@Resource.loading</span>
                                                }
                                                else
                                                {
                                                    <span style="display: block;height: 10px;margin-top: 10px;">@Resource.NotificationEmptyMsgTxt</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0);" title="" class="menu-open"><img src="~/Content/images/menu.svg" alt="" /></a>
                    </div>
                                    }
            </div>
        </div>
    </header>
    <div class="clear"></div>

    @RenderBody()

    <div id="partial_postdetail">
        @Html.Partial("~/Views/Post/_PostDetailAndComments.cshtml", new PostViewDetailModel())
    </div>
    <script>

        var varLang = "En"
        @{
            string strSetLang = "En";
            if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
            {
                strSetLang = "DE";
            }
            strSetLang = strSetLang.ToLower();
        }
        varLang = '@strSetLang';

    </script>

    <div class="clear"></div>
    @Html.Partial("_MenuList")
    <script src="https://lab.alexcican.com/set_cookies/cookie.js" type="text/javascript"></script>
    @Scripts.Render("~/js/contentjs")
    @Scripts.Render("~/scripts/custom")
    @Scripts.Render("~/bundles/SignalR")
    @Scripts.Render("~/bundles/template")
    <script src="@GlobalConfig.HubConnectionUrl"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="@Url.Content("~/Scripts/custom/postactivity.js")"></script>  
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD9UPDb8uu375uAFqeKQBDxVssD-sy0ZZE"></script>
    <script type="text/javascript">

        $('#homepage').on('click', function () {
            $.cookie('selectedTab', null);
        });

        $('.logout').on('click', function () {  
            $.cookie('selectedTab', null); 
        });

        var chatHub;
        var RecieverId;

            $.connection.hub.url = @Html.Raw(Json.Encode(GlobalConfig.HubConnectionUrl));
            $.connection.hub.qs = { 'UserID': @Html.Raw(Json.Encode(UserId)) };
            chatHub = $.connection.chatHub;
            $.connection.hub.logging = true;

            $.connection.hub.start().done(function () {
                var listUserIds = [];
                $('.spanUserId').each(function () {
                    if ($(this).data('userid'))
                        listUserIds.push($(this).data('userid'));
                });

                chatHub.server.userIsOnline([]);
            });

        $(function () {
            if ('@ViewBag.isProfileCompleted' == 'False') {
                $('#edit').click();
            }
        });

    $(function () {
    var statusType = '';
    var status = @status;
    if (status == 0) {
    statusType = 'error';
    }
    else if (status == 1) {
    statusType = 'success';
    }
    else if (status == 2) {
    statusType = 'info';
    }
    else if (status == 3) {
    statusType = 'warning';
    }
    else if (status == 4) {
    statusType = 'info';
    }
    ShowToastr(statusType, '@message');
    });

        var loginLink = '@Url.Action("Login", "Account")';
        var intLogged = 0;
        $(document).ready(function () {
            if (@User.Identity.IsAuthenticated.ToString().ToLower()) {
                intLogged = 1;
            }
        });

    </script>

    @RenderSection("scripts", required: false)

    @RenderSection("partialscripts", required: false)

    <script>

        //$(".GaugeMeter").gaugeMeter();

        var postindex = parseInt($("#hdnSearchPostPageIndex").val());
        var postCount = parseInt($("#hdnSearchPostPageSize").val());

            $("#search-posts").mCustomScrollbar({
                theme: "dark",
                autoHideScrollbar: true,
                mouseWheel: { preventDefault: true },
                callbacks: {
                    onTotalScroll: function () {

                        //document.getElementById("topSearchUpBtn").style.display = "none";

                        postindex = parseInt($("#hdnSearchPostPageIndex").val());
                        postCount = parseInt($("#hdnSearchPostPageSize").val());

                        $('#search-stylist').addClass('without-after-element');
                        $('#search-hashtag').addClass('without-after-element');
                        $('#search-posts').addClass('without-after-element');

                        if (postCount > postindex) {
                            displaySearchOverlay();
                            postindex = postindex + 1;

                            $('#search-posts').removeClass('without-after-element');

                            var formData = new FormData();
                            formData.append('intSearchPostPageIndex', postindex);
                            var CheckedCategory = "";
                            var checked = $(".search-popup input:checked").length;
                            if ($(".search-popup input:checked").length > 0) {
                                CheckedCategory = "";
                                $('.search-popup input[class="check-search-category"]:checked').each(function () {
                                    if (CheckedCategory != "") {
                                        CheckedCategory = CheckedCategory + ",";
                                    }
                                    CheckedCategory = CheckedCategory + this.id;
                                });
                            }
                            formData.append('CheckedCategory', CheckedCategory);
                            var searchpost = $("#searchpost").val();
                            formData.append('SearchPostText', searchpost);
                            formData.append('isCount', 'false');
                            formData.append('isData', 'true');

                            var hdnLocalLatitude = $("#hdnLocalLatitude").val();
                            var hdnLocalLongitude = $("#hdnLocalLongitude").val();
                            if (hdnLocalLatitude == null || hdnLocalLatitude == undefined) {
                                hdnLocalLatitude = "";
                            }
                            if (hdnLocalLongitude == null || hdnLocalLongitude == undefined) {
                                hdnLocalLongitude = "";
                            }
                            formData.append('localLatitude', hdnLocalLatitude);
                            formData.append('localLongitude', hdnLocalLongitude);

                            var url = '@Url.Action("SearchPostbyCategory", "Post")';
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: formData,
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (result) {
                                    removeSearchOverlay();

                                    var data = JSON.parse(result.Result);
                                    var MessagesList = { items: data.GetPostModelPopular };
                                    $("#search-post-template").tmpl(MessagesList).appendTo("#posts");

                                    //$('#posts').append(result);
                                    $("#hdnSearchPostPageIndex").val(postindex);

                                    document.getElementById("topSearchUpBtn").style.display = "block";
                                },
                                error: function (err) {
                                    removeSearchOverlay();
                                    ShowToastr('error', err, '');
                                }
                            });
                        }
                        else {
                            document.getElementById("topSearchUpBtn").style.display = "block";
                        }
                    }
                },
                advanced: {
                    updateOnContentResize: true
                }
            });

        var stylistIndex = parseInt($("#hdnSearchStylistPageIndex").val());
        var stylistCount = parseInt($("#hdnSearchStylistPageSize").val());

        $("#search-stylist").mCustomScrollbar({
            theme: "dark",
            autoHideScrollbar: true,
            mouseWheel: { preventDefault: true },
            callbacks: {
                onTotalScroll: function () {
                    stylistIndex = parseInt($("#hdnSearchStylistPageIndex").val());
                    stylistCount = parseInt($("#hdnSearchStylistPageSize").val());

                    $('#search-stylist').addClass('without-after-element');
                    $('#search-hashtag').addClass('without-after-element');
                    $('#search-posts').addClass('without-after-element');

                    if (stylistCount > stylistIndex) {
                        displaySearchOverlay();
                        stylistIndex = stylistIndex + 1;

                        $('#search-stylist').removeClass('without-after-element');
                        var formData = new FormData();
                        formData.append('intSearchStylistPageIndex', stylistIndex);
                        var CheckedCategory = "";
                        var checked = $(".search-popup input:checked").length;
                        if ($(".search-popup input:checked").length > 0) {
                            CheckedCategory = "";
                            $('.search-popup input[class="check-search-category"]:checked').each(function () {
                                if (CheckedCategory != "") {
                                    CheckedCategory = CheckedCategory + ",";
                                }
                                CheckedCategory = CheckedCategory + this.id;

                            });
                        }
                        formData.append('CheckedCategory', CheckedCategory);
                        var searchpost = $("#searchpost").val();
                        formData.append('SearchPostText', searchpost);
                        formData.append('isCount', 'false');
                        formData.append('isData', 'true');

                        var hdnLocalLatitude = $("#hdnLocalLatitude").val();
                        var hdnLocalLongitude = $("#hdnLocalLongitude").val();
                        if (hdnLocalLatitude == null || hdnLocalLatitude == undefined) {
                            hdnLocalLatitude = "";
                        }
                        if (hdnLocalLongitude == null || hdnLocalLongitude == undefined) {
                            hdnLocalLongitude = "";
                        }
                        formData.append('localLatitude', hdnLocalLatitude);
                        formData.append('localLongitude', hdnLocalLongitude);

                        var url = '@Url.Action("SearchStylishbyCategory", "Post")';
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                removeSearchOverlay();
                                var data = JSON.parse(result.Result);
                                var MessagesList = { items: data.PopularStylishFilterModel };
                                $("#search-stylist-template").tmpl(MessagesList).appendTo("#stylist");
                                //$('#stylist').append(result);
                                $("#hdnSearchStylistPageIndex").val(stylistIndex);
                                document.getElementById("topSearchUpBtn").style.display = "block";
                            },
                            error: function (err) {
                                removeSearchOverlay();
                                ShowToastr('error', err, '');
                            }
                        });
                    }
                    else {
                        document.getElementById("topSearchUpBtn").style.display = "block";
                    }
                }
            },
            advanced: {
                updateOnContentResize: true
            }
        });

        var hashtagIndex = parseInt($("#hdnSearchHashtagPageIndex").val());
        var hashtagCount = parseInt($("#hdnSearchHashtagPageSize").val());

        $("#search-hashtag").mCustomScrollbar({
            theme: "dark",
            autoHideScrollbar: true,
            mouseWheel: { preventDefault: true },
            callbacks: {
                onTotalScroll: function () {
                    hashtagIndex = parseInt($("#hdnSearchHashtagPageIndex").val());
                    hashtagCount = parseInt($("#hdnSearchHashtagPageSize").val());

                    $('#search-stylist').addClass('without-after-element');
                    $('#search-hashtag').addClass('without-after-element');
                    $('#search-posts').addClass('without-after-element');

                    if (hashtagCount > hashtagIndex) {
                        displaySearchOverlay();
                        hashtagIndex = hashtagIndex + 1;

                        $('#search-hashtag').removeClass('without-after-element');
                        var formData = new FormData();
                        formData.append('intSearchHashtagPageIndex', hashtagIndex);
                        var CheckedCategory = "";
                        var checked = $(".search-popup input:checked").length;
                        if ($(".search-popup input:checked").length > 0) {
                            CheckedCategory = "";
                            $('.search-popup input[class="check-search-category"]:checked').each(function () {
                                if (CheckedCategory != "") {
                                    CheckedCategory = CheckedCategory + ",";
                                }
                                CheckedCategory = CheckedCategory + this.id;

                            });
                        }
                        formData.append('CheckedCategory', CheckedCategory);
                        var searchpost = $("#searchpost").val();
                        formData.append('SearchPostText', searchpost);
                        formData.append('isCount', 'false');
                        formData.append('isData', 'true');

                        var hdnLocalLatitude = $("#hdnLocalLatitude").val();
                        var hdnLocalLongitude = $("#hdnLocalLongitude").val();
                        if (hdnLocalLatitude == null || hdnLocalLatitude == undefined) {
                            hdnLocalLatitude = "";
                        }
                        if (hdnLocalLongitude == null || hdnLocalLongitude == undefined) {
                            hdnLocalLongitude = "";
                        }
                        formData.append('localLatitude', hdnLocalLatitude);
                        formData.append('localLongitude', hdnLocalLongitude);

                        var url = '@Url.Action("SearchHashtagbyCategory", "Post")';
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                removeSearchOverlay();
                                var data = JSON.parse(result.Result);

                                var MessagesList = { items: data.HashtagFilterModel };
                                $("#search-hashtag-template").tmpl(MessagesList).appendTo("#hashtag");

                               // $('#hashtag').append(result);
                                $("#hdnSearchHashtagPageIndex").val(hashtagIndex);
                                document.getElementById("topSearchUpBtn").style.display = "block";
                            },
                            error: function (err) {
                                removeSearchOverlay();
                                ShowToastr('error', err, '');
                            }
                        });
                    }
                    else {
                        document.getElementById("topSearchUpBtn").style.display = "block";
                    }
                }
            },
            advanced: {
                updateOnContentResize: true
            }
        });

        $("#searchpost").keypress(function (e) {
            if (e.which == 13) {
                var searchpost = $(this).val();
                if (searchpost != null && searchpost != undefined && searchpost != "") {
                    searchFilter();
                }
            }
        });

        $(".search-tabs ul li a").click(function () {
            $("#hdnLastOpenTab").val($(this).attr("href"));
        })

        var hrefUrl = "https://www.stylaaa.com/Home/Index";
        var hrefMediaUrl = "https://www.stylaaa.com/Files/PostImages/254291db-9d23-4a7a-a10f-12d07b1a0820_XmfC4HPr7E-4f1KhBjFTxg_12062018113247.jpeg";
        var addthis_share = {
            url: hrefUrl,
            title: "THE TITLE",
            description: "THE DESCRIPTION",
            media: ""
        }

        var addthis_config = {
            data_track_clickback: true
        }

        function fnShareData(url, imageurl) {
            var hrefUrl = url;

            //testing purpose
            //var arrayUrl = hrefUrl.split("?");
            //var postid = arrayUrl[1].split("=")[1];
            //hrefUrl = 'https://www.stylaaa.com' + hrefUrl;

            //addthis.update('share', 'url', hrefUrl);
            //addthis.url = hrefUrl;
            //addthis.update('share', 'title', "stylaaa profile title");
            //addthis.title = "stylaaa profile title";
            //addthis.update('share', 'description', "THE DESCRIPTION");
            //addthis.description = "THE DESCRIPTION";
            //addthis.update('share', 'media', imageurl);
            //addthis.media = imageurl;
            //addthis.toolbox(".addthis_toolbox");

            $.fancybox.open({
                src: '#share-post',
                type: 'inline',
                modal: true,
                helpers: {
                    overlay: { closeClick: false }
                }
            });
            $("#hdnSharePostId").val(postid);

            $(".addthis_toolbox").attr("data-url", hrefUrl);
            $(".addthis_toolbox").attr("data-media", imageurl);
        }
              

        $(document).on('click', '.at-share-btn-elements a', function () {
            var url = '@Url.Action("AddSharePost", "Post")';
            var formData = new FormData();
            formData.append('hdnSharePostId', $("#hdnSharePostId").val());
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $("a[title*='postid=" + $("#hdnSharePostId").val() + "']").html(result.Result + " Share");
                    $.fancybox.close();
                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        });

        $(".notification-over-scroll").mCustomScrollbar({
            theme: "dark",
            autoHideScrollbar: true,
            mouseWheel: { preventDefault: true },
            callbacks: {
                onTotalScroll: function () {

                    var ntfIndex = parseInt($("#hdnNotificationPageIndex").val());
                    var ntfCount = parseInt($("#hdnNotificationPageSize").val());

                    if (ntfCount > ntfIndex) {
                        displaySearchOverlay();
                        ntfIndex = ntfIndex + 1;

                        var formData = new FormData();
                        formData.append('index', ntfIndex);
                        formData.append('isCount', 'false');
                        formData.append('isData', 'true');

                        var url = '@Url.Action("GetNotificationListData", "Home")';
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                removeSearchOverlay();
                                //$('#divNotificationList').append(result);

                                var MessagesList = { items: result.NotificationList };
                                $("#search-notification-template").tmpl(MessagesList).appendTo("#divNotificationList");

                                $("#hdnNotificationPageIndex").val(ntfIndex);

                                if (ntfCount == ntfIndex) {
                                    $('.notification-dropdown').addClass('without-after-element');
                                }
                            },
                            error: function (err) {
                                removeSearchOverlay();
                                ShowToastr('error', err, '');
                            }
                        });
                    }
                    else {
                        $('.notification-dropdown').removeClass('without-after-element');
                        $('.notification-dropdown').addClass('without-after-element');
                    }
                }
            },
            advanced: {
                updateOnContentResize: true
            }
        });


        function fnReadNotification() {
            var url = '@Url.Action("ReadAllNotificationList", "Home")';
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    $('.noty-count span').html("0");
                    $('.noty-count').hide();

                    //var ntfIndex = parseInt($("#hdnNotificationPageIndex").val());
                    //var ntfCount = parseInt($("#hdnNotificationPageSize").val());

                    displaySearchOverlay();

                    var formData = new FormData();
                    formData.append('index', 1);
                    formData.append('isCount', 'true');
                    formData.append('isData', 'true');

                    var url = '@Url.Action("GetNotificationListData", "Home")';
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            removeSearchOverlay();
                            $('#hdnNotificationPageSize').val(result.NotificationPageCount);

                            if (parseInt(result.NotificationPageCount) > 0) {
                                var MessagesList = { items: result.NotificationList };
                                $('#divNotificationList').html("");
                                $("#search-notification-template").tmpl(MessagesList).appendTo("#divNotificationList");
                            }
                        },
                        error: function (err) {
                            removeSearchOverlay();
                            ShowToastr('error', err, '');
                        }
                    });

                },
                error: function (err) {
                    ShowToastr('error', err, '');
                }
            });
        }

        $("#like-activity .over-scroll").mCustomScrollbar({
                theme: "dark",
                autoHideScrollbar: true,
                mouseWheel: { preventDefault: true },
                callbacks: {
                    onTotalScroll: function () {
                        var liekindex = parseInt($("#hdnLikePageIndex").val());
                        var pagesize = parseInt($("#hdnLikePageSize").val());
                        var postid = $("#hdnLikePostId").val();

                        if (pagesize > liekindex) {
                            liekindex = liekindex + 1;

                            var formData = new FormData();
                            formData.append('intLikePageIndex', liekindex);
                            formData.append('intPostId', postid);

                            var url = '@Url.Action("ViewLikeActivity", "Post")';
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: formData,
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (result) {
                                    $('#partial_likes_activity').append(result);
                                    $("#hdnLikePageIndex").val(liekindex);

                                    if (pagesize == liekindex) {
                                        $('#like-activity').addClass('without-after-element');
                                    }
                                },
                                error: function (err) {
                                    ShowToastr('error', err, '');
                                }
                            });
                        }
                        else {
                            $('#like-activity').removeClass('without-after-element');
                            $('#like-activity').addClass('without-after-element');
                        }
                    }
                }
        });
    </script>

    @*<script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js"
            data-bg="#645862"
            data-fg="#FFFFFF"
            data-link="#F1D600"
            data-cookie="CookieInfoScript"
            data-text-align="left"
            data-close-text='@Resource.CookieGotIt'
            data-message='@Resource.StylaaaCoockies'
            font-family="'Poppins', sans-serif" ,
            data-moreinfo="https://www.stylaaa.com/Home/PrivacyPolicy"
            data-linkmsg='@Resource.CookieMoreInfo'>
    </script>*@

    <script id="search-post-template" type="text/x-jQuery-tmpl">
        {{each items}}
        <div class="post-row">
            <div class="table">
                <a href="javascript:void(0);" onclick="showPostDetail(this, ${PostId}, '@Url.Action("ViewPostDetail", "Post")', '@User.Identity.GetUserId()');" style="float: left;">
                    <div class="post-img" style="background:url('@GlobalConfig.PostImageUrl${FileName}');background-size:cover;">
                    </div>
                </a>
                <div class="product-discription" style="width:auto !important">
                    <P>
                        ${Description.substring(0, 10)}
                        {{if Description.length > 100}}
                        <a href="${PostLinkUrl}" title="@Resource.ViewMore">@Resource.ViewMore</a>
                        {{/if}}
                    </P>
                    <h5>@Resource.by <a href="${UserLinkUrl}" target="_blank" title="${UserName}">${UserName}</a></h5>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <script id="search-stylist-template" type="text/x-jQuery-tmpl">
        {{each items}}
        <div class="stylist-row">
            <div class="table">
                {{if UserProfile != null && UserProfile != ""}}
                <div class="style-image" style="background:url('@GlobalConfig.UserImageUrl${UserProfile}');background-size:cover;border-radius: 50%;">
                </div>
                {{else}}
                <div class="style-image" style="background:url('@Url.Content("~/Content/images/profile-placeholder.png")');background-size:cover;border-radius: 50%;">
                </div>
                {{/if}}

                <div class="style-ctn">
                    <h6><a href="${UserLinkUrl}" target="_blank" title="${Name}">${Name}</a></h6>
                    <a class="pf-link" href="${UserLinkUrl}" target="_blank" title="${UserName}">${UserName}<span style="margin-left:8px;">${Distance} km</span></a>
                </div>
                {{if IsPremium == true}}
                <div class="style-image premium-user" style="background:url('@Url.Content("~/Content/images/premium-user.svg")');background-size:cover;border-radius: 50%;">
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </script>

    <script id="search-hashtag-template" type="text/x-jQuery-tmpl">
        {{each items}}
        <div class="stylist-row">
            <div class="table-cell">
                <div class="hastag-img">
                    <div class="table">
                        <div class="table-cell-hastag">
                            <img src="@Url.Content("~/Content/images/hastag.svg")" alt="" />
                        </div>
                    </div>
                </div>
                <div class="style-ctn">
                    <h6><a href="${PostLinkUrl}" target="_blank" title="${Hashtag}">#${Hashtag}</a></h6>
                    <span class="pf-link">${PostCount} ${PostText}</span>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <script id="search-notification-template" type="text/x-jQuery-tmpl">
        {{each items}}
        <div class="noty-row">
            <div class="table">
                <div class="table-cell">
                    <div class="table">
                        <div class="noty-img">
                            <a href="${SenderLinkUrl}" target="_blank" title="${SenderName}">
                                {{if SenderProfileImage != ""}}
                                <img src="@GlobalConfig.UserImageUrl${SenderProfileImage}" alt="" />
                                {{else}}
                                {{if SenderRole == 1 || SenderRole == 4}}
                                <img src="@Url.Content("~/Content/images/logo-icon.svg")" alt="">
                                {{else}}
                                <img src="@Url.Content("~/Content/images/profile-placeholder.png")" alt="">
                                {{/if}}
                                {{/if}}
                            </a>
                        </div>
                        <div class="noty-content">
                            <P>
                                {{if SenderRole == 2}}
                                <a href="${SenderLinkUrl}" target="_blank" title="${SenderName}">${SenderName}</a>
                                {{else}}
                                <a href="${SenderLinkUrl}" target="_blank" title="${SenderName}">${SenderName}</a>
                                {{/if}}

                                {{if NotificationTypeID == 6}}
                                <div class="mobile-block">
                                    <a href="${SenderMobileLinkUrl}" style="font-weight: normal;font-size: 12px;color: #7c7c7c;margin-top: 2px;line-height: 14px;"> @Resource.notificationSentmessage</a>
                                </div>
                                <div class="mobile-none">
                                    <a href="${SenderChatLinkUrl}" style="font-weight: normal;font-size: 12px;color: #7c7c7c;margin-top: 2px;line-height: 14px;"> @Resource.notificationSentmessage</a>
                                </div>
                                {{else}}
                                {{if NotificationTypeID == 1}}
                                <span>@Resource.RatingNotificationtext</span>
                                {{/if}}

                                {{if NotificationTypeID == 2}}
                                <span>@Resource.NotificationLikePost</span>
                                {{/if}}

                                {{if NotificationTypeID == 3}}
                                <span>@Resource.CommentedOnYourPost</span>
                                {{/if}}

                                {{if NotificationTypeID == 4}}
                                <span>@Resource.PostNotificationreplyofComment</span>
                                {{/if}}

                                {{if NotificationTypeID == 5}}
                                <span>@Resource.notificationFollowyou</span>
                                {{/if}}

                                {{if NotificationTypeID == 7}}
                                <div class="mobile-block">
                                    <a href="${SenderMobileLinkUrl}" style="font-weight: normal;font-size: 12px;color: #7c7c7c;margin-top: 2px;line-height: 14px;"> @Resource.JobRequestNotification.</a>
                                </div>
                                <div class="mobile-none">
                                    <a href="${SenderChatLinkUrl}" style="font-weight: normal;font-size: 12px;color: #7c7c7c;margin-top: 2px;line-height: 14px;"> @Resource.JobRequestNotification.</a>
                                </div>
                                @*<span>@Resource.JobRequestNotification</span>*@
                                {{/if}}
                                {{/if}}
                            </P>
                            <span>${CommentedTimeSpan}</span>
                        </div>
                    </div>
                </div>
                {{if NotificationTypeID == 5}}
                <div class="table-cell">
                    <a href="javascript:void(0);" title="${FollowText}" onclick="followUser(this, ${SenderFollowLinkUrl})" class="btn-noty ${FollowTextClass}">${FollowText}</a>
                </div>
                {{/if}}

                {{if NotificationTypeID == 1}}
                <div class="table-cell">
                    <span class="noty-rate">${Rating}%</span>
                </div>
                {{/if}}

                {{if NotificationTypeID == 2 ||NotificationTypeID == 3 || NotificationTypeID == 4 }}
                {{if !IsVideo}}

                <div class="table-cell">
                    <div class="right-img-noty">
                        <a href="${PostlinkUrl}" target="_blank" title="">
                            <img src="@GlobalConfig.PostImageUrl${PostImage}" alt="" style="width:48px;" />
                        </a>
                    </div>
                </div>
                {{else}}
                <div class="table-cell" style="width: 48px;">
                    <div class="right-img-noty" style="width: 48px;height: 48px; position: relative;">
                        <a href="${PostlinkUrl}" target="_blank" title="">
                            <div class="video-container">
                                <video>
                                    <source src="@GlobalConfig.PostImageUrl${PostImage}" type="video/mp4">
                                </video>
                            </div>
                        </a>
                    </div>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>
        {{/each}}

    </script>

    <script type="text/javascript">

        function searchFilter() {
            var activetab = $("#hdnLastOpenTab").val();
            $(".search-tabs a").removeClass("active");
            $(".search-tabs a[href='" + activetab+"']").attr("class", "active");
            $(".search-tabs ul li a[href='" + activetab+"']").click();

            if (activetab == "#posts") {
                var PostListUrl = '@Url.Action("SearchPostbyCategory", "Post")';
                loadPostlist(PostListUrl);
            }
            else if (activetab == "#stylist") {
                var StylistListUrl = '@Url.Action("SearchStylishbyCategory", "Post")';
                loadStylistlist(StylistListUrl)
            }
            else if (activetab == "#hashtag") {
                var HashtagListUrl = '@Url.Action("SearchHashtagbyCategory", "Post")';
                loadHashtaglist(HashtagListUrl)
            }

            var latitude = $("#hdnLocalLatitude").val();
            var longitude = $("#hdnLocalLongitude").val();
            if (latitude == undefined || latitude == "" || latitude == null || longitude == undefined || longitude == "" || longitude == null) {
                var msg = "Turn on location services or GPS on your phone";
                if (varLang == "de") {
                    msg = "Bitte GPS einschalten";
                }
                ShowToastr("error", msg, "");
            }
        }


        function GetSiteCurrentLocation(url, fn) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    $("#hdnLocalLatitude").val(position.coords.latitude);
                    $("#hdnLocalLongitude").val(position.coords.longitude);
                    if (fn == "post") {
                        loadLocationPostlist(url);
                    }
                    else if (fn == "stylist") {
                        loadLocationStylistlist(url);
                    }
                    else if (fn == "hashtag") {
                        loadLocationHashtaglist(url);
                    }
                }, function (error) {
                    if (fn == "post") {
                        loadLocationPostlist(url);
                    }
                    else if (fn == "stylist") {
                        loadLocationStylistlist(url);
                    }
                    else if (fn == "hashtag") {
                        loadLocationHashtaglist(url);
                    }
                    //var msg = "Turn on location services or GPS on your phone";
                    //if (varLang == "de") {
                    //    msg = "Bitte GPS einschalten";
                    //}
                    //ShowToastr("error", msg, "");
                });
            }
        }
    </script>
</body>
</html>
