﻿
@{
    Layout = null;
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
}

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#F8C539">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#F8C539">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#F8C539">
    @RenderSection("metatags", false)
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")">
    <title>Stylaaa - @Resource.user @Resource.login</title>


    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.fancybox.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/select2.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/Plugins/Toaster/toastr.css")" type="text/css" media="screen">
</head>
<body>
    <header class="hader-login container">
        <div class="row">
            <div class="logo">
                <a href="@Url.Action("Login","Account")" title="Stylaaa"><img src="@Url.Content("~/Content/images/logo.svg")" alt="" /></a>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer-login container">
        <div class="row">
            <div class="ft-links">
                <ul>
                    <li><a href="@Url.Action("WhatIsStylaaa","Home")" title=@Resource.whatIsStylaa>@Resource.whatIsStylaa</a></li>
                    <li><a href="@Url.Action("ContactUs","Home")" title=@Resource.contactUs>@Resource.contactUs</a></li>
                    <li><a href="@Url.Action("AboutUs","Home")" title=@Resource.aboutUs>@Resource.aboutUs</a></li>
                    <li><a href="@Url.Action("TermsConditions","Home")" title=@Resource.privacy>@Resource.termAndCondition</a></li>
                    <li><a href="@Url.Action("PrivacyPolicy","Home")" title=@Resource.privacy>@Resource.privacy</a></li>
                    <li><a href="@Url.Action("Imprint","Home")" title=@Resource.imprint>@Resource.imprint</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="https://www.facebook.com/stylaaa" title="facebook"><img src="@Url.Content("~/Content/images/facebook.svg")" alt=""></a></li>
                    <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><img src="@Url.Content("~/Content/images/instagram.svg")" alt=""></a></li>
                    <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><img src="@Url.Content("~/Content/images/youtube.svg")" alt=""></a></li>
                    <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin"><img src="@Url.Content("~/Content/images/linkedin.svg")" alt=""></a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="@Url.Content("~/Content/js/1.12.4.min.js")"></script>
    <script src="@Url.Content("~/Content/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.fancybox.min.js")"></script>
    <script src="@Url.Content("~/Content/js/custom.js")"></script>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">

    $(function(){
        var status =@status;
        if(status==0) {
            toastr.error('@message', '');
        }
        else if(status==1){
            toastr.success('@message','');
        }
        else if(status==2){
            toastr.info('@message', '');
        }
        else if(status==3){
            toastr.warning('@message', '');
        }
        else if(status==4){
            toastr.info('@message', '');
        }
    });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>

