﻿<section class="top-menu-section">
    <div class="max-menu">
        <div class="top-menu-row">
            <a href="javascript:void(0);" title="" class="close-top-menu"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="middle-menu">
            <div class="table">
                <div class="table-cell">
                    <nav class="navigation">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")" title="Home">@Resource.menuHome</a></li>

                            @if (ViewBag.MyRole == Role.User)
                            {
                                <li><a href="@Url.RouteUrl("User", new { username = User.Identity.GetUserName(),controller="User", action = "About" })" title="My Profile">@Resource.menuMyProfile</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.RouteUrl("Stylist", new { username = User.Identity.GetUserName(),controller="Stylist", action = "About" })" title="My Profile">@Resource.menuMyProfile</a></li>
                            }


                            <li><a href="@Url.Action("Logout", "Account")" class="logout" title=@Resource.logout>@Resource.logout</a></li>
                        </ul>
                    </nav>
                    <div class="languages mobile-block">
                        <ul>      
                            @{
                                foreach (var i in LanguageManager.AvailableLanguages)
                                {
                                    if (i.LanguageFullName == "En")
                                    {

                                        <li onclick="ChangeLang(this.id)" id="li_@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("EN") ? "active" : "")">
                                            <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="En">En</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li onclick="ChangeLang(this.id)" id="li_@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE") ? "active" : "")">
                                            <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage","Account",new { lang=i.LanguageCultureName,redirecturl=Request.Url})" title="De">De</a>
                                        </li>
                                    }
                                }
                            }
                            
                        </ul>
                    </div>
                    <div class="footer-social yellow-social">
                        <ul>
                            <li><a href="https://www.facebook.com/stylaaa" title="facebook"><img src="~/Content/images/facebook.svg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><img src="~/Content/images/instagram.svg" alt=""></a></li>
                            <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><img src="~/Content/images/youtube.svg" alt=""></a></li>
                            <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin"><img src="~/Content/images/linkedin.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
