﻿@using Stylaaa.Services
@{
    /**/

    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewUserDetail userdetail = new ViewUserDetail();
    if (ViewBag.UserProfile != null)
    {
        userdetail = ViewBag.UserProfile as ViewUserDetail;
    }
    string logeduserId = User.Identity.GetUserId();
    GeneralServices generalSer = new GeneralServices();
    bool IsFollow = generalSer.CheckFollowing(userdetail.Id, logeduserId);
}
@section metatags
{
    @if (!User.Identity.IsAuthenticated)
    {
        <meta property="og:title" content="@userdetail.Role" />
        <meta property="og:description" content="@userdetail.Name" />
        <meta property="og:image" content="@GlobalConfig.UserImageUrl@userdetail.ProfileImageName" />
    }
    else
    {
        <title>@Html.Raw(Resource.metaAboutTitle)</title>
        <meta name="description" content="@Html.Raw(Resource.metaAboutname)">
        <meta name="Keywords" content="@Html.Raw(Resource.metaAboutKeyWord)">
        <meta property="og:url" content="@Html.Raw(Resource.metaAbouturl)" />
    }
}

<section class="middle-section-admin">
    <div class="table">
        <div class="left-admin mobile-none">
            <div class="ipad-block">
                <a href="#" title="" class="ipad-leftbar open-leftbar">+</a>
                <a href="#" title="" class="ipad-leftbar close-leftbar">-</a>
            </div>
            @{
                string strstyle = "";
                if (!String.IsNullOrWhiteSpace(userdetail.ProfileImageName))
                {
                    strstyle = "background:url('" + userdetail.ProfileImageUrl + "') no-repeat  center center;background-size: contain!important;";
                }

                <div class="ps-relative">
                    <div class="profile-pic" id="user-profile-image" style="border:0px #fff; @strstyle">
                        <div class="ps-table" style="border:0px #fff;">
                            <div class="table" style="border:0px #fff;">
                                <div class="table-cell" style="border:0px # fff;">
                                    @if (String.IsNullOrWhiteSpace(userdetail.ProfileImageName))
                                    {
                                        <img width="110" class="default-img" title="profile image" style="border:0px #fff;" src="@Url.Content("~/Content/images/profile-placeholder.png")">
                                    }
                                </div>
                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated && userdetail.Id == User.Identity.GetUserId())
                        {
                            <a href="#profile-pic-pp" title="" class="camera-img fancybox">
                                <img class="upload-button" src="@Url.Content("~/Content/images/camera.svg")" alt="" />
                            </a>
                        }
                        @if (userdetail.IsPremium)
                        {
                            <a href="#" title="" style="position: absolute;right: 20px; top: 20px;   display: inline-block;    padding: 8px; border-radius: 4px;" class="premium-user"><img src="@Url.Content("~/Content/images/premium-user.svg")" alt="" /></a>
                        }
                        <div class="profile-content" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));">
                            <h4>@(userdetail != null ? userdetail.Name : string.Empty)</h4>
                            <a class="pf-link" href="#" title="@(userdetail != null ? userdetail.UserName : string.Empty)">@(userdetail != null ? userdetail.UserName : string.Empty)</a>
                        </div>
                    </div>

                    <div class="left-admin-content">
                        <P>@userdetail.AboutMe</P>
                    </div>
                    <div class="admin-menu">
                        <input type="hidden" id="profileusername" value="@userdetail.UserName" />
                        <ul>
                            @if (userdetail.Role == Role.Stylist)
                            {

                                <li><a href="@Url.RouteUrl("Stylist", new { @username = userdetail.UserName, action = "Post" })" title="@Resource.post">@Resource.post</a></li>

                                if (User.Identity.IsAuthenticated)
                                {
                                    <li class="active"><a href="@Url.RouteUrl("Stylist", new { @username = userdetail.UserName, action = "About" })" title="@Resource.about">@Resource.about</a></li>
                                    if (userdetail.Id == User.Identity.GetUserId())
                                    {
                                        <li><a href="@Url.RouteUrl("Chat", new { @username = userdetail.UserName, action = "ChatJob" })" title="@Resource.Messages">@Resource.Messages</a></li>
                                    }
                                    <li><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "Following" })" title="@Resource.following">@Resource.following</a></li>
                                    <li><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "Followers" })" title="@Resource.followers">@Resource.followers</a></li>
                                    if (userdetail.Id == User.Identity.GetUserId())
                                    {
                                        <li id="setting"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "MyReview" })" title="@Resource.myReview">@Resource.myReview</a></li>
                                        <li><a href="@Url.RouteUrl("StylistChangePassword", new { username = userdetail.UserName, action = "UserEditPassword" })" title="@Resource.Settings">@Resource.Settings</a></li>
                                        <li><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "UpdateToPremium" })" title="@Resource.update @Resource.premium">@Resource.update @Resource.premium</a></li>
                                        <li><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "PaymentHistory" })" title="@Resource.paymenthistory @Resource.paymenthistory1">@Resource.paymenthistory @Resource.paymenthistory1</a></li>
                                        <li><a href="@Url.RouteUrl("Stylist", new { @username = userdetail.UserName, action = "JobCredit" })" title="Job Credit">Job Credits</a></li>
                                    }
                                    else
                                    {
                                        <li id="setting"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "StylistReview" })" title="@Resource.review">@Resource.review</a></li>
                                    }
                                }
                                else
                                {

                                    <li class="active"><a href="@Url.RouteUrl("Stylist", new { @username = userdetail.UserName, action = "About" })" title="@Resource.AboutLink">@Resource.AboutLink</a></li>
                                }
                            }
                            else
                            {
                                <li><a href="@Url.RouteUrl("User", new { @username = userdetail.UserName, action = "Post" })" title="@Resource.post">@Resource.post</a></li>
                                if (userdetail.Id == User.Identity.GetUserId())
                                {
                                    <li><a href="@Url.RouteUrl("User", new { @username = userdetail.UserName, action = "Job" })" title="@Resource.MenuMyJobs">@Resource.MenuMyJobs</a></li>
                                }

                                if (User.Identity.IsAuthenticated)
                                {

                                    <li class="active"><a href="@Url.RouteUrl("User", new { @username = userdetail.UserName, action = "About" })" title=@Resource.about>@Resource.about</a></li>

                                    if (userdetail.Id == User.Identity.GetUserId())
                                    {
                                        <li><a href="@Url.RouteUrl("Chat", new { @username = userdetail.UserName, action = "ChatJob" })" title="@Resource.Messages">@Resource.Messages</a></li>
                                    }
                                    <li><a href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "Following" })" title=@Resource.following>@Resource.following</a></li>
                                    <li><a href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "Followers" })" title=@Resource.followers>@Resource.followers</a></li>

                                    if (userdetail.Id == User.Identity.GetUserId())
                                    {
                                        <li><a href="@Url.RouteUrl("UserChangePassword", new { username = userdetail.UserName, action = "UserEditPassword" })" title="@Resource.Settings">@Resource.Settings</a></li>
                                    }
                                }
                                else
                                {
                                    <li class="active"><a href="@Url.RouteUrl("User", new { @username = userdetail.UserName, action = "About" })" title=@Resource.AboutLink>@Resource.AboutLink</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="right-admin">
            <div class="background-full">
                <div class="background-img">
                    @if (string.IsNullOrEmpty(userdetail.CoverPicName))
                    {
                        <div class="bacround-ps-img mobile-none" style="background:url('@Url.Content("~/Content/images/default-coverpic.jpg")') no-repeat  center center; background-color: #f5f5f5;"></div>
                        /*background-size: contain!important;*/
                        <img class="mobile-block background-img-pic" title="background image" src="@Url.Content("~/Content/images/default-coverpic.jpg")" alt="" />
                    }
                    else
                    {
                        <div class="bacround-ps-img mobile-none" style="background:url('@userdetail.CoverPicUrl') no-repeat  center center;"></div>
                        /*background-size: contain!important;*/
                        <img class="mobile-block background-img-pic" title="background image" src="@(GlobalConfig.UserCoverPicUrl + userdetail.CoverPicName)" alt="" />
                    }

                    @if (User.Identity.IsAuthenticated && userdetail.Id == User.Identity.GetUserId())
                    {
                        <a href="#change-cover-photo" title="" class="camera-img-second fancybox">
                            <img src="@Url.Content("~/Content/images/camera.svg")" alt="" />
                            <span>@Resource.changeCoverPicText</span>
                        </a>
                    }

                    <div class="responsive-box">
                        <div class="profile-pic mobile-block">
                            <div class="mobile-pf">
                                <div class="ps-table" style="border: 0px #fff !important;">
                                    <div class="table" id="mobile-user-profile" style="border: 0px #fff !important;">
                                        @if (String.IsNullOrWhiteSpace(userdetail.ProfileImageName))
                                        {
                                            <div class="table-cell" style="border: 0px #fff !important;">
                                                <img width="80" style="border:0px #fff;" title="profile image" class="default-img" src="@Url.Content("~/Content/images/profile-placeholder.png")">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="table-cell" style="border:0px #fff !important; background:url('@userdetail.ProfileImageUrl') no-repeat  center center;background-size: contain!important;">
                                            </div>
                                        }
                                    </div>
                                </div>
                                @*<img class="profile-pic-img" src="" alt="" />*@
                                @if (User.Identity.IsAuthenticated && userdetail.Id == User.Identity.GetUserId())
                                {
                                    <a href="#profile-pic-pp" title="" class="camera-img fancybox">
                                        <img class="upload-button" src="@Url.Content("~/Content/images/camera.svg")" alt="" />
                                    </a>
                                }
                                @if (userdetail.IsPremium)
                                {
                                    <a href="#" title="" style="position: absolute;right: 6px; top:6px;padding:4px;max-width:24px;" class="premium-user"><img src="@Url.Content("~/Content/images/premium-user.svg")" alt="" /></a>
                                }
                            </div>
                            <div class="profile-content mobile-block">
                                <h4>@(userdetail.Name != null ? userdetail.Name : string.Empty)</h4>
                                <a class="pf-link" href="#" title="@userdetail.UserName">@(userdetail.UserName != null ? userdetail.UserName : string.Empty)</a>
                            </div>
                        </div>
                        <div class="bottom-bar container">
                            <div class="table">
                                <div class="left-bttom">
                                    <ul>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            if (userdetail.Role == Role.Stylist)
                                            {
                                                <li><a href="@Url.RouteUrl("Stylist", new { @username = userdetail.UserName, action = "Post" })" title="">@userdetail.PostCount <span>@Resource.post</span></a></li>
                                                <li><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "Following" })" title="">@userdetail.FollowingCount <span>@Resource.following</span></a></li>
                                                <li>
                                                    <a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "Followers" })" title="">
                                                        @userdetail.FollowerCount
                                                        @if (userdetail.FollowerCount > 1)
                                                        {
                                                            <span> @Resource.followers</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@Resource.followers</span>
                                                        }
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li><a href="@Url.RouteUrl("User", new { @username = userdetail.UserName, action = "Post" })" title="">@userdetail.PostCount <span>@Resource.post</span></a></li>
                                                <li><a href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "Following" })" title="">@userdetail.FollowingCount <span>@Resource.following</span></a></li>
                                                <li>
                                                    <a href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "Followers" })" title="">
                                                        @userdetail.FollowerCount
                                                        @if (userdetail.FollowerCount > 1)
                                                        {
                                                            <span> @Resource.followers</span>
                                                        }
                                                        else
                                                        {
                                                            <span> @Resource.followers</span>
                                                        }
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (userdetail.Id != User.Identity.GetUserId())
                                    {
                                        <div class="right-bottom mobile-none">
                                            <a href="#send-message" title="@Resource.SendMessage" class="share-profile fancybox">@Resource.SendMessage</a>
                                        </div>

                                        <div class="right-bottom mobile-none">
                                            <a href="javascript:;" data-id="@userdetail.Id" title="@Resource.ShareProfileBtn" class="share-profile buttonfollow">@(IsFollow == true ? Resource.following : Resource.follow)</a>
                                        </div>
                                    }

                                    <div class="right-bottom mobile-none">
                                        <a href="#share-profile" title="@Resource.ShareProfileBtn" class="share-profile fancybox">@Resource.ShareProfileBtn </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="left-admin-content mobile-block">
                            <P>@userdetail.AboutMe</P>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="right-bottom mobile-block">
                                    @if (userdetail.Id != User.Identity.GetUserId())
                                    {
                                        <a href="#send-message" title="@Resource.SendMessage" class="share-profile fancybox">@Resource.SendMessage </a>

                                        <a href="javaScript:;" data-id="@userdetail.Id" title="@Resource.SendMessage" class="share-profile buttonfollow">@(IsFollow == true ? Resource.following : Resource.follow)</a>
                                    }
                                    <a href="#share-profile" title="Share Profile" class="share-profile fancybox">@Resource.ShareProfileBtn</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-block">
                <div class="admin-menu-mobile">
                    <div class="inner-slide">
                        @if (userdetail.Role == Role.Stylist)
                        {
                            <div class="item"><a href="@Url.RouteUrl("Stylist", new { @username = userdetail.UserName, action = "Post" })" title="@Resource.post">@Resource.post</a></div>

                            if (User.Identity.IsAuthenticated)
                            {
                                <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "About" })" title="@Resource.about">@Resource.about</a></div>
                                if (userdetail.Id == User.Identity.GetUserId())
                                {
                                    <div class="item">
                                        <a href="@Url.RouteUrl("Chat", new { @username = userdetail.UserName, action = "ChatJob" })" title="@Resource.Messages">@Resource.Messages</a>
                                    </div>
                                }
                                <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "Following" })" title=@Resource.following>@Resource.following</a></div>
                                <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "Followers" })" title=@Resource.followers>@Resource.followers</a></div>

                                if (userdetail.Id == User.Identity.GetUserId())
                                {
                                    <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "MyReview" })" title=@Resource.myReview>@Resource.myReview</a></div>
                                    <div class="item"><a href="@Url.RouteUrl("StylistChangePassword", new { username = User.Identity.GetUserName(), action = "UserEditPassword" })" title="@Resource.Settings">@Resource.Settings</a></div>
                                    <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "UpdateToPremium" })" title=@Resource.updateToPremiumText>@Resource.update<br />@Resource.premium</a></div>
                                    <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "PaymentHistory" })" title=@Resource.paymenthistory @Resource.paymenthistory1>@Resource.paymenthistory<br />@Resource.paymenthistory1</a></div>

                                    <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "JobCredit" })" title="JobCredit" @Resource.paymenthistory1>Job Credits</a></div>
                                }
                                else
                                {
                                    <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "StylistReview" })" title=@Resource.review>@Resource.review</a></div>
                                }
                            }
                            else
                            {
                                <div class="item"><a href="@Url.RouteUrl("Stylist", new { username = userdetail.UserName, action = "About" })" title="@Resource.AboutLink">@Resource.AboutLink</a></div>
                            }
                        }
                        else
                        {
                            <div class="item"><a href="@Url.RouteUrl("User", new { @username = userdetail.UserName, action = "Post" })" title=@Resource.post>@Resource.post</a></div>

                            if (userdetail.Id == User.Identity.GetUserId())
                            {
                                <div class="item"><a href="@Url.RouteUrl("User", new { @username = userdetail.UserName, action = "Job" })" title="@Resource.MenuMyJobs">@Resource.MenuMyJobs</a></div>
                            }
                            if (User.Identity.IsAuthenticated)
                            {
                                <div class="item"><a class="active" href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "About" })" title=@Resource.about>@Resource.about</a></div>
                                if (userdetail.Id == User.Identity.GetUserId())
                                {
                                    <div class="item"><a href="@Url.RouteUrl("Chat", new { @username = userdetail.UserName, action = "MobileJobChat" })" title="@Resource.Messages">@Resource.Messages</a></div>
                                }
                                <div class="item"><a href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "Following" })" title=@Resource.following>@Resource.following</a></div>

                                @*<div class="item"><a href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "Following" })" title="Following">Following</a></div>*@
                                <div class="item"><a href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "Followers" })" title=@Resource.followers>@Resource.followers</a></div>
                                if (userdetail.Id == User.Identity.GetUserId())
                                {
                                    <div class="item"><a href="@Url.RouteUrl("UserChangePassword", new { username = userdetail.UserName, action = "UserEditPassword" })" title="@Resource.Settings">@Resource.Settings</a></div>

                                }
                            }
                            else
                            {
                                <div class="item"><a class="active" href="@Url.RouteUrl("User", new { username = userdetail.UserName, action = "About" })" title=@Resource.AboutLink>@Resource.AboutLink</a></div>
                            }
                        }
                    </div>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>
</section>
<!-- change cover photo popup -->
<div class="popup-box">
    <div id="change-cover-photo" class="popup-max about-pp">
        <div class="popup-had">
            <h4>@Resource.changeCoverPicText</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="tabs-full-popup">
            <div class="upload-image">
                <div id="image-container">
                    <canvas id="canvas" class="canvas img-upload-max"></canvas>
                </div>
                <div><p>@Resource.ChangeCoverpicImageValid 990X480</p></div>
                <div class="ps-upload hide">
                    <div class="bt-crop">
                        <input type="button" id="btnLeftRotate" value="@Resource.Crop" title="rotate left" onclick="rotateLeft()" />
                        <img id="btnCrop" src="@Url.Content("~/Content/images/rotate-left.svg")" title="rotate left" alt="rotate left" style="width: 40px;height: 40px;" />
                    </div>
                    <div class="bt-crop">
                        <input type="button" id="btnRightRotate" value="@Resource.Crop" title="rotate right" onclick="rotateRight()" />
                        <img id="btnCrop" src="@Url.Content("~/Content/images/rotate-right.svg")" title="rotate right" alt="rotate right" style="width: 40px;height: 40px;" />
                    </div>
                    <div class="bt-crop">
                        <input type="button" title="@Resource.Save" id="btnCrop-CoverPic" value="@Resource.Crop" />
                        <img src="@Url.Content("~/Content/images/crop-right.svg")" alt="" />
                    </div>
                    <div class="bt-crop-rs">
                        <input type="button" title="@Resource.Restore" id="btnRestore-CoverPic" value="@Resource.Restore" />
                        <img src="@Url.Content("~/Content/images/crop-cancel.svg")" alt="" />
                    </div>
                </div>
            </div>
            <div class="upload-button">
                <a href="#" title=@Resource.Upload @Resource.Coverphoto class="btn-yellow">
                    @Resource.ChangeCoverpicBtn
                    <input class="file-input" id="file-input-coverpic" type="file">
                </a>
            </div>
            <button class="btn save hide">@Resource.Save</button>
        </div>
    </div>
</div>

<!-- profile-pic photo popup -->
<div class="popup-box">
    <div id="profile-pic-pp" class="popup-max about-pp">
        <div class="popup-had">
            <h4>@Resource.editprofileChangePic</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="tabs-full-popup">
            <div class="upload-image">
                <div id="image-container">
                    <canvas id="profile-canvas" class="canvas img-upload-max"></canvas>
                </div>
                <div class="ps-upload hide">
                    <div class="bt-crop">
                        <input type="button" id="btnLeftRotate" value="@Resource.Crop" title="rotate left" onclick="rotateLeftProfilePic()" style="width: 40px;height: 40px;" />
                        <img id="btnCrop" src="@Url.Content("~/Content/images/rotate-left.svg")" title="rotate left" alt="rotate left" style="width: 40px;height: 40px;" />
                    </div>
                    <div class="bt-crop">
                        <input type="button" id="btnRightRotate" value="@Resource.Crop" title="rotate right" onclick="rotateRightProfilePic()" />
                        <img id="btnCrop" src="@Url.Content("~/Content/images/rotate-right.svg")" title="rotate right" alt="rotate right" style="width: 40px;height: 40px;" />
                    </div>
                    <div class="bt-crop">
                        <input type="button" title="@Resource.Crop" id="btnCrop-ProfilePic" value="@Resource.Crop" />
                        <img src="@Url.Content("~/Content/images/crop-right.svg")" alt="" />
                    </div>
                    <div class="bt-crop-rs">
                        <input type="button" title="@Resource.Restore" id="btnRestore-ProfilePic" value="@Resource.Restore" />
                        <img src="@Url.Content("~/Content/images/crop-cancel.svg")" alt="" />
                    </div>
                </div>
                <div><p>@Resource.ChangeCoverpicImageValid 350X350</p></div>
            </div>
            <div class="upload-button">
                <a href="#" title="Upload Photo" class="btn-yellow">
                    @Resource.ChangeProfileBtn
                    <input class="file-input-profile-pic" id="file-input-profile-pic" type="file">
                </a>
            </div>
            <button class="btn save hide">@Resource.Save</button>
        </div>
    </div>
</div>

<!-- share profile popup -->
<div class="popup-box">
    <div id="share-profile" class="popup-max">
        <div class="popup-had">
            <h4>@Resource.ShareProfileBtn</h4>
            <P>@Resource.ShareProfileText</P>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        @*<form>
        *@
        <div class="popup-middle" style="min-height: auto !important;">
            <div class="field-rs">
                <label>@Resource.ShareProfileBtn</label>
                <div class="copy-link">
                    <div class="table">
                        <div class="table-cell">
                            <input type="text" id="share-profile-link" value="@userdetail.profileUrl">
                        </div>
                        <div class="table-cell">
                            <button class="copy-button" type="button">@Resource.copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <button id="profile-share-button" style="float:left;" class="button share-button">@Resource.Share</button>
            <a href="javascript:void(0);" title="@Resource.cancel" data-fancybox-close="true" class="button cancel-button">@Resource.forgotpasswordCancel</a>
        </div>
        @*
            </form>*@
    </div>
</div>

<!-- share-profile popup-->
<div class="popup-box">
    <div id="share-post" class="popup-max">
        <div class="popup-had">
            <h4>@Resource.profile @Resource.Share.ToLower()</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="~/Content/images/close.svg" alt="" /></a>
        </div>
        <div class="popup-middle" style="min-height: auto !important;">
            <div class="share-mrg">
                <div class="addthis_toolbox addthis_inline_share_toolbox" addthis:url="THE URL" addthis:title="THE TITLE" addthis:description="THE DESCRIPTION" addthis:media="THE IMAGE"></div>

            </div>
        </div>
    </div>
</div>


<!-- send message popup -->
<div class="popup-box">
    <div id="send-message" class="popup-max">
        <div class="popup-had">
            <h4>@Resource.SendMessage</h4>
            <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
        </div>
        <div class="popup-middle" style="min-height: 100px !important;">
            <div class="field-rs">
                @*<label>@Resource.message</label>*@
                <textarea id="ReportPostReasonText" name="ReportPostReasonText" placeholder="@Resource.typeMsgHere"></textarea>
            </div>
        </div>
        <div class="popup-footer single-btn">
            <a href="javascript:;" id="sendtextId" data-sid="@userdetail.Id" title=@Resource.send class="button share-button">@Resource.send</a>
        </div>
    </div>
</div>

@section Partialscripts{
    @Scripts.Render("~/scripts/profile")

    <script>

        $(".buttonfollow").on('click', function () {
            var sid = $(this).data('id');
            var control = $(this);
            $.post('@Url.Action("FollowTransaction", "Home")', { StylishId: sid })
                .done(function (result) {
                    if (result) {
                        if (result == "Follow" || result == "Folgen") {
                            $(control).text(result);
                            //$(control).addClass("btn-profileFollow");
                            //$(control).removeClass("share-profile");
                            window.location.reload();
                        }
                        else if (result == "Following" || result == "Abonniert") {

                            $(control).text(result);
                            //$(control).removeClass("share-profile");
                            //$(control).addClass("btn-profileFollow");
                            window.location.reload();
                        }
                        else {
                            toastr.error(result.Message, '@Resource.loginMust');
                        }
                    }
                    else
                        toastr.error(result.Message,'@Resource.loginMust');
                }).fail(function (error) {
            });
        });


        $(document).ready(function () {
            if ($("#RecentPostPageIndex").val() == $("#RecentPostPageCount").val()) {
                $(".view-all").hide();
            }
        });

        var hrefUrl = "https://www.stylaaa.com/?hashtag=dfg";
        var hrefMediaUrl = "https://www.stylaaa.com/Files/PostImages/254291db-9d23-4a7a-a10f-12d07b1a0820_XmfC4HPr7E-4f1KhBjFTxg_12062018113247.jpeg";
        var addthis_share = {
            url: hrefUrl,
            title: "THE TITLE",
            description: "THE DESCRIPTION",
            media: hrefMediaUrl
        };

        var addthis_config = {
            data_track_clickback: true
        };

        $("#profile-share-button").click(function () {
            $.fancybox.close();

            addthis.update('share', 'url', '@userdetail.profileUrl');
            addthis.url = '@userdetail.profileUrl';
            addthis.update('share', 'title', "stylaaa profile title");
            addthis.title = "stylaaa profile title";
            addthis.update('share', 'description', "THE DESCRIPTION");
            addthis.description = "THE DESCRIPTION";
            addthis.update('share', 'media', '@GlobalConfig.UserImageUrl@userdetail.ProfileImageName');
            addthis.media = '@GlobalConfig.UserImageUrl@userdetail.ProfileImageName';
            addthis.toolbox(".addthis_toolbox");

            $.fancybox.open({
                src: '#share-post',
                type: 'inline',
                modal: true,
                helpers: {
                    overlay: { closeClick: false }
                }
            });
            $(".addthis_toolbox").attr("data-url", '@userdetail.profileUrl');
            $(".addthis_toolbox").attr("data-media", '@GlobalConfig.UserImageUrl@userdetail.ProfileImageName');
        });

    $('#btnCrop-ProfilePic').click(function () {
        // Get a string base 64 data url
        //var croppedImageDataURL = canvas2.cropper('getCroppedCanvas').toDataURL("image/png");
        //$result.append($('.profile-pic-img').attr('src', croppedImageDataURL));
        //$result.append($('.profile-pic').css('background', 'url(' + croppedImageDataURL + ') no-repeat  center center'));
        //$('.profile-pic').addClass('active');
        //$('.ps-table ').addClass('hide');

        $.fancybox.close();
        displayWhiteOverlay();

        $("#profile-pic-pp .ps-upload").addClass("hide");

        var cropcanvas = canvas2.cropper('getCroppedCanvas');
        var croppng = cropcanvas.toDataURL("image/png");

        // Create FormData object
        var formData = new FormData();
        formData.append('pngimageData', croppng);
        formData.append('filename', 'test.png');

        var url = '@Url.Action("UpdateProfileImage", "Stylist")';
        $.ajax({
            url: url,
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function (result) {
                removeWhiteOverlay();
                if (result.Result != "1" || result.Result != "0") {

                    $('#user-profile-image').attr('style', 'background: url(' + result.Message + ') no-repeat  center center;background-size: contain!important;');/* background-size: contain!important;*/
                    $('#mobile-user-profile .table-cell').attr('style', 'background: url(' + result.Message + ') no-repeat  center center; background-size: contain!important;'); /*background-size: contain!important;*/
                    //$('#mobile-user-profile .table-cell img').attr('src', result.Message);

                    $('#profile-pic-pp .profile-pic').addClass('active');
                    $('#profile-pic-pp .ps-table').addClass('hide');

                    $("#profile-pic-pp .ps-upload").removeClass("hide");

                    $(".default-img").remove();

                    ShowToastr('success', '@Resource.profilepicUploadsuccess', '');
                }
            },
            error: function (err) {
                removeWhiteOverlay();
                ShowToastr('error', "fail::" + err.statusText, '');
            }
        });
    });

            $('#btnCrop-CoverPic').click(function () {
                //    // Get a string base 64 data url
                //    var croppedImageDataURL = canvas.cropper('getCroppedCanvas').toDataURL("image/png");
                //    $result.append($('.background-img-pic').attr('src', croppedImageDataURL));
                //    $result.append($('.bacround-ps-img').css('background', 'url(' + croppedImageDataURL + ') no-repeat  center center'));

                $.fancybox.close();
                displayWhiteOverlay();

                $("#change-cover-photo .ps-upload").addClass("hide");

                var cropcanvas = canvas.cropper('getCroppedCanvas');
                var croppng = cropcanvas.toDataURL("image/png");

                // Create FormData object
                var formData = new FormData();
                formData.append('pngimageData', croppng);
                formData.append('filename', 'test.png');

                var url = '@Url.Action("UpdateCoverPic", "Stylist")';
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: formData,
                    success: function (result) {
                        removeWhiteOverlay();
                        if (result.Result != "1" || result.Result != "0") {
                            $('.background-img-pic').attr('src', result.Message);
                            $('.bacround-ps-img').attr('style', 'background: url(' + result.Message + ') no-repeat  center center;'); /*background-size: contain!important;*/

                            $("#change-cover-photo .ps-upload").removeClass("hide");

                            ShowToastr('success', '@Resource.CoverpicUploadSuccess', '');
                        }
                    },
                    error: function (err) {
                        removeWhiteOverlay();
                        ShowToastr('error', "fail::" + err.statusText, '');
                    }
                });
            });

            $(window).bind("load", function () {
                var strUserName = $("#UserName").val();
                if (strUserName != null && strUserName != undefined && strUserName != '') {
                    var url = window.location.pathname;
                    var arrayurl = url.split("/");
                    if (arrayurl[arrayurl.length - 1] != "About") {
                        url = url.replace(arrayurl[arrayurl.length - 1], strUserName);
                    }
                    else {
                        url = url.replace(arrayurl[arrayurl.length - 2], strUserName);
                    }
                    history.pushState(null, null, url);
                    //$("#lnkmyprofile").attr("href", url);

                }
            });

        $(".stylist_username").change(function (e) {
            var strUserName = $(this).val();
            if (strUserName == null || strUserName == undefined || strUserName == "") {
                $(".stylist_username").focus();
                $(".stylist_username").attr("style", "border: 1px solid #ff0000;");
                ShowToastr('error', '@Resource.UsernameFieldIsRequired', '');
            }
            else {
                var strurl = '@Url.RouteUrl("Stylist", new { username = User.Identity.GetUserName(), action = "IsUserExists" })';
                var formdata = new FormData();
                formdata.append("strUserName", strUserName);

                $.ajax({
                    url: strurl,
                    type: "Post",
                    data: formdata,
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    success: function (result) {
                        if (result == true) {
                            $(".stylist_username").val("");
                            $(".stylist_username").focus();
                            $(".stylist_username").attr("style", "border: 1px solid #ff0000;");
                            ShowToastr('error', '@Resource.usernameAlreadyinUse', '');
                        }
                        else {
                            ShowToastr('success', 'This username is available', '');
                            $(".stylist_username").attr("style", "border: 1px solid #dcdcdc;");
                        }
                    },
                    error: function (err) {
                        ShowToastr('error', "fail::" + err.statusText, '');
                    }
                });
            }
        });

         $(".user_username").change(function (e) {
             var strUserName = $(this).val();
             if (strUserName == null || strUserName == undefined || strUserName == "") {
                 $(".user_username").focus();
                 $(".user_username").attr("style", "border: 1px solid #ff0000;");
                 ShowToastr('error', '@Resource.UsernameFieldIsRequired', '');
             }
             {
                 var strurl = '@Url.RouteUrl("Stylist", new { username = User.Identity.GetUserName(), action = "IsUserExists" })';
                 var formdata = new FormData();
                 formdata.append("strUserName", strUserName);

                 $.ajax({
                     url: strurl,
                     type: "Post",
                     data: formdata,
                     contentType: false, // Not to set any content header
                     processData: false, // Not to process data
                     success: function (result) {
                         if (result == true) {
                             $(".user_username").val("");
                             $(".user_username").focus();
                             $(".user_username").attr("style", "border: 1px solid #ff0000;");
                             ShowToastr('error', '@Resource.usernameAlreadyinUse', '');
                         }
                         else {
                             ShowToastr('success', 'This username is available', '');
                             $(".user_username").attr("style", "border: 1px solid #dcdcdc;");
                         }
                     },
                     error: function (err) {
                         ShowToastr('error', "fail::" + err.statusText, '');
                     }
                 });
             }
        });

         var demsg = 'it will be deleted after 30 days from the system, during this time you can login and activate your account again';
         var deactivemsg = 'Yes Deactivate it!';
         if (varLang == 'de') {
             demsg = 'Dein Konto wird innerhalb von 30 Tagen gelöscht.In dieser Zeit kannst du dich wieder einloggen und dein Konto aktivieren';
             var deactivemsg = 'Bestätigen!';
         }

        function fnOpenDeactiveAccount(url, logouturl) {
            swal({
                title: '@Html.Raw(Resource.SureDeleteAccountText)',
                text: demsg,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: deactivemsg,
                closeOnConfirm: false,
                allowOutsideClick: false
            },
                function () {
                    $.ajax({
                        type: 'GET',
                        url: url,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result.Status == "1") {

                                //swal(result.Message)
                                ShowToastr('success', result.Message, '');
                                setTimeout(function () {
                                    var pathname = window.location.pathname;
                                    var fullurl = window.location.href;

                                    logouturl = fullurl.replace(pathname, logouturl);

                                    window.location.replace(logouturl);
                                }, 1500);
                            }
                            else {
                                ShowToastr('error', result.Message, '');
                            }
                            swal.close();
                        },
                        error: function (err) {
                            ShowToastr('error', "err::" + err, '');
                        }
                    });
                });
        }


        var deletepostMsg = 'Are you sure to delete this Post?';
        var deletepostmessage = 'Yes delete it';
        var dltmsg = "Deleted";
        if (varLang == 'de') {
            deletepostMsg = 'Willst du diesen Post löschen?';
            deletepostmessage = 'löschen';
            dltmsg = "löschen";
        }
        function deleteProfilePost(url) {
            //displayOverlay();

            swal({
                title: deletepostMsg,
                //text: "Your will not be able to recover this post!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: deletepostmessage,
                closeOnConfirm: false,
                allowOutsideClick: false,
            },
                function () {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            $.fancybox.close();
                            removeWhiteOverlay();
                            //swal("Deleted!", "Post has been Deleted.", "success");
                            swal(dltmsg, "", "success");
                            var loadPostUrl = '@Url.Action("PartialPost", "Post")?intPageIndex=1&username=' + $("#profileusername").val();
                            loadProfileAllPostList(loadPostUrl, false);
                        },
                        error: function (err) {
                            removeWhiteOverlay();
                            ShowToastr('error', "err::" + err, '');
                        }
                    });
                });
        }

        function OnSuccess(response) {
            displayWhiteOverlay();
            if (response.Status == '1') {
                $.fancybox.close();
                removeWhiteOverlay();
                var url = '@Url.Action("PartialPost", "Post")?intPageIndex=1&username=' + $("#profileusername").val();
                loadProfileAllPostList(url, true);
            }
            else {
                ShowToastr('error', response.Message, '');
                removeWhiteOverlay();
            }
        }

        function OnSuccessJob(response) {
            displayWhiteOverlay();
            if (response.Status == '1') {
                $.fancybox.close();
                removeWhiteOverlay();
                var url = '@Url.Action("PartialJob", "Job")?intPageIndex=1&username=' + $("#profileusername").val();
                loadProfileAllJobList(url, true);
            }
            else {
                ShowToastr('error', response.Message, '');
                removeWhiteOverlay();
            }
        }

        function OnSuccessJobStatus(response) {
            displayWhiteOverlay();
            if (response.Status == '1') {
                removeWhiteOverlay();
                var url = '@Url.Action("PartialJob", "Job")?intPageIndex=1&username=' + $("#profileusername").val();
                loadProfileAllJobList(url, true);
            }
            else {
                ShowToastr('error', response.Message, '');
                removeWhiteOverlay();
            }
        }


        function loadProfileAllPostList(url, addpost) {
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    $('#profile-post').html(result);

                    if (addpost == true) {
                        ShowToastr('success', '@Resource.PostuploadSuccess', '');
                    }
                    $("a[href='#new-post']").attr("class", "active");
                    $("a[href='#popular-post']").removeClass("active");
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', "err::" + err, '');
                }
            });
        }

            function loadMorePost() {
                var pCount = parseInt($("#RecentPostPageCount").val());
                var pIndex = parseInt($("#RecentPostPageIndex").val());

                if (pCount > pIndex) {
                    var pagenum = pIndex + 1;
                    var url = '@Url.Action("PartialPost", "Post")?intPageIndex=' + pagenum + '&username=' + $("#profileusername").val();
                    loadMorePostList(url, pagenum);
                }
        }


            $("#sendtextId").on('click', function () {
                var control = $(this);
                var recieverId = $(control).data('sid')
                var message = $(control).parent().parent().find('textarea').val();
                if (message)
                {
                    $.post('@Url.Action("SendMessage", "Chat")', { ReceiverID: recieverId, MessageText: message })
                    .done(function (result) {
                        if (result) {
                            $(control).parent().parent().find('textarea').val('');
                            toastr.success('@Resource.SendMessageSuccess');
                            $.fancybox.close();
                        }
                        else
                            toastr.error('@Resource.SendmsgFailed');
                        }).fail(function (error) {
                    });
                }
                else {
                    toastr.error('@Resource.SendmsgEnterText');
                }
        });

        $("#tblPaymentHistory").mCustomScrollbar({
            theme: "dark",
            autoHideScrollbar: true,
            //mouseWheel: { enable: true },
            mouseWheel: { preventDefault: true },
            callbacks: {
                onTotalScroll: function () {
                    var ntfIndex = parseInt($("#hdnPaymentHistoryIndex").val());
                    var ntfCount = parseInt($("#hdnPaymentHistorySize").val());

                    if (ntfCount > ntfIndex) {
                        displaySearchOverlay();
                        ntfIndex = ntfIndex + 1;

                        var formData = new FormData();
                        formData.append('index', ntfIndex);

                        var url = '@Url.Action("GetPaymentHistory", "Stylist")';
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                removeSearchOverlay();
                                $('#tbody').append(result);
                                $("#hdnPaymentHistoryIndex").val(ntfIndex);
                            },
                            error: function (err) {
                                removeSearchOverlay();
                                ShowToastr('error', err, '');
                            }
                        });
                    }
                }
            },
            advanced: {
                updateOnContentResize: true
            }
        });

        $('.chatbuddylist').mCustomScrollbar({
            theme: "dark",
            scrollbarPosition: "outside",
            autoHideScrollbar: true,
            mouseWheel: { preventDefault: true }
        });

        //////////////Job related

        var deleteJobMsg = 'Are you sure to delete this job?';
        var deletejobmessage = 'Yes delete it';
        var deleted = "Deleted";
        if (varLang == 'de') {
            deleteJobMsg = 'Willst du diesen Job löschen?';
            deletejobmessage = 'Löschen';
            deleted = "Löschen";
        }
        function deleteProfileJob(url) {
            //displayOverlay();

            swal({
                title: deleteJobMsg,
                //text: "Your will not be able to recover this job!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: deletejobmessage,
                closeOnConfirm: false,
                allowOutsideClick: false
            },
                function () {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            $.fancybox.close();
                            removeWhiteOverlay();
                            //swal("Deleted!", "Post has been Deleted.", "success");
                            swal(deleted, "", "success");
                            var loadPostUrl = '@Url.Action("PartialJob", "Job")?intPageIndex=1&username=' + $("#profileusername").val();
                            loadProfileAllJobList(loadPostUrl, false);
                        },
                        error: function (err) {
                            removeWhiteOverlay();
                            ShowToastr('error', "err::" + err, '');
                        }
                    });
                });
        }

        function loadProfileAllJobList(url, addpost) {
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    $('#profile-job').html(result);
                    if (addpost == true) {
                        ShowToastr('success', '@Resource.jobSuccessUpdate', '');
                    }
                    //$("a[href='#new-post']").attr("class", "active");
                    //$("a[href='#popular-post']").removeClass("active");
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', "err::" + err, '');
                }
            });
        }

    </script>


}

@RenderSection("profilelayoutscript", required: false)