﻿@if (ViewData["CategoryList"] != null)
{
<div class="search-popup">
    <div class="first-row">
        <div class="table">
            <div class="table-cell">
                <div class="titel-choose active">
                    <span>@Resource.Choose</span>
                </div>
                <div class="check-box mb-slide">
                    @foreach (PostCategoryModel category in (List<PostCategoryModel>)ViewData["CategoryList"])
                    {
                        <div class="chek-bx">
                            @Html.CheckBoxFor(x => category.Selected, new { id = category.Id, name = category.Id, @class = "check-search-category" })
                            @Html.LabelFor(x => category.Id, category.CategoryName, new { @for = category.Id, @class = "check-label" })
                        </div>
                    }
                </div>
            </div>
            <div class="table-cell mb-slide">
                <a href="javascript:void(0);" id="location" title="@Resource.Nearbyme" class="btn-noty" onclick="searchFilter();">@Resource.Nearbyme</a>
            </div>
        </div>
    </div>


    <input type="hidden" id="hdnLocalLatitude" value="" />
    <input type="hidden" id="hdnLocalLongitude" value="" />

    <input type="hidden" id="hdnSearchPostPageIndex" value="1" />
    <input type="hidden" id="hdnSearchPostPageSize" value="1" />

    <input type="hidden" id="hdnSearchStylistPageIndex" value="1" />
    <input type="hidden" id="hdnSearchStylistPageSize" value="1" />

    <input type="hidden" id="hdnSearchHashtagPageIndex" value="1" />
    <input type="hidden" id="hdnSearchHashtagPageSize" value="1" />
    <div class="second-row" style="position: relative;">
        <button onclick="topSearchFunction()" id="topSearchUpBtn" title="@Resource.GoToTop"></button>
        <div class="search-tabs" style="display:block;">
            <ul>
                <li><a href="#posts" title="@Resource.Posts" onclick="loadPostlist('@Url.Action("SearchPostbyCategory", "Post")')">@Resource.Posts</a></li>
                <li><a href="#stylist" title="@Resource.stylist" onclick="loadStylistlist('@Url.Action("SearchStylishbyCategory", "Post")')">@Resource.stylist</a></li>
                <li><a href="#hashtag" title="@Resource.Hashtags" onclick="loadHashtaglist('@Url.Action("SearchHashtagbyCategory", "Post")')">@Resource.Hashtags</a></li>
            </ul>
        </div>
        <div id="search-post-list">
        </div>
        <input type="hidden" id="hdnLastOpenTab" value="#posts" />
        <div style="padding: 24px 0; display:inline-block;width: 100%;">
            <div class="search-content">
                <div class="search-post-scroll without-after-element" id="search-posts">
                    <div class="search-content-pd">
                        <div id="posts">
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-content">
                <div class="search-post-scroll without-after-element" id="search-stylist">
                    <div class="search-content-pd">
                        <div id="stylist">
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-content">
                <div class="search-post-scroll without-after-element" id="search-hashtag">
                    <div class="search-content-pd">
                        <div id="hashtag">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" align="center" style="margin-bottom:25px;">
            <a href="Javascript:;" title=""><img id="loader-search-post" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
        </div>
    </div>
</div>
}
