﻿@model List<ViewAllStylishModel>
@if (Model != null && Model.Any())
{
    foreach (var i in Model)
    {

        if (i.StylishId != User.Identity.GetUserId())
        {
            <div class="profile-box">
                <div class="profile-bx">
                    <div class="front-bx">
                        <div class="pf-year">
                            <span>+@i.Year @Resource.years</span>
                            @if (i.IsPremiumUser)
                            {
                                string strGerman = "";
                                if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
                                {
                                    strGerman = "premium-user-german";
                                }
                                <a href="#" title="" class="premium-user @strGerman"><img src="@Url.Content("~/Content/images/premium-user.svg")" alt="" /></a>
                            }
                        </div>
                        <div class="profile-img-bx">
                            <div class="ps-img-profile">
                                <img src="@(GlobalConfig.UserImageUrl + (i.ProfileImageName != null ? i.ProfileImageName : "DefaultProfile.jpg"))" alt="" />
                            </div>
                            <div class="GaugeMeter" id="PreviewGaugeMeter_1"
                                 data-percent="@i.Ratings"
                                 data-size="250"
                                 data-theme="yellow"
                                 data-back="#f2f2f2"
                                 data-color="#ffcd35"
                                 data-width="4">
                            </div>
                            @if (i.Ratings > 0)
                            {
                                <span class="ps-rating"><span>@(Math.Round(i.Ratings.Value))</span></span>
                            }
                            else
                            {
                                <span class="ps-rating"><span>0</span></span>
                            }
                        </div>
                        <div class="profile-content">
                            <a href="@Url.RouteUrl("Stylist", new { @username = i.UserName, @controller="Stylist",@action = "About" })"><h4>@i.Name</h4></a>
                            <a class="pf-link" href="@Url.RouteUrl("Stylist", new { @username = i.UserName, @controller="Stylist",@action = "About" })" title="@i.UserName">@("@" + i.UserName)</a>
                        </div>
                        <div class="profile-btn">
                            <div class="table">
                                <div class="table-cell" style="padding:0px;">
                                    @if (i.StylishId != User.Identity.GetUserId())
                                    {
                                        if (i.Isfollow == false)
                                        {
                                            <a href="javascript:;" data-id="@i.StylishId" title="@Resource.follow" class="btn-follow btnfollow">@Resource.follow</a>

                                        }
                                        else
                                        {
                                            <a href="javascript:;" data-id="@i.StylishId" title="@Resource.following" class="btn-following btnfollow">@Resource.following</a>

                                        }
                                    }
                                </div>

                                @*@if (i.IsPremiumUser)
                                    {
                                        <div class="table-cell">
                                            <a href="javascript:;" title="" class="pf-chet"></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="table-cell">
                                            <a href="javascript:;" title="" class="pf-chet"></a>
                                        </div>
                                    }*@

                            </div>
                        </div>
                    </div>
                    <div class="profile-ps-box">
                        <a href="javascript:;" title="" class="close-profile-message"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
                        <div class="profile-content">
                            <h4>@i.Name</h4>
                            <a class="pf-link" href="#" title="@i.UserName">@("@" + i.UserName)</a>
                        </div>
                        <div class="profile-field">
                            <label>@Resource.message</label>
                            <textarea placeholder="@Resource.typehere"></textarea>
                        </div>
                        <a href="javascript:;" title="Send" data-sid="@i.StylishId" class="btn-follow sendmsg">@Resource.send</a>
                    </div>
                </div>
            </div>
        }
    }
}



