﻿@model List<SelectListItem>
@{
    Layout = null;
}

@if (Model != null && Model.Any())
{

    @Html.DropDownList("SubCategoryId", new SelectList(Model as IEnumerable<SelectListItem>, "Value", "Text"), "Select Category", new { @class = "form-control required select2" })
}
else
{
    @Html.DropDownList("SubCategoryId", Enumerable.Empty<SelectListItem>(), new { @class = "select2", multiple = "multiple" })
}




