﻿@model AdminCategoryModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = "ManageCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/css/wizard")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@Action Category</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm(Action, "Category", FormMethod.Post, new { @id = "submitForm", @class = "steps-validation wizard-circle", @enctype = "multipart/form-data" }))
                        {
                            if (Model != null && Model.Id > 0)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }
                            @Html.HiddenFor(x => x.ImageName)

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>
                                            Category Image <span class="red">*</span>
                                        </label>
                                        @Html.TextBoxFor(x => x.fileBaseImage, new { @class = "form-control", @type = "file", @accept = "image/*" })
                                        @Html.ValidationMessageFor(x => x.ImageName)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @if (Model != null && Model.Id > 0)
                                    {
                                        <img id="uploadedImage" src="@(GlobalConfig.CategoryImageUrl+Model.ImageName)" height="150" width="150" />
                                        
                                    }
                                    <img id="uploadedImage" style="display:none;" src="" height="150" width="150" />
                                </div>
                            </div>
                            for (int i = 0; i < Model.CategoryLanguageModelList.Count; i++)
                            {
                                @Html.HiddenFor(x => x.CategoryLanguageModelList[i].LanguageId)
                                <h6>@Model.CategoryLanguageModelList[i].LanguageName</h6>

                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>
                                                    Category Name  <span class="red">*</span>
                                                </label>
                                                @Html.TextBoxFor(x => x.CategoryLanguageModelList[i].CategoryName, new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(x => x.CategoryLanguageModelList[i].CategoryName)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Jquery/GeneralScript.js")"></script>
    @Scripts.Render("~/jQuery/stepWizard")
    @*<script type="text/javascript">
            ActiveMenu('Category')           

            $("#fileBaseImage").change(function () {
                $('#uploadedImage').show();
                readURL(this);
            });
        </script>*@

    <script type="text/javascript">
        ActiveMenu("Category");

        function readURL(input) {            
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();           
            if (input.files && input.files[0] && (ext == "svg")) {  
                $('#uploadedImage').show();
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#uploadedImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#fileBaseImage').val('');
                toastr.error('Please upload only .svg Image extention', 'Warning !');
            }
        }

        $('#fileBaseImage').on('change', function () {

            readURL(this);
            if ($(this).get(0).files[0].type.indexOf('image') >= 0) {

                if ($(this).get(0).files.length == 0) {
                    $('#ImageName').val('');
                }
                else {
                    $('#ImageName').val($(this).get(0).files[0].name);
                }
            }
            else {
                toastr.error('Please upload images only.', 'Error !');
                $('#fileBaseImage').val('');
                return false;
            }
        });

        $('#submitForm').on('submit', function () {
            if (Boolean($('#ImageName').val()) == false && Boolean($(this).get(0).files) == false) {
                toastr.error('Please upload category images.', 'Error !');
                return false;
            }
        });
    </script>
}



