﻿@model ViewAllFollowModel

@if (Model != null)
{
    foreach (var user in Model.UsersList)
    {
        <div class="profile-box">
            <div class="profile-bx">
                <div class="front-bx">
                    <div class="pf-year">
                        @if (user.Role == Role.Stylist)
                        {
                            <span>+@user.Year @Resource.years</span>
                        }
                        else
                        {
                            <span style="background-color:transparent!important">&nbsp;</span>
                        }
                    </div>
                    <div class="profile-img-bx">
                        <div class="GaugeMeter" id="PreviewGaugeMeter_1"
                             data-percent="@user.Ratings"
                             data-size="250"
                             data-theme="yellow"
                             data-back="#f2f2f2"
                             data-color="#ffcd35"
                             data-width="4">
                        </div>
                        <div class="ps-img-profile">
                            <img src="@(GlobalConfig.UserImageUrl + (user.ProfileImageName != null ? user.ProfileImageName : "DefaultProfile.jpg"))" alt="" />
                        </div>
                        @if (user.Ratings > 0)
                        {
                            <span class="ps-rating"><span>@(Math.Round(user.Ratings.Value))</span></span>
                        }
                        else
                        {
                            <span class="ps-rating"><span>0</span></span>
                        }
                    </div>
                    <div class="profile-content">
                        <h4>@user.Name</h4>
                        @{ 
                            if (user.Role == Role.Stylist)
                            {
                                <a class="pf-link" href="@Url.RouteUrl("Stylist", new { @username = user.UserName, action = "About" })" title="@user.UserName">@("@" + user.UserName)</a>
                            }
                            else
                            {
                                <a class="pf-link" href="@Url.RouteUrl("User", new { @username = user.UserName, action = "About" })" title="@user.UserName">@("@" + user.UserName)</a>
                            }
                        }
                    </div>
                    <div class="profile-btn">
                        <div class="table">
                            <div class="table-cell">
                                @if (user.Id != User.Identity.GetUserId())
                                {
                                    if (user.Isfollow == false)
                                    {
                                        <a href="javascript:;" data-id="@user.Id" title=@Resource.follow class="btn-follow btnfollow">@Resource.follow</a>

                                    }
                                    else
                                    {
                                        <a href="javascript:;" data-id="@user.Id" title=@Resource.following class="btn-following btnfollow">@Resource.following</a>

                                    }
                                }
                            </div>
                            <div class="table-cell">
                                @if (user.Id != User.Identity.GetUserId())
                                {
                                    <a href="javascript:;" title="" class="pf-chet"></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-ps-box">
                    <a href="javascript:;" title="" class="close-profile-message"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
                    <div class="profile-content">
                        <h4>@user.Name</h4>
                        <a class="pf-link" href="#" title="@user.UserName">@user.UserName</a>
                    </div>
                    <div class="profile-field">
                        <label>@Resource.message</label>
                        <textarea placeholder="@Resource.contactusMessage"></textarea>
                    </div>
                    <a href="javascript:;" title=@Resource.send data-sid="@user.Id" class="btn-follow sendmsg">@Resource.send</a>
                </div>
            </div>
        </div>
    }
}

