﻿@model ContactUsModel

@{
    Layout = null;
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
}


<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resource.metaContactUsTitle </title>
    <meta name="description" content="@Html.Raw(Resource.MetaContactUsDescription)">
    <meta property="og:url" content="https://www.stylaaa.com/Home/ContactUs" />
    <link rel="icon" type="~/Content/image/x-icon" href="~/Content/images/favicon.ico">

    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="registration-page contact-page">
        <div class="table">
            <div class="left-register">
                <header class="container had-register">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Account")" title="Stylaaa"><img src="~/Content/images/logo.svg" alt="" /></a>
                    </div>
                </header>
                <section class="middle-register container">
                    <div class="log-img">
                        <div class="table">
                            <div class="table-cell">
                                <img src="~/Content/images/contact.png" alt="" />
                            </div>
                        </div>
                    </div>

                </section>
                <footer class="footer-section container mobile-none">
                    <div class="row">
                        <div class="footer-links">
                            <ul>
                                <li><a href="@Url.Action("WhatIsStylaaa","Home")" title="@Resource.whatIsStylaa">@Resource.whatIsStylaa</a></li>
                                <li><a href="@Url.Action("AboutUs","Home")" title="@Resource.aboutUs">@Resource.aboutUs</a></li>
                                <li><a href="@Url.Action("TermsConditions","Home")" title="@Resource.termAndCondition">@Resource.termAndCondition</a></li>
                                <li><a href="@Url.Action("PrivacyPolicy","Home")" title="@Resource.privacy">@Resource.privacy</a></li>
                                <li><a href="@Url.Action("Imprint","Home")" title="@Resource.ImprintTxt">@Resource.ImprintTxt</a></li>
                            </ul>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/stylaaa" title="facebook"><img src="~/Content/images/facebook.svg" alt=""></a></li>
                                <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><img src="~/Content/images/instagram.svg" alt=""></a></li>
                                <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><img src="~/Content/images/youtube.svg" alt=""></a></li>
                                <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin"><img src="~/Content/images/linkedin.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="right-register">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#" title="" class="menu-open mobile-none"><img src="~/Content/images/menu-black.svg" alt="" /></a>
                }
                <div class="max-right">
                    <h3>@Resource.contactUs</h3>
                    <P>@Resource.tellusAnything</P>

                    <div class="register-form">
                        @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { @id = "frmContactUs" }))
                        {
                            string strDisplayNone = "display:none;";
                            <form>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    strDisplayNone = "";
                                }
                                <div class="field-rs" style="@strDisplayNone">
                                    <span class="message text-danger">@Html.ValidationMessageFor(x => x.Name)</span>
                                    @Html.TextBoxFor(x => x.Name, new { @placeholder = Resource.Name })
                                </div>
                                <div class="field-rs" style="@strDisplayNone">
                                    <span class="message text-danger">@Html.ValidationMessageFor(x => x.Email)</span>
                                    @Html.TextBoxFor(x => x.Email, new { @placeholder = Resource.email })
                                </div>
                                <div class="field-rs">
                                    <span class="message text-danger">@Html.ValidationMessageFor(x => x.Message)</span>
                                    @Html.TextAreaFor(x => x.Message, new { @placeholder = Resource.contactUsMessagePlace })
                                </div>
                                <div class="field-rs submit-rs">
                                    <input type="submit" value=@Resource.send>
                                </div>

                            </form>
                        }
                    </div>
                </div>
            </div>
            <footer class="footer-section container mobile-block">
                <div class="row">
                    <div class="footer-links">
                        <ul>
                            <li><a href="@Url.Action("WhatIsStylaaa","Home")" title=@Resource.whatIsStylaa>@Resource.whatIsStylaa</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")" title=@Resource.aboutUs>@Resource.aboutUs</a></li>
                            <li><a href="@Url.Action("TermsConditions","Home")" title=@Resource.termAndCondition>@Resource.termAndCondition</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy","Home")" title=@Resource.privacy>@Resource.privacy</a></li>
                            <li><a href="@Url.Action("Imprint","Home")" title="@Resource.imprint">@Resource.imprint</a></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li><a href="https://www.facebook.com/stylaaa" title="facebook"><img src="@Url.Content("~/Content/images/facebook.svg")" alt=""></a></li>
                            <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><img src="@Url.Content("~/Content/images/instagram.svg")" alt=""></a></li>
                            <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><img src="@Url.Content("~/Content/images/youtube.svg")" alt=""></a></li>
                            <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin"><img src="@Url.Content("~/Content/images/linkedin.svg")" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_MenuList")
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/js/contentjs")
    @Scripts.Render("~/scripts/custom")

    <script>
        $(function () {
            var statusType = '';
            var status = @status;
            if (status == 0) {
                statusType = 'error';
            }
            else if (status == 1) {
                statusType = 'success';
            }
            else if (status == 2) {
                statusType = 'info';
            }
            else if (status == 3) {
                statusType = 'warning';
            }
            else if (status == 4) {
                statusType = 'info';
            }
            ShowToastr(statusType, '@message');
        });
    </script>
</body>
</html>

