﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA TABLE</title>
    <link rel="icon" type="~/Content/image/x-icon" href="~/Content/images/favicon.ico">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
</head>
<body>
    <header class="hader-about container">
        <div class="row">
            <div class="logo">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Login", "Account")" title="Stylaaa"><img src="~/Content/images/logo.svg" alt="" /></a>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")" title="Stylaaa"><img src="~/Content/images/logo.svg" alt="" /></a>
                }
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" title="" class="menu-open"><img src="~/Content/images/menu.svg" alt="" /></a>
            }
            <div class="table">
                <div class="table-cell">
                    <div class="title-row" style="word-break:break-all;">
                        <h1 class="privacypolicy-title">DATA TABLE</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container about-section">
        @*<button type="button" class="btn btn-default btn-md refresh-button" id="refresh-button">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
        </button>*@
        <div class="row" style="word-break:break-word;" style="padding-top:30px;">

            <table id="data-table" class="table table-striped table-bordered" style="width:100%"></table>*
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>ZipCode</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>

    @Html.Partial("_Footer")

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_MenuList")
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/contentjs")
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">

        var url = '@Url.Action("DatatableLoad", "Home")';            
        $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "stateSave": true,
            "ajax": {
                "url": url,
                "type": "POST",
                "dataType": "json"
            },
            "columns": [
                { "data": "Name", "name":"Name" },
                { "data": "UserName", "name": "UserName" },
                { "data": "Email", "name": "Email" },
                { "data": "ZipCode", "name": "ZipCode" }
            ]
        });

        //$(function () {
        //    var productListVM = {
        //        dt: null,
        //        init: function () {
        //            dt = $('#example').DataTable({
        //                "serverSide": true,
        //                "processing": true,
        //                "ajax": url,
        //                "columns": [
        //                    { "title": "Name", "data": "Name", "searchable": false },
        //                    { "title": "UserName", "data": "UserName" },
        //                    { "title": "Email", "data": "Email" },
        //                    { "title": "ZipCode", "data": "ZipCode" }
        //                ],
        //                "lengthMenu": [[2, 5, 10, 25], [2, 5, 10, 25]]
        //            });
        //        },

        //        refresh: function () {
        //            dt.ajax.reload();
        //        }
        //    };

        //    $('#refresh-button').on("click", productListVM.refresh);

        //    ///////////////////////////////////////////////////////////////
        //     Let's kick it all off
        //    productListVM.init();
        //});
    </script>
</body>
</html>
