﻿@model GetPostViewListModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ViewAllStylishModel> objStylish = ViewData["StylishList"] as List<ViewAllStylishModel>;

    List<ViewJobListModel> JobObj = ViewData["Joblist"] as List<ViewJobListModel>;

    decimal jCount = ViewBag.jobcount;
    int creditCount = ViewBag.Credit;
}

@using (Ajax.BeginForm("LoadMoreJob", "Job", null, new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "joblist",
    OnComplete = "fnLoadMoreCompleteJob"
}, new { @id = "frmFilterJob", @class = "form-inline" }))
{
    @Html.Hidden("JobPageIndex", 1)
    @Html.Hidden("JobPageCount", jCount)
}


@using (Ajax.BeginForm("LoadMoreStylist", "Stylist", null, new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.InsertAfter,
    UpdateTargetId = "StylistRenderId",
    OnComplete = "fnLoadMoreCompleted"
}, new { @id = "frmFilterStylish", @class = "form-inline" }))
{
    @Html.Hidden("PageIndex", 2)
}

@using (Ajax.BeginForm("SendJobRequest", "Chat", null, new AjaxOptions
{
    HttpMethod = "Post",
    OnComplete = "OnSendRequestComplete"
}, new { @id = "frmJobRequest", @class = "form-inline" }))
{
    @Html.Hidden("JobId")
    @Html.Hidden("JobTextMessage")
    @Html.Hidden("RecId")
}

@section metatags
{
    <title>@Resource.metaHomeTitle</title>
    @*@if (User.Identity.IsAuthenticated)
    {
        <meta name="description" content="@Html.Raw(Resource.metaHomeName)">
        <meta name="Keywords" content="@Html.Raw(Resource.metaHomeKeyword)">
        <meta property="og:url" content="@Resource.metaHomeUrl" />
    }
    else
    {
        <meta property="og:title" content="@Model.metaTitle" />
        <meta property="og:description" content="@Model.metaDescription" />

        if (Model.RecentPost.Select(x => x.Isvideo).FirstOrDefault())
        {
            <meta property="og:video" content="@Model.metaImageUrl" />
            <meta property="og:video:type" content="video/mp4" />
        }
        else
        {
            <meta property="og:image" content="@Model.metaImageUrl" />
        }
    }*@
}

<button onclick="topFunction()" id="topUpBtn" title="@Resource.GoToTop"></button>
<section class="middle-section container">
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="tabs-links">
                <ul class="tabs" id="myTab">
                    <li><a href="#tab1" id="post" title="post" class="active">@Resource.Posts</a></li>
                    <li class="stylists-click"><a href="#tab2" id="stylist" title="stylist">@Resource.stylist</a></li>
                    <li class="stylists-click"><a href="#tab3" id="jobs" title="jobs" data-toggle="tab">Jobs</a></li>
                </ul>
                <br />
                <a href="#add-post" id="postBtn" class="add-post" onclick="fnOpenAddPost('@Url.Action("AddPost", "Post")')"><span>@Resource.addPostbtn</span></a>
                @if (ViewBag.MyRole == Role.User)
                {
                    <a href="#add-job" id="jobBtn" class="add-post" style="display:none;" onclick="fnOpenAddJob('@Url.Action("AddJob", "Job")')"><span>@Resource.AddJob</span></a>
                }
            </div>
        }
        <div class="tabs-listing">
            <div id="tab1">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="new-tab-links">
                        <ul>
                            <li><a href="#new-post" title="@Resource.NewPost">@Resource.NewPost</a></li>
                            <li><a href="#popular-post" title="@Resource.PopularPost">@Resource.PopularPost</a></li>
                        </ul>
                    </div>
                }
                <div id="post-list">
                    @Html.Partial("~/Views/Post/_PostList.cshtml", Model)
                </div>
                <div class="" align="center">
                    <a href="Javascript:;" title=""><img id="loader-post" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div id="tab2" style="display:none;">
                    <div class="full-box">
                        <div class="mrg-half" id="StylistRenderId">
                            @Html.Partial("_StylistList", objStylish)
                        </div>
                    </div>
                    <br />
                    <div class="" align="center">
                        <a href="Javascript:;" title=""><img id="loader" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
                    </div>
                </div>
            }

            @if (User.Identity.IsAuthenticated)
            {
                <div id="tab3" class="tab3-job" style="display:none;">
                    <div class="mrg-box" id="joblist">
                        @Html.Partial("~/Views/job/_JobList.cshtml", JobObj)
                    </div>
                    <div class="" align="center">
                        <a href="Javascript:;" title=""><img id="Jobloader" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
                    </div>
                    <div id="partial_addEditJob">
                        @Html.Partial("~/Views/job/_AddEditJob.cshtml", new AddJobModel() { JobCategoryList = Model.JobCategoryList })
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@if (User.Identity.IsAuthenticated)
{
    <!-- login popup-->
    <div class="popup-box">
        <div id="login-success" class="popup-max">
            <div class="popup-had">
            </div>
            <div class="login-success">
                <div class="success-img">
                    <img width="180" src="@Url.Content("~/Content/images/successful.jpg")" alt="" />
                </div>
                <div class="success-titel">
                    <h6>@Resource.loginSuccesssfullyText</h6>
                </div>
                <div class="success-content">
                    <h4>@Resource.editprofileText</h4>
                    <P>@Resource.EditProfilepopup</P>
                </div>
                <div class="success-btn">
                    @if (ViewBag.MyRole == Role.Stylist)
                    {
                        <a href="@Url.RouteUrl("Stylist", new { @username = User.Identity.GetUserName(), @action = "About" })" title="Go to Edit Profile">@Resource.gotoeditProfile</a>
                    }
                    else
                    {
                        <a href="@Url.RouteUrl("User", new { @username = User.Identity.GetUserName(), action = "About" })" title="Go to Edit Profile">@Resource.gotoeditProfile</a>
                    }

                </div>
            </div>
        </div>
    </div>

    <!-- job credit popup -->
    <div class="popup-box">
        <div id="credit-popup" class="popup-max credits-popup">
            <div class="popup-had">
                <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
            </div>
            <form>
                <div class="popup-middle">
                    <div class="field-rs">
                        <img src="@Url.Content("~/Content/images/group-5.svg")" alt="" />
                        <h4>@Resource.CreditpopupUseCredit</h4>
                    </div>
                </div>
                <div class="popup-footer">
                    <button class="button share-button Creditform">@Resource.Sendrequest</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Credit purchase credit -->
    <div class="popup-box">
        <div id="purchas-popup" class="popup-max credits-popup">
            <div class="popup-had">

                <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="~/Content/images/close.svg" alt="" /></a>
            </div>
            <div class="popup-middle">
                <div class="field-rs">
                    <img src="~/Content/images/group-5.svg" alt="" />
                    <h4>@Resource.CreditPopupNoCredit</h4>
                    <P>@Resource.CreditPopupSorrymsg</P>
                </div>
            </div>
            <div class="popup-footer">
                <a class="share-profile" href="@Url.Action("JobCredit","Stylist")">@Resource.PurchaseCredit</a>
            </div>
        </div>
    </div>
}

@Html.Partial("_Footer")

<a href="#login-success" id="loginpopup" title="" style="display:none;" class="fancybox">@Resource.CheckText</a>

@section Scripts{
    @Scripts.Render("~/scripts/addditpost")
    @Scripts.Render("~/scripts/addditjob")
    @Scripts.Render("~/scripts/jobactivity")
    @Scripts.Render("~/bundles/GoogleMap")
    <script src="~/Content/vendor/jquery/GeneralScript.js"></script>
    <script type="text/javascript">

        $(function () {
            var active = $.cookie('selectedTab');
            if (active) {
                active = "#" + active;
                $(active).click();
            }
        });

        $(document).on('click', '#myTab > li > a', function () {
            $('#mytab li a').removeClass('active');
            $(this).addClass('active');
            var activetab = $(this).attr('id');
            $.cookie('selectedTab', activetab);
            var tval = $(this).attr("Title");
            if (tval === 'jobs') {
                $('#postBtn').hide();
                $('#jobBtn').show();
            }
            else if (tval === 'stylist') {
                $('#postBtn').show();
                $('#jobBtn').hide();
            }
            else
            {
                $('#postBtn').show();
                $('#jobBtn').hide();
            }
        });


        var IsCompleteLoad = true;

        $(function () {
            if ('@ViewBag.isProfileCompleted'=='False') {
                $('#loginpopup').click();
            }
        });

        $(document).ready(function () {
            $('#Price').val('');
            $('#ZipCode').val('');
        });
        
        $("#StylistRenderId").on('click',".btnfollow", function () {
            var sid = $(this).data('id');
            var control = $(this);
            $.post('@Url.Action("FollowTransaction", "Home")', { StylishId: sid })
                .done(function (result) {
                    if (result) {
                        if (result === "Follow" || result === "Folgen") {
                            $(control).text(result);
                            $(control).addClass("btn-follow");
                            $(control).removeClass("btn-following");
                        }
                        else if (result === "Following" || result === "Abonniert") {

                            $(control).text(result);
                            $(control).removeClass("btn-follow");
                            $(control).addClass("btn-following");
                        }
                        else {
                            toastr.error(result.Message, '@Resource.loginMust');
                        }
                    }
                    else
                        toastr.error(result.Message,'@Resource.loginMust');
                }).fail(function (error) {
            });
        });

        function topFunction() {
            //document.body.scrollTop = 0;
            //document.documentElement.scrollTop = 0;

            $('body,html').animate({
                scrollTop: 0                       // Scroll to top of body
            }, 500);
            document.getElementById("topUpBtn").style.display = "none";
        }

        function topSearchFunction() {
            $("#search-posts").mCustomScrollbar("scrollTo", "top");
            $("#search-stylist").mCustomScrollbar("scrollTo", "top");
            $("#search-hashtag").mCustomScrollbar("scrollTo", "top");
            document.getElementById("topSearchUpBtn").style.display = "none";
        }

        function fnLoadMoreCompleted(data) {
            $("#loader").hide();
            initializejsforflip();
            var PageIndex = parseInt($('#PageIndex').val());
            PageIndex++;
            $('#PageIndex').val(PageIndex);
            IsCompleteLoad = true;

            if (jQuery.trim(data.responseText) != "") {
                $(".GaugeMeter").empty();
                $(".GaugeMeter").gaugeMeter();
            }
        }

        $('#StylistRenderId').on('click',".sendmsg", function () {
            var control = $(this);
            var recieverId = $(control).data('sid');
            var message = $(control).parent().find('textarea').val();
            if (message)
            {
                displayWhiteOverlay();
                $.post('@Url.Action("SendMessage", "Chat")', { ReceiverID: recieverId, MessageText: message })
                .done(function (result) {
                    if (result) {
                        $(control).parent().find('textarea').val('');
                        removeWhiteOverlay();
                        toastr.success('@Resource.SendMessageSuccess');
                        $('.profile-bx .close-profile-message').click();
                    }
                    else
                        toastr.error('@Resource.SendmsgFailed');
                }).fail(function (error) {
            });
            }
            else {
                toastr.error('@Resource.SendmsgEnterText');
            }
        });

        $(".Creditform").on('click', function () {
            $('#frmJobRequest').submit();
        });

        var jbmsg = "Request has been sent";
        if (varLang == "de") {
            jbmsg = "Nachricht gesendet!";
        }
        function OnSendRequestComplete(data) {
            $("#joblist").children().find('textarea').val('');
            removeWhiteOverlay();           
            $('.profile-bx .close-profile-message').click();
            toastr.success(jbmsg);
            window.location.reload();
        }

        $('#joblist').on('click', ".sendcredit", function () {
            var control = $(this);
            var recieverId = $(this).data('id');
            $("#RecId").val(recieverId);

            var Jobid = $(control).data('jid');
            $("#JobId").val(Jobid);

            var message = $(control).parent().find('textarea').val();
            $("#JobTextMessage").val(message);

            if (message) {
                $.fancybox.open({
                    src: '#credit-popup',
                    type: 'inline',
                    modal: true,
                    helpers: {
                        overlay: { closeClick: false }
                    }
                });
            }
            else {
                toastr.error('please enter Text');
            }           
        });

        $('#joblist').on('click', ".sendjobmesssage", function () {
            var control = $(this);
            var recieverId = $(this).data('id');
            $("#RecId").val(recieverId);

            var Jobid = $(control).data('jid');
            $("#JobId").val(Jobid);

            var message = $(control).parent().find('textarea').val();
            $("#JobTextMessage").val(message);

            if (message) {
                $('#frmJobRequest').submit();
            }
            else {
                toastr.error('please enter Text');
            }           
        });

        function fnLoadMoreCompleteJob(data) {
            $("#Jobloader").hide();
            initializejsforflip();
            var Page = parseInt($('#JobPageIndex').val());
            Page++;
            $('#JobPageIndex').val(Page);
            IsCompleteLoad = true;

        }

        function uploadJobVideoFile()
        {
            displayWhiteOverlay();
            var fileUpload = $("#JobfileInput").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();
            fileData.append('uploadedFile', files[0]);
            var url = '@Url.Action("AddJobMedia", "Job")';
            $.ajax({
                url: url,
                type: 'POST',
                xhr: function () {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // Check if upload property exists
                        $(".loading-label").removeClass("hide");
                    }
                    return myXhr;
                },
                // Form data
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    ShowToastr('success', '@Resource.addPostVideoUploadSuccess', '');
                    $(".loading-label").addClass("hide");
                    //$(".upload-button").removeClass("hide");

                    addJobImageName(result.FileName);
                    showIconImageJob(result.FileName, result.MediaPath);
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', err, '');
                    $(".loading-label").addClass("hide");
                    //$(".upload-button").removeClass("hide");
                }
            });
        }


        function uploadVideoFile() {
            displayWhiteOverlay();
            var fileUpload = $("#fileInput").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();
            fileData.append('uploadedFile', files[0]);
            var url = '@Url.Action("AddPostMedia", "Post")';
            $.ajax({
                url: url,
                type: 'POST',
                xhr: function () {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // Check if upload property exists
                        $(".loading-label").removeClass("hide");
                    }
                    return myXhr;
                },
                // Form data
                data: fileData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    removeWhiteOverlay();
                    ShowToastr('success', '@Resource.addPostVideoUploadSuccess', '');
                    $(".loading-label").addClass("hide");
                    //$(".upload-button").removeClass("hide");

                    addImageName(result.FileName)
                    showIconImage(result.FileName, result.MediaPath);
                },
                error: function (err) {
                    removeWhiteOverlay();
                    ShowToastr('error', err, '');
                    $(".loading-label").addClass("hide");
                    //$(".upload-button").removeClass("hide");
                }
            });
        }

        function OnSuccess(response) {

            displayWhiteOverlay();
            if (response.Status == '1') {
                $.fancybox.close();
                var hashtag = GetParameterValues('hashtag');
                if (hashtag == undefined || hashtag == null || hashtag == '') {
                    hashtag = "";
                }
                var postid = GetParameterValues('postid');
                if (postid == undefined || postid == null || postid == '') {
                    postid = "0";
                }
                var url = '@Url.Action("GetAllPostData", "Post")?id=1&hashtag=' + hashtag + '&postid='+postid;

                loadAllPostList(url, true, response.Message);
            }
            else {
                ShowToastr('error', response.Message, '');
                removeWhiteOverlay();
            }
        }

        function OnSuccessJob(response) {
            displayWhiteOverlay();
             if (response.Status == '1') {
                $.fancybox.close();
                 removeWhiteOverlay();

                 var url = '@Url.Action("ViewAllJob", "Job")';
                 LoadJobLIst(url, true, response.Message);

            }
            else {
                ShowToastr('error', response.Message, '');
                removeWhiteOverlay();
            }
        }

        $(function () {
            var hashtag = GetParameterValues('hashtag');
            if (hashtag != undefined && hashtag != null && hashtag != '') {
                $("a[href='#new-post']").append(" (#" + hashtag + ")");
                $("a[href='#popular-post']").append(" (#" + hashtag + ")")
            }
        });

        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1];
                }
            }
        }

        function LoadMoreStylish() {
            $("#loader").show();
            $('#frmFilterStylish').submit();
        }

        function LoadMoreJob() {
            $('#Jobloader').show();
            $('#frmFilterJob').submit();
        }

        var lastScrollTop = 0;

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("topUpBtn").style.display = "block";
            } else {
                document.getElementById("topUpBtn").style.display = "none";
            }
        }

        $(document.body).on('touchmove', onScrollMobile); // for mobile

        function onScrollMobile() {
            var blngetdata = false;
            var st = $(this).scrollTop();
            if ($(window).scrollTop() + $(window).height() >= ($(document).height() - 80)) {
                var activetab = $(".tabs li a").first().attr("class");
                var activeNewPost = $(".new-tab-links a").first().attr("class");
                var opentab = $(".tabs li a.active").attr("id");

                if (activetab == "active" && blngetdata == false) {

                    var hashtag = GetParameterValues('hashtag');
                    if (hashtag == undefined || hashtag == null) {
                        hashtag = '';
                    }

                    if (activeNewPost == "active") {
                        var pCount = parseInt($("#RecentPostPageCount").val());
                        var pIndex = parseInt($("#RecentPostPageIndex").val());

                        if (pCount > pIndex && blngetdata == false) {
                            var pagenum = pIndex + 1;
                            blngetdata = true;
                            getRecentPost(pagenum, hashtag);
                        }
                    }
                    else {
                        var pCount = parseInt($("#PopularPostPageCount").val());
                        var pIndex = parseInt($("#PopularPostPageIndex").val());

                        if (pCount > pIndex && blngetdata == false) {
                            var pagenum = pIndex + 1;
                            blngetdata = true;
                            getPopularPost(pagenum, hashtag);
                        }
                    }
                }
                else if (opentab == "jobs") {
                    var jIndex = parseInt($("#JobPageIndex").val());
                    var jCount = parseInt($("#JobPageCount").val());
                    if (jCount > jIndex) {
                        var jpagenum = jIndex + 1;
                        $("#JobPageIndex").val(jpagenum);
                        LoadMoreJob();
                    }
                }
                else {
                    if (document.getElementById("loader").style.display == "none") {
                        IsCompleteLoad = false;
                        LoadMoreStylish();
                    }
                }
            }
        }

        $(document).on('scroll', onScroll);

        function onScroll() {
            var st = $(this).scrollTop();
            if (st > lastScrollTop) {
                if ($(window).scrollTop() >= ($(document).height() - $(window).height() - 200)) {

                    var activetab = $(".tabs li a").first().attr("class");
                    var activeNewPost = $(".new-tab-links a").first().attr("class");
                    var opentab = $(".tabs li a.active").attr("id");

                    var postid = GetParameterValues('postid');
                    if (postid == undefined || postid == null) {
                        postid = '0';
                    }

                    if (activetab == "active" && parseInt(postid) <= 0) {

                        var hashtag = GetParameterValues('hashtag');
                        if (hashtag == undefined || hashtag == null) {
                            hashtag = '';
                        }

                        if (activeNewPost == "active") {
                            var pCount = parseInt($("#RecentPostPageCount").val());
                            var pIndex = parseInt($("#RecentPostPageIndex").val());

                            if (pCount > pIndex) {
                                var pagenum = pIndex + 1;
                                getRecentPost(pagenum, hashtag, postid);
                            }
                        }
                        else {
                            var pCount = parseInt($("#PopularPostPageCount").val());
                            var pIndex = parseInt($("#PopularPostPageIndex").val());

                            if (pCount > pIndex) {
                                var pagenum = pIndex + 1;
                                getPopularPost(pagenum, hashtag, postid);
                            }
                        }
                    }
                    else if (opentab =="jobs")
                    {
                        var jIndex = parseInt($("#JobPageIndex").val());
                        var jCount = parseInt($("#JobPageCount").val());
                        if (jCount > jIndex) {
                            var jpagenum = jIndex + 1;
                            $("#JobPageIndex").val(jpagenum);
                            LoadMoreJob();
                        }
                    }
                    else {
                        if (document.getElementById("loader").style.display == "none") {
                            IsCompleteLoad = false;
                            LoadMoreStylish();
                        }
                    }
                }
            }
            lastScrollTop = st;
        }

        function getRecentPost(pagenum, hashtag, postid) {
            var url = '@Url.Action("GetRecentPostData", "Post")?id=' + pagenum + '&postid=' + postid + '&hashtag=' + hashtag;
            loadRecentPost(url, pagenum);
        }

        function getPopularPost(pagenum, hashtag, postid) {
            var url = '@Url.Action("GetPopularPostData", "Post")?id=' + pagenum + '&postid=' + postid + '&hashtag=' + hashtag;
            loadPopularPost(url, pagenum);
        }

    </script>
}
