﻿@model TermsModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
   
    <link rel="icon" type="~/Content/image/x-icon" href="~/Content/images/favicon.ico">    
    @Styles.Render("~/Content/css")
</head>
<body>
    <header class="hader-about container">
        <div class="row">
            <div class="logo">
                <a href="@Url.Action("Index", "Account")" title="Stylaaa"><img src="~/Content/images/logo.svg" alt="" /></a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" title="" class="menu-open"><img src="~/Content/images/menu.svg" alt="" /></a>
            }
            <div class="table">
                <div class="table-cell">
                    <div class="title-row" style="word-break:break-word;">
                        <h1 class="privacypolicy-title">@Resource.termAndCondition</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container about-section">
        <div class="row" style="word-break:break-word;">
            @Html.Raw(Model.TermsLanguageModelList.FirstOrDefault().Content)
        </div>
    </section>
    @Html.Partial("_Footer")
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_MenuList")
    }
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/js/contentjs")
    </body>
</html>

