﻿@model ViewAllFollowModel
@{
    ViewBag.Title = "ViewAllFollowings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string uid = ViewBag.userId;
    string action = ViewBag.action;
}

<div class="clear"></div>
<section class="middle-section container">
    <div class="titel-top">
        <h3>@action</h3>
    </div>
    <div class="tabs-listing">
        <div class="full-box">
            @Html.HiddenFor(x => x.PageIndex)
            @Html.HiddenFor(x => x.PageCount)
            <div class="mrg-half" id="StylistRenderId">
                @Html.Partial("_ViewAll", Model)
            </div>
            <div class="" align="center">
                <a href="Javascript:;" title=""><img id="loader-post" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
            </div>
        </div>
    </div>
    <div class="" align="center">
        <a href="#" title=""><img id="loader" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
    </div>
</section>
@section Scripts{
    @Scripts.Render("~/jQuery/validate")
    <script type="text/javascript">

        $(window).scroll(function () {           
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                var pCount = parseInt($("#PageCount").val());
                var pIndex = parseInt($("#PageIndex").val());
                if (pCount > pIndex)
                {
                    var pagenum = pIndex + 1;
                    var uid ='@uid';
                    if ('@action' == '@Resource.following')
                    {                        
                        LoadMoreFollowing(pagenum, uid);
                    }
                    else
                    {   
                        LoadMoreFollower(pagenum, uid);
                    }
                }
            }
        });

        function LoadMoreFollowing(pagenum, uid) {            
            var url = '@Url.Action("LoadMoreFollowing", "Home")' + '?pageindex=' + pagenum +'&id='+ uid;
            $.ajax({
                url: url,
                type: "GET",
                beforeSend: function () {
                    displayOverlay();
                    //$('#loader-icon').show();
                },
                complete: function () {
                    removeOverlay();
                    initializejsforflip();
                    $("#PageIndex").val(pagenum);
                    //$('#loader-icon').hide();
                },
                success: function (result) {                    
                    $('#StylistRenderId').append(result);
                    removeOverlay();
                    //$("#faq-result").append(result);
                },
                error: function () { removeOverlay(); }
            });
        }

        function LoadMoreFollower(pagenum, uid) {          
            var url = '@Url.Action("LoadMoreFollower", "Home")' + '?pageindex=' + pagenum +'&id='+ uid;
            $.ajax({
                url: url,
                type: "GET",
                beforeSend: function () {
                    displayOverlay();
                    //$('#loader-icon').show();
                },
                complete: function () {
                    removeOverlay();
                    initializejsforflip();
                    $("#PageIndex").val(pagenum);
                    //$('#loader-icon').hide();
                },
                success: function (result) {                    
                    $('#StylistRenderId').append(result);
                    removeOverlay();
                    //$("#faq-result").append(result);
                },
                error: function () { removeOverlay(); }
            });
        }



        $(".btnfollow").on('click', function () {
            var sid = $(this).data('id');
            var control = $(this);
            $.post('@Url.Action("FollowTransaction", "Home")', { StylishId: sid })
                .done(function (result) {
                    if (result) {
                        if (result == "Follow" || result == "Folgen") {

                            $(control).text(result);
                            $(control).addClass("btn-follow");
                            $(control).removeClass("btn-following");
                        }
                        else if (result == "Following" || result == "Abonniert") {

                            $(control).text(result);
                            $(control).removeClass("btn-follow");
                            $(control).addClass("btn-following");
                        }
                        else {
                            toastr.error(result.Message, '@Resource.loginMust');
                        }
                    }
                    else
                        toastr.error(result.Message,'@Resource.loginMust');
                }).fail(function (error) {
            });
        });
    </script>
}