﻿@model WhatIsStylaaaModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(Resource.metaWhatIsStylaaTitle)</title>
    <meta name="description" content="@Html.Raw(Resource.metaWhatIsStylaaName)">
    
    <meta property="og:url" content="https://www.stylaaa.com/Home/WhatIsStylaaa" />
    <link rel="icon" type="~/Content/image/x-icon" href="~/Content/images/favicon.ico">
    @Styles.Render("~/Content/css")
</head>
<body>
    <header class="hader-about container">
        <div class="row">
            <div class="logo">
                <a href="@Url.Action("Index", "Account")" title="Stylaaa"><img src="~/Content/images/logo.svg" alt="" /></a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
            <a href="#" title="" class="menu-open"><img src="~/Content/images/menu.svg" alt="" /></a>
            }
            <div class="table">
                <div class="table-cell">
                    <div class="title-row"  style="word-break:break-all;">
                        <h1 class="privacypolicy-title">@Resource.whatIsStylaa</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container about-section">
        <div class="row" style="word-break:break-word;">
           @Html.Raw(Model.WhatIsStylaaLanguageModelList.FirstOrDefault().Content)
        </div>
    </section>

    @Html.Partial("_Footer")

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_MenuList")
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/contentjs")
</body>
</html>


