﻿@model LandingPageModel
@{
    Layout = null;

    List<LandingPageStylistList> objStylist = ViewData["LandingStylist"] as List<LandingPageStylistList>;

    BookingSuccessModel objBookSuccess = new BookingSuccessModel();
    if (ViewData["SuccessBooking"] != null)
    {
        objBookSuccess = ViewData["SuccessBooking"] as BookingSuccessModel;
    }


    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
}

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Content/images2/favicon.ico">
    <title>Stylaaa- @Resource.LandingTheOnlineSalon</title>
    <title>@Html.Raw(Resource.metaHomeTitle)</title>
    <meta name="description" content="@Html.Raw(Resource.metaHomeName)">
    <meta name="Keywords" content="@Html.Raw(Resource.metaHomeKeyword)">
    <meta property="og:url" content="@Resource.metaHomeUrl" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.fancybox.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/select2.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style2.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/carouseller.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/compressed/themes/default.date.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/compressed/themes/default.time.css")" type="text/css" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/compressed/themes/default.css")" type="text/css" media="screen">
    <link href="@Url.Content("~/Content/Plugins/Toaster/toastr.min.css")" rel="stylesheet" />

    <style>
        #wrap {
            position: relative;
        }

        #hidden {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }

        .message {
            font-size: 16px !important;
            line-height: 18px;
            color: #ff0000;
            font-weight: 400;
        }

        .stripe-button-el span, .Checkout.is-desktop .Button {
            border-radius: 6px !important;
            background: #ffcd35 !important;
            display: inline-block !important;
            color: #fff !important;
            width: 100% !important;
            max-width: 144px !important;
            height: 50px !important;
            text-align: center !important;
            font-size: 18px !important;
            line-height: 44px !important;
            font-weight: 600 !important;
            float: none !important;
            padding: 0px 0px !important;
            background-image: none !important;
            text-shadow: none !important;
            background-color: #ffcd35 !important;
        }

        .stripe-button-el {
            background-image: none !important;
            box-shadow: none !important;
            max-width: 144px !important;
            width: 144px !important;
            padding: 0px;
        }

        .table h5 {
            font-size: 18px;
            line-height: 22px;
            color: #000;
            font-weight: 400;
            padding-bottom: 6px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            height: 28px;
            padding: 2px 6px !important;
            /*margin-top: 0px !important;*/
            background-color: #ffcd35 !important;
            border-color: #ffcd35 !important;
            color: #FFFFFF;
            margin-right: 8px !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            padding-top: 10px;
            color: #999;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            margin-right: 2px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__rendered {
            padding-top: 9px;
            box-sizing: border-box;
            list-style: none;
            margin: 0;
            /* padding: 10px 15px; */
            width: 100%;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__clear {
            cursor: pointer;
            float: right;
            font-weight: bold;
            margin-top: 15px;
            margin-right: 0px;
        }

        .select2-container .select2-search--inline .select2-search__field {
            box-sizing: border-box;
            border: 0;
            font-size: 14px;
            margin-top: 6px;
            padding: 0;
        }

        .field-rs .select2-search__field {
            float: left;
            width: 100% !important;
            color: #7c7c7c !important;
        }

        .LableTemp {
            margin-top: 12px;
            background-color: #e8effa;
            height: auto;
            border-radius: 5px;
            float: right;
            padding-top: 12px;
            padding-bottom: 12px;
        }

            .LableTemp p {
                color: #1e5fd6;
                font-size: 16px;
                padding-left: 12px;
                padding-right: 12px;
                font-weight: 500;
                word-wrap: break-word;
            }

        .how-to-sec {
            padding: 32px;
            width: 32%;
        }

            .how-to-sec h3 {
                text-align: left;
                color: #1e5fd6;
                padding-bottom: 10px;
            }

            .how-to-sec h5 {
                text-align: left;
                padding-bottom: 10px;
            }

            .how-to-sec p {
                white-space: initial;
                line-height: 1.5;
                text-align: left;
                color: #000;
            }
    </style>
    <script type="text/javascript">
        function doNotType() {
            document.getElementById('Price').readOnly = "readonly";
        }
        window.onload = function () {
            doNotType();
        }
    </script>
</head>
<body id="lnd-page">

    @using (Ajax.BeginForm("SubCategoriesByCatId", "Account", new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "SubCategoryId"
        //OnComplete = "LoadPrice"
    }, new { @id = "frmBindSubCat", @class = "form-inline" }))
    {
        @Html.Hidden("SelectedCatId")
        @Html.Hidden("GenderId")
    }

    @using (Ajax.BeginForm("CategoriesByGender", "Account", new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "CategoryId"
        //OnComplete = "LoadPrice"
    }, new { @id = "frmBindCategory", @class = "form-inline" }))
    {
        @Html.Hidden("GenId")
    }
    <header class="hader-about container">
        <div class="languages mobile-none" style="padding-left: 88px; padding-top: 40px; float: right;">
            <ul style="height: 32px; width: 84px;">
                @{
                    foreach (var i in LanguageManager.AvailableLanguages)
                    {
                        if (i.LanguageFullName == "En")
                        {
                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("EN") ? "active" : "")">
                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="En" style="font-weight: 400;font-size: 13px;line-height: 30px;">En</a>
                            </li>
                        }
                        else
                        {
                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE") ? "active" : "")">
                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="De" style="font-weight: 400;font-size: 13px;line-height: 30px;">De</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="row after-icon">
            <div class="logo">
                <a href="@Url.Action("Index","Account")" title="Stylaaa"><img src="~/Content/images2/logo.svg" alt="" /></a>
            </div>

            <div class="register-btn" style="padding-right: 105px;"><a href="@Url.Action("Register","Account")" class="reg-as-part">@Resource.LandingRegisterAsStylist</a><a href="@Url.Action("Register","Account")" class="reg-as-use">@Resource.LandingRegisterAsUser</a></div>


            <a href="javascript:;" title="" class="menu-open"><img src="~/Content/images2/menu.svg" alt="" /></a>
        </div>
        <div class="row">
            <div class="ln-text">
                <h1>@Resource.LandingTheOnlineSalon:</h1>
                <h2>@Resource.LandingtheStylistAre </h2>
                <h3>@Resource.LandingThePlaceWhere </h3>

                <a href="@Url.Action("Login","Account")" class="login-btn">@Resource.loginnow<span><img style="height: 19px;" src="~/Content/images2/rightarrow.svg"></span></a>
            </div>
            <div class="ln-img">
                <img src="~/Content/images2/illustration.png">
            </div>
        </div>
    </header>
    <section class="container detail-part">
        <div class="form-section">
            <div class="row ">
                <!-- multistep form -->
                @using (Html.BeginForm("BookStylist", "Account", FormMethod.Post, new { @id = "msform" }))
                {
                    @Html.ValidationSummary(true)

                    @Html.Hidden("Gender", LandingGender.Male)
                    @Html.Hidden("PaymentType", StripeType.none)
                    @Html.Hidden("AcceptTerms", false)
                    @Html.Hidden("Privacy", false)
                    @Html.Hidden("IsDiscount", false)
                    @Html.Hidden("stripeToken")
                    @Html.HiddenFor(x => x.TotalPrice)
                    <div class="book-form-heade">
                        <h2 class="fs-title">@Resource.LandingBookStylist</h2>
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active"></li>
                            <li></li>

                        </ul>
                    </div>
                    <!-- fieldsets -->
                    <fieldset>
                        <p class="fs-subtitle">@Resource.LandingYouCanConnect <a href="tel:+43660111458">@Resource.LandingWhatsNum</a> @Resource.LandingYouCanGermanLastText</p>
                        <div class="popup-middle">
                            <div class="mrg-popup">

                                <div class="popup-half">
                                    <div class="field-rs">
                                        <label>@Resource.Name<span class="message">*</span></label>
                                        @Html.TextBoxFor(x => x.Name, new { @placeholder = Resource.PleaseEnterName, @class = "" })

                                    </div>
                                </div>

                                <div class="popup-half">
                                    <div class="field-rs">
                                        <label>@Resource.LandingAddress<span class="message">*</span></label>
                                        @Html.TextBoxFor(x => x.Address, new { @placeholder = Resource.LandingAddressPlace, @class = "txt-ic-location googleaddress" })

                                    </div>
                                </div>


                                <div class="field-radio">
                                    <h5>@Resource.LandingStylistfor</h5>
                                    <ul id="radioGender">
                                        <li>
                                            <a href="#tab1" data-id="@Resource.Man">
                                                @Html.RadioButton("Gender1", LandingGender.Male)
                                                <label class="radio-label" for="@LandingGender.Male">@Resource.Man</label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab2" data-id="@Resource.LandingWoman">
                                                @Html.RadioButton("Gender1", LandingGender.Woman)
                                                <label class="radio-label" for="@LandingGender.Woman">@Resource.LandingWoman</label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab3" data-id="@Resource.LandingKids">
                                                @Html.RadioButton("Gender1", LandingGender.Kids)
                                                <label class="radio-label" for="@LandingGender.Kids">@Resource.LandingKids</label>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="popup-half mb-full">
                                    <div class="field-rs">
                                        <label>@Resource.LandingSelectCategory<span class="message">*</span></label>

                                        <div class="defult-sl">
                                            @if (ViewData["categories"] != null)
                                            {
                                                @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewData["categories"] as IEnumerable<CategoryDropdownModel>, "Id", "Name"), new { @class = "select2", multiple = "multiple" })

                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(x => x.CategoryId, Enumerable.Empty<SelectListItem>(), "Not available")
                                            }
                                        </div>

                                    </div>
                                </div>

                                <div class="popup-half">
                                    <div class="field-rs half-sec-100">
                                        <label>@Resource.LandingSelectSubcategory<span class="message">*</span></label>
                                        <div class="defult-sl">
                                            @Html.DropDownListFor(x => x.SubCategoryId, Enumerable.Empty<SelectListItem>(), new { @class = "select2", multiple = "multiple" })
                                        </div>
                                    </div>

                                </div>
                                <div class="popup-half">
                                    <div class="field-rs half-sec-30" style="float: left !important; margin-top: 0px;">
                                        <label>@Resource.price (€)</label>
                                        @Html.TextBoxFor(x => x.Price, new { @class = "disable-text", @placeholder = "0" })
                                    </div>
                                </div>


                                <div class="popup-half">
                                    <div class="field-rs">
                                        <label>@Resource.Notice</label>
                                        @Html.TextBoxFor(x => x.Notice, new { @placeholder = Resource.LandingNoticePlace })
                                    </div>
                                </div>

                                <div class="popup-half">
                                    <div class="field-rs" id="wrap">
                                        <label>@Resource.LandingDateTime<span class="message">*</span></label>
                                        <!-- <input type="text" placeholder="Choose Date & Time"> -->
                                        @Html.TextBoxFor(x => x.DateTime, new { @class = "date-sec", @placeholder = Resource.LandingDateTime })
                                        <div id="hidden">
                                            <input type="hidden" id="date" />
                                            <input type="hidden" id="time" />
                                        </div>
                                        <div id="outlet"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" data-url="@Url.Action("GetPriceListBySubCategory")" class="next action-button" value="@Resource.LandingNextBtn" />

                        <div class="LableTemp">
                            <p>10% off for older people and handicapped people</p>
                        </div>
                    </fieldset>
                    <fieldset class="form-2">
                        <p class="fs-subtitle">@Resource.LandingYouCanConnect <a href="tel:+43660111458">@Resource.LandingWhatsNum</a> @Resource.LandingYouCanGermanLastText</p>
                        <div class="popup-middle">
                            <div class="mrg-popup">
                                <div class="popup-half">
                                    <div class="field-rs">
                                        <label>@Resource.email<span class="message">*</span></label>
                                        <h6 class="message">@Html.ValidationMessageFor(x => x.Email)</h6>
                                        @Html.TextBoxFor(x => x.Email, new { @placeholder = Resource.LandingEmailPlace })
                                    </div>
                                </div>
                                <div class="popup-half">
                                    <div class="field-rs">
                                        <label>@Resource.LandingPhoneNumber<span class="message">*</span></label>
                                        @*<h6 class="message">@Html.ValidationMessageFor(x => x.PhoneNumber)</h6>*@
                                        @Html.TextBoxFor(x => x.PhoneNumber, new { @placeholder = Resource.LandingPhoneNumPlace })
                                    </div>
                                </div>

                                <div class="field-radio">
                                    <h5>@Resource.LandingPaymentMethod</h5>
                                    <ul>
                                        <li>
                                            <a href="#tab5">
                                                @Html.RadioButton("rdPayment", StripeType.none)
                                                <label class="radio-label" for="@StripeType.none">@Resource.LandingCashPayment</label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab6">
                                                @Html.RadioButton("rdPayment", StripeType.sofort)
                                                <label class="radio-label" for="@StripeType.sofort">Sofort Überweisung</label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab7">
                                                @Html.RadioButton("rdPayment", StripeType.eps)
                                                <label class="radio-label" for="@StripeType.eps">EPS</label>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tab8">

                                                @Html.RadioButton("rdPayment", StripeType.card)
                                                <label class="radio-label" for="@StripeType.card">Credit/Debit Card</label>
                                            </a>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                            <div class="mrg-pop-2">
                                <div class="table fs-head" id="totalprice">

                                </div>
                                <br />
                                <div class="table fs-head">
                                    <h6>@Resource.LandingRaodCost</h6><span class="fs-value">5€</span>
                                    @*<h6 style="word-break:break-word;"></h6><span style="width: 35px;" id="RoadCost" class="fs-value">5</span><span class="fs-value">€</span>*@
                                </div>
                                <hr>
                                <hr>
                                <div class="table fs-head">
                                    <h5 style="word-break:break-word;font-size: 20px; font-weight:500;">@Resource.total</h5><span style="width: 44px;" id="TotalAmount" class="fs-value">58</span><span class="fs-value" style="width:44px;">€</span>
                                </div>
                                <div class="table fs-head">
                                    <h5 style="padding-top:2px; float:right; font-size:10px;">inkl.20%MwSt</h5>
                                </div>
                                <div class="table fs-loc">
                                    <span><img src="~/Content/images2/location.svg"></span><p id="selectedAddress">Austria, 41539-4511</p>
                                </div>

                                <div class="table-rs">
                                    <div class="cell-row">
                                        <p>@Resource.Name</p>
                                    </div>
                                    <div class="cell-row">
                                        <P id="selectedName">Name</P>
                                    </div>
                                </div>

                                <div class="table-rs">
                                    <div class="cell-row">
                                        <p>@Resource.LandingStylistfor</p>
                                    </div>
                                    <div class="cell-row">
                                        <P id="selectedGender">@Resource.LandingWoman</P>
                                    </div>
                                </div>

                                <div class="table-rs">
                                    <div class="cell-row">
                                        <p>@Resource.date</p>
                                    </div>
                                    <div class="cell-row">
                                        <P id="selectedDate">18 Nov 2018</P>
                                    </div>
                                </div>
                                <div class="table-rs">
                                    <div class="cell-row">
                                        <p>@Resource.LandintTime</p>
                                    </div>
                                    <div class="cell-row">
                                        <P id="selectedTime">2:45 PM</P>
                                    </div>
                                </div>
                                <br />


                            </div>
                            <div class="check-box mb-slide">
                                <div class="chek-bx">
                                    <input type="checkbox" id="discountable">
                                    <label class="check-label" for="discountable"> <a style="color: #000;font-weight: 500;" href="javascript:;">@Resource.LandingHandicraft</a></label>
                                </div>
                            </div>
                            <br />
                            <div class="check-box mb-slide">
                                <div class="chek-bx">
                                    <input type="checkbox" id="face">
                                    <label class="check-label" for="face"> @Resource.registerAcceptText <a style="color: #000;font-weight: 500;" href="@Url.Action("PrivacyPolicy","Home")">@Resource.registerAcceptPrivacy</a></label>
                                </div>
                            </div>
                            <br />
                            <div class="check-box mb-slide">
                                <div class="chek-bx">
                                    <input type="checkbox" id="terms">
                                    <label class="check-label" for="terms"> @Resource.registerAcceptText <a style="color: #000;font-weight: 500;" href="@Url.Action("TermsConditions","Home")">@Resource.registerAcceptTerms</a></label>
                                </div>
                            </div>



                        </div>
                        <ul class="payment">
                            <li><img src="~/Content/images2/visa.svg"></li>
                            <li style="padding-right: 9px;width: 96px;height: 26px;"><img style="width: 94px; height: 20px;" src="~/Content/images2/sofort1.svg"></li>
                            <li><img src="~/Content/images2/mastercard.svg"></li>
                            <li><img src="~/Content/images2/cash1.svg"></li>
                        </ul>

                        <input type="button" name="previous" class="previous action-button" value="@Resource.LandingBack" />

                        <button id="cashpayment" style="width:auto;" class="action-button">@Resource.LandingBook</button>

                        <button id="customButton" style="display:none; width:auto" class="action-button">@Resource.LandingBook</button>

                        <button id="extrabtn" style="display:none; width:auto" class="action-button">@Resource.LandingBook</button>

                    </fieldset>
                }
                <input type="hidden" id="basePrice" name="basePrice" />
            </div>

            <div class="row" style="padding-top: 80px;">
                <h6 style="padding-top: 57px;padding-bottom: 60px;text-align: left;font-size: 24px;">How  to Book Stylist</h6>
                <div class="our-service-sec" style="padding-bottom: 100px;">
                    <div class="ser-box how-to-sec">
                        <h3>1.</h3>
                        <h5>Book</h5>
                        <p>Based on your requirements, we would be happy to share non-obligatory quote for your app’s concept.</p>
                    </div>
                    <div class="ser-box how-to-sec">
                        <h3>2.</h3>
                        <h5>Pay Online/Cash</h5>
                        <p>Based on your requirements, we would be happy to share non-obligatory quote for your app’s concept. </p>
                    </div>
                    <div class="ser-box how-to-sec">
                        <h3>3.</h3>
                        <h5 style="text-align:left; padding-bottom:10px;">Stylist will come to you</h5>
                        <p>Based on your requirements, we would be happy to share non-obligatory quote for your app’s concept. </p>
                    </div>

                </div>
            </div>
            <div class="row">
                <h6 style="padding-top: 57px;padding-bottom:60px;text-align: left;font-size: 24px;">@Resource.LandingOurServices</h6>
                <div class="our-service-sec">
                    <div class="ser-box">
                        <img src="~/Content/images2/face.svg">
                        <h4><a href="javascript:;">@Resource.Face</a></h4>
                    </div>
                    <div class="ser-box">
                        <img src="~/Content/images2/hair.svg">
                        <h4><a href="javascript:;">@Resource.Hair</a></h4>
                    </div>
                    <div class="ser-box">
                        <img src="~/Content/images2/hand.svg">
                        <h4><a href="javascript:;">@Resource.Hand</a></h4>
                    </div>
                    <div class="ser-box">
                        <img src="~/Content/images2/feet.svg">
                        <h4><a href="javascript:;">@Resource.Foot</a></h4>
                    </div>
                    @*<div class="ser-box">
                            <img src="~/Content/images2/body.svg">
                            <h4><a href="javascript:;">@Resource.Body</a></h4>
                        </div>*@
                </div>
            </div>
        </div>

        <div class="list-part">
            <div class="row">
                <div class="list-width">
                    <div class="right-part-list box-list">
                        <h2>@Resource.LandingUserBenifits</h2>
                        <ul>
                            <li>@Resource.LandingUserBenifit1</li>
                            <li>@Resource.LandingUserBenifit2</li>
                            <li>@Resource.LandingUserBenifit3</li>
                            <li>@Resource.LandingUserBenifit5</li>
                            <li>@Resource.LandingUserBenifit6</li>
                        </ul>
                    </div>
                    <div class="left-part-list box-list">
                        <h2>@Resource.LandingStylistBenifits</h2>
                        <ul>
                            <li>@Resource.LandingStylistBenifit1</li>
                            <li>@Resource.LandingStylistBenifit2</li>
                            <li>@Resource.LandingStylistBenifit3</li>
                            <li>@Resource.LandingStylistBenifit5</li>
                            <li>@Resource.LandingStylistBenifit4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="registered_stylist">
            <div class="row">
                <h6>@Resource.LandingRegistredStylist</h6>
                @if (objStylist != null && objStylist.Any())
                {
                    foreach (var itm in objStylist)
                    {
                        <div class="box-stylist">
                            <div class="img-reg-part">
                                <img src="@(GlobalConfig.UserImageUrl + (itm.ProfileImage != null ? itm.ProfileImage : "DefaultProfile.jpg"))">
                                <p>@itm.Year+ Yrs</p>
                            </div>
                            <h5>@itm.Name</h5>
                            <p>@("@" + itm.UserName)</p>
                        </div>
                    }

                }
                else
                {
                    <div class="box-stylist">
                        <div class="img-reg-part">
                            <img src="~/Content/images2/zachary_barton.png">
                            <p>5+ Yrs</p>
                        </div>
                        <h5>Zachary Barton</h5>
                        <p>@("@")zachary_barton</p>
                    </div>
                }


            </div>
        </div>
        <div class="testimonial">
            <div class="row">
                <div class="test-box">
                    <h6>@Resource.LandingOurClientsSays</h6>
                    <div id="first" class="carouseller">
                        <a href="javascript:void(0)" class="carouseller__left"><img src="~/Content/images2/prev.png"></a>
                        <div class="carouseller__wrap">
                            <div class="carouseller__list">
                                <div class="car__4">
                                    <P>@Resource.OurClientSay1</P>
                                    <div class="clint-details">
                                        <div class="cl-name"><h4>Teresa Dimic</h4><p>@Resource.LandingStylaaaCustomer</p></div>
                                        <img src="~/Content/images2/teresa1.jpeg">
                                    </div>
                                </div>
                                <div class="car__4">
                                    <P>@Resource.OurClientSay3</P>
                                    <div class="clint-details">
                                        <div class="cl-name"><h4>Terry Bone Ugue</h4><p>@Resource.LandingStylaaaCustomer</p></div>
                                        <img src="~/Content/images2/Terry_ugue_bone.jpeg">
                                    </div>
                                </div>
                                <div class="car__4">
                                    <P>@Resource.OurClientSay2</P>
                                    <div class="clint-details">
                                        <div class="cl-name"><h4>Elif Bektas</h4><p>@Resource.LandingStylaaaCustomer</p></div>
                                        <img src="~/Content/images2/Elif_Bektas.jpeg">
                                    </div>
                                </div>
                                @*<div class="car__4">
                                        <P>It was a humorously perilous business for both of us. For, before we proceed further, it must be said that the monkey-rope was fast at both ends; fast to Queequeg's broad canvas belt, and fast to my narrow leather one.</P>
                                        <div class="clint-details">
                                            <div class="cl-name"><h4>Stanley Bank</h4><p>@Resource.LandingStylaaaCustomer</p></div>
                                            <img src="~/Content/images2/rectangle-5_3.png">
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="carouseller__right"><img src="~/Content/images2/next.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="styla-part">
            <div class="row">
                <h2>@Resource.LandingAreYouReady</h2>
                <p>@Resource.LandingPartDescription</p>
                <a href="@Url.Action("Register","Account")" class="rg-stl">@Resource.LandingRegisterAsStylist</a>
                <a href="@Url.Action("Register","Account")" class="rg-usr">@Resource.LandingRegisterAsUser</a>
            </div>
        </div>
    </section>
    <footer class="footer-sec container">
        <div class="row">
            <div class="f-logo-part">
                <img src="~/Content/images2/logo_2.svg">
                <p class="copy-ri8 cp-desc">Copyright 2018.All Rights reserved</p>
            </div>
            <div class="footer-social">
                <div class="social-1">
                    <ul>
                        <li><a href="@Url.Action("WhatIsStylaaa","Home")">@Resource.whatIsStylaa</a></li>
                        <li><a href="@Url.Action("AboutUs","Home")">@Resource.aboutUs</a></li>
                        <li><a href="@Url.Action("ContactUs","Home")">@Resource.contactUs</a></li>
                        @*<li><a href="@Url.Action("ContactUs","Home")"></a>Contact Us</li>*@
                    </ul>
                </div>
                <div class="social-2">
                    <ul>
                        <li><a href="@Url.Action("TermsConditions","Home")">@Resource.termAndCondition</a></li>
                        <li><a href="@Url.Action("PrivacyPolicy","Home")">@Resource.privacy</a></li>
                        <li><a href="@Url.Action("Imprint","Home")">@Resource.ImprintTxt</a></li>
                    </ul>
                    <ul class="sc-icons">
                        <li><a href="https://www.facebook.com/stylaaa" title="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>

                </div>
            </div>
            <p class="copy-ri8 cp-mobile">Copyright 2018.All Rights reserved</p>
        </div>
    </footer>
    <section class="top-menu-section">
        <div class="max-menu">
            <div class="top-menu-row">
                <a href="javascript:;" title="" class="close-top-menu"><img src="~/Content/images2/close.svg" alt="" /></a>
            </div>
            <div class="middle-menu">
                <div class="table">
                    <div class="table-cell">
                        <nav class="navigation">
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")" title="Home">Home</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="@Url.RouteUrl("User", new { username = User.Identity.GetUserName(),controller="User", action = "About" })" title="My Profile">@Resource.menuMyProfile</a></li>
                                    <li><a href="@Url.Action("Logout", "Account")" title="Logout">@Resource.logout</a></li>
                                }

                            </ul>
                        </nav>
                        <div class="languages mobile-block">
                            <ul>
                                @{
                                    foreach (var i in LanguageManager.AvailableLanguages)
                                    {
                                        if (i.LanguageFullName == "En")
                                        {
                                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("EN") ? "active" : "")">
                                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="En">En</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE") ? "active" : "")">
                                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="De">De</a>
                                            </li>
                                        }
                                    }
                                }
                                @*<li class="active"><a href="#" title="En">En</a></li>
                                    <li><a href="#" title="Gr">Gr</a></li>*@
                            </ul>
                        </div>
                        <div class="footer-social yellow-social">
                            <ul>
                                <li><a href="https://www.facebook.com/stylaaa" title="facebook"><img src="~/Content/images2/facebook.svg" alt=""></a></li>
                                <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><img src="~/Content/images2/instagram.svg" alt=""></a></li>
                                <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><img src="~/Content/images2/youtube.svg" alt=""></a></li>
                            </ul>
                        </div>
                        <a href="#purchas-popup" id="SuccessPopup" title="" style="display:none;" class="fancybox">@Resource.CheckText</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="popup-box">
        <div id="purchas-popup" class="popup-max credits-popup">
            <div class="popup-had">

                <a href="#" title="" class="cancel-pp" data-fancybox-close="true"><img src="~/Content/images/close.svg" alt="" /></a>
            </div>
            <div class="popup-middle">
                <div class="field-rs">
                    <img src="~/Content/images2/right.svg" alt="" />
                    <h4>Appointment Booked successfully!</h4>
                    <P style="color:#000000;">Your Appointment has been Booked for <b>@objBookSuccess.Gender</b>  on <b>@objBookSuccess.Date</b> at <b>@objBookSuccess.Time</b>. Stylist will come to your location to complete your service.</P>
                </div>
            </div>
            @*<div class="popup-footer">
                    <a class="share-profile" href="@Url.Action("JobCredit","Stylist")">Ok</a>
                </div>*@
        </div>
    </div>
    <script>
        var varLng = "En"
        @{
            string strSetLang = "En";
            if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
            {
                strSetLang = "DE";
            }
            strSetLang = strSetLang.ToLower();
        }
        varLng = '@strSetLang';

    </script>
    <script src="@Url.Content("~/Content/js/1.12.4.min.js")"></script>
    <script src="@Url.Content("~/Content/compressed/picker.js")"></script>
    <script src="@Url.Content("~/Content/compressed/picker.date.js")"></script>
    <script src="@Url.Content("~/Content/compressed/picker.time.js")"></script>
    <script src="@Url.Content("~/Content/compressed/legacy.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/Content/js/form-mul.js")"></script>
    <script src="@Url.Content("~/Content/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.fancybox.min.js")"></script>
    <script src="@Url.Content("~/Content/js/custom.js")"></script>
    <script src="@Url.Content("~/Content/js/carouseller.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.AshAlom.gaugeMeter-2.0.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/custom/checkoutSDK.1.2.1.js")"></script>
    <script src="~/Content/Plugins/Toaster/toastr.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/bundles/GoogleMap")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD9UPDb8uu375uAFqeKQBDxVssD-sy0ZZE"></script>
    <script type="text/javascript">
         //var selected = [];

        $(function () {
            if ('@ViewBag.IsBookingConfirmed' == 'True') {
                $('#SuccessPopup').click();
            }
        });


        var SelectedId = [];
        var handler = StripeCheckout.configure({
            key: '@GlobalConfig.StripePublishableKey',
            image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
            locale: 'auto',
            token: function (token) {
                // Use the token to create the charge with a server-side script.
                $("#stripeToken").val(token.id);
                $("#msform").submit();
            }
        });

        if (varLng == "de") {

            $("#CategoryId").select2({
                placeholder: "Kategorie auswählen",
                allowClear: true,
                //formatResult: format,
                //formatSelection: format
            });

            $("#SubCategoryId").select2({
                placeholder: "Service auswählen",
                allowClear: true,
                //formatResult: format,
                //formatSelection: format
            });

        }
        else {
            $("#CategoryId").select2({
                placeholder: "Choose Categories",
                allowClear: true,
                //formatResult: format,
                //formatSelection: format
            });

            $("#SubCategoryId").select2({
                placeholder: "Choose SubCategories",
                allowClear: true,
                //formatResult: format,
                //formatSelection: format
            });
        }


        $('#CategoryId').on('change', function () {

            SelectedId = [];
            SelectedId.push($("#CategoryId").val());
            $("#SubCategoryId").val('').trigger('change');
            $('#Price').val('');

            $("#SubCategoryId").empty();
            $('#SelectedCatId').val('');
            $('#SelectedCatId').val(SelectedId.join(','));
            $('#GenderId').val($('#Gender').val());
            $('#frmBindSubCat').submit();
        });

        $('#SubCategoryId').on('change', function () {
            SelectedSubCatId = [];
            SelectedSubCatId.push($('#SubCategoryId').val());
            var id = SelectedSubCatId.join(',');

            $.post('@Url.Action("GetPriceBySubCategory", "Account")', { SubCatId: id })
                .done(function (result) {
                    if (result) {
                        console.log(result);
                        var totalprice = parseFloat(result) + 5;
                        $("#Price").val(parseFloat(result));
                        $("#basePrice").val(parseFloat(totalprice));
                        $("#TotalPrice").val(parseFloat(totalprice));

                        //var mainPrice = $('#Price').val();
                        //var disAmount = 10 * $('#Price').val() / 100;
                        //var p = mainPrice - disAmount;
                        //$('.Header-purchaseDescription').innerText = 'Total amount wil be ' + p + ' €';
                    }
                }).fail(function (error) {
            });
        });

        document.getElementById('customButton').addEventListener('click', function (e) {
            // Open Checkout with further options:
            var val = 0;
            if ($('#IsDiscount').val() == true) {
                var mainPrice = $('#TotalPrice').val()
                var disAmount = 10 * $('#TotalPrice').val() / 100;
                val = parseFloat(mainPrice - disAmount);
            }
            else {
                val = $('#TotalPrice').val();
            }
            handler.open({
                image: 'https://www.stylaaa.com/Files/DefaultImages/Newstylaaa.jpg',
                name: 'Stylaaa',
                description: 'Total amount will be ' + val +' €',
                currency: 'eur'
                //amount: price
            });
            e.preventDefault();
        });

        $(function () {
            var statusType = '';
            var status = @status;
            if (status == 0) {
                statusType = 'error';
            }
            else if (status == 1) {
                statusType = 'success';
            }
            else if (status == 2) {
                statusType = 'info';
            }
            else if (status == 3) {
                statusType = 'warning';
            }
            else if (status == 4) {
                statusType = 'info';
            }
            ShowToaster(statusType, '@message');
        });

        $('.Button-animationWrapper-child--primary').on('click', function () {

        })

        $("#msform").submit(function (event) {
            if ($("#Email").val() === "") {
                var erremail = "Please enter Email"
                if (varLng == "de") {
                    erremail = "Bitte email eingeben";
                }
                toastr.error(erremail);
                return false;
            }
            if ($("#PhoneNumber").val() === "") {
                var errPhone = "Please enter phone number"
                if (varLng == "de") {
                    errPhone = "Bitte Telefonnummer eingeben";
                }
                toastr.error(errPhone);
                return false;
            }
            else if ($("#Privacy").val() === 'False' || $("#Privacy").val() === 'false') {
                var errpp = "Please accept privacy policy"
                if (varLng == "de") {
                    errpp = "Bitte akzeptieren Sie die Datenschutzerklarung";
                }
                toastr.error(errpp);
                return false;
            }
            else if ($("#AcceptTerms").val() === 'False' || $("#AcceptTerms").val() === 'false') {
                var errTerm = "Please Accept Terms & Conditions"
                if (varLng == "de") {
                    errTerm = "Bitte akzeptieren Sie die Allgemeinen Geschaftsbedingungen";
                }
                toastr.error(errTerm);
                return false;
            }
            else {
                return true;
            }
        });

        $("input[id='face'][type='checkbox']").on('click', function () {
            if ($(this).attr('checked') == 'checked') {
                $(this).removeAttr('checked');
                $('#Privacy').val(false);

            }
            else {
                $('#Privacy').val(true);
                $(this).attr('checked', 'checked');
            }
        });

        $("input[id='terms'][type='checkbox']").on('click', function () {
            if ($(this).attr('checked') == 'checked') {
                $(this).removeAttr('checked');
                $('#AcceptTerms').val(false);
            }
            else {
                $('#AcceptTerms').val(true);
                $(this).attr('checked', 'checked');
            }
        });

        $("input[id='discountable'][type='checkbox']").on('click', function () {
            if ($(this).attr('checked') == 'checked') {
                $(this).removeAttr('checked');
                $('#IsDiscount').val(false);
                var bPrice = $("#basePrice").val();

                $('#TotalAmount').text('');
                $('#TotalAmount').text(parseFloat(bPrice));

                $('#TotalPrice').val('');
                $('#TotalPrice').val(parseFloat(bPrice));
            }
            else {
                $('#IsDiscount').val(true);
                $(this).attr('checked', 'checked');
                var bPrice = $("#basePrice").val();
                var discount = 10 * bPrice / 100;
                var p = bPrice - discount;
                //$('#Price').val(parseFloat(p));
                $('#TotalPrice').val('');
                $('#TotalPrice').val(parseFloat(p));
                $('#TotalAmount').text('');
                $('#TotalAmount').text(p);
            }
        });



        $("input:radio[name='rdPayment']").on('click', function () {
            $('#PaymentType').val($(this).val());
            _val = $(this).val();
            if (_val == 'sofort') {
                $("#cashpayment").show();
                $("#extrabtn").hide();
            }
            else if (_val == 'eps') {
                $("#cashpayment").show();
                $("#extrabtn").hide();
            }
            else if (_val == 'card') {
                $("#extrabtn").show();
                $("#cashpayment").hide();
            }
            else {
                $("#extrabtn").hide();
                $("#cashpayment").show();
            }
        });

        $("#extrabtn").on('click', function () {
            if ($('#Email').val() == "") {
                var erremail = "Please enter email address "
                if (varLng == "de") {
                    erremail = "Bitte E-Mail Adresse eingeben";
                }
                toastr.error(erremail);
                return false;
            }
            else if ($("#Privacy").val() === 'False' || $("#Privacy").val() === 'false') {
                var errpp = "Please accept privacy policy"
                if (varLng == "de") {
                    errpp = "Bitte akzeptieren Sie die Datenschutzerklarung";
                }
                toastr.error(errpp);
                return false;
            }
            else if ($("#AcceptTerms").val() === 'False' || $("#AcceptTerms").val() === 'false') {
                var errTerm = "Please Accept Terms & Conditions"
                if (varLng == "de") {
                    errTerm = "Bitte akzeptieren Sie die Allgemeinen Geschaftsbedingungen";
                }
                toastr.error(errTerm);
                return false;
            }
            else if ($("#PhoneNumber").val() === "") {
                var errPhone = "Please enter phone number"
                if (varLng == "de") {
                    errPhone = "Bitte Telefonnummer eingeben";
                }
                toastr.error(errPhone);
                return false;
            }
            else {
                $('#customButton').click();
                return false;
            }
        });

        $("input:radio[name='Gender1']").on('click', function () {
            $('#Gender').val($(this).val());
            $("input:radio[name='Gender1']").removeAttr('checked');
            $(this).attr('checked', 'checked');

            $('#GenId').val($(this).val());
            $('#frmBindCategory').submit();
        });


        @*function LoadPrice() {
            var sid = $('#SubCategoryId').val();
            $.post('@Url.Action("GetPriceBySubCategory", "Account")', { SubCatId: sid })
                .done(function (result) {
                    if (result) {
                        $("#Price").val(parseFloat(result));
                    }
                    else {
                        $("#Price").val(0);
                    }
                }).fail(function (error) {
            });
        }*@

        $(function () {
            BindAddressSearchforLanding();
        });

        $(function () {
            $('#first').carouseller({
                easing: 'linear',
                scrollSpeed: 800
                // autoScrollDelay: 1600,

            });
        });



        if (varLng == "de") {
            var date = new Date();
            date.setDate(date.getDate() - 1);
            var datepicker = $('#date').pickadate({
                format: "dd/mmm/yyyy",
                monthsFull: ['Jänner', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                weekdaysShort: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                firstDay: 1,
                min: true,
                minDate: new Date(),
                maxDate: (365),
                today: 'Heute',
                clear: 'Löschen',
                close: 'Schließen',
                container: '#outlet',
                onSet: function (item) {
                    if ('select' in item) setTimeout(timepicker.open, 0)
                }

            }).pickadate('picker')
        }
        else {
            var date = new Date();
            date.setDate(date.getDate() - 1);
            var datepicker = $('#date').pickadate({
                format: "dd/mmm/yyyy",
                monthsFull: ['January', 'February', 'March', 'April', 'May', 'jun', 'July', 'August', 'September', 'October', 'November', 'December'],
                weekdaysFull: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                firstDay: 1,
                min: true,
                minDate: new Date(),
                maxDate: (365),
                today: 'Today',
                clear: 'Clear',
                close: 'Close',
                container: '#outlet',
                onSet: function (item) {
                    if ('select' in item) setTimeout(timepicker.open, 0)
                }
            }).pickadate('picker')
        }

        var backToDate="back to date"
        if (varLng == "de")
        {
            backToDate = "Zurück";
        }

        var curr_date = new Date();
        var curr_hour = curr_date.getHours() + 1 + ':00';

        var timepicker = $('#time').pickatime({
            format: 'H:i',
            min: '10:00',
            max:'21:00',
            container: '#outlet',
            onRender: function () {
                $('<button style="height:37px; width:100%; color:white; background-color:#ffcd35; border:0;">' +backToDate+'</button>').on('click', function () {
                    timepicker.close()
                    datepicker.open()
                }).prependTo(this.$root.find('.picker__box'))
            },
            onSet: function (item) {
                if ('select' in item) setTimeout(function () {
                    $datetime.off('focus').val(datepicker.get() + '  ' + timepicker.get()).focus().on('focus', datepicker.open)
                }, 0)
            }
        }).pickatime('picker');

        var $datetime = $('#DateTime').
            on('focus', datepicker.open).
            on('click', function (event) { event.stopPropagation(); datepicker.open() })

        $(document).ready(function () {
            $('#DateTime').removeAttr("data-val-date");
            $('#DateTime').removeAttr("data-val-required");

            //$(".stripe-button-el").hide();
            $(".mb-slide").show();
        });

        jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>

    <script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js"
            data-bg="#645862"
            data-fg="#FFFFFF"
            data-link="#F1D600"
            data-cookie="CookieInfoScript"
            data-text-align="left"
            data-close-text='@Resource.CookieGotIt'
            data-message='@Resource.StylaaaCoockies'
            font-family="'Poppins', sans-serif" ,
            data-moreinfo="https://www.stylaaa.com/Home/PrivacyPolicy"
            data-linkmsg='@Resource.CookieMoreInfo'>
    </script>
</body>
</html>
