﻿@using Stylaaa.Core.Models
@model UserLoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }

    var id = "";
    if (ViewBag.userId != null)
    {
        id = ViewBag.userId;
    }    
}

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#F8C539">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#F8C539">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#F8C539">

    <title>@Html.Raw(Resource.metalogintitle)</title>

    <meta name="description" content="@Html.Raw(Resource.metaloginname)">
    <meta name="Keywords" content="@Html.Raw(Resource.metaloginKeyWord)">
    <meta property="og:url" content="@Html.Raw(Resource.metaloginurl)" />

    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.ico")">
    @Styles.Render("~/Content/css")
    <style>
        .message {
            font-size: 16px !important;
            line-height: 18px;
            color: #ff0000;
            font-weight: 400;
        }
    </style>
</head>
<body>
    <div class="registration-page">
        <div class="table">
            <div class="left-register">
                <header class="container had-register">
                    <div class="logo">
                        <a href="javascript:void(0);" title="Stylaaa" class="noSelect"><img width="240" src="@Url.Content("~/Content/images/logo.svg")" alt="" /></a>
                    </div>
                </header>
                <section class="middle-register container">
                    <div id="tab1">
                        <div class="log-img">
                            <div class="table">
                                <div class="table-cell">
                                    <img width="328" src="@Url.Content("~/Content/images/stylist.svg")" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2">
                        <div class="log-img">
                            <div class="table">
                                <div class="table-cell">
                                    <img width="481" src="@Url.Content("~/Content/images/user.svg")" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="footer-section container mobile-none">
                    <div class="row">
                        <div class="footer-links">
                            <ul>
                                <li><a href="@Url.Action("WhatIsStylaaa","Home")" title="@Resource.whatIsStylaa" class="noSelect">@Resource.whatIsStylaa</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")" title="@Resource.contactUs" class="noSelect">@Resource.contactUs</a></li>
                                <li><a href="@Url.Action("AboutUs","Home")" title="@Resource.aboutUs" class="noSelect">@Resource.aboutUs</a></li>
                                <li><a href="@Url.Action("TermsConditions","Home")" title="@Resource.termAndCondition" class="noSelect">@Resource.termAndCondition</a></li>
                                <li><a href="@Url.Action("PrivacyPolicy","Home")" title="@Resource.privacy" class="noSelect">@Resource.privacy</a></li>
                                <li><a href="@Url.Action("Imprint","Home")" title="@Resource.ImprintTxt" class="noSelect">@Resource.ImprintTxt</a></li>
                            </ul>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/stylaaa" title="facebook" class="noSelect"><img src="@Url.Content("~/Content/images/facebook.svg")" alt=""></a></li>
                                <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram" class="noSelect"><img src="@Url.Content("~/Content/images/instagram.svg")" alt=""></a></li>
                                <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube" class="noSelect"><img src="@Url.Content("~/Content/images/youtube.svg")" alt=""></a></li>
                                <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin" class="noSelect"><img src="@Url.Content("~/Content/images/linkedin.svg")" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="right-register">
                <div class="max-right">
                    <div class="pg-text-btn">
                        <h3>@Resource.login </h3>
                        <div class="languages lang-btn">
                            <ul>
                                @{
                                    foreach (var i in LanguageManager.AvailableLanguages)
                                    {
                                        if (i.LanguageFullName == "En")
                                        {
                                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("EN") ? "active" : "")">
                                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="En">En</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE") ? "active" : "")">
                                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="De">De</a>
                                            </li>
                                        }
                                    }
                                }
                                @*<li class="active"><a href="#" title="En">En</a></li>
                                <li><a href="#" title="Gr">Gr</a></li>*@
                            </ul>
                        </div>
                    </div>                   
                    <div class="register-form">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "frmlogin", @autocomplete = "off" }))
                        {
                            @Html.Hidden("role", Role.User)
                            <div class="field-radio">
                                <ul>
                                    <li>
                                        <a href="#tab2" class="radio active noSelect" data-id="@Role.User">
                                            @Html.RadioButton(Role.User.ToString(), Role.User.ToString())
                                            <label for=@Role.User class="radio-label">@Resource.user</label>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab1" class="radio noSelect" data-id="@Role.Stylist">
                                            @Html.RadioButton(Role.Stylist.ToString(), Role.Stylist.ToString())
                                            <label for=@Role.Stylist class="radio-label">@Role.Stylist.ToString()</label>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="field-rs">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.Email)</h6>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control email-input", @placeholder = Resource.email, @autocomplete = "off" })
                            </div>
                            <div class="field-rs">
                                <h6 class="message">
                                    @Html.ValidationMessageFor(x => x.Password)
                                </h6>
                                @Html.PasswordFor(x => x.Password, new
                           {
                               @class = "form-control email-input login-field  login-field-password",
                               @placeholder = Resource.password,
                               @autocomplete = "off"
                           })
                                <input type="button" @*style="width:66px;"*@ class="btn btn-default showhidepassword" onclick="showPassword(this)" value="@Resource.show" />
                            </div>
                            <div class="field-rs ">
                                <a href="#forgot-password" title="@Resource.forgotPassword" class="forgot-link fancybox noSelect">@Resource.forgotPassword</a>
                                <a href="#activeAccount" id="activepopup" title="" style="visibility: hidden" class="fancybox noSelect">@Resource.CheckText</a>
                            </div>
                            <div class="field-rs submit-rs">
                                <input type="submit" value=@Resource.login>
                            </div>

                            <div class="field-rs-ps">
                                <P> @Resource.dontHaveAccount <a href="@Url.Action("Register","Account")" class="noSelect" title="@Resource.Signupnow">@Resource.Signupnow</a></P>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <footer class="footer-section container mobile-block">
                <div class="row">
                    <div class="footer-links">
                        <ul>
                            <li><a href="@Url.Action("WhatIsStylaaa","Home")" title="@Resource.whatIsStylaa" class="noSelect">@Resource.whatIsStylaa</a></li>
                            <li><a href="@Url.Action("ContactUs","Home")" title="@Resource.contactUs" class="noSelect">@Resource.contactUs</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")" title="@Resource.aboutUs" class="noSelect">@Resource.aboutUs</a></li>
                            <li><a href="@Url.Action("TermsConditions","Home")" title="@Resource.termAndCondition" class="noSelect">@Resource.termAndCondition</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy","Home")" title="@Resource.privacy" class="noSelect">@Resource.privacy</a></li>
                            <li><a href="@Url.Action("Imprint","Home")" title="@Resource.ImprintTxt" class="noSelect">@Resource.ImprintTxt</a></li>
                        </ul>
                    </div>

                    <div class="footer-social">
                        <ul>
                            <li><a href="https://www.facebook.com/stylaaa" title="facebook" class="noSelect"><img src="@Url.Content("~/Content/images/facebook.svg")" alt=""></a></li>
                            <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram" class="noSelect"><img src="@Url.Content("~/Content/images/instagram.svg")" alt=""></a></li>
                            <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube" class="noSelect"><img src="@Url.Content("~/Content/images/youtube.svg")" alt=""></a></li>
                            <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin" class="noSelect"><img src="@Url.Content("~/Content/images/linkedin.svg")" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- forgot password popup -->
    <div id="Wrapper-forgot-password">
        <div class="popup-box">
            <div id="forgot-password" class="popup-max">
                <div class="popup-had">
                    <h4>@Resource.forgotPassword</h4>
                    <P>@Resource.forgotPasswordContent</P>
                    <br />
                    <a href="javascript:void(0);" title="" class="cancel-pp noSelect" data-fancybox-close="true"><img src="@Url.Content("~/Content/images/close.svg")" alt="" /></a>
                </div>

                @using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    //UpdateTargetId = "Forgotpassword",
                    OnBegin = "loadLoader",
                    OnComplete = "frmforgotpassword"
                }, new { @id = "frmforgotpassword", @class = "page-form row py-3", @autocomplete = "off" }))
                {
                    @Html.ValidationSummary(true);
                    <div class="popup-had">
                        <div class="field-rs">
                            <label>E-mail @Resource.address</label>
                            @Html.TextBoxFor(x => x.Email, new { @id = "email", @class = "form-control", @placeholder = Resource.emailRequireMsg, @autocomplete = "off" })
                            <h6 class="message">@Html.ValidationMessageFor(x => x.Email)</h6>
                        </div>
                    </div>
                    <div class="popup-footer" style="margin-top: 20px;">
                        <input type="submit" name="" class="button share-button" value=@Resource.send>
                        <a href="javascript:void(0);" title=@Resource.cancel data-fancybox-close="true" class="button cancel-button noSelect">@Resource.forgotpasswordCancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--activeAccount-->
    <div class="popup-box">
        <div id="activeAccount" class="popup-max">
            <div class="popup-had">
                <a href="javascript:void(0);" title="" class="cancel-pp noSelect" data-fancybox-close="true"><img src="@Url.Content("~/content/images/close.svg")" alt="" /></a>
            </div>
            <div class="login-success">
                <div class="success-img">
                    <img width="180" src="@Url.Content("~/content/images/successful.jpg")" alt="" />
                </div>
                <div class="success-titel">
                    <h6>@Resource.welcomePage</h6>
                </div>
                <div class="success-content">
                    <h4>@Resource.PleaseActivateYourAccount</h4>
                    <P>@Resource.PleaseActivateYourAccountNow</P>
                </div>
                <div class="success-btn">
                    <a href="@Url.Action("ActiveAccount","Account", new { @id = id })" title="@Resource.Clickhere" class="noSelect">@Resource.Clickhere </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js"
            data-bg="#645862"
            data-fg="#FFFFFF"
            data-link="#F1D600"
            data-cookie="CookieInfoScript"
            data-text-align="left"
            data-close-text='@Resource.CookieGotIt'
            data-message='@Resource.StylaaaCoockies'
            font-family="'Poppins', sans-serif"
            data-moreinfo="https://www.stylaaa.com/Home/PrivacyPolicy"
            data-linkmsg='@Resource.CookieMoreInfo'>

    </script>
</body>
</html>
<script>
        var varLang = "En"
        @{
            string strSetLang = "En";
            if (System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE"))
            {
                strSetLang = "DE";
            }
            strSetLang = strSetLang.ToLower();
        }
        varLang = '@strSetLang';

</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/jQuery/validate")
@Scripts.Render("~/js/contentjs")
@Scripts.Render("~/scripts/custom")

<script type="text/javascript">

    $('.fancybox').fancybox({
        modal: true,
        helpers: {
            overlay: { locked: false, closeClick: false }
        }
    });

    $('.radio').on('click', function (event) {
        $('#role').val($(this).data('id'));
    });

     $(function () {
            if ('@ViewBag.IsActive'=='False') {
                $('#activepopup').click();
         }
         $(".showhidepassword").hide();
    });
    $("#Password").focusin(function () {
        $(".showhidepassword").removeAttr("style");
    });

     function loadLoader() {
         displayWhiteOverlay();
     };

     function frmforgotpassword(data) {
         if (data.responseJSON.Status == 1) {
             $('#frmforgotpassword #email').val('');
             ShowToastr('success', data.responseJSON.Message, '');
             $.fancybox.close();
             removeWhiteOverlay();
         }
         else {
             removeWhiteOverlay()
             ShowToastr('success', data.responseJSON.Message, '');
             //ShowToastr('Error', data.responseJSON.Message, '');
         }
     };
     function test() {
             $.fancybox.close();
         removeWhiteOverlay();
    };

    $(function(){
        var status =@status;
        if(status==0) {
            toastr.error('@message', '');
        }
        else if(status==1){
            toastr.success('@message','');
        }
        else if(status==2){
            toastr.info('@message', '');
        }
        else if(status==3){
            toastr.warning('@message', '');
        }
        else if(status==4){
            toastr.info('@message', '');
        }
    });

    function showPassword(thisButton) {
        var thisinput = $("#Password");
        var inputtype = $(thisinput).attr("type");
        if (inputtype == "text") {
            $(thisButton).val('@Resource.show');
            $(thisinput).attr("type", "password");
        }
        else {
            $(thisButton).val('@Resource.Hide');
            $(thisinput).attr("type", "text");
        }
    }

</script>




