﻿@model UserRegisterModel
@{
    ViewBag.Title = "Register";
    Layout = null;
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#F8C539">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#F8C539">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#F8C539">

    <title>@Html.Raw(Resource.metaRegisterTitle)</title>
    <meta name="description" content="@Html.Raw(Resource.metaRegisterName)">
    <meta name="Keywords" content="@Html.Raw(Resource.metaRegisterKeyword)">
    <meta property="og:url" content="https://www.stylaaa.com/Account/Register" />

    <link rel="icon" type="image/x-icon" href="~/Content/images/favicon.ico">
    @Styles.Render("~/Content/css")
    <style>
        .message {
            font-size: 16px !important;
            line-height: 18px;
            color: #ff0000;
            font-weight: 400;
        }

        .select2-dropdown {
            display: block !important;
        }
    </style>
    <script>
        var varLang = "de";
    </script>
</head>
<body>
    <div class="registration-page">
        <div class="table">
            <div class="left-register">
                <header class="container had-register">
                    <div class="logo">
                        <a href="@Url.Action("Login","Account")" title="Stylaaa"><img width="240" src="@Url.Content("~/Content/images/logo.svg")" alt="" /></a>
                    </div>
                </header>
                <section class="middle-register container">
                    <div id="tab1">
                        <div class="register-img">
                            <div class="table">
                                <div class="table-cell">
                                    <img src="@Url.Content("~/Content/images/stylist.svg") " alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="register-content mobile-none1">
                            <div class="max-rs">
                                <h3>@Resource.WhatIsStylaaaForStylist</h3>
                                <ul class="listing-bullet">
                                    <li>
                                        @Resource.registerStylistPoint1
                                    </li>
                                    <li>
                                        @Resource.registerStylistPoint2
                                    </li>
                                    <li>
                                        @Resource.registerStylistPoint4
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tab2">
                        <div class="register-img">
                            <div class="table">
                                <div class="table-cell">
                                    <img src="@Url.Content("~/Content/images/user.svg")" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="register-content mobile-none1">
                            <div class="max-rs">
                                <h3>@Resource.WhatIsStylaaaForUser</h3>
                                <ul class="listing-bullet">
                                    <li>
                                        @Resource.registerUserPoint1
                                    </li>
                                    <li>
                                        @Resource.registerUserPoint2
                                    </li>
                                    <li>
                                        @Resource.registerUserPoint3
                                    </li>
                                    <li>
                                        @Resource.registerUserPoint4
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="footer-section container mobile-none">
                    <div class="row">
                        <div class="footer-links">
                            <ul>
                                <li><a href="@Url.Action("WhatIsStylaaa","Home")" title=@Resource.whatIsStylaa>@Resource.whatIsStylaa</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")" title=@Resource.contactUs>@Resource.contactUs</a></li>
                                <li><a href="@Url.Action("AboutUs","Home")" title=@Resource.aboutUs>@Resource.aboutUs</a></li>
                                <li><a href="@Url.Action("TermsConditions","Home")" title=@Resource.privacy>@Resource.termAndCondition</a></li>
                                <li><a href="@Url.Action("PrivacyPolicy","Home")" title=@Resource.privacy>@Resource.privacy</a></li>
                                <li><a href="@Url.Action("Imprint","Home")" title=@Resource.imprint>@Resource.imprint</a></li>
                            </ul>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/stylaaa" title="facebook"><img src="@Url.Content("~/Content/images/facebook.svg")" alt=""></a></li>
                                <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><img src="@Url.Content("~/Content/images/instagram.svg")" alt=""></a></li>
                                <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><img src="@Url.Content("~/Content/images/youtube.svg")" alt=""></a></li>
                                <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin"><img src="@Url.Content("~/Content/images/linkedin.svg")" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
            <div class="right-register">
                <div class="max-right">
                    <div class="pg-text-btn">
                        <h3>@Resource.register</h3>
                        <div class="languages lang-btn">
                            <ul>
                                @{
                                    foreach (var i in LanguageManager.AvailableLanguages)
                                    {
                                        if (i.LanguageFullName == "En")
                                        {
                                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("EN") ? "active" : "")">
                                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="En">En</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li id="@i.LanguageCultureName" class="@(System.Threading.Thread.CurrentThread.CurrentUICulture.CompareInfo.Name.ToUpper().Contains("DE") ? "active" : "")">
                                                <a id="a_@i.LanguageCultureName" href="@Url.Action("ChangeLanguage", "Account", new { lang = i.LanguageCultureName, redirecturl = Request.Url })" title="De">De</a>
                                            </li>
                                        }
                                    }
                                }
                                @*<li class="active"><a href="#" title="En">En</a></li>
        <li><a href="#" title="Gr">Gr</a></li>*@
                            </ul>
                        </div>
                    </div>                   
                    <div class="register-form">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "frmlogin" }))
                        {
                            @Html.Hidden("role", Role.User)
                            @Html.HiddenFor(x => x.LocationLatitude)
                            @Html.HiddenFor(x => x.LocationLongitude)
                            <div class="field-radio">
                                <ul>
                                    <li>
                                        <a href="#tab2" class="radio active" data-id="@Role.User">
                                            @Html.RadioButton(Role.User.ToString(), Role.User.ToString(), new { @class = "chk" })
                                            <label for=@Role.User class="radio-label">@Resource.user</label>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab1" class="radio" data-id="@Role.Stylist">
                                            @Html.RadioButton(Role.Stylist.ToString(), Role.Stylist.ToString(), new { @class = "chk" })
                                            <label for=@Role.Stylist class="radio-label">@Role.Stylist.ToString()</label>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="field-rs">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.UserName)</h6>
                                @Html.TextBoxFor(x => x.UserName, new { @placeholder = Resource.username, @class = "register_username", @autocomplete = "off" })
                            </div>
                            <div class="field-rs">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.Email)</h6>
                                @Html.TextBoxFor(x => x.Email, new { @placeholder = Resource.email, @class = "register_email", @autocomplete = "off" })
                            </div>
                            <div class="field-rs">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.CountryId)</h6>
                                @if (ViewData["country"] != null)
                                {
                                    @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewData["country"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Group", new { @class = "select2 country-select" })
                                }

                            </div>
                            <div class="field-rs">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.ZipCode)</h6>
                                @Html.TextBoxFor(x => x.ZipCode, new { @placeholder = Resource.zipcode, @class = "googleaddress", @autocomplete = "off" })
                            </div>
                            <div class="field-rs">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.Password)</h6>
                                @Html.PasswordFor(x => x.Password, new { @placeholder = Resource.password, @autocomplete = "off" })
                            </div>
                            <div class="field-rs">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.ConfirmPassword)</h6>
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = Resource.confirmPassword, @autocomplete = "off" })
                            </div>
                            <div class="field-rs">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.CheckTermsAndConditions)</h6>
                                <div class="check-box">
                                    <div class="chek-bx" style="width: 100%;">
                                        @Html.CheckBoxFor(x => x.CheckTermsAndConditions)
                                        <label for="CheckTermsAndConditions" class="check-label">
                                            @Resource.registerAcceptText <a href="@Url.Action("TermsConditions","Home")" target="_blank">@Resource.registerAcceptTerms</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field-rs-checkbox">
                                <h6 class="message">@Html.ValidationMessageFor(x => x.CheckPrivacyPolicy)</h6>
                                <div class="check-box">
                                    <div class="chek-bx" style="width: 100%;">
                                        @Html.CheckBoxFor(x => x.CheckPrivacyPolicy)
                                        <label for="CheckPrivacyPolicy" class="check-label">
                                            @Resource.registerAcceptText <a href="@Url.Action("PrivacyPolicy","Home")" target="_blank">@Resource.registerAcceptPrivacy</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="field-rs submit-rs">
                                <input type="submit" value="@Resource.SignUpBtn">
                            </div>
                            <div class="field-rs-ps">
                                <P>@Resource.registerAlreadyHaveAccount <a href="@Url.Action("Login","Account")" title="@Resource.loginnow">@Resource.loginnow</a></P>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <footer class="footer-section container mobile-block">
                <div class="row">
                    <div class="footer-links">
                        <ul>
                            <li><a href="@Url.Action("WhatIsStylaaa","Home")" title=@Resource.whatIsStylaa>@Resource.whatIsStylaa</a></li>
                            <li><a href="@Url.Action("ContactUs","Home")" title=@Resource.contactUs>@Resource.contactUs</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")" title=@Resource.aboutUs>@Resource.aboutUs</a></li>
                            <li><a href="@Url.Action("TermsConditions","Home")" title=@Resource.termAndCondition>@Resource.termAndCondition</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy","Home")" title=@Resource.privacy>@Resource.privacy</a></li>
                            <li><a href="@Url.Action("Imprint","Home")" title="Imprint">@Resource.imprint</a></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li><a href="https://www.facebook.com/stylaaa" title="facebook"><img src="@Url.Content("~/Content/images/facebook.svg")" alt=""></a></li>
                            <li><a href="https://www.instagram.com/the_stylaaa/" title="instagram"><img src="@Url.Content("~/Content/images/instagram.svg")" alt=""></a></li>
                            <li><a href="https://www.youtube.com/channel/UC5Bmn1vldLWHxNsBBlitafQ" title="youtube"><img src="@Url.Content("~/Content/images/youtube.svg")" alt=""></a></li>
                            <li><a href="https://www.linkedin.com/company/stylaaa/" title="linkedin"><img src="@Url.Content("~/Content/images/linkedin.svg")" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/jQuery/validate")
@Scripts.Render("~/js/contentjs")
@Scripts.Render("~/scripts/custom")
@Scripts.Render("~/bundles/GoogleMap")
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD9UPDb8uu375uAFqeKQBDxVssD-sy0ZZE"></script>
<script type="text/javascript">

    // extend jquery range validator to work for required checkboxes
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }

    $('.radio').on('click', function (event) {
        $('#role').val($(this).data('id'));
    });

    $(function () {
        BindAddressSearch();
    });

    $(function () {
        var statusType = '';
        var status =@status;
        if (status == 0) {
            statusType = 'error';
        }
        else if (status == 1) {
            statusType = 'success';
        }
        else if (status == 2) {
            statusType = 'info';
        }
        else if (status == 3) {
            statusType = 'warning';
        }
        else if (status == 4) {
            statusType = 'info';
        }
        ShowToastr(statusType, '@message');
    });

    $(".register_username").change(function (e) {        
        var strUserName = $(this).val();       
        if (strUserName != null && strUserName != undefined && strUserName != '' && strUserName.length > 2) {            
            var strurl = '@GlobalConfig.baseUrl'+'Stylist/' + strUserName + '/IsUserExists';            
            @*var strurl = '@Url.RouteUrl("Stylist", new { username = User.Identity.GetUserName(), action = "IsUserExists" })';*@            
            var formdata = new FormData();
            formdata.append("strUserName", strUserName);
            $.ajax({
                url: strurl,
                type: "Post",
                data: formdata,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (result) {                    
                    if (result == true) {                       
                        $(".register_username").val("");
                        $(".register_username").focus();
                        $(".register_username").attr("style", "border: 1px solid #ff0000;");
                        ShowToastr('error', '@Resource.usernameAlreadyinUse', '');
                    }
                    else {
                        console.log('500');
                        //ShowToastr('success', 'This username is available', '');
                        $(".register_username").attr("style", "border: 1px solid #dcdcdc;");
                    }
                },
                error: function (err) {
                    //ShowToastr('error', "fail::" + err.statusText, '');
                }
            });
        }
    });

    //register_email
    $(".register_email").change(function (e) {
        var strEmail = $(this).val();
        if (strEmail != null && strEmail != undefined && strEmail != '') {

            var strurl = '@Url.Action("IsEmailExists", "Account")';

            var formdata = new FormData();
            formdata.append("strEmail", strEmail);

            $.ajax({
                url: strurl,
                type: "Post",
                data: formdata,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                success: function (result) {
                    if (result == true) {
                        $(".register_email").val("");
                        $(".register_email").focus();
                        $(".register_email").attr("style", "border: 1px solid #ff0000;");
                        ShowToastr('error', '@Resource.ThisEmailAlreadyInUse', '');
                    }
                    else {
                        //ShowToastr('success', 'This email-id is available', '');
                        $(".register_email").attr("style", "border: 1px solid #dcdcdc;");
                    }
                },
                error: function (err) {
                    //ShowToastr('error', "fail::" + err.statusText, '');
                }
            });
        }
    });

    //$('#CountryId').select2();

    $(document).ready(function () {
        $('.country-select').select2({
            placeholder: '@Resource.Country',
            allowClear: true
        });
    });

</script>
