﻿@model ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<section class="middle-login container">
    <div class="max-full">
        <div class="table">
            <div class="table-cell full-cell">
                <div class="title-row">
                    <h1>@Resource.forgotPassword?</h1>
                    <span>@Resource.resetpassoword</span>
                </div>
                <div class="form-box">                  
                        @using (Html.BeginForm("SetPassword", "Account", FormMethod.Post, new { @UserId = ViewContext.RouteData.Values["UserId"], @class = "page-form" }))
                        {
                            var test = ViewBag.userid;
                            @Html.HiddenFor(x => x.UserId)
                            @Html.ValidationSummary(true)
                            <div class="mrg-form">
                                <div class="field" >
                                    <img src="@Url.Content("~/Content/images/password-icon.png")" alt="" />
                                    @Html.PasswordFor(x => x.newPassWord, new { @placeholder = Resource.newpassword, @class="reset-possword" })
                                    @Html.ValidationMessageFor(x => x.newPassWord)                                    
                                </div>
                                <div class="field">
                                    <img src="@Url.Content("~/Content/images/con-password-icon.png")" alt="" />
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = Resource.confirmPassword, @class="reset-possword" })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                </div>
                                <div class="field full-field">
                                    <input type="submit" value=@Resource.ok>
                                </div>
                            </div>
                        } 
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @Scripts.Render("~/jQuery/validate")
    <script type="text/javascript">
        $('.stylishRole').on('click', function () {
            $('#role').val($(this).data('id'));
        })
        
        $('.userRole').on('click', function () {
            $('#role').val($(this).data('id'));
        })

    </script>
}