﻿@model UserEditPasswordModel
@{
    ViewBag.Title = "UserEditPassword";
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<style>
    .message {
        font-size: 16px !important;
        line-height: 18px;
        color: #ff0000;
        font-weight: 400;
    }
</style>

<div class="middle-right container">
    <div class="titel-top">
        <h3>@Resource.Settings</h3>
        <P>@Resource.SettingPageContent</P>
    </div>
    <div class="form-right">
        <div class="max-ad-form">
            <div class="titel-form">
                <h5>@Resource.changePassword</h5>
            </div>
            @using (Ajax.BeginForm("UpdatePassword", "Account", null, new AjaxOptions
            {
                HttpMethod = "Post",
                OnBegin = "loadLoader",
                OnComplete = "frmforgotpassword"
            }))
            {
                @Html.ValidationSummary(true)
                <div class="form-admin">
                    <div class="max-right">

                        <div class="field-rs">
                            <label>@Resource.oldpassword</label>
                            @Html.PasswordFor(x => x.oldPassWord, new { @placeholder = Resource.setttingEnterOldPassword })
                            <h6 class="message">@Html.ValidationMessageFor(x => x.oldPassWord)</h6>
                        </div>
                        <div class="field-rs">
                            <label>@Resource.newpassword</label>
                            @Html.PasswordFor(x => x.newPassWord, new { @placeholder = Resource.settingEnterNewPasword })
                            <h6 class="message">@Html.ValidationMessageFor(x => x.newPassWord)</h6>
                        </div>
                        <div class="field-rs">
                            <label>@Resource.passwordAgain</label>
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = Resource.settingEnterPasswordAgain })
                            <h6 class="message">@Html.ValidationMessageFor(x => x.ConfirmPassword)</h6>
                        </div>
                        <div class="field-rs submit-rs">
                            <input type="submit" value=@Resource.apointConfirm>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="border-row">
            <a href="javascript:;" onclick="fnOpenDeactiveAccount('@Url.Action("DeactiveAccount","Account",new {@id=User.Identity.GetUserId()})', '@Url.Action("Login","Account")')" class="br-links" title="Deactivate Account">@Resource.deactiveAccount</a>
        </div>
    </div>
</div>
@section profilelayoutscript{
    <script type="text/javascript">
        function frmforgotpassword(data) {
            if (data.responseJSON.Status == '1') {
                removeWhiteOverlay()
                $('#oldPassWord,#newPassWord,#ConfirmPassword').val('');
                ShowToastr('success', data.responseJSON.Message, '');
            }
            else {
                removeWhiteOverlay()
                ShowToastr('Error', data.responseJSON.Message, '');
            }
        };

        function loadLoader(data) {
            displayWhiteOverlay();
        };        
    </script>
}

