﻿@model IQueryable<UserDetailModel>
@using GridMvc.Html
@{
    ViewBag.Title = ViewBag.active;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string liactive = ViewBag.active;
}
@Styles.Render("~/css/gridMvc")
@Styles.Render("~/css/icheck")


@using (Ajax.BeginForm("DeleteUser", "User", null, new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    //UpdateTargetId = "Forgotpassword",
    //OnBegin = "loadLoader",
    //OnComplete = "frmforgotpassword"
}, new { @id = "frmDelete", @class = "form-horizontal form-simple", @autocomplete = "off" }))
{
    @Html.Hidden("id")
}
@*@using (Html.BeginForm("DeleteUser", "User", FormMethod.Post, new { @class = "form-horizontal form-simple", @id = "frmDelete" }))
    {
        @Html.Hidden("id")
    }*@

@using (Html.BeginForm("RemoveAll", "User", FormMethod.Post, new { @id = "frmRemove" }))
{
    @Html.Hidden("SelectedUserId");
}

@helper ActionButtons(string Id, bool IsActive)
{
    <a href="javascript:;" class="btn btn-sm btn-primary btn-danger deactivate" data-id="@Id" style="display:@(IsActive?"inline-block;":"none;")">
        <i class="icon-ban"></i> Deactivate
    </a>

    <a href="javascript:;" class="btn btn-sm btn-primary btn-green activate" data-id="@Id" style="display:@(!IsActive?"inline-block;":"none;")">
        <i class="icon-check"></i> Activate
    </a>

    <a href="@Url.Action("Detail", "User", new { @id = Id })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-box"></i> Detail
    </a>

    <a href="javascript:;" class="btn btn-sm btn-danger btnDelete" data-id="@Id">
        <i class="icon-trash4"></i> Delete
    </a>
}

@helper GetActiveStatus(bool IsActive)
{
    if (IsActive)
    {
        <span class="text-success">Active</span>
    }
    else
    {
        <span class="text-danger">Deactive</span>
    }
}

@helper GetCheckBox(string Userid)
{
    <input type="checkbox" data-uid="@Userid" class="selectuser chkGroup ischecked icheckbox_square-blue" />
}

@helper getFileControl(string Userid)
{
    <input type="file" data-uid="@Userid" class="custom-file-control" />
}

@helper LoadImage(string ImageName)
{
    if (!String.IsNullOrWhiteSpace(ImageName))
    {
        <img src="@(GlobalConfig.UserImageUrl + ImageName )" alt="@ImageName" height="100" width="100" />
    }
    else
    {
        <img src="@Url.Content("~/Files/DefaultImages/profile-placeholder.png")" alt="Default-Image" height="100" width="100" />
    }
}

@helper LoadName(UserDetailModel item)
{
    <a href="@Url.Action("Detail", "User", new { @id = item.UserId })">@item.Name</a>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All @ViewBag.active</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div id="toolbar">
                    <a href="javascript:;" onclick="DeleteSelectedUser()" class="btn btn-success btn-rounded IsAdd" ID="lnkbtnAdd">
                        <i class="fa fa-plus"></i>&nbsp;Delete
                    </a>
                    <a href="javascript:;" @*onclick="CheckAllList()"*@ id="checkAll" value="Check All" class="btn btn-success btn-rounded IsAdd" ID="lnkbtnAdd">
                        <i class="fa fa-plus"></i>&nbsp;Select All
                    </a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body checkedUser">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add()
                               .Titled("Select")
                             .Encoded(false)
                             .Sanitized(false)
                               .RenderValueAs(x => GetCheckBox(x.UserId));
                               

                               column.Add()
                              .Titled("profile")
                              .Sanitized(false).Encoded(false)
                              .RenderValueAs(x => LoadImage(x.ProfileImage));

                               column.Add(p=>p.Name)
                               .Titled("Full Name")
                               .Filterable(true)
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => LoadName(x));

                               column.Add(p => p.Email)
                               .Titled("Email")
                               .Filterable(true);

                               column.Add(p => p.Gender)
                              .Titled("Gender")
                              .Filterable(true);

                               column.Add()
                              .Filterable(true)
                              .Sortable(true)
                             .Encoded(false)
                             .Sanitized(false)
                             .Titled("Status")
                             .RenderValueAs(x => GetActiveStatus(x.IsActive)).SetWidth(50);

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.UserId, x.IsActive));


                           }).Selectable(false).WithPaging(20)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    @Scripts.Render("~/jQuery/iCheck")
    @Scripts.Render("~/jQuery/validate")
    <script src="@Url.Content("~/Content/Plugins/SweetAlert/sweetalert.min.js")"></script>
    <script type="text/javascript">
        ActiveMenu("@liactive");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
        $(function () {
            $(".activate").click(function () {
                var control = $(this);
                var Url = '@Url.Action("ActiveToggle")';

                swal({
                    title: "Are you sure to activate this user?",
                    //text: "You will not be able to recover this date!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, activated it!",
                    cancelButtonText: "No, cancel pls!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    control.parent().find(".deactivate").show();
                                    control.hide();
                                }, 300);

                                swal("Activated!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                });
            });

            $(".deactivate").click(function () {
                var control = $(this);
                var Url = '@Url.Action("ActiveToggle")';

                swal({
                    title: "Are you sure to deactivate this user?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, deactivated it!",
                    cancelButtonText: "No, cancel plx!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    control.parent().find(".activate").show()
                                    control.hide();
                                }, 300);
                                swal("Deactivated!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                });
            });

            $('.btnDelete').on('click', function () {
                var control = $(this);
                 var Url = '@Url.Action("DeleteUser","User")';
                $('#frmDelete #id').val($(this).data('id'));
                swal({
                    title: "Are you sure?",
                    //text: "You will not be able to recover user related data",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DA4453",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel.",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                            if (response.Status == 1) {
                                setTimeout(function () {
                                    //control.parent().find(".activate").show()
                                    control.parent().parent().hide();
                                }, 300);
                                swal("Deleted!", response.Message, "success");

                            }
                            else {
                                control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                swal("Error", response.Message, "error");
                            }
                        });
                    } else {
                        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                        swal("Cancelled", "Your record is safe :)", "info");
                    }
                    //if (isConfirm) {
                    //    swal("Delete!", "Selected User will be deleted, and will not be rollback!!", "success");
                    //    $('#frmDelete').submit();
                    //    return true;
                    //} else {
                    //    swal("Cancelled", "It's safe.", "error");
                    //}
                });
            });
        });

        var SelectedOffers = [];


            $('#checkAll').on('click', function () {
                SelectedOffers.length = 0;
                if ($(this).val() == 'Check All') {
                    $(".selectuser").prop('checked', true);
                    $(this).val('Uncheck All');
                } else {
                    $(".selectuser").prop('checked', false);
                    $(this).val('Check All');
                }
            });


        //function CheckAllList() {
        //    SelectedOffers.length = 0;
        //    $(".selectuser").prop('checked', true);
        //}

        var SelectedUsers = [];
        function DeleteSelectedUser() {            
            SelectedUsers = [];

            $('.table .selectuser').each(function () {
                if ($(this).prop('checked')) {
                    SelectedUsers.push($(this).data('uid'));
                }
            });

            swal({
                title: "Are you sure?",
                //text: "You will not be able to recover user related data",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DA4453",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel.",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    if (SelectedUsers.length) {
                        $('#SelectedUserId').val(SelectedUsers.join(','));
                        var Ids = $('#SelectedUserId').val();
                        $('#SelectedUserId').val(Ids);
                        $('#frmRemove').submit();
                    }
                    else {
                        toastr.warning('Please select atleast one User', 'Warning !');
                        return false;
                    }
                } else {
                    //control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                    swal("Cancelled", "Your record is safe :)", "info");
                }
                //if (isConfirm) {
                //    swal("Delete!", "Selected User will be deleted, and will not be rollback!!", "success");
                //    $('#frmDelete').submit();
                //    return true;
                //} else {
                //    swal("Cancelled", "It's safe.", "error");
                //}
            });


           
        }


    </script>
}



