﻿@model ViewStylishDetailsModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var perc = 0;
    var total = Model.TotalRatings;
    var avg = Model.Average;
    if (avg > 0)
    {
        perc = Convert.ToInt32((avg * 100) / 5);
    }
}

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Full Name : @Model.Name</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <div class="form-group row">
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <div class="col-md-7">
                                        @if (!string.IsNullOrEmpty(Model.ProfileImageName))
                                        {
                                            <img src="@(GlobalConfig.UserImageUrl+Model.ProfileImageName)" height="125" width="125" />
                                        }
                                        else
                                        {
                                            <img src="@(GlobalConfig.UserImageUrl+GlobalConfig.DefaultProfileImage)" height="200" width="200" />
                                        }

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>NickName</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.NickName)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>About</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.AboutMe)
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-md-4"><b>Experiance</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.year)+yrs
                                    </div>
                                </div>    

                               

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Register on</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.CreatedDate.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture))                                     
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Ratings</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @Model.Average%
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Post</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.PostCount)
                                    </div>
                                </div>

                               
                               

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Following</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.FollowingCount)
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4"><b>Followers</b></label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.FollowerCount)
                                    </div>
                                </div>                              

                                @*<div class="form-group row">
                                    <label class="col-md-4"><b>Services</b></label>
                                    <div class="col-md-1">:</div>
                                    @if (Model.StylishServices.Count > 0)
                                    {
                                        <div class="col-md-6">
                                            <ul>
                                                @foreach (var item in Model.StylishServices)
                                                {

                                                    <li>@item</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6">
                                            <h6>Keine Angaben!</h6>
                                        </div>
                                    }
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


