﻿@model ViewUserDetail
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Full Name : @Model.Name</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <div class="form-group row">
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <div class="col-md-7">
                                        @if (!string.IsNullOrEmpty(Model.ProfileImageName))
                                        {
                                            <img src="@(GlobalConfig.UserImageUrl+Model.ProfileImageName)" height="125" width="125" />
                                        }
                                        else
                                        {
                                            <img src="@(GlobalConfig.UserImageUrl+GlobalConfig.DefaultProfileImage)" height="200" width="200" />
                                        }

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4">NickName</label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.UserName)
                                    </div>
                                </div>    


                                <div class="form-group row">
                                    <label class="col-md-4">About</label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.AboutMe)
                                    </div>
                                </div>  

                               

                                <div class="form-group row">
                                    <label class="col-md-4">Registered on</label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.CreatedDate.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture))
                                    </div>
                                </div> 

                                <div class="form-group row">
                                    <label class="col-md-4">Posts</label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.PostCount)
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-md-4">Following</label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.FollowingCount)
                                    </div>
                                </div> 

                                <div class="form-group row">
                                    <label class="col-md-4">Followers</label>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6">
                                        @(Model.FollowerCount)
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

